---
---

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

@import url(https://fonts.googleapis.com/css?family=Roboto:400,600,700);

@font-face {
  font-family: "Adelle Sage";
  src:
    url("../fonts/adellesage-webfont.woff2") format("woff2"),
    url("../fonts/adellesage-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "Adelle Sage";
  src:
    url("../fonts/adellesage-webfont.woff2") format("woff2"),
    url("../fonts/adellesage-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Adelle Sage";
  src:
    url("../fonts/adellesage-webfont.woff2") format("woff2"),
    url("../fonts/adellesage-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Adelle Sage";
  src:
    url("../fonts/adellesage-webfont.woff2") format("woff2"),
    url("../fonts/adellesage-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Adelle Sans Sage";
  src:
    url("../fonts/adellesanssage.woff2") format("woff2"),
    url("../fonts/adellesanssage.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Adelle Sans Sage";
  src:
    url("../fonts/adellesanssage-bold.woff2") format("woff2"),
    url("../fonts/adellesanssage-bold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Adelle Sans Sage";
  src:
    url("../fonts/adellesanssage-bold.woff2") format("woff2"),
    url("../fonts/adellesanssage-bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'CarbonIcons';
  src: url("../fonts/carbon-icons-webfont.woff") format('woff');
  font-style: normal;
  font-weight: normal;
}

@import 'reset';
@import 'global_variables';
@import 'colours';
@import 'text';
@import 'base';
@import 'logo';
@import 'icons';
@import 'header';
@import 'navigation';
@import 'navigation_highlight';
@import 'homepage';
@import 'table';
@import 'tabs';
@import 'buttons';
@import 'screenshots';
@import 'updates';
@import 'browser';

//////// Area specific CSS Files ////////

// Foundations
@import 'foundations/icons';
@import 'foundations/colour';
@import 'foundations/page_shadows';

// Components
@import 'components/accordions';
@import 'components/action-popovers';
@import 'components/button_toggle';
@import 'components/header_bar';
@import 'components/cards-tiles';
@import 'components/carousel';
@import 'components/checkboxes';
@import 'components/datepicker';
@import 'components/dialogs';
@import 'components/dropdown';
@import 'components/inputs';
@import 'components/links';
@import 'components/messages';
@import 'components/page_messages';
@import 'components/product-compare';
@import 'components/pills';
@import 'components/radios';
@import 'components/sidebar';
@import 'components/spinners';
@import 'components/switches';
@import 'components/inputs';
@import 'components/wizard';
@import 'components/global_search';
@import 'components/tables';

// Patterns
@import 'patterns/live-chat';
@import 'patterns/ipd';
@import 'patterns/empty-states';
@import 'patterns/hero-banners';
@import 'patterns/ftu';


// Community
@import 'community/backlog';
