---
layout: default
secondary_menu_id: colour
primary_menu_id: foundations
title: Colour
sketch_file: /downloads/foundations/colour_palette_product.sketch
sketch_file_version: 0.16
summary: Bright, vibrant, and inspired by the strength of business builders - these are the brand colours we use in design, and where we apply them.
tags: colour, colours, color, colors, green, blue, purple, plum, amethyst, accent colour, product colour, product, palette, utility, error, warning, info, hover, slate, red, gold, amber, generic, text colour, spectrum
---

<div class="foundations-colour">
  <p class='summary'>{{ page.summary }}</p>
  <div class='container'>
    <div class="system-message info-message">
      <div class='system-message-title'>Accessibility</div>
      <div class='system-message-body'>WCAG 2.1 includes requirements aimed at <a href='/foundations/accessibility#accessibility-contrast'>colour</a>.</div>
    </div>
  </div>
  <div class='container'>
    <h2>Colour by Business Size</h2>
    <ul class="standard-list">
      <li>Researching with customers, we found that lighter, brighter green colours are sometimes felt to relate to smaller businesses. Deep, rich amethyst colours are sometimes felt to relate to larger businesses. And blue makes a good middle-ground, perhaps reflecting the blue in Salesforce Lightning too.</li>
      <li>We apply this logic in 'accent colours' applied to Sage products and websites.</li>
      <li>Where we need slightly lighter shades, or darker tints, we typically apply 10% white or black to arrive at them. Sometimes we use a different tint or shade value to meet an accessibility threshold.</li>
    </ul>
    <p>Can't find your product? Check out the <a href='https://docs.google.com/spreadsheets/d/11OOek39TUrX8WyJXeaSvIkFO9XLfhX9DQXmqKmUiXdw/edit?usp=sharing' target='_blank'>full list</a>.</p>
    <table class='dls-table'>
      <tr>
        <th>Example Products</th>
        <th>Marketing Website</th>
        <th>Product Default</th>
        <th>Product Hover Level 1</th>
        <th>Product Hover Level 2</th>
      </tr>
      <tr>
        <td>
          <span class='emphasis-term'>Small Business Accent Colour</span><br/>
          Accounting<br/>
          Accounting Start<br/>
          Payroll (both Cloud Payroll and Payroll for Accounting)<br/>
          Sage 50cloud
        </td>
        <td>
          <div class="colour-block color-small-marketing copy-to-clipboard" data-clipboard-text="#00A376">#00A376</div>
        </td>
        <td>
          <div class="colour-block color-small-app copy-to-clipboard" data-clipboard-text="#00805D">#00805D</div>
        </td>
        <td>
          <div class="colour-block color-small-app-shade-20 copy-to-clipboard" data-clipboard-text="#005F45">#005F45</div>
        </td>
        <td>
          <div class="colour-block color-small-app-shade-40 copy-to-clipboard" data-clipboard-text="#003F2D">#003F2D</div>
        </td>
      </tr>
      <tr>
        <td>
          <span class='emphasis-term'>Medium Business Accent Colour</span><br/>
          Financials<br/>
          Intacct<br/>
          Sage 100cloud<br/>
          Sage 200cloud
        </td>
        <td>
          <div class="colour-block color-medium-marketing copy-to-clipboard" data-clipboard-text="#0077C8">#0077C8</div>
        </td>
        <td>
          <div class="colour-block color-medium-app copy-to-clipboard" data-clipboard-text="#0073C1">#0073C1</div>
        </td>
        <td>
          <div class="colour-block color-medium-app-shade-20 copy-to-clipboard" data-clipboard-text="#005B99">#005B99</div>
        </td>
        <td>
          <div class="colour-block color-medium-app-shade-40 copy-to-clipboard" data-clipboard-text="#004371">#004371</div>
        </td>
      </tr>
      <tr>
        <td>
          <span class='emphasis-term'>Large Business Accent Colour</span><br/>
          Enterprise Management<br/>
          People<br/>
          Payroll (as part of People)
        </td>
        <td>
          <div class="colour-block color-large-marketing copy-to-clipboard" data-clipboard-text="#582C83">#582C83</div>
        </td>
        <td>
          <div class="colour-block color-large-app copy-to-clipboard" data-clipboard-text="#68418F">#68418F</div>
        </td>
        <td>
          <div class="colour-block color-large-app-shade-20 copy-to-clipboard" data-clipboard-text="#4F2775">#4F2775</div>
        </td>
        <td>
          <div class="colour-block color-large-app-shade-40 copy-to-clipboard" data-clipboard-text="#3D1E5B">#3D1E5B</div>
        </td>
      </tr>
      <tr>
        <td>
          Shared Services embedded within products<br/>
          Payments and Banking
        </td>
        <td colspan='4'>
          Some shared services are consumed through APIs, so their UI is built into the product in which the service appears. Where a shared service has its own UI:<br/><br/>
          <ul class='standard-list'>
            <li>Either theme the shared service dynamically with the colour of the product in which it appears (preferred).</li>
            <li>Or otherwise, use the 'Generic Green' colour.</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <span class='emphasis-term'>Generic Business Accent Colour</span><br/>
          Accountant Cloud<br/>
          Compliance Products: Corporation Tax, Personal Tax, Final Accounts
        </td>
        <td>
          <div class="colour-block color-generic-marketing copy-to-clipboard" data-clipboard-text="#009900">#009900</div>
        </td>
        <td>
          <div class="colour-block color-generic-app copy-to-clipboard" data-clipboard-text="#008200">#008200</div>
        </td>
        <td>
          <div class="colour-block color-generic-app-shade-20 copy-to-clipboard" data-clipboard-text="#006300">#006300</div>
        </td>
        <td>
          <div class="colour-block color-generic-app-shade-40 copy-to-clipboard" data-clipboard-text="#004500">#004500</div>
        </td>
      </tr>
      <tr>
        <td>
          User-customisable Colours?
        </td>
        <td colspan='4'>
          <ul class='standard-list'>
            <li>Preserve features that allow users to personalise the colour of their app for their business - it's a good selling point.</li>
            <li>Offer an 'out-of-the-box' default, and perhaps colour scheme selections, that follow the Design System and are accessible.</li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  <div class='container'>
    <h2>Utility Colours</h2>
    <p>Colour is also used to convey success, warnings, and errors. And there are a range of slate tints and shades to apply to page furniture (backgrounds, icons, separators and borders).</p>
    <div class="system-message info-message">
      <div class='system-message-body'>The new 'carrot' utility warning colour is currently going through the brand approval process. Please be aware that it's subject to change.</div>
    </div>
    <div class="pod">
      <p>Accessible to AA level with the text colour shown, at all text sizes.</p>
      <div class="colors-container">
        <div class="color-container">
          <div class="color-title-segment">Brilliant Green</div>
          <div class="color-usage-segment">Only used for the Sage logo.</div>
          <div class="colour-block color-brilliant-green copy-to-clipboard" data-clipboard-text="#00DC00">#00DC00</div>
        </div>
        <div class="color-container">
          <div class="color-title-segment">Green (20% Shade)</div>
          <div class="color-usage-segment">Success Flashes and Messages.</div>
          <div class="colour-block color-positive copy-to-clipboard" data-clipboard-text="#00B000">#00B000</div>
        </div>
        <div class="color-container">
          <div class="color-title-segment">Red</div>
          <div class="color-usage-segment">Error Flashes and Messages.</div>
          <div class="colour-block color-negative copy-to-clipboard" data-clipboard-text="#C7384F">#C7384F</div>
        </div>
        <div class="color-container">
          <div class="color-title-segment">Gold</div>
          <div class="color-usage-segment">Focus States.</div>
          <div class="colour-block color-focus-hover copy-to-clipboard" data-clipboard-text="#FFB5000">#FFB500</div>
        </div>
        <div class="color-container">
          <div class="color-title-segment">Carrot</div>
          <div class="color-usage-segment">Warning Messages.</div>
          <div class="colour-block color-warning copy-to-clipboard" data-clipboard-text="#E96400">#E96400</div>
        </div>
        <div class="color-container">
          <div class="color-title-segment">Blue</div>
          <div class="color-usage-segment">Info Messages.</div>
          <div class="colour-block color-info copy-to-clipboard" data-clipboard-text="#0073C1">#0073C1</div>
        </div>
        <div class="color-container">
          <div class="color-title-segment">White</div>
          <div class="color-usage-segment">Input, Table, & Card Background.</div>
          <div class="colour-block color-white copy-to-clipboard" data-clipboard-text="#FFFFFF">#FFFFFF</div>
        </div>
        <div class="color-container">
          <div class="color-title-segment">Slate (95% Tint)</div>
          <div class="color-usage-segment">App, Dialog, Disabled Input Background. Hover.</div>
          <div class="colour-block color-slate-95 copy-to-clipboard" data-clipboard-text="#F2F5F6">#F2F5F6</div>
        </div>
        <div class="color-container">
          <div class="color-title-segment">Slate (90% Tint)</div>
          <div class="color-usage-segment">Disabled Button Background. Separators.</div>
          <div class="colour-block color-slate-90 copy-to-clipboard" data-clipboard-text="#E5EAEC">#E5EAEC</div>
        </div>
        <div class="color-container">
          <div class="color-title-segment">Slate (80% Tint)</div>
          <div class="color-usage-segment">Text Highlight. Table Row Hover.</div>
          <div class="colour-block color-slate-80 copy-to-clipboard" data-clipboard-text="#CCD6DB">#CCD6DB</div>
        </div>
        <div class="color-container">
          <div class="color-title-segment">Slate (60% Tint)</div>
          <div class="color-usage-segment">Base for Shadows (with opacity).</div>
          <div class="colour-block color-slate-60 copy-to-clipboard" data-clipboard-text="#99ADB6">#99ADB6</div>
        </div>
        <div class="color-container">
          <div class="color-title-segment">Slate (40% Tint)</div>
          <div class="color-usage-segment">Input Borders. <a href='/foundations/icons/'>Icons</a> without focus.</div>
          <div class="colour-block color-slate-40 copy-to-clipboard" data-clipboard-text="#668592">#668592</div>
        </div>
        <div class="color-container">
          <div class="color-title-segment">Slate (20% Tint)</div>
          <div class="color-usage-segment">Icons with focus.</div>
          <div class="colour-block color-slate-20 copy-to-clipboard" data-clipboard-text="#335C6D">#335C6D</div>
        </div>
      </div>
    </div>
  </div>
  <div class='container' id='text-colours'>
    <h2>Text Colours</h2>
    <p>We follow best practice in using pure black with an opacity applied for body text, rather than a particular hex value. This typically offers better contrast as well as visual effect. For more, check out the <a href='/foundations/text-font/'>Text and Font</a> page.</p>
    <div class="system-message info-message">
      <div class='system-message-title'>Accessibility</div>
      <div class='system-message-body'>Use a <a href="https://webaim.org/resources/contrastchecker/" target='_blank'>colour contrast checker</a> to make sure text has a contrast ratio of at least 4.5:1 against the background.</div>
    </div>
    <div class="pod">
      <div class="colors-container">
        <div class="color-container">
          <div class="color-title-segment">Black (90%)</div>
          <div class="color-usage-segment">Body text. Field Labels.</div>
          <div class="colour-block color-black-90 copy-to-clipboard" data-clipboard-text="rgba(0,0,0,0.9)">rgba(0,0,0,0.9)</div>
        </div>
        <div class="color-container">
          <div class="color-title-segment">Black (65%)</div>
          <div class="color-usage-segment"><a href='/foundations/icons/'>Icons</a> without focus.</div>
          <div class="colour-block color-black-65 copy-to-clipboard" data-clipboard-text="rgba(0,0,0,.65)">rgba(0,0,0,.65)</div>
        </div>
        <div class="color-container">
          <div class="color-title-segment">Black (55%)</div>
          <div class="color-usage-segment">Disabled text.</div>
          <div class="colour-block color-black-55 copy-to-clipboard" data-clipboard-text="rgba(0,0,0,.55)">rgba(0,0,0,.55)</div>
        </div>
        <div class="color-container">
          <div class="color-title-segment">Black (30%)</div>
          <div class="color-usage-segment">Placeholder text.</div>
          <div class="colour-block color-black-30 copy-to-clipboard" data-clipboard-text="rgba(0,0,0,.3)">rgba(0,0,0,.3)</div>
        </div>
        <div class="color-container">
          <div class="color-title-segment">White</div>
          <div class="color-usage-segment">Table, Card & Input background.</div>
          <div class="colour-block color-white copy-to-clipboard" data-clipboard-text="#FFFFFF">#FFFFFF</div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h2>Need more Colours?</h2>
    <p>We worked with Brand colleagues to define a broad core palette, with tints and shades for extra flexibility. We recommend sticking to the colours shown on this page, but in the rare event you need more, check out the full colour palette. Let us know how you used the colour, and we can adjust the design system for your use case.</p>
    <div class="download-file">
      <a href="/downloads/foundations/colour_palette_product.sketch" target="_blank" class="dls-button size-small business-generic secondary"><span>Full Colour Palette</span> <i class="icon icon-download"></i></a>
    </div>
  </div>
</div>
<div class="system-message system-toast success-message copied-to-clipboard">
  <div class='system-message-body'>Copied to clipboard</div>
</div>
