---
layout: default
secondary_menu_id: cursor
primary_menu_id: foundations
title: Cursor and Selection
summary: How text and mouse cursors change depending on context.
tags: cursor, mouse, text, caret, pointer, arrow, selection, select, highlight
---

<p class='summary'>{{ page.summary }}</p>
<h2>Mouse Cursor on Hover</h2>
<p>In general, we recommend you use the default mouse cursor for the platform you're designing on, with the following exceptions.</p>
<table class='dls-table'>
  <tr>
    <th>
      Scenario
    </th>
    <th>
      Cursor
    </th>
    <th>
      Demo (hover for example)
    </th>
  </tr>
  <tr>
    <td>
      Action or navigation item (e.g. links, buttons)
    </td>
    <td>
      "pointer"
    </td>
    <td>
      <button class='size-small business-small'>Save</button>
      <br/>
      <br/>
      <a href='#' class='link small-biz'>Link</a>
    </td>
  </tr>
  <tr>
    <td>
      Disabled element
    </td>
    <td>
      "not-allowed"
    </td>
    <td>
      <button class='size-small disabled'>Save</button>
      <br/>  <br/>
      <a href='#' class='link disabled'>Link</a>
      <br/>  <br/>
      <div class='dls-input-container input-height-m input-width-l'>
        <input type='text' class='dls-input input-disabled' id='field-13' value='Benny&#39;s Diner' disabled/>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      Text element (e.g. text input, textarea)
    </td>
    <td>
      "text"
    </td>
    <td>
      <div class='dls-input-container input-height-m input-width-l'>
        <input type='text' class='dls-input' id='field-1' value='Benny&#39;s Diner'/>
      </div>
    </td>
  </tr>
</table>
<p><a href='https://developer.mozilla.org/en-US/docs/Web/CSS/cursor'>More from Mozilla.org</a></p>
<h2>Text Cursor and Text Selection</h2>
<p>Consistent behaviour when users tab or mouse click into fields is essential for efficiency of keyboard data entry. Be sure to specify this with care.</p>
<h3>On tab entry into a field</h3>
<ul class='standard-list'>
  <li>If the field is empty, display a flashing caret.</li>
<li>If the field already has content in it, then highlight the content ready for the user to overtype it.</li>
</ul>
<h3>On mouse click into a field</h3>
<ul class='standard-list'>
  <li>If the field is empty, display a flashing caret.</li>
  <li>If the field already has content in it and the click is on top of this content, then insert a flashing caret at the point of the click.</li>
  <li>If the field already has content in it and the click is on whitespace, then highlight the content ready for the user to overtype it.</li>
</ul>
