---
layout: default
secondary_menu_id: icons
primary_menu_id: foundations
title: In-Product Icons
sketch_file: /downloads/foundations/icons.sketch
sketch_file_version: 0.2
summary: A scalable vector icon set for use in product.
tags: icon, icons, iconfont
---

<p class='summary'>{{ page.summary }}</p>
<div class="system-message info-message ">
  <div class='system-message-title'>
    Building an Icon Set
  </div>
  <div class='system-message-body'>
    A small team is working on defining and designing a Design System icon set. In the meantime, if the icon set below doesn't meet your needs, you can continue using your legacy icon set for now.
  </div>
</div>
<div class='content-tab'>
  <ul class='tab-menu'>
    <li class='selected' data-target-tabs='tabs-1'>Icon Font</li>
    <li data-target-tabs='tabs-2'>Colours</li>
    <li data-target-tabs='tabs-3'>Guidance</li>
  </ul>
</div>
<div class='secondary-tab visible' id='tabs-1'>
  <div class='container'>
    <div class="download-file">
      <a href="/downloads/fonts/icon_font.zip" target="_blank" class="dls-button size-small business-generic secondary"><span>Download Icon Font</span> <i class="icon icon-download"></i></a>
    </div>
  </div>
  <div class="system-message info-message">
    <div class='system-message-title'>
      Icon Size
    </div>
    <div class='system-message-body'>
      Generally we use icons at 16x16 px - they're shown larger here for convenience.
    </div>
  </div>
  <h2>Communications</h2>
  <div class="iconscontainer">
    {% for icon in site.data.icons_communications %}
    <div class="iconcontainer copy-to-clipboard" data-clipboard-text="{{ icon.copy_code }}">
      <i class="icon icon-{{ icon.name }}"></i>
      <div class="icon-title">{{ icon.name }}</div>
      <div class="icon-text">{{ icon.text }}</div>
    </div>
    {% endfor %}
  </div>
  <h2>Business</h2>
  <div class="iconscontainer">
    {% for icon in site.data.icons_business %}
    <div class="iconcontainer copy-to-clipboard" data-clipboard-text="{{ icon.copy_code }}">
      <i class="icon icon-{{ icon.name }}"></i>
      <div class="icon-title">{{ icon.name }}</div>
      <div class="icon-text">{{ icon.text }}</div>
    </div>
    {% endfor %}
  </div>
  <h2>Primary Navigation</h2>
  <div class="iconscontainer">
    {% for icon in site.data.icons_primary_navigation %}
    <div class="iconcontainer copy-to-clipboard" data-clipboard-text="{{ icon.copy_code }}">
      <i class="icon icon-{{ icon.name }}"></i>
      <div class="icon-title">{{ icon.name }}</div>
      <div class="icon-text">{{ icon.text }}</div>
    </div>
    {% endfor %}
  </div>
  <h2>Actions</h2>
  <div class="iconscontainer">
    {% for icon in site.data.icons_actions %}
    <div class="iconcontainer copy-to-clipboard" data-clipboard-text="{{ icon.copy_code }}">
      <i class="icon icon-{{ icon.name }}"></i>
      <div class="icon-title">{{ icon.name }}</div>
      <div class="icon-text">{{ icon.text }}</div>
    </div>
    {% endfor %}
  </div>
  <h2>Batch Actions</h2>
  <div class="iconscontainer">
    {% for icon in site.data.icons_batch_actions %}
    <div class="iconcontainer copy-to-clipboard" data-clipboard-text="{{ icon.copy_code }}">
      <i class="icon icon-{{ icon.name }}"></i>
      <div class="icon-title">{{ icon.name }}</div>
      <div class="icon-text">{{ icon.text }}</div>
    </div>
    {% endfor %}
  </div>
  <h2>Navigation</h2>
  <div class="iconscontainer">
    {% for icon in site.data.icons_navigation %}
    <div class="iconcontainer copy-to-clipboard" data-clipboard-text="{{ icon.copy_code }}">
      <i class="icon icon-{{ icon.name }}"></i>
      <div class="icon-title">{{ icon.name }}</div>
      <div class="icon-text">{{ icon.text }}</div>
    </div>
    {% endfor %}
  </div>
  <h2>Status Symbols</h2>
  <div class="iconscontainer">
    {% for icon in site.data.icons_status_symbols %}
    <div class="iconcontainer copy-to-clipboard" data-clipboard-text="{{ icon.copy_code }}">
      <i class="icon icon-{{ icon.name }}"></i>
      <div class="icon-title">{{ icon.name }}</div>
      <div class="icon-text">{{ icon.text }}</div>
    </div>
    {% endfor %}
  </div>
</div>
<div class='secondary-tab' id='tabs-2'>
  <h2>Which Colour?</h2>
    <div class='container'>
      <h3>Icons in Text</h3>
      <p>The majority of icons take on the colour properties of any text they're adjacent to. Good examples include the <a href='/components/links/'>Links Component</a>, <a href='/components/buttons/'>Tertiary Buttons</a>, and the examples in the <a href='/components/help-tooltips/'>Help and Tooltips Component</a>.</p>
      <table class='pod-table font-table'>
        <tr>
          <th>
          </th>
          <th>
            Default<br/>
            Accent Colour
          </th>
          <th>
            Hover<br/>
            20% shade
          </th>
        </tr>
        <tr>
          <th>
            Small Business
          </th>
          <th>
            <i class="icon icon-pdf input-small-biz-icon" data-clipboard-text="rgba(0,0,0,.55)"></i>
          </th>
          <th>
            <i class="icon icon-pdf input-small-biz-icon-hover" data-clipboard-text="rgba(0,0,0,.55)"></i>
          </th>
        </tr>
        <tr>
          <th>
            Medium Business
          </th>
          <th>
            <i class="icon icon-pdf input-medium-biz-icon" data-clipboard-text="rgba(0,0,0,.55)"></i>
          </th>
          <th>
            <i class="icon icon-pdf input-medium-biz-icon-hover" data-clipboard-text="rgba(0,0,0,.55)"></i>
          </th>
        </tr>
        <tr>
          <th>
            Large Business
          </th>
          <th>
            <i class="icon icon-pdf input-large-biz-icon" data-clipboard-text="rgba(0,0,0,.55)"></i>
          </th>
          <th>
            <i class="icon icon-pdf input-large-biz-icon-hover" data-clipboard-text="rgba(0,0,0,.55)"></i>
          </th>
        </tr>
        <tr>
          <th>
            Generic Business
          </th>
          <th>
            <i class="icon icon-pdf input-generic-biz-icon" data-clipboard-text="rgba(0,0,0,.55)"></i>
          </th>
          <th>
            <i class="icon icon-pdf input-generic-biz-icon-hover" data-clipboard-text="rgba(0,0,0,.55)"></i>
          </th>
        </tr>
        <tr>
          <th>
            Disabled
          </th>
          <th><p>30% Black</p>
            <i class="icon icon-pdf input-disabled-icon" data-clipboard-text="rgba(0,0,0,.55)"></i>
          </th>
        </tr>
        <tr>
          <th>
            Field Label and<br/>
            Icons within Inputs
          </th>
          <th>
            <p>65% Black</p>
            <i class="icon icon-question input-text-color-icon" data-clipboard-text="rgba(0,0,0,.55)"></i>
          </th>
          <th>
            <p>90% Black</p>
            <i class="icon icon-question input-text-color-icon-hover" data-clipboard-text="rgba(0,0,0,.55)"></i>
          </th>
        </tr>
      </table>
    </div>
    <div class='container'>
      <h3>Error, Warning, and Info Icons</h3>
      <ul class='standard-list'>
        <li>Icons wouldn't have hover or disabled states when showing errors, warnings, or info, because the icon is only used to convey status, and isn't interactive itself. Tooltips appear through interaction with the whole field, not the icon.</li>
        <li>See the <a href='/components/text-inputs/'>Text Inputs Component</a> for more info.</li>
      </ul>
      <label for="field-7">Business Name</label>
      <div class='dls-input-container input-width-l input-height-m'>
        <input type='text' class='dls-input input-small-biz input-error' id='field-7' value='Benny&#39;s Diner'/>
        <span class='input-error-icon field-icon'><i class="icon icon-error"></i></span>
        <div class='tooltip-container error-tooltip'>
          <div class='tooltip-pointer'>
          </div>
          <div class='tooltip-body'>Please enter a Business Name.
          </div>
        </div>
      </div>
      <label for="field-9">Business Name</label>
      <div class='dls-input-container input-height-m input-width-l'>
        <input type='text' class='dls-input input-small-biz input-warning' id='field-9' value='Benny&#39;s Diner'/>
        <span class='input-warning-icon field-icon'><i class="icon icon-warning"></i></span>
        <div class='tooltip-container warning-tooltip'>
          <div class='tooltip-pointer'>
          </div>
          <div class='tooltip-body'>Looks like a typo. You can correct it, or continue anyway.
          </div>
        </div>
      </div>
      <label for="field-11">Business Name</label>
      <div class='dls-input-container input-height-m input-width-l'>
        <input type='text' class='dls-input input-small-biz input-info' id='field-11' value='Benny&#39;s Diner'/>
        <span class='input-info-icon field-icon'><i class="icon icon-info"></i></span>
        <div class='tooltip-container info-tooltip'>
          <div class='tooltip-pointer'>
          </div>
          <div class='tooltip-body'>We'll print this business name on your customer invoices.
          </div>
        </div>
      </div>
    </div>
    <div class='container'>
      <h3>Other Icons on Light Backgrounds</h3>
      <p>A good example is the <a href='/components/header/'>Header Bar</a>.</p>
      <table class='pod-table font-table'>
        <tr>
          <th>
            Default<br/>
            Slate (40% tint)
          </th>
          <th>
            Hover<br/>
            Slate (20% tint)
          </th>
          <th>
            Disabled<br/>
            30% black
          </th>
        </tr>
        <tr>
          <th>
            <i class="icon icon-pdf input-light-background-icon" data-clipboard-text="#00DC00"></i>
          </th>
          <th>
            <i class="icon icon-pdf input-light-background-icon-hover"></i>
          </th>
          <th>
            <i class="icon icon-pdf input-disabled-icon"></i>
          </th>
        </tr>
      </table>
    </div>
    <div class='container'>
      <h3>Other Icons on Dark Backgrounds</h3>
      <p>Usually only plain white icons are used on dark backgrounds, with no hover or disabled state, because:</p>
      <ul class='standard-list'>
        <li>For <a href='/components/buttons/'>Buttons</a> or <a href='/components/navigation/'>Navigation</a>, the wider element has focus and disabled states itself, and the icon doesn't do anything different.</li>
        <li>For <a href='/components/messages-notifications/'>Messages or Toasts</a>, the icon is only used to convey status, and isn't interactive.</li>
      </ul>
    </div>
</div>
<div class='secondary-tab' id='tabs-3'>
  <div class='container'>
    <h2>About the Icon Font</h2>
    <ul class='standard-list'>
      <li>Icons are really versatile elements. First, see if your case for using an icon matches one of the examples in the 'Colours' tab. If these don't apply, then you can design a better solution for your context.</li>
      <li>If you can't find the specific icon you need, and you think it'd be useful to others, you can create one and share it with the team. Or you can request one, and we'll add it to the team's backlog.</li>
      <li>If you create icons, create them for viewing at 100% scale for pixel-perfect accuracy.</li>
      <li>Think carefully before creating icons to represent complex accounting concepts or artefacts. The power of icons is in the user's ability to understand the icon's concept at first glance. While users might learn the meaning of an icon over time, because there are so many very specific accounting concepts, icons would be less effective in their job.</li>
    </ul>
  </div>
  <div class='container'>
    <h2>Designing with Icons</h2>
    <ul class='standard-list'>
      <li>The majority of icons take on the colour properties of any text they're adjacent to.</li>
      <li>Icons can have hover or disabled states if they're interactive. Here are some common exceptions where icons wouldn't have a hover or disabled state:
        <ul class='standard-list'>
          <li>If the wider element itself has a state, and the icon doesn't do anything different (as in Buttons and Navigation).</li>
          <li>If the icon is only used to convey status, and isn't interactive (as in errors, warnings and info in messages, toasts, and input fields).</li>
        </ul>
      </li>
      <li>For other icons on a light background, we propose using slate colours for focussed and unfocussed states.</li>
      <li>For other icons on a dark background, we propose using a plain white icon. In the majority of cases, these icons wouldn't have focussed or disabled states.</li>
      <li>Following precedent across the design system, disabled icons would use 30% black.</li>
      <li>We generally use icons at a size of about 16x16 px. Depending on the shape of the icon, you may need to adjust the size to give them the appearance of equal visual weight. We've sized the icon font on this page to do this fairly well out of the box.</li>
      <li>Icons should never be used as decoration, and should always correspond to an action, or carry a specific meaning.</li>
      <li>When implementing icons, consider touch. For example, <a href='https://developer.apple.com/design/human-interface-guidelines/ios/visual-design/adaptivity-and-layout/' target='_blank'>Apple recommend a minimum touch target of 44x44 pt</a>. Rather than make the icon bigger to match this, just implement an invisible hit area around the icon, and keep other elements clear with suitable margins.</li>
    </ul>
  </div>
</div>
<div class="system-message system-toast success-message copied-to-clipboard">
  <div class='system-message-body'>Copied to clipboard</div>
</div>
