---
layout: default
secondary_menu_id: logo
primary_menu_id: foundations
title: Logo
summary: How to display the Sage logo and site identifier.
tags: sage, logo, logos
---

<p class='summary'>{{ page.summary }}</p>

<div class='container'>
  <h2>Logos in all places</h2>
  <ul class='standard-list'>
    <li>Use logos downloaded from the <a href='https://sage-ia.workfrontdam.com/bp/#/folder/4665959/' target='_blank'>Brand Library</a> in all cases. Don't create or adjust logos.</li>
    <li>Follow the guidance on pages 17-18 of the <a href='https://sage-ia.workfrontdam.com/bp/#/folder/4666015/81182961' target='_blank'>Brand Book</a>.</li>
</div>
<div class='container'>
  <h2>Site identifier in app header bars only</h2>
  <p>The following isn't a product logo - it's the Sage master brand logo, separated from site identifier text. This pattern isn't for use anywhere other than app header bars.</p>
  <img src="/visuals/logo-example-enterprise.png" alt="Sage Logo" class="logo-example"/><br/>
  <p>The site identifier can also be used as a dropdown to allow users to switch between apps in an ecosystem - for example, between small business Accounting and Payroll.</p>
  <img src="/visuals/logo-example-accounting.png" alt="Sage Logo" class="logo-example"/>
  <h3>Specification</h3>
  <ul class='standard-list'>
    <li>Header bar: 48px height, white</li>
    <li>Between left edge and logo: See the <a href='/foundations/grid/'>grid margins according to your breakpoint</a>.</li>
    <li><a href='https://sage-ia.workfrontdam.com/bp/#/folder/4665964/' target='_blank'>Sage Logo</a>: 24px height. Check the colour remains #00DC00 regardless of the file format you use.</li>
    <li>Between logo and divider: 16px</li>
    <li>Between divider and product name: 16px</li>
    <li>Divider: 30% black, 24px height</li>
    <li>Product name: Adelle Sans Sage, size 16px, weight 700, color: 55% black</li>
    <li>Align the middle of all elements - for the Sage logo itself, align to the middle of the 'S' character, not the 'g'.</li>
  </ul>
    <h3>Rationale</h3>
    <ul class='standard-list'>
    <li>Place the Sage logo at the top left of your app, and link your logo to the front page of your app, because:
      <ul class='standard-list'>
        <li>Evidence from <a href='https://www.nngroup.com/articles/centered-logos/' target='_blank'>Nielsen, 2016</a> found that users found getting back to the home page about 6 times harder when the logo is placed in the center of a page compared to when it’s in the top left corner.</li>
        <li>Top-left logo position is considered best to communicate location, reinforce brand, and allow easy navigation to the front page.</li>
      </ul>
</div>

