---
layout: default
secondary_menu_id: principles
primary_menu_id: foundations
title: Design Principles
summary: Guiding lights to help us take design decisions for our users, and for Sage.
tags: principles, principle, design
---

<p class='summary'>{{ page.summary }}</p>

<div class="container container-flex flex-2 limited-width">
  <div class="pod">
    <h2>Clear and Guiding</h2>
    <p>Sage Business Cloud is unambiguous, purposeful, and helpful.</p>
  </div>
  <div class="pod">
    <h2>Reassuring and Trustworthy</h2>
    <p>Sage Business Cloud supports me to do what I want (and need) to do, with trusted expertise, delivered through subtle contextual signposting, that I can access or dismiss on my terms.</p>
  </div>
  <div class="pod">
    <h2>Adaptive and Contextual</h2>
    <p>Sage Business Cloud is exceptionally engineered to deliver efficiently and effectively at my pace, putting data and content front and centre.</p>
  </div>
  <div class="pod">
    <h2>Delightful and Useful</h2>
    <p>Sage Business Cloud is a pleasurable precision-engineered experience that meets my needs and gives me joy.</p>
  </div>
</div>
