---
layout: default
secondary_menu_id: shadows
primary_menu_id: foundations
title: Shadows
sketch_file: /downloads/foundations/shadows.sketch
sketch_file_version: 0.3.0
summary: How to create a sense of depth and hierarchy, used sparingly.
tags: shadow, shadows, depth, drop shadow, drop shadows, card, tile, cards, tiles
---

<p class='summary'>{{ page.summary }}</p>
<div class="page-shadows">
  <div class="system-message info-message">
    <div class='system-message-title'>Use Shadows Sparingly</div>
    <div class='system-message-body'>Only apply shadows if a design system component includes them - don't apply them in other cases.</div>
  </div>
  <h2>Depth Levels</h2>
  <p>Just like in the real world, the further the object from the light source, the larger, but lighter the shadow is.</p>
  <p>We have defined 4 shadow levels:</p>
  <div class="shadows-container">
    <div class="shadow-container shadow-depth-1">Depth Level 1</div>
    <div class="shadow-container shadow-depth-2">Depth Level 2</div>
    <div class="shadow-container shadow-depth-3">Depth Level 3</div>
    <div class="shadow-container shadow-depth-4">Depth Level 4</div>
  </div>
  <h3>Depth Level 1</h3>
  <p>The closest level to the application, this level is for elements related to data and content within a page.</p>
  <div class="shadow-container shadow-depth-1">
    <p>Used in: <a href="/components/action-popovers/">Action Popover</a>, <a href="/components/datepicker/">Datepicker</a>, <a href="/components/dropdowns/">Dropdown</a> and <a href="/components/tables/">Table Filter</a>.</p>
    <div class="download-file">
      <div class="dls-button size-small business-generic secondary copy-to-clipboard" data-clipboard-text="0 5px 5px 0 rgba(0,20,29,0.2), 0 10px 10px 0 rgba(0,20,29,0.1)">Copy CSS box-shadow value</div>
    </div>
  </div>
  <h3>Depth Level 2</h3>
  <p>This level is for elements that are independent of a given page.</p>
  <div class="shadow-container shadow-depth-2">
    <p>Used in: <a href="/components/header/">Quick Create</a> and <a href="/components/navigation">Navigation</a>.</p>
    <div class="download-file">
      <div class="dls-button size-small business-generic secondary copy-to-clipboard" data-clipboard-text="0 10px 20px 0 rgba(0,20,29,0.2), 0 20px 40px 0 rgba(0,20,29,0.1)">Copy CSS box-shadow value</div>
    </div>
  </div>
  <h3>Depth Level 3</h3>
  <p>This level is for elements that mask, or sit on top of pages.</p>
  <div class="shadow-container shadow-depth-3">
    <p>Used in: <a href="/components/dialogs">Dialog</a> and <a href="/components/messages-notifications">Toasts</a>.</p>
    <div class="download-file">
      <div class="dls-button size-small business-generic secondary copy-to-clipboard" data-clipboard-text="0 10px 30px 0 rgba(0,20,29,0.1), 0 30px 60px 0 rgba(0,20,29,0.1)">Copy CSS box-shadow value</div>
    </div>
  </div>
  <h3>Depth Level 4</h3>
  <p>The deepest level is reserved for unique situations only, on a whole application level.</p>
  <div class="shadow-container shadow-depth-4">
    <p>Used for: Global Search Bar.</p>
    <div class="download-file">
      <div class="dls-button size-small business-generic secondary copy-to-clipboard" data-clipboard-text="0 10px 40px 0 rgba(0,20,29,0.04), 0 50px 80px 0 rgba(0,20,29,0.1)">Copy CSS box-shadow value</div>
    </div>
  </div>
  <h3>Shadows for Cards and Tiles</h3>
  <p><span class='emphasis-term'>Cards</span> use the following shadow as a default, and depth level 1 on hover.<br/><span class='emphasis-term'>Tiles</span> have no shadow. Find out more about <a href='/components/cards-tiles/'>Cards and Tiles</a>.</p>
  <div class="download-file">
    <div class="shadow-container shadow-depth-card">
      <div class="download-file">
        <div class="dls-button size-small business-generic secondary copy-to-clipboard" data-clipboard-text="0 3px 3px 0 rgba(0,20,29,0.2), 0 2px 4px 0 rgba(0,20,29,0.15)">Copy CSS box-shadow value</div>
      </div>
    </div>
  </div>
  <div class="system-message system-toast success-message copied-to-clipboard">
    <div class='system-message-body'>Copied to clipboard</div>
  </div>
</div>
