---
layout: default
secondary_menu_id: spatial
primary_menu_id: foundations
title: Spatial Markup
sketch_file: /downloads/foundations/spatial_markup.sketch
sketch_file_version: 0.2
summary: Powers of 8 help us set the size and spacing of design elements.
tags: spatial, spacial, size, space, spacing, margin, padding, margins, padding, layout
---

<p class='summary'>{{ page.summary }}</p>
<div class="system-message info-message">
  <div class='system-message-title'>Spacing and Sizing</div>
      <div class='system-message-body'>The Design System proposes more generous spacing and sizing. If implementing is difficult, try a different <a href='/components/text-inputs'>field height</a>. It's OK to use a legacy regime as long as its consistent within your product, and supported with rationale.</div>
</div>
<div class='container'>
  <p>In general, everything is sized and spaced by powers of 8 pixels, including...</p>
  <ul class="standard-list">
    <li>The width and height of design elements.</li>
    <li>The space between an element and others nearby.</li>
    <li>The internal position of detail within an element (e.g. the position of text within a button).</li>
  </ul>
  <p>The 8x multiplier is common in industry, and when applied consistently, it sets up an elegant and harmonious feel. We also use it to set our <a href='/foundations/grid'>grid</a> and <a href='/foundations/text-font'>typography</a> intervals.</p>
  <div class='pod full-width'>
    <img src='/visuals/spatial.png'/>
  </div>
</div>
<div class='container'>
  <h2>An Example...</h2>
  <p>Here's an example which shows how spatial markup can be used to lay out a complex page.</p>
  <div class='pod full-width'>
    <img src='/visuals/spatial-example.png'/>
  </div>
</div>
