---
layout: default
secondary_menu_id: text-font
primary_menu_id: foundations
title: Text and Font
sketch_file: /downloads/foundations/typography.sketch
sketch_file_version: 0.4
summary: Using font, type size, and spacing to best effect on the user's device.
tags: text, font, typography, type, lettering, character, line, kerning, alignment, line height, font weight, font color, font colour, font size, Adelle, Open Sans
---

<p class='summary'>{{ page.summary }}</p>
<div class="system-message info-message">
  <div class='system-message-title'>Accessibility</div>
  <div class='system-message-body'>WCAG 2.1 includes requirements aimed at <a href='/foundations/accessibility#accessibility-text'>typography</a>.</div>
</div>
<div class='container'>
  <h2>Fonts</h2>
  <p><span class='emphasis-term'>Adelle Sage</span> and <span class='emphasis-term'>Adelle Sans Sage</span> provide a uniquely Sage feel for websites and products alike. Pairing with <span class='emphasis-term'>Open Sans</span>, a monospaced font, ensures excellent readability at smaller sizes and for numerals.</p>
  <table class='dls-table'>
    <tr>
      <th>
        Context
      </th>
      <th>
        Headings
      </th>
      <th>
        Body Text
      </th>
    </tr>
    <tr>
      <td>
        Cloud Products
      </td>
      <td>
        Adelle Sans Sage
      </td>
      <td>
        Open Sans
      </td>
    </tr>
    <tr>
      <td>
        Marketing Websites
      </td>
      <td>
        Adelle Sans Sage
      </td>
      <td>
        Adelle Sage
      </td>
    </tr>
    <tr>
      <td>
        Desktop and on-premise Applications
      </td>
      <td colspan='2'>
        System Fonts (usually <a href='https://docs.microsoft.com/en-us/windows/desktop/uxguide/text-ui' target='_blank'>Segoe UI</a>)
      </td>
    </tr>
    <tr>
      <td>
        Salesforce Lightning Products
      </td>
      <td colspan='2'>
        Salesforce Sans
      </td>
    </tr>
    <tr>
      <td>
        Native Mobile
      </td>
      <td>
        Adelle Sans Sage
      </td>
      <td>
        Apple SF (iOS) or Roboto (Android)
      </td>
    </tr>
  </table>
</div>
<div class='container'>
  <h2>Quick Reference</h2>
  <p>Our type size changes depending on the user's screen size:</p>
  <ul class="standard-list">
    <li><span class='emphasis-term'>Small Screens</span>: 0-1024 pixels (Smart Phones and Portrait Tablets).</li>
    <li><span class='emphasis-term'>Large Screens</span>: 1025 pixels and above (Landscape Tablet and any larger devices).</li>
  </ul>
  <p>Line height changes depending on whether the text is a heading, or body style:</p>
  <ul class="standard-list">
    <li>The line height of headings is 1.25 times the font size.</li>
    <li>The line height of all other text (e.g. body text) is 1.5 times the font size.</li>
  </ul>
  <div class='content-tab'>
    <ul class='tab-menu'>
      <li class='selected' data-target-tabs='tabs-1'>For Products</li>
      <li data-target-tabs='tabs-2'>For Websites</li>
    </ul>
  </div>
  <div class='secondary-tab visible' id='tabs-1'>
    <table class='dls-table'>
      <tr>
        <th>Text Element</th><th class="width-150">Font</th><th>Small Screens</th><th>Large Screens</th><th>Font Weight</th><th>Colour</th><th>Notes</th>
      </tr>
      <tr>
        <td><h1>Heading&nbsp;1</h1></td><td>Adelle Sans Sage</td><td>Font&nbsp;size:&nbsp;22px<br/>Line&nbsp;height:&nbsp;28px </td><td>Font&nbsp;size:&nbsp;32px<br/>Line&nbsp;height:&nbsp;40px</td><td>600 (bold)</td><td>rgba(0,0,0,0.90)</td><td></td>
      </tr>
      <tr>
        <td><h2>Heading&nbsp;2</h2></td><td>Adelle Sans Sage</td><td>Font&nbsp;size:&nbsp;20px<br/>Line&nbsp;height:&nbsp;25px</td><td>Font&nbsp;size:&nbsp;24px<br/>Line&nbsp;height:&nbsp;30px</td><td>600 (bold)</td><td>rgba(0,0,0,0.90)</td><td></td>
      </tr>
      <tr>
        <td><h3>Heading&nbsp;3</h3></td><td>Adelle Sans Sage</td><td>Font&nbsp;size:&nbsp;18px<br/>Line&nbsp;height:&nbsp;27px</td><td>Font&nbsp;size:&nbsp;20px<br/>Line&nbsp;height:&nbsp;25px</td><td>600 (bold)</td><td>rgba(0,0,0,0.90)</td><td></td>
      </tr>
      <tr>
        <td><p>Body text<br/>Fra Luca Bartolomeo de Pacioli (sometimes Paccioli or Paciolo; c. 1447–1517) was an Italian mathematician, Franciscan friar, collaborator with Leonardo da Vinci, and an early contributor to the field now known as accounting.</p></td><td>Open Sans</td><td>Font&nbsp;size:&nbsp;16px<br/>Line&nbsp;height:&nbsp;24px</td><td>Font&nbsp;size:&nbsp;14px<br/>Line&nbsp;height:&nbsp;21px</td><td>400 (regular)</td><td>rgba(0,0,0,0.90)</td><td>Max width of a block of text: 560px (80 characters). Paragraph spacing: 28px. Text is almost always aligned left, rarely right, and never justified.</td>
      </tr>
      <tr>
        <td><p class='field-label'>Semibold<br/>Field Labels and Button Text</p></td><td>Open Sans</td><td>Font&nbsp;size:&nbsp;16px<br/>Line&nbsp;height:&nbsp;24px</td><td>Font&nbsp;size:&nbsp;14px<br/>Line&nbsp;height:&nbsp;21px</td><td>600 (semibold)</td><td>rgba(0,0,0,0.90)</td><td><ul class='standard-list'><li><a href='/components/buttons/'>Buttons</a></li><li><a href='/components/text-inputs/'>Text Inputs</a></li></ul></td>
      </tr>
      <tr>
        <td><p class='emphasis-term'>Bold<br/>Date picker days, action popover items, accordion titles, tab items.</p></td><td>Open Sans</td><td>Font&nbsp;size:&nbsp;16px<br/>Line&nbsp;height:&nbsp;24px</td><td>Font&nbsp;size:&nbsp;14px<br/>Line&nbsp;height:&nbsp;21px</td><td>700 (bold)</td><td>rgba(0,0,0,0.90)</td><td><ul class='standard-list'><li><a href='/components/accordions/'>Accordion</a></li><li><a href='/components/action-popovers/'>Action Popover</a></li><li><a href='/components/datepicker/'>Date Picker</a></li><li><a href='/components/tabs/'>Tab</a></li></ul></td>
      </tr>
      <tr>
        <td><p class='small-header-capitals'>Small Header Capitals</p></td><td>Open Sans</td><td>Font&nbsp;size:&nbsp;13px<br/>Line&nbsp;height:&nbsp;20px</td><td>Font&nbsp;size:&nbsp;12px<br/>Line&nbsp;height:&nbsp;18px</td><td>700 (bold)</td><td>rgba(0,0,0,0.55)</td><td><p>Used rarely due to readability concerns:</p><br/><ul class='standard-list'><li><a href='/components/datepicker/'>Days of the week in Datepickers</a></li><li><a href='/components/dropdowns/'>Segment headers in Dropdowns</a></li><li><a href='/components/tables/'>Table Headers</a></li></ul></td>
      </tr>
      <tr>
        <td><p><a href='#'>Link</a></p></td><td>Open Sans</td><td>Font&nbsp;size:&nbsp;16px<br/>Line&nbsp;height:&nbsp;24px</td><td>Font&nbsp;size:&nbsp;14px<br/>Line&nbsp;height:&nbsp;21px</td><td>400 (regular)</td><td>Product <a href='/foundations/colour/'>Accent Colour</a></td><td>Text decoration: underline.<br/><a href='/components/links/'>Links component</a></td>
      </tr>
      <tr>
        <td><ul class="standard-list"><li>This is a point in an unordered list.</li><li>This is a point in an unordered list.</li><li>This is a point in an unordered list.</li></ul></td><td>Open Sans</td><td>Font&nbsp;size:&nbsp;16px<br/>Line&nbsp;height:&nbsp;24px</td><td>Font&nbsp;size:&nbsp;14px<br/>Line&nbsp;height:&nbsp;21px</td><td>400 (regular)</td><td>rgba(0,0,0,0.90)</td><td>Margin between lines: 16px <br/>Left margin (including bullet character): 18px</td>
      </tr>
    </table>
  </div>
  <div class='secondary-tab' id='tabs-2'>
    <table class='dls-table'>
      <tr>
        <th>Text Element</th><th>Font</th><th>Small Screens</th><th>Large Screens</th><th>Font Weight</th><th>Colour</th>
      </tr>
      <tr>
        <td><p class='website-h1-super'>Super</p></h1></td><td>Adelle Sans Sage</td><td>Font&nbsp;size:&nbsp;36px<br/>Line&nbsp;height:&nbsp;46px</td><td>Font&nbsp;size:&nbsp;64px<br/>Line&nbsp;height:&nbsp;74px</td><td>600 (bold)</td><td>rgba(0,0,0,0.90)</td>
      </tr>
      <tr>
        <td><p class='website-h1'>Heading&nbsp;1</p></td><td>Adelle Sans Sage</td><td>Font&nbsp;size:&nbsp;36px<br/>Line&nbsp;height:&nbsp;46px</td><td>Font&nbsp;size:&nbsp;56px<br/>Line&nbsp;height:&nbsp;66px</td><td>600 (bold)</td><td>rgba(0,0,0,0.90)</td>
      </tr>
      <tr>
        <td><p class='website-h2'>Heading&nbsp;2</p></td><td>Adelle Sans Sage</td><td>Font&nbsp;size:&nbsp;32px<br/>Line&nbsp;height:&nbsp;42px</td><td>Font&nbsp;size:&nbsp;48px<br/>Line&nbsp;height:&nbsp;58px</td><td>600 (bold)</td><td>rgba(0,0,0,0.90)</td>
      </tr>
      <tr>
        <td><p class='website-h3'>Heading&nbsp;3</p></td><td>Adelle Sans Sage</td><td>Font&nbsp;size:&nbsp;24px<br/>Line&nbsp;height:&nbsp;34px</td><td>Font&nbsp;size:&nbsp;40px<br/>Line&nbsp;height:&nbsp;48px</td><td>600 (bold)</td><td>rgba(0,0,0,0.90)</td>
      </tr>
      <tr>
        <td><p class='website-h4'>Heading&nbsp;4</p></td><td>Adelle Sans Sage</td><td>Font&nbsp;size:&nbsp;20px<br/>Line&nbsp;height:&nbsp;40px</td><td>Font&nbsp;size:&nbsp;32px<br/>Line&nbsp;height:&nbsp;42px</td><td>600 (bold)</td><td>rgba(0,0,0,0.90)</td>
      </tr>
      <tr>
        <td><p class='website-h5'>Heading&nbsp;5</p></td><td>Adelle Sans Sage</td><td>Font&nbsp;size:&nbsp;18px<br/>Line&nbsp;height:&nbsp;28px</td><td>Font&nbsp;size:&nbsp;24px<br/>Line&nbsp;height:&nbsp;34px</td><td>600 (bold)</td><td>rgba(0,0,0,0.90)</td>
      </tr>
      <tr>
        <td><p class='website-h6'>Heading&nbsp;6</p></td><td>Adelle Sans Sage</td><td>Font&nbsp;size:&nbsp;24px<br/>Line&nbsp;height:&nbsp;34px</td><td>Font&nbsp;size:&nbsp;24px<br/>Line&nbsp;height:&nbsp;34px</td><td>200 (thin)</td><td>rgba(0,0,0,0.90)</td>
      </tr>
      <tr>
        <td><p class='website-h7'>Heading&nbsp;7</p></td><td>Adelle Sans Sage</td><td>Font&nbsp;size:&nbsp;18px<br/>Line&nbsp;height:&nbsp;28px</td><td>Font&nbsp;size:&nbsp;20px<br/>Line&nbsp;height:&nbsp;30px</td><td>600 (bold)</td><td>rgba(0,0,0,0.90)</td>
      </tr>
      <tr>
        <td><p class='website-body-large'>Large&nbsp;Body</p></td><td>Adelle Sage</td><td>Font&nbsp;size:&nbsp;18px<br/>Line&nbsp;height:&nbsp;28px</td><td>Font&nbsp;size:&nbsp;18px<br/>Line&nbsp;height:&nbsp;28px</td><td>400 (regular)</td><td>rgba(0,0,0,0.90)</td>
      </tr>
      <tr>
        <td><p class='website-body-standard'>Standard&nbsp;Body</p></td><td>Adelle Sage</td><td>Font&nbsp;size:&nbsp;16px<br/>Line&nbsp;height:&nbsp;22px</td><td>Font&nbsp;size:&nbsp;16px<br/>Line&nbsp;height:&nbsp;24px</td><td>400 (regular)</td><td>rgba(0,0,0,0.90)</td>
      </tr>
    </table>
    <div class='container'>
      <h2>Type Layout for Websites</h2>
      <p>Type layouts are particularly important to build compelling websites. Check out this more detailed guidance.</p>
      <div class="download-file">
        <a href="/downloads/fonts/website_type.sketch" target='_blank' class="dls-button button-small generic-biz secondary">Type Layout for Websites</a>
      </div>
    </div>
  </div>
</div>
<h2>Font Downloads</h2>
<div class='container container-flex flex-3'>
  <div class='pod'>
    <h3 class='font-adelle-sans'>Adelle Sans Sage</h3>
    <p>For headings in cloud products</p>
    <div class='dls-icon-link'>
      <a href='/downloads/fonts/adelle_sans.zip' target='_blank'><i class="icon icon-download input-generic-biz-icon"></i></a>
    </div>
  </div>
  <div class='pod'>
    <h3 class='font-open-sans'>Open Sans</h3>
    <p>For body text in cloud products</p>
    <div class='dls-icon-link'>
      <a href='/downloads/fonts/open_sans.zip' target='_blank'><i class="icon icon-download input-generic-biz-icon"></i></a>
    </div>
  </div>
  <div class='pod'>
    <h3 class='font-adelle-sans'>Apple SF</h3>
    <p>For iOS Mobile</p>
    <div class='dls-icon-link'>
      <a href='/downloads/fonts/sf_pro.zip' target='_blank'><i class="icon icon-download input-generic-biz-icon"></i></a>
    </div>
  </div>
  <div class='pod'>
    <h3 class='font-roboto'>Roboto</h3>
    <p>For Android Mobile</p>
    <div class='dls-icon-link'>
      <a href='/downloads/fonts/roboto.zip' target='_blank'><i class="icon icon-download input-generic-biz-icon"></i></a>
    </div>
  </div>
  <div class='pod'>
    <h3 class='font-adelle-sage'>Adelle Sage</h3>
    <p>For marketing websites only</p>
    <div class='dls-icon-link'>
      <a href='/downloads/fonts/adelle_sage.zip' target='_blank'><i class="icon icon-download input-generic-biz-icon"></i></a>
    </div>
  </div>
  <div class='pod'>
    <h3>Icon Font</h3>
    <p>For basic iconography</p>
    <div class='dls-icon-link'>
      <a href='/downloads/fonts/icon_font.zip' target='_blank'><i class="icon icon-download input-generic-biz-icon"></i></a>
    </div>
  </div>
</div>
<div class='container'>
  <h2>Paragraph Spacing</h2>
  <p>Use <a href='/foundations/spatial/'>Spatial Markup</a> guidance to apply margins between text elements, and after paragraphs. Paragraph spacing is at least 1.5 times larger than the line spacing (e.g. if a paragraph has a line height of 21px, then minimum paragraph spacing, rounded up to a power of 8, would be 32px).</p>
</div>
<div class='container'>
  <h2>Text Colour</h2>
  <p>We follow best practice in using pure black with an opacity applied for body text, rather than a particular hex value. This typically offers better contrast as well as visual effect. Check out the black opacities on the <a href='/foundations/colour/'>Colours</a> page.</p>
</div>
