---
layout: default
secondary_menu_id: windows-appbar
primary_menu_id: windows
title: App bar
summary: Provide quick access to functions that range across the whole app, from the header.
tags: nav, navigation, primary nav, primary navigation, IA, information architecture, top nav, layout, quick access, profil, help, company, switch
---

<p class='summary'>{{ page.summary }}</p>

<div class='container'>
  <h2>Quick Access Global Tasks</h2>
  <p>The application header allows quick access to various global tasks.</p>
  <p>The example below shows (In order from left to right):</p>

  <ul class="standard-list">
    <li>Switch between Sage Apps</li>
    <li>Switch between Company and fiscal year</li>
    <li>Quick Create</li>
    <li>Search (with search performed)</li>
    <li>Notifications</li>
    <li>Help</li>
    <li>Profile</li>
  </ul>
  <div class="pod full-width">
    <h3>App bar</h3>
    <img src='/visuals/windows/App-bar/App-bar.png'/>
    <h4>Company menu</h4>
    <img src='/visuals/windows/App-bar/menu-company.png'/>
    <p class="highlight">Hover on the menu to try it yourself</p>
    <div class="app-header">
      <ul class="nav">
       <li>Accounting&nbsp;&nbsp;&nbsp;<i class="icon icon-dropdown"></i>
          <div class="app-header-nav-wrapper left-aligned">
            <div class="app-header-nav-container ">
              <div class="app-header-nav-content">
                <ul>
                  <li>Accounting</li>
                  <li>Treasury</li>
                  <li>Fixed Assets</li>
                  <li>Payroll</li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="separator">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
        <li>Company A - 2019&nbsp;&nbsp;&nbsp;<i class="icon icon-dropdown"></i>
          <div class="app-header-nav-wrapper left-aligned">
            <div class="app-header-nav-container ">
              <div class="app-header-nav-content">
                <ul>
                  <li>Company A</li>
                  <li>Company B</li>
                  <li>Company C</li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li class="separator">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
        <li>
          <i class="icon icon-plus"></i>
          <div class="app-header-nav-wrapper app-header-nav-create right-aligned">
            <div class="app-header-nav-container ">
              <div class="app-header-nav-header">
                <div class="app-header-nav-title">Create</div>
              </div>
              <div class="app-header-nav-content">
                <ul>
                  <li>Invoice</li>
                  <li>Estimate</li>
                  <li>Expense</li>
                  <li>Journal</li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li>
          <i class="icon icon-search"></i>
          <div class="app-header-nav-wrapper search-box-container right-aligned">
            <div class="app-header-nav-container">
              <div class="app-header-nav-header">
                <div class="dls-input-container input-height-m">
                  <input type="text" class="dls-input input-small-biz" id="field-2" value="John Smi">
                  <span class="input-standard-icon field-icon"><i class="icon icon-search"></i></span>
                </div>
              </div>
              <div class="app-header-nav-content">
                <ul class="results-list">
                  <li class="segment-separator">
                    Invoices
                  </li>
                  <li>
                    <div>SI-204 for John Smith</div>
                    <div class="date-value">15th Feb 19</div>
                  </li>
                  <li>
                    <div>SI-205 for John Smith</div>
                    <div class="date-value">15th Feb 19</div>
                  </li>
                  <li class="segment-separator">
                    Contacts
                  </li>
                  <li>
                    <div>John Smith</div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li>
          <i class="icon icon-alert"></i>
          <div class="app-header-nav-wrapper right-aligned">
            <div class="app-header-nav-container">
              <div class="app-header-nav-header">
                <div class="app-header-nav-title">Notifications</div>
              </div>
              <div class="app-header-nav-content with-padding">
                <div class="notification-container">
                  <div class="notification-avatar">JS</div>
                  <div class="notification-content">
                    <div class="notification-summary"><span>John Smith</span> commented on invoice SI-206 for £274.00</div>
                    <div class="notification-message">"Thanks for the invoice, I'll send through the money at the weekend..."</div>
                    <div class="notification-date">Today 11.30am</div>
                  </div>
                </div>
                <div class="notification-container">
                  <div class="notification-avatar">MW</div>
                  <div class="notification-content">
                    <div class="notification-summary"><span>Megan Williams</span> has not viewed the invoice you sent last week.</div>
                    <div class="notification-date">Yesterday 9.30pm <a href="#">Follow Up</a></div>
                  </div>
                </div>
                <div class="notification-container">
                  <div class="notification-avatar">LJ</div>
                  <div class="notification-content">
                    <div class="notification-summary"><span>Lauren Jones</span> has been added as a user to Morrisons.</div>
                    <div class="notification-date">7th May 10.3am</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <i class="icon icon-question"></i>
          <div class="app-header-nav-wrapper right-aligned nav-help-container">
            <div class="app-header-nav-container">
              <div class="app-header-nav-header">
                <div class="app-header-nav-title">Help</div>
              </div>
              <div class="app-header-nav-content">
                <ul>
                  <li>Find - Sage Help Center</li>
                  <li>View - Release note</li>
                  <li class="segment-separator"><hr></li>
                  <li>Search - Knowledge base</li>
                  <li>Begin - Live Chat</li>
                  <li>Access - Web Assistance</li>
                  <li class="segment-separator"><hr></li>
                  <li>Post - Customer voice</li>
                  <li class="segment-separator"><hr></li>
                  <li>Learn - Sage University</li>
                  <li>Share - Sage City</li>
                  <li>Inform - Sage Blog</li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li>
          <i class="icon icon-person"></i>
          <div class="app-header-nav-wrapper right-aligned">
            <div class="app-header-nav-container">
              <div class="app-header-nav-header">
                <div class="app-header-nav-title">john.smith@morrisons.com</div>
                </div>
                <div class="app-header-nav-content">
                  <ul>
                  <li>My Account</li>
                  <li class="segment-separator"><hr></li>
                  <li>Company informations</li>
                  <li class="segment-separator"><hr></li>
                  <li>Disconnect me</li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class='pod full-width'>
    <h2>Options</h2>
    <p>If you can use the Windows App bar, use the menus bar.</p>
    <p>The switch Apps & Companies is then placed last.</p>

    <h3>Menus bar</h3>
    <img src='/visuals/windows/App-bar/app-menu-bar-option.png'/>
    <h3>Company menu</h3>
    <img src='/visuals/windows/App-bar/menu-pt-switch-apps.png'/>
  </div>
</div>
