---
layout: default
secondary_menu_id: windows-icons
primary_menu_id: windows
title: App icons
sketch_file: /downloads/windows/icons-windows-2019.sketch
sketch_file_version: 0.3
summary: Improve the visual communication of your program with the DLS Product icons.
tags: desktop windows, windows, icons, icon app, apps, product
---

<p class='summary'>{{ page.summary }}</p>

<div class="system-message info-message">
  <div class='system-message-title'>Temporary library</div>
  <div class='system-message-body'>This is a temporary library. A new one is coming soon.</div>
</div>
<div class='pod'>
  <h2>Specification</h2>

  <ul class="standard-list">
    <li>The background of the icon use the Business color.</li>
    <li>The size of 256x256 use the Hero gradient.</li>
    <li>The size of 16x16 is without too much details at the discretion of the graphist.</li>
  </ul>

  <img src='/visuals/windows/icons/app-icon.png'/>

  <h2>Sizes of the icon</h2>
  <img src='/visuals/windows/icons/icon-app-accounting.png'/>

  <h2>Examples for FR Apps</h2>
  <img src='/visuals/windows/icons/icones-FR.png'/>

  <h2>Examples for FR Files</h2>
  <img src='/visuals/windows/icons/icones-fr-files.png'/>
</div>
