---
layout: default
secondary_menu_id: windows-foundations
primary_menu_id: windows
title: Foundations
summary: Guiding lights to help us take design decisions for Windows Desktop Apps.
tags: desktop windows, windows, typography, typographies, button, buttons, colors, color, foundations
---
<p class='summary'>{{ page.summary }}</p>

<h2>Colour by Business Size</h2>

<ul class="standard-list">
  <li>Researching with customers, we found that lighter, brighter green colours are sometimes felt to relate to smaller businesses. Deep, rich amethyst colours are sometimes felt to relate to larger businesses. And blue makes a good middle-ground.</li>
  <li>We apply this logic in Business colour applied to Sage Windows Desktop products.</li>
  <li>Where we need slightly lighter shades, or darker tints, we typically apply 10% white or black to arrive at them. Sometimes we use a different tint or shade value to meet an accessibility threshold.</li>
</ul>

<p>See the <a href='/foundations/colour/'>utility colour</a> for more details.</p>

<div class='pod full-width'>
  <h2>Typography</h2>
  <img src='/visuals/windows/foundations/typography.png' />
</div>

<div class='pod full-width'>
  <h2>Colors</h2>
  <img src='/visuals/windows/foundations/default-user-colors.png' />
</div>

<div class='pod full-width'>
  <h2>Buttons</h2>
  <img src='/visuals/windows/foundations/default-buttons.png' />
</div>
