---
layout: default
secondary_menu_id: windows-interface
primary_menu_id: windows
title: Interface
summary: Bright, vibrant, and inspired by the strength of business builders - these are the brand colours we use in design.
tags: desktop windows, windows, ui, interface, layout, colours, colour, zoning, user interface
---

<p class='summary'>{{ page.summary }}</p>

<h2>Specification</h2>

<ul class="standard-list">
  <li>The Business colour is used principaly in the navigation components: menu, button, link, nav item and selected element.</li>
  <li>The Slate Brand colour is used generously for background & borders of other elements.</li>
  <li>Where we need slightly lighter shades, or darker tints, we typically apply 10% white or black to arrive at them.</li>
</ul>

<p>See the <a href='/foundations/colour/'>utility colour</a> for more details.</p>

<div class='pod full-width'>
  <h2>Example with Flat Left Nav</h2>
  <img src='/visuals/windows/interface/dls-sage-100-light-simple-list.png' />

  <h2>Example with Flat Left Nav Light</h2>
  <img src='/visuals/windows/interface/dls-sage-100-light-gray-simple-list.png' />
</div>
