---
layout: default
secondary_menu_id: windows-navigation
primary_menu_id: windows
title: Navigation
summary: The main way users move around your app. Perhaps the most important pattern of all.
tags: nav, navigation, primary nav, primary navigation, IA, information architecture, top nav, left nav, layout
---

<p class='summary'>{{ page.summary }}</p>

<h2>Flat Left Nav</h2>
<p>If you choose Flat Left Nav, then your app will need to have a header bar at the top of the screen too. See the <a href='/windows/app-bar/'>App bar for Windows</a>.</p>
<div class='pod full-width'>
  <h3>Simple list</h3>
  <img src='/visuals/windows/nav-panel/navigation-left-nav-panel-simple.png'/>
  <h3>Icons</h3>
  <img src='/visuals/windows/nav-panel/navigation-left-nav-panel-simple-icons.png'/>
  <h3>Collapsed View</h3>
  <img src='/visuals/windows/nav-panel/navigation left nav panel-subnavigation-icon.png'/>
</div>

<h2>Flat Left Nav Light</h2>
<p>If you choose Flat Left Nav Light, then your app will need to have a header bar at the top of the screen too. See the <a href='/windows/app-bar/'>App bar for Windows</a>.</p>
<div class='pod full-width'>
  <h3>Simple list</h3>
  <img src='/visuals/windows/nav-panel/navigation-left-nav-panel-simple-copy.png'/>
  <h3>Icons</h3>
  <img src='/visuals/windows/nav-panel/navigation-left-nav-panel-simple-icons-light.png'/>
  <h3>Collapsed View</h3>
  <img src='/visuals/windows/nav-panel/navigation-left-nav-panel-subnavigation-light.png'/>
</div>

<h2>Alternative</h2>
<p>If you have troubles to highlight item in the subnavigation, then play with text color.</p>
<div class='pod full-width'>
  <h3>Items color text</h3>
  <img src='/visuals/windows/nav-panel/navigation left nav panel-subnavigation-text.png'/>
</div>
