---
layout: default
secondary_menu_id: windows-splash-screens
primary_menu_id: windows
title: Splash Screens
sketch_file: /downloads/windows/splashs-windows-2019.sketch
sketch_file_version: 0.3
summary: Modal screens that appear while a desktop app is loading.
tags: splash, splashscreen, screen, loading, load, windows, desktop, in-country, logo
---

<p class='summary'>{{ page.summary }}</p>

<h2>Specification</h2>
<ul class="standard-list">
  <li>Include the Brand product name logo.</li>
  <li>Include the Sage Business Cloud mention only if this is the case.</li>
  <li>Include the full product name.</li>
  <li>Include the copyright and the information about the Sage's term of use.</li>
</ul>

<div class='pod'>
  <h2>Example for Sage 50cloud</h2>
  <img src='/visuals/windows/splashs/splash50.png'/>
  <h2>Example for Sage 100cloud</h2>
  <img src='/visuals/windows/splashs/splash100.png'/>
  <h2>Example for Sage 1000cloud</h2>
  <img src='/visuals/windows/splashs/splash1000.png'/>
</div>

<div class='pod'>
  <h2>Options</h2>
  <ul class="standard-list">
    <li>Include a version number or other technical information under the product name.</li>
    <li>Include a country flag at the left of the copyright.</li>
    <li>Include a progress indicator at the bottom - useful to prevent users abandoning the app if there's a considerable wait.</li>
    <li>Include a Demo or Not For Reseale notification under the product name.</li>
  </ul>

  <h2>Example</h2>
  <img src='/visuals/windows/splashs/splash-options.png'/>

  <h2>Demo version</h2>
  <img src='/visuals/windows/splashs/splash-demo.png'/>
</div>

