---
layout: default
secondary_menu_id: windows-wizards
primary_menu_id: windows
title: Wizards
summary: Break down a long linear process or form into small steps.
tags: desktop windows, windows, illustration, illustrations, flow, step flows, process, process flows, wizard, wizards
---
<p class='summary'>{{ page.summary }}</p>

<h2>Example for Sage 100cloud</h2>

<ul class="standard-list">
  <li><a href="/foundations/illustration/illustration-examples/">Illustration</a> can be applied for a compelling visual experience - position illustration bottom-left.</li>
  <li>This image is aligned at the bottom and as high as necessary with a same background color.</li>
  <li>A progress indicator can be added to tell users their position, and the number of steps to expect. Use a vertical progress indicator in place of the illustration. See the step flows pattern on <a href='/components/step-flows/'>Step Flows</a>.</li>
</ul>

<img src='/visuals/windows/wizard/wizard-dls.png'/>
