---
layout: default
secondary_menu_id: none
primary_menu_id: foundations
title: Downloads
summary: Download Sketch files for key foundations, components, and patterns.
tags: download, downloads, sketch, files, file
---

<p class='summary'>{{ page.summary }}</p>
<div class='container'>
  <h2>Individual Sketch Files</h2>
  <h3>Foundations</h3>
  <ul class='standard-list'>
    <li><a href='/downloads/foundations/colour_palette_full.sketch'>Colour Palette - Full</a></li>
    <li><a href='/downloads/foundations/colour_palette_product.sketch'>Colour Palette - Product</a></li>
    <li><a href='/downloads/foundations/grid_system.sketch'>Grid System - Product</a></li>
    <li><a href='/downloads/foundations/website_grid.sketch'>Grid System - Websites</a></li>
    <li><a href='/downloads/foundations/icons.sketch'>Icons</a></li>
    <li><a href='/downloads/foundations/shadows.sketch'>Shadows</a></li>
    <li><a href='/downloads/foundations/spatial_markup.sketch'>Spatial Markup</a></li>
    <li><a href='/downloads/foundations/typography.sketch'>Typography Quick Reference</a></li>
  </ul>
  <h3>Components</h3>
  <ul class='standard-list'>
    <li><a href='/downloads/components/accordions.sketch'>Accordions</a></li>
    <li><a href='/downloads/components/action_popover.sketch'>Action Popovers</a></li>
    <li><a href='/downloads/components/buttons.sketch'>Buttons, Split buttons, Multi-action buttons, Button Bars</a></li>
    <li><a href='/downloads/components/cards_tiles.sketch'>Cards, Tiles</a></li>
    <li><a href='/downloads/components/carousel.sketch'>Carousels</a></li>
    <li><a href='/downloads/components/checkboxes_radios_switches.sketch'>Checkboxes, Radios, Switches</a></li>
    <li><a href='/downloads/components/date_picker.sketch'>Date Pickers, Date Ranges</a></li>
    <li><a href='/downloads/components/dialogs.sketch'>Dialogs</a></li>
    <li><a href='/downloads/components/dropdowns_type_ahead.sketch'>Dropdowns, Type Aheads</a></li>
    <li><a href='/downloads/components/full_screen_dialog.sketch'>Full Screen Dialogs</a></li>
    <li><a href='/downloads/components/global_search_bar.sketch'>Search Bar</a></li>
    <li><a href='/downloads/components/header_bar.sketch'>Header Bar</a></li>
    <li><a href='/downloads/components/link.sketch'>Links</a></li>
    <li><a href='/downloads/components/messages.sketch'>Messages, Flashes</a></li>
    <li><a href='/downloads/components/navigation/navigation_interim.sketch'>Navigation</a></li>
    <li><a href='/downloads/components/pills_badges.sketch'>Pills, Badges</a></li>
    <li><a href='/downloads/components/sidebar.sketch'>Sidebars</a></li>
    <li><a href='/downloads/components/step_flow.sketch'>Step Flows</a></li>
    <li><a href='/downloads/components/tabs.sketch'>Tabs</a></li>
    <li><a href='/downloads/components/tables.sketch'>Tables</a></li>
    <li><a href='/downloads/components/text_input.sketch'>Text Inputs, Decimals, Number Inputs, Punctuated/Masked Inputs, Textareas</a></li>
  </ul>
  <h3>Patterns</h3>
  <ul class='standard-list'>
    <li><a href='/downloads/patterns/forms.sketch'>Forms, Fieldsets</a></li>
    <li><a href='/downloads/patterns/help_tooltips.sketch'>Help, Tooltips</a></li>
    <li><a href='/downloads/patterns/validation_errors.sketch'>Validation, Errors</a></li>
  </ul>
</div>
<div class='container'>
  <h2>Shared Sketch Library</h2>
  <p>Want to be an early adopter of a shared Design System Sketch Library? <a href='/downloads/guides/library.pdf'>Check out this guidance</a>, and contact Laia Lopez Franch.</p>
</div>
