---
layout: default
full_width: true
secondary_menu_id: components-summary
primary_menu_id: components
title: Summary
summary: Simple building blocks like buttons, dropdowns, and links. Get design files, code, and guidance on how to use them.
tags: component, components
---
<p class='summary'>{{ page.summary }}</p>
<div class='container'>
  <p>Crowd-sourced and aligned with industry best practices, Sage Design System components are versatile, user-centric, and evidence based. Dozens of building blocks and hundreds of configurations offer infinite possibilities, all within a quality assured framework.<br/>
  For each component, you can:</p>
  <ul class="standard-list">
    <li>Interact with it and see how it works.</li>
    <li>Download Sketch file references - a shared Sketch library is coming soon.</li>
    <li>Read designer's guidance on how to use the component to best effect.</li>
  </ul>
</div>
<h2>Buttons & Links</h2>
<div class="dls-ia-card-container">
  <a href='/components/button-bar/'>
    <div class='dls-ia-card'>
      <div class="card-content">
        <img src='/visuals/components/button-bars.png'/>
      </div>
      <div class="card-footer">
        <p>Button Bars</p>
      </div>
    </div>
  </a>
  <a href='/components/button-toggle/'>
    <div class='dls-ia-card'>
      <div class="card-content">
        <img src='/visuals/components/button-toggle.png'/>
      </div>m
      <div class="card-footer">
        <p>Button Toggle</p>
      </div>
    </div>
  </a>
  <a href='/components/buttons/'>
    <div class='dls-ia-card'>
      <div class="card-content">
        <img src='/visuals/components/buttons.png'/>
      </div>
      <div class="card-footer">
        <p>Buttons</p>
      </div>
    </div>
  </a>
  <a href='/components/links/'>
    <div class='dls-ia-card'>
      <div class="card-content">
        <img src='/visuals/components/links.png'/>
      </div>
      <div class="card-footer">
        <p>Links</p>
      </div>
    </div>
  </a>
  <a href='/components/multi-action-buttons/'>
    <div class='dls-ia-card'>
      <div class="card-content">
        <img src='/visuals/components/multi-action-buttons.png'/>
      </div>
      <div class="card-footer">
        <p>Multi-action Buttons</p>
      </div>
    </div>
  </a>
  <a href='/components/split-buttons/'>
    <div class='dls-ia-card'>
      <div class="card-content">
        <img src='/visuals/components/split-buttons.png'/>
      </div>
      <div class="card-footer">
        <p>Split Buttons</p>
      </div>
    </div>
  </a>
</div>
<h2>Containers</h2>
<div class="dls-ia-card-container">

  <a href='/components/accordions/'>
    <div class='dls-ia-card'>
      <div class="card-content">
        <img src='/visuals/components/accordions.png'/>
      </div>
      <div class="card-footer">
        <p>Accordions</p>
      </div>
    </div>
  </a>
  <a href='/components/cards-tiles/'>
    <div class='dls-ia-card'>
      <div class="card-content">
        <img src='/visuals/components/cards-tiles.png'/>
      </div>
      <div class="card-footer">
        <p>Cards, Tiles</p>
      </div>
    </div>
  </a>
  <a href='/components/carousel/'>
    <div class='dls-ia-card'>
      <div class="card-content">
        <img src='/visuals/components/carousels.png'/>
      </div>
      <div class="card-footer">
        <p>Carousels</p>
      </div>
    </div>
  </a>
  <a href='/components/dialogs/'>
    <div class='dls-ia-card'>
      <div class="card-content">
        <img src='/visuals/components/dialogs.png'/>
      </div>
      <div class="card-footer">
        <p>Dialogs</p>
      </div>
    </div>
  </a>
  <a href='/components/full-screen-dialogs/'>
    <div class='dls-ia-card'>
      <div class="card-content">
        <img src='/visuals/components/full-screen-dialogs.png'/>
      </div>
      <div class="card-footer">
        <p>Full Screen Dialogs</p>
      </div>
    </div>
  </a>
  <a href='/components/sidebar/'>
    <div class='dls-ia-card'>
      <div class="card-content">
        <img src='/visuals/components/sidebars.png'/>
      </div>
      <div class="card-footer">
        <p>Sidebars</p>
      </div>
    </div>
  </a>
  <a href='/components/step-flows/'>
    <div class='dls-ia-card'>
      <div class="card-content">
        <img src='/visuals/components/step-flows.png'/>
      </div>
      <div class="card-footer">
        <p>Step Flows</p>
      </div>
    </div>
  </a>
  <a href='/components/tables/'>
    <div class='dls-ia-card'>
      <div class="card-content">
        <img src='/visuals/components/tables.png'/>
      </div>
      <div class="card-footer">
        <p>Tables</p>
      </div>
    </div>
  </a>
  <a href='/components/tabs/'>
    <div class='dls-ia-card'>
      <div class="card-content">
        <img src='/visuals/components/tabs.png'/>
      </div>
      <div class="card-footer">
        <p>Tabs</p>
      </div>
    </div>
  </a>
</div>
<h2>Global Elements</h2>
<div class="dls-ia-card-container">
  <a href='/components/global-search-bar/'>
    <div class='dls-ia-card'>
      <div class="card-content">
        <img src='/visuals/components/global-search-bar.png'/>
      </div>
      <div class="card-footer">
        <p>Global Search Bar</p>
      </div>
    </div>
  </a>
  <a href='/components/header/'>
    <div class='dls-ia-card'>
      <div class="card-content">
        <img src='/visuals/components/header-bar.png'/>
      </div>
      <div class="card-footer">
        <p>Header Bar</p>
      </div>
    </div>
  </a>
  <a href='/components/navigation/'>
    <div class='dls-ia-card'>
      <div class="card-content">
        <img src='/visuals/components/navigation.png'/>
      </div>
      <div class="card-footer">
        <p>Navigation</p>
      </div>
    </div>
  </a>
</div>
<h2>Inputs with Popovers</h2>
<div class="dls-ia-card-container">
  <a href='/components/action-popovers/'>
    <div class='dls-ia-card'>
      <div class="card-content">
        <img src='/visuals/components/action-popovers.png'/>
      </div>
      <div class="card-footer">
        <p>Action Popovers</p>
      </div>
    </div>
  </a>
  <a href='/components/datepicker/'>
    <div class='dls-ia-card'>
      <div class="card-content">
        <img src='/visuals/components/date-pickers.png'/>
      </div>
      <div class="card-footer">
        <p>Date Pickers, Time</p>
      </div>
    </div>
  </a>
  <a href='/components/date-range/'>
    <div class='dls-ia-card'>
      <div class="card-content">
        <img src='/visuals/components/date-ranges.png'/>
      </div>
      <div class="card-footer">
        <p>Date Ranges</p>
      </div>
    </div>
  </a>
  <a href='/components/dropdowns/'>
    <div class='dls-ia-card'>
      <div class="card-content">
        <img src='/visuals/components/dropdowns.png'/>
      </div>
      <div class="card-footer">
        <p>Dropdowns</p>
      </div>
    </div>
  </a>
</div>
<h2>Inputs Without Popovers</h2>
<div class="dls-ia-card-container">
  <a href='/components/decimal-inputs/'>
    <div class='dls-ia-card'>
      <div class="card-content">
        <img src='/visuals/components/decimal-inputs.png'/>
      </div>
      <div class="card-footer">
        <p>Decimals, Currency</p>
      </div>
    </div>
  </a>
  <a href='/components/fieldsets/'>
    <div class='dls-ia-card'>
      <div class="card-content">
        <img src='/visuals/components/fieldsets.png'/>
      </div>
      <div class="card-footer">
        <p>Fieldsets, Addresses</p>
      </div>
    </div>
  </a>
  <a href='/components/number-inputs/'>
    <div class='dls-ia-card'>
      <div class="card-content">
        <img src='/visuals/components/number-inputs.png'/>
      </div>
      <div class="card-footer">
        <p>Number Inputs</p>
      </div>
    </div>
  </a>
  <a href='/components/punctuated-inputs/'>
    <div class='dls-ia-card'>
      <div class="card-content">
        <img src='/visuals/components/punctuated-inputs.png'/>
      </div>
      <div class="card-footer">
        <p>Punctuated, Masked Inputs</p>
      </div>
    </div>
  </a>
  <a href='/components/text-inputs/'>
    <div class='dls-ia-card'>
      <div class="card-content">
        <img src='/visuals/components/text-inputs.png'/>
      </div>
      <div class="card-footer">
        <p>Text Inputs</p>
      </div>
    </div>
  </a>
  <a href='/components/textareas/'>
    <div class='dls-ia-card'>
      <div class="card-content">
        <img src='/visuals/components/textareas.png'/>
      </div>
      <div class="card-footer">
        <p>Textareas</p>
      </div>
    </div>
  </a>
</div>
<h2>Messages and Status</h2>
<div class="dls-ia-card-container">
  <a href='/components/flashes/'>
    <div class='dls-ia-card'>
      <div class="card-content">
        <img src='/visuals/components/flashes.png'/>
      </div>
      <div class="card-footer">
        <p>Flashes</p>
      </div>
    </div>
  </a>
  <a href='/components/messages/'>
    <div class='dls-ia-card'>
      <div class="card-content">
        <img src='/visuals/components/messages.png'/>
      </div>
      <div class="card-footer">
        <p>Messages</p>
      </div>
    </div>
  </a>
  <a href='/components/pills-badges/'>
    <div class='dls-ia-card'>
      <div class="card-content">
        <img src='/visuals/components/pills-badges.png'/>
      </div>
      <div class="card-footer">
        <p>Pills, Badges</p>
      </div>
    </div>
  </a>
  <a href='/components/spinners/'>
    <div class='dls-ia-card'>
      <div class="card-content">
        <img src='/visuals/components/spinners.png'/>
      </div>
      <div class="card-footer">
        <p>Spinners</p>
      </div>
    </div>
  </a>
</div>
<h2>Switches</h2>
<div class="dls-ia-card-container">
  <a href='/components/checkboxes/'>
    <div class='dls-ia-card'>
      <div class="card-content">
        <img src='/visuals/components/checkboxes.png'/>
      </div>
      <div class="card-footer">
        <p>Checkboxes</p>
      </div>
    </div>
  </a>
  <a href='/components/radios/'>
    <div class='dls-ia-card'>
      <div class="card-content">
        <img src='/visuals/components/radio-buttons.png'/>
      </div>
      <div class="card-footer">
        <p>Radio Buttons</p>
      </div>
    </div>
  </a>
  <a href='/components/switches/'>
    <div class='dls-ia-card'>
      <div class="card-content">
        <img src='/visuals/components/switches.png'/>
      </div>
      <div class="card-footer">
        <p>Switches</p>
      </div>
    </div>
  </a>
</div>
