---
layout: default
secondary_menu_id: content-summary
primary_menu_id: content
title: Summary
---

<p class="summary">Learn to speak with the user's voice, tone and wording to transform their experience.</p>

<h2>Hello and welcome content creators!</h2>

<p>Content is a crucial element of the experiences we design for Sage Business Cloud.</p>
<p>With this in mind we're please to be able to present an initial set of guidance for content which we'll be working to enhance and broaden out in the coming weeks.</p>

<h3>Who is this guidance for?</h3>

<p>These pages are designed for everyone involved in writing and applying content across a range of applications - be it in product screens and dialogues, in support articles, or marketing applications.</p>

<h3>How can I feedback?</h3>

<p>We'll be soliciting feedback on this initial offering shortly and working with colleagues to discuss, amend and enhance these pages, drawing on a range of contributions and best practice, in the weeks ahead.</p>
<p>Watch this space for more and details of how to feedback or get involved.</p>
