---
layout: default
secondary_menu_id: foundations-summary
primary_menu_id: foundations
title: Summary
summary: Welcome to Sage’s design system - everything you need to design Sage Business Cloud experiences that people love.
tags: foundation, foundations
---

<p class='summary'>{{ page.summary }}</p>
<div class="screenshots">
  <div class="screenshot-device device-mobile">
    <div class="device-header">
      <div class="device-actions">
        <div class="action"></div>
      </div>
    </div>
    <div class="device-screen"></div>
  </div>
  <div class="screenshot-device device-tablet">
    <div class="device-header">
      <div class="device-actions">
        <div class="action"></div>
      </div>
    </div>
    <div class="device-screen"></div>
  </div>
  <div class="screenshot-device device-desktop">
    <div class="device-header">
      <div class="device-actions">
        <div class="action"></div>
        <div class="action"></div>
        <div class="action"></div>
      </div>
      <div class="search-bar"></div>
    </div>
    <div class="device-screen"></div>
  </div>
</div>
<div class='container'>
  <h2>A Seamless, End-to-End System</h2>
  <p>Traditional design systems cater for either websites, or products and apps. The beauty of Sage's design system is that it applies to the whole user journey.</p>
  <p>From Sage.com, through onboarding, and into products. From a new prospect, to a customer for life. And from a small start up, to a global enterprise - all beautifully seamless and consistent.</p>
  <p>As you browse the site, keep in mind that foundations like colour and typography, and even components like buttons and messages, apply equally to Sage websites, and cloud products. Sometimes there's good rationale for an exception, so that's called out on specific pages.</p>
  <iframe width="780" height="440" src="https://www.youtube-nocookie.com/embed/RhKFqcH5DiE?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
<div class='container'>
  <h2>For Cloud Apps</h2>
  <ul class="standard-list">
    <li>Download Sketch files for each component at the top of most pages, or see the <a href='/downloads/'>full list of downloads</a>.</li>
    <li>Want to be an early adopter of a shared Design System Sketch Library? <a href='/downloads/guides/library.pdf'>Check out this guidance</a>, and contact Laia Lopez Franch.</li>
  </ul>
</div>
<div class='container'>
  <h2>For Websites</h2>
  <ul class="standard-list">
    <li>Download the <div class='dls-icon-link'><a href='https://www.dropbox.com/s/hp7zlvr7m67qx8a/sage.com%20dls%20ui%20kit%20global.sketch?dl=1' class='link generic-biz' target='_blank'><span>Design System Sketch File for marketing websites (233MB)</span><i class="icon icon-pdf"></i></a></div><br/>Details are also found throughout this site.</li>
  </ul>
</div>
<div class='container'>
  <h2>For Mobile</h2>
  <p>Whether responsive, adaptive, or native, the design system’s <a href='/foundations/grid/'>breakpoints, grid,</a> and <a href='/foundations/spatial/'>spatial markup</a> help you design mobile apps that are going places.</p>
  <ul class="standard-list">
    <li>Our cloud products should always work gracefully on smaller screens, or if the user adjusts their screen size - use responsive or adaptive techniques.</li>
    <li>The latest WCAG 2.1 accessibility guidance also require <a href='/foundations/accessibility#accessibility-responsive'>basic responsiveness</a>.</li>
    <li>To build killer apps, consider which use cases particularly suit the user's context on a mobile device, and <a href='/mobile/'>go native</a>.</li>
    <li>We respect iOS and Android standards, but apply our colour palette for a uniquely Sage feel. We define custom components only where these offer good value for users, and Sage.</li>
    <li>We've created <a href='/mobile/components/' target='_blank'>Design System Sketch Libraries for iOS and Android</a>.
      <li>Specialist mobile designers can contribute their recommendations to the design system.</li>
    </li>
  </ul>
</div>
<div class='container'>
  <h2>For Salesforce</h2>
  <ul class="standard-list">
    <li>Just as we respect native mobile standards, we respect <div class='dls-icon-link'><a href='https://www.lightningdesignsystem.com/' class='link generic-biz' target='_blank'><span>Salesforce Lightning</span><i class="icon icon-link"></i></a></div> too.</li>
    <li>Download the <div class='dls-icon-link'><a href='/downloads/salesforce/2018-SEPT- SLDLS.pptx' class='link generic-biz' target='_blank'><span>Salesforce for Sage guidance</span><i class="icon icon-pdf"></i></a></div> which shows how the design system is applied within the constraints and freedoms of Salesforce Lightning.</li>
    <li>Specialist Salesforce designers can contribute their recommendations to the design system.</li>
  </ul>
</div>
<div class='container'>
  <h2>For Windows Desktop Products</h2>
  <ul class="standard-list">
    <li>Many design system foundations and components can apply equally, or with some customisation, to Windows Desktop products.</li>
    <li>But there are some exceptions - for example, for good reasons desktop products should still use system fonts, rather than the <a href='/foundations/text-font/'>fonts stated in the design system</a>.</li>
    <li>Specialist design teams can contribute exceptions and solutions back to the design system, so everyone gets the benefit, and we keep in seamless consistency.</li>
  </ul>
</div>
<div class='container'>
  <h2>For Shared Services</h2>
  <p>Shared services can be embedded within numerous cloud or desktop apps.</p>
  <ul class="standard-list">
    <li>Either 'skin' the shared service dynamically with the colour of the product in which it appears (preferred).</li>
    <li>Or otherwise, use the 'Generic Green' colour.</li>
  </ul>
  <p>Shared Services designers can contribute their recommendations to the design system.</p>
</div>
<div class='container'>
  <h2 id='carbon'>When and How Should I Implement the Design System?</h2>
  <ul class='standard-list'>
  <li><div class='dls-icon-link'><a href='https://carbon.sage.com' class='link generic-biz' target='_blank'><span>Carbon</span><i class="icon icon-link"></i></a></div>is Sage's development framework of choice if not based on the Salesforce platform - it's the reference implementation of the design system. The Design System and Carbon will seamlessly match, so designers and developers speak the same language.</li>
  <li><div class='dls-icon-link'><a href='https://docs.google.com/document/d/1hojsekeZt--CqLAoIWw8lCdQsS0xusXUp3ACgFKOi18/edit?usp=sharing' class='link generic-biz' target='_blank'><span>Chimera</span><i class="icon icon-link"></i></a></div> is a 'best-value-right-now' update to bridge our legacy design standards with the new Design System in the short term, whilst not appearing visually jarring to users, and with smaller development effort.</li>
  <li>There is no 'one size fits all' route to implementation, and much depends on technical context. Designers and Developers should discuss and agree whether to use the full Design System, or Chimera middleground, as their design standard in the short term.</li>
  <h3>Carbon Products</h3>
  <ul class='standard-list'>
    <li>Carbon version to 6.0.2 includes Chimera - you can upgrade your Carbon version to apply this to your product now.</li>
    <li>There will be further Carbon updates over the next 6 months to phase in the Design System fully.</li>
    <li>We'll include a 'classic theme' within the Carbon updates, which gives you control over when you switch on the Design System visuals for your users. For example, you might prefer to wait until all Design System components are in Carbon, and only then show users the change. Or you might choose to apply Carbon updates incrementally over time as they're released. The 'classic theme' can also give you time to adapt any non-Carbon UI to the new visual style.</li>
  </ul>
  <h3>Non-Carbon products</h3>
  <ul class='standard-list'>
    <li>All new products should be designed and built with the Design System applied from the start.</li>
    <li>Existing products can be updated to apply the design system at the next opportunity. You can choose to either:
      <ul class='standard-list'>
        <li>Apply 'Chimera', as a 'best value' update to bridge our legacy design standards with the new Design System in the short term, whilst not appearing visually jarring to users, and with smaller development effort.</li>
        <li>Apply the full Design System visual style.</li>
      </ul>
    </li>
  </ul>
</div>
<div class='container'>
  <h2>How Does the Design System Process Work?</h2>
  <p>To make the design system the best it can be, each element is...</p>
  <ul class="standard-list">
    <li>Based on the best published evidence we can find,</li>
    <li>Critiqued by the design system team and iterated at least once,</li>
    <li>Featured in at least one <div class='dls-icon-link'><a href='https://docs.google.com/document/d/14tRZWbyx14wGLlggndB3BZKNFs15IMmS8H-gkc1iI5g/edit?usp=sharing' class='link generic-biz' target='_blank'><span>XD-wide critique</span><i class="icon icon-link"></i></a></div></li>
    <li><div class='dls-icon-link'><a href='https://marvelapp.com/7hf04j6' class='link generic-biz' target='_blank'><span>Posted on Marvel</span><i class="icon icon-link"></i></a></div> for continual feedback,</li>
    <li>And tested by design teams as they implement the design system.</li>
  </ul>
  <p>The best context for user testing is with real apps, use cases, and features - not on the level of an abstract system. User testing is therefore an important task for teams implementing the design system. This will give us context-rich, specific and actionable results to improve the design system, and exactly the right design decisions for your users.</p>
</div>
<div class='container'>
  <h2>How Can I Contribute?</h2>
  <p>The design system isn't a waterfall project where a system is proposed, quality assured, and issued as a static resource - instead, the design system evolves incrementally over time as we continually improve its elements. It's the sum of all XD's knowledge and best practice.</p>
  <p>Check out this diagram which highlights ways to get involved.</p>
  <div class='card'>
    <div class='mask-example'>
      <a href='/visuals/contribution-workflow.png' target='_blank'><img src='/visuals/contribution-workflow.png'/></a>
    </div>
  </div>
  <h3>Give Feedback</h3>
  <ul class="standard-list">
    <li>The design system relies on your feedback - XD team members can join the conversation on <div class='dls-icon-link'><a href='https://teams.microsoft.com/l/channel/19%3acfc9cdb142694472a7befddf98551e3a%40thread.skype/Design%2520Language%2520System?groupId=d5f3b93a-c5a2-4098-b89a-10cd8a6bad82&tenantId=3e32dd7c-41f6-492d-a1a3-c58eb02cf4f8' class='link generic-biz' target='_blank'><span>Teams</span><i class="icon icon-link"></i></a></div> or <div class='dls-icon-link'><a href='https://marvelapp.com/7hf04j6' class='link generic-biz' target='_blank'><span>comment on Marvel</span><i class="icon icon-link"></i></a></div></li>
    <li>Download elements from the portal, design with them, test them with users, make improvements, and share the results with the design system team.</li>
    <li>All feedback is compiled in Jira, where we work through it as quickly as possible in 2-week sprints.</li>
  </ul>
  <h3>Volunteer</h3>
  <ul class="standard-list">
    <li>The design system team are all volunteers who share their time between the Design System, and other projects.</li>
    <li>To help us go faster, do you have a specialist interest in a Design System topic, and capacity to help? Please join the team!</li>
  </ul>
  <p><span class='emphasis-term'>It's your design system - you make it what it is.</span></p>
</div>
<div class='container'>
  <h2>What can I share with my stakeholders?</h2>
  <p>Here are some resources that help explain what the design system is, how it provides competitive advantage, and how we can go about implementing it.</p>
  <ul class="standard-list">
    <li><div class='dls-icon-link'><a href='https://sage365-my.sharepoint.com/:b:/g/personal/ben_wilson_sage_com/Edac9-YSyT5Pn78DfGvxmAYBzlE-ibf1EnfXK9zB6FSMoQ?e=sy4YJm' class='link generic-biz' target='_blank'><span>Design System Booklet</span><i class="icon icon-pdf"></i></a></div></li>
    <li>Design System Side Deck: <div class='dls-icon-link'><a href='https://sage365-my.sharepoint.com/:u:/g/personal/ben_wilson_sage_com/EUgBcPOdXaFLpF7PlmLZdSYB4F9jLhkmXzKVBgBN_rfBYg?e=SMjyXl' class='link generic-biz' target='_blank'><span>Keynote</span></a> | <a href='https://sage365-my.sharepoint.com/:p:/g/personal/ben_wilson_sage_com/EY1xNI1uPMFNriB2rcLTFmYBKeNzoXJrPaC2397AZBc-Hg?e=fiffbt' class='link generic-biz' target='_blank'><span>PowerPoint</span></a> | <a href='https://sage365-my.sharepoint.com/:b:/g/personal/ben_wilson_sage_com/EfI_7krbzNVGiYCuj_mEFmMBCN6Wn-CVTemyZeBxW2izYQ?e=GAsCaF' class='link generic-biz' target='_blank'><span>PDF</span><i class="icon icon-pdf"></i></a></div></li>
    <li><div class='dls-icon-link'><a href='https://sage365-my.sharepoint.com/:u:/g/personal/ben_wilson_sage_com/EQZlZE8DhhdCqhmJJ8Ss1JkBylC2_fxt_P2JjMDajxTiaA?e=xa5xMA' class='link generic-biz' target='_blank'><span>2-slide exec summary</span><i class="icon icon-pdf"></i></a></div></li>
    <li><div class='dls-icon-link'><a href='https://sage365-my.sharepoint.com/:u:/g/personal/ben_wilson_sage_com/EW0ex5DfyQJPlWYZTDPeQWQBTi7mcYIHnPuBFAfgLIuUhQ?e=KJ2c8m' class='link generic-biz' target='_blank'><span>Keynote walkthrough of foundations</span><i class="icon icon-pdf"></i></a></div></li>
  </ul>
</div>
