---
layout: homepage
primary_menu_id: homepage
title: Portal Homepage
summary: This is just the homepage dude, sorry.
---

<canvas id="gradient"></canvas>
<div class="homepage-wrapper">
  <div class="logo-container">
    <img src="/visuals/sage-logo.svg" alt="Sage Logo" class="sage-logo" /><span class="text-logo">Design System</span>
  </div>
  <div class="sub-title">Everything you need to design Sage Business Cloud experiences that people love.</div>
  <div class="segments">
    <div class="segment foundations-segment">
      <a href="/foundations" class="segment-link">
        <div class="segment-icon"></div>
        <h3>Foundations</h3>
        <p>Colours, fonts, grid and layout for a uniquely Sage look and feel.</p>
      </a>
    </div>
    <div class="segment components-segment">
        <a href="/components" class="segment-link">
      <div class="segment-icon"></div>
        <h3>Components</h3>
        <p>Simple building blocks like buttons, dropdowns, and links. Get design files, code, and guidance on how to use them.</p>
      </a>
    </div>
    <div class="segment hero-flows-segment">
      <a  href="/patterns" class="segment-link">
        <div class="segment-icon"></div>
        <h3>Patterns</h3>
        <p>Effective, delightful solutions to common user problems.</p>
      </a>
    </div>
    <div class="segment content-segment">
      <a href="/content" class="segment-link">
        <div class="segment-icon"></div>
        <h3>Content</h3>
        <p>Learn to speak with the user's voice, tone and wording to transform their experience.</p>
      </a>
    </div>
  </div>
  <div class='version-number'>
    <a class='version-link' href='/patterns/timeline'>v{{ site.data.version }}</a>
  </div>
</div>

