---
layout: default
secondary_menu_id: mobile-summary
primary_menu_id: mobile
title: Summary
summary: Respecting platform standards, adding custom components where they have user value.
tags: iOS, Android, responsive, adaptive, native, hig, mobile, device
---

<p class='summary'>{{ page.summary }}</p>
<div class='container'>
  <h2>Responsive or Adaptive Mobile</h2>
  <ul class="standard-list">
    <li>Our cloud products should always work gracefully on smaller screens, or if the user adjusts their screen size - use responsive or adaptive techniques. Check out the design system foundations on <a href='/foundations/grid/'>breakpoints and grid</a>.</li>
    <li>The <a href='/foundations/accessibility#accessibility-responsive'>latest WCAG standard</a> introduced a requirement for responsive design down to 320px page width.</li>
  </ul>
</div>

<div class='container'>
  <h2>Native Mobile</h2>
  <p>To build killer apps, consider which use cases work best on mobile devices, and which particularly suit the user's context on a mobile device, and go native.</p>
  <ul class="standard-list">
    <li><span class='emphasis-term'>Native components</span> follow patterns and behaviours that are familiar and recognisable by users - they meet the user's expectations.</li>
    <li>Development costs tend to be lower, with a smaller maintenance overhead too.</li>
    <li>Native components generally mean better accessibility.</li>
  </ul>
  <p>To supplement native components with our own home-grown <span class='emphasis-term'>custom components</span>, we'd need to invest time and effort in creation and maintenance. However, in a small number of well-defined situations, this could be the best thing to do, because:</p>

  <ul class="standard-list">
    <li>To solve unique problems, we may need a unique solution. Creating a custom component might provide the best possible user experience, whereas restricting ourselves to native components might narrow the solutions we can design.</li>
    <li>To create a design system that works consistently across all platforms, custom components may offer a solution.</li>
  </ul>
</div>

<div class='container'>
    <h2>1. Define Specific Mobile Use Cases</h2>
    <ul class="standard-list">
      <li>It can be tempting to simply aim to reproduce an existing web app for mobile. However, this isn't often recommended.</li>
      <li>Instead, consider which use cases work best on mobile devices, and which particularly suit the user's context on a mobile device.</li>
      <li>Keep in mind the device specific benefits that we might want to include in our solutions: geolocation, the accelerometer, pressure sensing, voice control, and push notifications.</li>
    </ul>
  </div>

<div class='container'>
    <h2>2. Respect Platform Standards</h2>
    <p>Native mobile patterns are familiar and recognisable to users, so consider platform standards (iOS and Android) to be the foundations we design mobile experiences upon:</p>
    <ul class="standard-list">
      <li><a href='https://developer.apple.com/ios/human-interface-guidelines/' target='_blank'>Apple's Human Interface Guidelines</a></li>
      <li><a href='https://material.io/design/guidelines-overview/' target='_blank'>Google's Material Design Guidelines</a></li>
    </ul>
  </div>

<div class='container'>
    <h2>3. Add Custom Components only with Clear Value</h2>
    <p>Despite wishing to respect platforms standards, sometimes we need to think out of the box to provide the best user experience. If there's a clear user benefit for us to invest time and resources in a custom solution, then that's the time to design something new.</p>
  </div>
</div>
