---
layout: default
primary_menu_id: patterns
secondary_menu_id: patterns-summary
title: Summary
summary: Effective, delightful solutions to common user problems.
tags: pattern, patterns
---

<p class='summary'>{{ page.summary }}</p>

<p>Resusable patterns are built with components.<br/>
  In turn, patterns combine to become precisely engineered end-to-end journeys - effective solutions, as well as delightful experiences.</p>

<p>This ‘atomic’ approach speeds up design and development, and avoids re-work later.</p>



