---
layout: default
secondary_menu_id: salesforce-summary
primary_menu_id: salesforce
title: Summary
summary: How Sage's Design System will complement Salesforce Lightning.
tags: salesforce, lightning
---

<p class='summary'>{{ page.summary }}</p>

<div class='container'>
  <ul class="standard-list">
    <li>Just as we respect native mobile standards, we respect <div class='dls-icon-link'><a href='https://www.lightningdesignsystem.com/' class='link generic-biz' target='_blank'><span>Salesforce Lightning</span><i class="icon icon-link"></i></a></div> too.</li>
    <li>Download the <div class='dls-icon-link'><a href='/downloads/2018-SEPT- SLDLS.pptx' class='link generic-biz' target='_blank'><span>Salesforce for Sage guidance</span><i class="icon icon-pdf"></i></a></div> which shows how the design system is applied within the constraints and freedoms of Salesforce Lightning.</li>
    <li>Specialist Salesforce designers can contribute their recommendations to the design system.</li>
  </ul>
</div>
