---
layout: default
title: Search
secondary_menu_id: patterns-summary
primary_menu_id: patterns
---

<div class="global-search">
  <div class="global-search-input-container">
    <input type="text" id="search-box" name="query" autocomplete="off" class="search-box" placeholder="I am searching for...">
  </div>
  <div id="search-results"></div>
</div>

<script src="https://unpkg.com/lunr/lunr.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/js/search.js"></script>
