---
layout: default
secondary_menu_id: windows-summary
primary_menu_id: windows
title: Summary
summary: How Sage's Design System works for Windows desktop products.
tags: salesforce, lightning, Windows, Desktop
---

<p class='summary'>{{ page.summary }}</p>
<div class='container'>
  <ul class="standard-list">
    <li>Many design system foundations and components can apply equally, or with some customisation, to Windows Desktop products.</li>
    <li>Desktop products should use system fonts, rather than the fonts stated in the rest of the design system. Usually, <a href='https://docs.microsoft.com/en-us/windows/desktop/uxguide/text-ui' target='_blank'>Segoe UI</a>.</li>
    <li>Specialist components for Windows desktop applications are below.</li>
  </ul>
</div>
<h2>Signature project</h2>
<p>Get design and guidance on how to apply DLS in a Windows Desktop App.</p>
<div class="dls-ia-card-container">
  <a href='/windows/foundations/'>
    <div class='dls-ia-card'>
      <div class="card-content">
        <img src='/visuals/windows/foundations/Foundations-card.png'/>
      </div>
      <div class="card-footer">
        <p>Foundations</p>
      </div>
    </div>
  </a>
  <a href='/windows/app-icons/'>
    <div class='dls-ia-card'>
      <div class="card-content">
        <img src='/visuals/windows/icons/App-icon-card.png'/>
      </div>
      <div class="card-footer">
        <p>App icons</p>
      </div>
    </div>
  </a>
  <a href='/windows/splash-screens/'>
    <div class='dls-ia-card'>
      <div class="card-content">
        <img src='/visuals/windows/splashs/splash50.png'/>
      </div>
      <div class="card-footer">
        <p>Splash Screens</p>
      </div>
    </div>
  </a>
  <a href='/windows/wizards/'>
    <div class='dls-ia-card'>
      <div class="card-content">
        <img src='/visuals/windows/wizard/wizard-dls.png'/>
      </div>
      <div class="card-footer">
        <p>Wizards</p>
      </div>
    </div>
  </a>
  <a href='/windows/interface/'>
    <div class='dls-ia-card'>
      <div class="card-content">
        <img src='/visuals/windows/interface/dls-sage-100-light-simple-list.png'/>
      </div>
      <div class="card-footer">
        <p>Interface</p>
      </div>
    </div>
  </a>
  <a href='/windows/navigation/'>
    <div class='dls-ia-card'>
      <div class="card-content">
        <img src='/visuals/windows/nav-panel/navigation-card.png'/>
      </div>
      <div class="card-footer">
        <p>Navigation</p>
      </div>
    </div>
  </a>
  <a href='/windows/app-bar/'>
    <div class='dls-ia-card'>
      <div class="card-content">
        <img src='/visuals/windows/App-bar/App-bar-card.png'/>
      </div>
      <div class="card-footer">
        <p>App bar</p>
      </div>
    </div>
  </a>
</div>
