.empty-states-img, .empty-states-img-2 {
  background: url("/visuals/empty_states_small.png") center center / contain no-repeat;
  height: 452px;
  width: 626px;

  @media screen and (min-width: 1200px) {
    background: url("/visuals/empty_states_large.png") center center / contain no-repeat;
    height: 555px;
    width: 982px;
  }

  @media screen and (min-width: 1920px) {
    background: url("/visuals/empty_states_large.png") center center / contain no-repeat;
    height: 845px;
    width: 100%;
  }
}

.empty-states-img-2 {
  background: url("/visuals/empty_states_large-2.png") center center / contain no-repeat;
}
