.ftu_panel {
  display: inline-block;
  height: auto;
  margin: 32px 0 58px 0;
  min-height: 785px;
  overflow: hidden;
  padding: 40px;
  position: relative;
  vertical-align: top;
  width: 432px;

  .icon-close {
    color: $slate-tint-50;
    cursor: pointer;
    float: right;

    &:hover {
      color: $slate;
    }
  }

  .ftu_progress_container {
    height: 62px;
    position: relative;
    width: 303px;

    .progress_bar_bg {
      background-color: $slate-tint-90;
      height: 16px;
      margin-bottom: 8px;
      width: 100%;
    }

    .progress_bar_fill {
      background-color: $green-positive;
      height: 100%;
      width: 14%;
    }

    p {
      color: $black-65;
      float: right;
      font-size: 14px;
      font-weight: 600;
      margin: 0;
    }
  }

  .ftu_welcome_video {
    background: url("/visuals/ftu_video_bg.png") center center / cover no-repeat;
    box-shadow: $shadow-depth-1;
    cursor: pointer;
    height: 185px;
    margin: 40px auto 48px auto;
    position: relative;
    transition: all 0.3s ease-in-out;
    width: 100%;

    .dimmer {
      background-color: black;
      height: 100%;
      opacity: 0.3;
      position: absolute;
      transition: all 0.3s ease-in-out;
      width: 100%;
    }

    &:hover {
      box-shadow: $shadow-depth-2;
      cursor: pointer;
      transform: scale(1.05);

      .dimmer {
        opacity: 0.2;
      }
    }

    .player_controls_container {
      background-color: white;
      bottom: 0;
      height: 50px;
      left: 0;
      padding: 16px 24px;
      position: absolute;

      .play_icon {
        border-bottom: 8px solid transparent;
        border-left: 10px solid rgba(0,0,0,0.85);
        border-top: 8px solid transparent;
        display: inline-block;
        height: 0;
        width: 0;
      }

      p {
        display: inline-block;
        font-weight: 900;
        letter-spacing: 1px;
        margin-left: 8px;
        position: relative;
        top: -2px;
      }
    }
  }

  p, a.link, button {
    font-size: 16px;
    line-height: 24px;
  }

  p:last-of-type {
    margin-bottom: 32px;
  }

  button.tertiary {
    padding-left: 0;
  }

  .back_container {
    display: inline-block;
    float: left;
    position: relative;
    top: -4px;

    button {
      font-size: 14px;
    }
  }

  .help_link {
    font-size: 14px;
    margin-bottom: 32px;
  }
}

.ftu_panel.wizard {
  margin-right: 24px;

  .ftu_progress_container {
    margin-bottom: 16px;
  }

  .progress_bar_fill {
    width: 56%;
  }

  .feature_img {
    background: url("/visuals/FTU_Products.png") center center / cover no-repeat;
    height: 255px;
    left: -177px;
    position: relative;
    top: -25px;
    width: 470px;
  }
}

.ftu_panel.advanced {
  .back_container {
    top: -8px;
    width: 290px;
  }

  .feature_img {
    background: url("/visuals/FTU_advanced.png") center center / contain no-repeat;
    height: 255px;
    margin: 40px 0 38px 0;
    position: relative;
    width: 345px;
  }

  ol {
    counter-reset: item;
    margin-bottom: 40px;
    margin-left: 0;
    padding-left: 0;
  }

  ol > li {
    counter-increment: item;
    list-style: none inside;
    margin-bottom: 10px;
    margin-left: 0;
    padding-left: 0;

    &:before {
      content:" "counter(item)" ";
      border: 1px solid $slate-tint-60;
      border-radius: 20px;
      font-size: 13px;
      font-weight: 900;
      margin-right: 8px;
      padding: 2px 4px 3px 8px;
    }

    button {
      height: 32px;
      margin-right: 8px;
      padding: 0;
    }

    a {
      text-decoration: none;
    }

    .icon-question {
      color: $slate-tint-70;
      position: relative;
      top: -2px;

      &:hover {
        color: $slate;
      }
    }
  }
}
