.hero-banners-img {
  background: url("/visuals/hero-banners-resp.jpg") center center / contain no-repeat;
  height: 452px;
  width: 626px;
}

.hero-banners-img-4 {
  background: url("/visuals/hero-banners-resp-example-4.jpg") center center / contain no-repeat;
  height: 452px;
  width: 626px;
}

.hero-banner {
  background-image: url("/visuals/hero-banner-background-example-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 12px;
  width: 100%;

  &.customer-banner {
    background-image: url("/visuals/customer-banner-background-example-1.jpg");
  }

  &.campaign-banner {
    background-image: url("/visuals/customer-banner-campaign-example.jpg");
  }

  &.carousel-banner {
    background-image: url("/visuals/hero-banner-background-example-1-carousel.jpg");
  }

  &#lh-slt {
    height: 340px;
  }

  &#mh-tlt, &#sh-flt {
    height: 360px;
  }

  &#sh-crsl {
    height: 320px;

    .hero-banner-content {
      right: 80px;
    }
  }

  &#dcs, &#bcs {
    height: 320px;
  }

  &#ch {
    height: 390px;
  }

  .hb-large {
    padding: 68px 80px;
  }

  .hb-small {
    padding: 40px 80px;
  }

  .hb-small-carousel {
    padding: 40px 40px;
  }

  .hero-banner-content {
    background: $segment-generic;
    display: flex;
    position: absolute;
    right: 12px;
    width: 462px;

    .hero-text {
      .customer-name {
        font-weight: 600;
        margin-bottom: 0;
      }

      .customer-quote {
        font-family: 'Adelle Sage', sans-serif;
        font-style: italic;
        font-weight: 400;
      }
    }
  }

  .customer-story {
    background: white;
    left: 80px;
    width: 351px;

    &.campaign {
      background: transparent;

      p {
        color: white;
      }
    }

    .customer-speech-mark {
      left: 12px;
      position: absolute;
      top: 12px;
    }

    .grey {
      background: $white-5;
    }

    .stars {
      display: flex;
      margin: 0px -1px 40px -1px;

      i {
        color: white;
        margin: 0px 1px;

        &:before {
          font-size: 8px;
          line-height: 8px;
        }
      }
    }
  }
}

.example-dropdown-hb {
  margin-bottom: 24px;

  .label-input-wrapper {
    label {
      width: auto;
    }
  }

  .dropdown_list_content {
    height: auto;
    position: absolute;

    .dropdown_height {
      height: auto;
    }
  }
}

.hero-banner-nav {
  background-image: url("/visuals/hero-banner-com-navigation.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 32px;
  width: 100%;
}

.hero-banner-features {
  background-image: url("/visuals/hero-banner-tab-content.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 517px;
  width: 100%;
}

.hero-content-container, .customer-story-container {
  display: none;

  &.first-container {
    display: block;
  }
}
