.learn_more_tt {
  height: auto;
  margin: 50px auto 0 auto;
  max-width: 355px;
  position: relative;
  width: 356px;

  &::after {
    border-bottom: 16px solid transparent;
    border-top: 16px solid transparent;
    border-left: 16px solid $slate;
    content: "";
    height: 0;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
  }

  .card_graphic {
    background: url("/visuals/ipd_card_graphic.png") center center / contain no-repeat;
    box-shadow: $shadow-depth-2;
    height: 76px;
    left: 105px;
    position: absolute;
    top: -45px;
    transform: rotate3d(.5,.866,0,16deg) rotate(-7deg);
    width: 120px;
  }

  .learn_inner_container {
    background: $slate;
    box-shadow: $shadow-depth-2;
    max-width: 327px;
    padding-top: 56px;

    h3, p {
      color: white;
      padding: 0 24px;
      text-align: center;
    }

    h3 {
      margin-bottom: 16px;
    }

    .card_icons {
      background: url("/visuals/ipd_card_icons.png") center center / contain no-repeat;
      height: 30px;
      margin: 0 auto 16px auto;
      width: 165px;
    }

    .powered_stripe {
      background: url("/visuals/ipd_powered_by_stripe.svg") center center / contain no-repeat;
      height: 17px;
      margin: 0 auto 32px auto;
      opacity: 0.5;
      width: 102px;
    }

    .learn_CTA_container {
      background-color: $slate-tint-15;
      height: 40px;
      width: 100%;
    }

    .business-small, .learn_dismiss_CTA {
      float: right;
      margin: 0;
    }

    .learn_dismiss_CTA {
      background-color: transparent;

      &:hover {
        background-color: $slate;
      }
    }
  }

  &.basic_dark, &.basic_light {
    display: inline-block;
    margin: 0;

    .learn_inner_container{
      padding-top: 24px;
    }
  }

  &:nth-child(2) {
    margin-left: 32px;
  }

  &.basic_light {
    z-index: 1;

    &::after {
      display: none;
    }

    .triangle-with-shadow {
      height: 72px;
      overflow: hidden;
      position: absolute;
      right: 5px;
      top: 104px;
      width: 24px;
      z-index: 2;
    }

    .triangle-with-shadow:after {
      background-color: white;
      box-shadow: 5px 10px 20px 0 rgba($slate-shade-60,0.2), 10px 20px 40px 0 rgba($slate-shade-60,0.1);
      content: "";
      height: 32px;
      left: -20px;
      position: absolute;
      transform: rotate(45deg);
      top: 10px;
      width: 32px;
    }

    .learn_inner_container {
      background-color: white;
    }

    h3, p {
      color: $black-90;
    }

    .learn_CTA_container {
      background-color: $slate-tint-90;
    }

    .learn_dismiss_CTA {
      color: $black-90;

      &:hover {
        background-color: $slate-tint-80;
      }
    }
  }
}

