@keyframes fadeInSageChat {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.live-chat-trigger,
.show-live-chat-timed-popup {
  margin-bottom: 40px;
}

.live-chat-dialog {
  background: white;
  bottom: 0px;
  box-shadow: $shadow-depth-3;
  max-width: 420px;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  right: 5vh;
  transition: all 300ms cubic-bezier(0.250, 0.250, 0.000, 1.500);
  visibility: hidden;
  width: 90vw;

  @media screen and (max-width: 510px) {
    right: 5vw;
  }

  &.live-chat-visible {
    bottom: 5vh;
    opacity: 1;
    visibility: visible;

    @media screen and (max-width: 510px) {
      right: 5vw;
    }
  }

  .connected-message,
  .loading,
  .chat-message-container,
  .reply-container,
  .in-queue,
  .connecting-message {
    display: none;
  }

  .live-chat-header {
    background: $segment-medium-app;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;

    .title {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 3px;
    }

    .status {
      font-size: 13px;

      .spinner {
        display: inline-block;
        margin-left: 8px;
      }
    }

    .close {
      cursor: pointer;
      height: 20px;
      position: relative;
      top: 10px;
      transition: all 0.2s ease;

      &:hover {
        transform: scale(1.3);
      }
    }

    &.want-to-chat {
      border: none;
      color: white;
      display: none;

      .icon-close {
        margin: 0;
      }

      .start-chat {
        margin-top: 16px;
      }
    }
  }

  .content-container {
    padding: 24px;

    .dls-input {
      height: 40px;
      padding: 0 11px;
    }

    &.chat-message-container {
      height: 390px;
      overflow: auto;

      .closed-chat-segment {
        color: rgba(black, 0.55);
        margin: 40px 0 24px;
        text-align: left;

        .closed-chat-timestamp {
          font-size: 13px;
          margin-bottom: 16px;
        }

        .chat-download-text {
          border-top: 1px solid $slate-tint-95;
          padding-top: 16px;
          margin-bottom: 16px;
        }

        .download-transcript {
          color: $slate;
          cursor: pointer;
          font-weight: 700;
          margin-top: 16px;

          &:hover {
            color: $slate;
            text-decoration: underline;
          }
        }
      }
    }

    &.loading {
      padding: 80px 0;
      text-align: center;
    }

    .field-container {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    label {
      display: block;
      font-weight: 700;
      margin-bottom: 0;
      padding-bottom: 5px;
    }

    .optional {
      color: rgba(black, 0.55);
      font-size: 13px;
    }
  }

  // Footer
  .live-chat-footer {
    text-align: right;

    .reply-container {
      textarea {
        background: transparent;
        border: none;
        font-family: inherit;
        font-size: 14px;
        height: 50px;
        padding: 16px 24px;
        resize: none;
        width: 100%;

        &:focus {
          outline: none;
        }
      }

      .reply-actions {
        padding: 8px 8px 0 0;

        button {
          transition: all 0.2s ease;

          svg path {
            fill: $segment-medium-app;
          }

          &:hover {
            background: transparent;
            border-color: transparent;
            transform: scale(1.2);
          }
        }
      }
    }

    .web-chat-connect {
      margin: 16px 24px 16px 0;
    }

    .submit-message {
      background: transparent;
      color: $slate;

      &:hover {
        background: $slate;
        color: white;
      }
    }
  }

  // Message and reply interface
  .message-interface {
    .customer-reply,
    .agent-reply {
      animation: fadeInSageChat 0.3s ease forwards;
      display: flex;
      opacity: 0;
      position: relative;
      margin-bottom: 32px;

      &:last-child {
        margin-bottom: 0px;
      }

      &:before {
        border-top: 10px solid transparent;
        bottom: 0;
        content: '';
        height: 0px;
        position: absolute;
        width: 0px;
      }

      &:after {
        background: white;
        border-radius: 50%;
        bottom: 0px;
        content: '';
        height: 22px;
        position: absolute;
        width: 13px;
      }
    }

    .message-reply {
      display: inline-block;
      font-size: 14px;
      line-height: 21px;
      max-width: 70%;
      padding: 8px 16px;
      position: relative;

      .time-stamp {
        bottom: -20px;
        color: $black-55;
        font-size: 12px;
        left: 16px;
        position: absolute;
        min-width: 50px;
      }
    }

    .customer-reply {
      justify-content: flex-end;

      &:before {
        border-left: 8px solid mix($slate, white, 5);
        right: -8px;
      }

      &:after {
        right: -13px;
      }

      .message-reply {
        background: mix($slate, white, 5);

        .time-stamp {
          left: auto;
          right: 16px;
        }
      }
    }

    .agent-reply {
      justify-content: flex-start;

      &:before {
        border-right: 8px solid mix($segment-medium-app, black, 80);
        left: -8px;
      }

      &:after {
        left: -13px;
      }

      .message-reply {
        background: mix($segment-medium-app, black, 80);
        color: white;
      }
    }
  }

  .confirm-dialog {
    background: rgba($slate-shade-60, .6);
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

    &.visible {
      display: flex;
    }

    .confirm-content {
      background: white;
      box-shadow: $shadow-depth-2;
      margin: auto;
      padding: 24px;
      max-width: 90%;

      .confirm-title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 16px;
      }

      .download-transcript {
        display: block;
        margin-bottom: 24px;
      }
    }

    .confirm-actions {
      text-align: right;
    }
  }
}







.live-chat-dialog {
  // Web chat loading
  &.web-chat-loading {
    .connecting-message {
      display: block;
    }

    .loading {
      display: block;
    }

    .info-collect,
    .connect-options,
    .notconnected-message {
      display: none;
    }
  }

  // End session by agent
  &.web-chat-end-session {
    .footer .reply-container {
      opacity: 0.5;
    }
  }

  // Web chat connected
  &.web-chat-connected {
    .loading,
    .connecting-message {
      display: none;
    }

    .first-reply {
      animation: fadeInSageChat 0.3s ease forwards 1s;
      opacity: 0;
    }

    .reply-container {
      background: mix($slate, white, 5);
      display: flex;
      position: relative;

      .chat-end-trigger {
        color: rgba(black, 0.2);
        cursor: pointer;
      }
    }

    .connected-message,
    .chat-message-container {
      display: block;
    }

    .notconnected-message,
    .info-collect,
    .connect-options {
      display: none;
    }
  }

  // Web chat queued
  &.web-chat-queued {
    .loading {
      display: none;
    }

    .connecting-message .spinner {
      display: inline-block;

      .bounce {
        background-color: white;
      }
    }

    .in-queue {
      display: block;
    }
  }

  // Prompt to use web chat
  &.live-chat-prompt {
    .want-to-chat {
      display: flex;
    }

    .info-collect,
    .live-chat-footer,
    .main-header {
      display: none;
    }
  }
}
