---
layout: default
secondary_menu_id: actions
primary_menu_id: mobile
title: Contextual Actions
summary: iOS and Android patterns for contextual actions.
tags: mobile, actions, toolbars, FAB
---

<p class='summary'>{{ page.summary }}</p>
<div class='container'>
  <p>There are three areas of the screen where we can place contextual actions: the top, bottom and inline with content.</p>
  <p> Top bars, Toolbars, and Bottom Bars should never appear together in the same view.</p>
  <p>Only show these options on general screens, overviews and lists, and hide them in detailed views.</p>
  <h2>Top Bars</h2>
  <p>Known as <span class='emphasis-term'>NavBars</span> on iOS, this area has low usability as it’s harder to reach. Therefore, it’s a safe place for destructive actions like deletion, or for those that affect content, like edit, cancel, and save.</p>
  <p>Placing these actions here makes it less likely that the user tapped them accidentally or without thinking.</p>
  <p>“A tab bar lets the user switch quickly between different sections of an app, such as the Alarm, Stopwatch, and Timer tabs in the Clock app." (<a href='https://developer.apple.com/design/human-interface-guidelines/ios/bars/toolbars/' target='_blank'>Human Interface Guidelines, 2018</a>)</p>
  <h2>Bottom Bars and Toolbars</h2>
  <p>Known as <span class='emphasis-term'>Toolbars</span> on iOS, and <span class='emphasis-term'>Bottom App Bars</span>, <span class='emphasis-term'>Floating Action Buttons (FABs)</span>, or <span class='emphasis-term'>Extended FABs</span> on Android.</li>
  </ul>
  <p>This area has low usability, and it’s harder to reach; therefore it’s a safe place for critical actions like deletion, or for those that affect the content of the view like edition.</p>
  <p>That’s why cancel and save buttons usually are placed on top of the screen. They guarantee that there was a clear purpose of tapping on those buttons. Instead, a more usable spot for them might cause unwanted actions to perform.</p>
  <img class='screenshots' src='/visuals/mobile/contextual-actions/topbar-actions.png' alt='Actions on topbars example' />
  <h2>Actions on BottomBars and Toolbars</h2>
  <ul class='standard-list'>
    <li class='content-bullet'>Known as <span class='emphasis-term'>Toolbars</span> in iOS platform.</li>
    <li class='content-bullet'>In Android we can found: <span class='emphasis-term'>Bottom App Bars</span> and also <span class='emphasis-term'>FABs</span> and <span class='emphasis-term'>Extended FABs</span>.</li>
  </ul>
  <p> “A toolbar appears at the bottom of an app screen and contains buttons for performing actions relevant to the current view or content within it.”  (<a href='https://developer.apple.com/design/human-interface-guidelines/ios/bars/toolbars/' target='_blank'>Human Interface Guidelines, 2018</a>)</p>
  <p>BottomBars are something relatively new in the Material Design World. But it works quite well in the platform. The FAB has on many occasions have been used to trigger different actions that contextual to the active screen. So the concept hasn’t changed that much, especially with the new Extended FAB, which it’s a bridge between a BottomBar and a FAB. (<a href='https://material.io/design/components/app-bars-bottom.html#behavior' target='_blank'>Material Design Guidelines, 2018</a>)
  </p>
  <p>What’s it’s important to be clear on it’s that this area of the screen it’s very handy and it’s very convenient for quick actions.</p>
  <img class='screenshots' src='/visuals/mobile/contextual-actions/toolbar-actions.png'/>
  <h2>Actions in line with content</h2>
  <p> It’s a good option but would depend very much on the use case and context. Just respect how actions have been trigger across your app. Apple uses this solution sparingly, but there are several examples on their native apps. </p>
  <img class='screenshots' src='/visuals/mobile/contextual-actions/inline-actions.png'/>
  <br>
  <h2>Tips</h2>
  <h3>Usage of TabBars and BottomBars </h3>
  <p> Tab bars and ToolBars or BottomBars never appear together in the same view.</p>
  <p>The recommended approach, it’s to only show the tab on the general screens as overviews and list and to hide it in detailed views.</p>
  <p>“A tab bar lets the user switch quickly between different sections of an app, such as the Alarm, Stopwatch, and Timer tabs in the Clock app. A toolbar contains buttons for performing actions related to the current context, like creating an item, deleting an item, adding an annotation, or taking a photo." (<a href='https://developer.apple.com/design/human-interface-guidelines/ios/bars/toolbars/' target='_blank'>Human Interface Guidelines, 2018</a>)</p>
  <h3>More actions</h3>
  <p>When there isn’t enough space to place all actions overtly on the screen:</p>
  <ul class='standard-list'>
    <li>iOS recommend using the text label “Actions” to trigger an Action Sheet containing all actions. Sage has direct feedback from Apple that we shouldn't use the 'action sheet' icon, since it's mistaken for a 'share' icon.</li>
    <li>An icon with an ellipsis (three dots) and a floating menu is the standard for Android.</li>
  </ul>
</div>
