---
layout: default
secondary_menu_id: components
primary_menu_id: mobile
title: Component Library
summary: Native componentry for iOS and Android.
tags: iOS, Android, standard, standards, HIG, component, components, library, libraries, sketch
---

<p class='summary'>{{ page.summary }}</p>
<div class="system-message info-message">
  <div class='system-message-title'>Accessibility</div>
  <div class='system-message-body'>WCAG 2.1 includes requirements aimed at <a href='/foundations/accessibility#accessibility-mobile'>native mobile</a>.</div>
</div>
<div class='container'>
  <p>Sage's native mobile component libraries contain building blocks to help you create native mobile apps that look and feel part of Sage. All components are created as reusable 'symbols' - this will help save you time and achieve consistency. The libraries contain:</p>
  <ul class='standard-list'>
    <li>Native components, themed to meet DLS principles and foundation.</li>
    <li>Custom components - coming in future.</li>
  </ul>
</div>
<div class='container'>
  <h2>Native iOS for Sage</h2>
  <p>Download the Sketch Library v0.1 for iOS iPhone 8:</p>
  <ul class='standard-list'>
    <li><div class='dls-icon-link'><a href='/downloads/mobile/DLSMobile_iOSTheme_SmallBzz_iOS11_iphone8.sketch' class='link generic-biz' target='_blank'><span>Small Business</span><i class="icon icon-pdf"></i></a></div></li>
    <li><div class='dls-icon-link'><a href='/downloads/mobile/DLSMobile_iOSTheme_MediumBzz_iOS11_iphone8.sketch' class='link generic-biz' target='_blank'><span>Medium Business</span><i class="icon icon-pdf"></i></a></div></li>
    <li><div class='dls-icon-link'><a href='/downloads/mobile/DLSMobile_iOSTheme_LargeBzz_iOS11_iphone8.sketch' class='link generic-biz' target='_blank'><span>Large Business</span><i class="icon icon-pdf"></i></a></div></li>
  </ul>
  <p>For guidance on how best to apply native iOS componentry, see <a href='https://developer.apple.com/design/human-interface-guidelines/ios/overview/themes/' target='_blank'>Apple's Human Interface Guidelines</a>.</p>
  <p>A library for iPhone X is coming soon.</p>
  <img class="screenshot" src="/visuals/mobile/library/ios-library.png">
</div>
<div class='container'>
  <h2>Native Android for Sage</h2>
  <p>Download the Sketch Library v0.1 for Android Phone:</p>
  <ul class='standard-list'>
    <li><div class='dls-icon-link'><a href='/downloads/mobile/DLSMobile_ANDTheme_SmallBizz.sketch' class='link generic-biz' target='_blank'><span>Small Business</span><i class="icon icon-pdf"></i></a></div></li>
    <li><div class='dls-icon-link'><a href='/downloads/mobile/DLSMobile_ANDTheme_MediumBizz.sketch' class='link generic-biz' target='_blank'><span>Medium Business</span><i class="icon icon-pdf"></i></a></div></li>
    <li><div class='dls-icon-link'><a href='/downloads/mobile/DLSMobile_ANDTheme_LargeBizz.sketch' class='link generic-biz' target='_blank'><span>Large Business</span><i class="icon icon-pdf"></i></a></div></li>
  </ul>
  <p>This library is also suitable for responsive tablet.</p>
  <p>For guidance on how best to apply native Android componentry, see <a href='https://material.io/design/guidelines-overview/' target='_blank'>the Material Design Guidelines</a>.</p>
  <img class="screenshot" src="/visuals/mobile/library/and-library.png">
</div>
<div class='container'>
  <h2>Designing with Libraries</h2>
  <p>To design with the Sketch libraries:</p>
  <ol class='standard-list'>
    <li><a href='https://www.sketchapp.com/get/' target='_blank'>Download Sketch</a> if you don't already have it. <a href='mailto:ben.wilson@sage.com'>Ben</a> can provide a license.</li>
    <li>Download the library files above.</li>
    <li>Open a library with Sketch, and choose 'File > Add as Library'.</li>
    <li>You can then create components by browsing from the '+' button at the top left of Sketch's menu bar.</li>
  </ol>
  <p>When we update the libraries in future, just download the new file, and rename it to the same as the original. Sketch will then ask you if you'd like to update the symbols when you open old documents, so you always have a single up-to-date library, and control how updates to components take place.</p>
</div>
<div class='container'>
  <h2>Native Mobile and Colour</h2>
  <p>Make sure that you choose the right accent colour for your product in the Sketch libraries. For more info, see the <a href='/foundations/colour/'>Foundation on Colour</a>.</p>
</div>
