---
layout: default
secondary_menu_id: create
primary_menu_id: mobile
title: Create Patterns
summary: iOS and Android patterns for creating items - the plus icon, or FAB button.
tags: iOS, Android, standard, standards, HIG, create, creation, fab, floating action button, plus
---

<p class='summary'>{{ page.summary }}</p>
<div class='container'>
  <p>Is your mobile app for content consumption, or content creation? Understanding the user needs you'd like to fulfil first will help in your choice of a pattern for creating items.</p>
  <h2>iOS</h2>
  <p>The creation trigger for iOS apps is usually a '+' icon in the navigation bar, for example, Apple's Calendar app.
  Normally this icon triggers an action sheet that displays all artefacts that can be created. We recommend that the action sheet is sensitive to the user's context.</p>
  <p>If creating items is of prime importance in a user's context, then the '+' icon may not offer the most discoverable and usable solution. The user will also need to stretch their thumb to tap on it. A proposed solution is to move the trigger to the bottom of the screen, placing it in a toolbar. A label could be used instead of an icon. Apple's Email app is an example of this.</p>
  <h2>Android</h2>
  <p>The Floating Action Button (FAB) has become the standard across the Android platform - a shortcut to the most relevant action in a given context. A FAB should always trigger the most important action, that might not be exclusively creating something.</p>
  <p>In the <a href='https://material.io/design/components/buttons-floating-action-button.html' target='_blank'>latest Material Design update</a> on May 2018, Google demonstrated how a FAB can be adapted, introducing 'mini FAB' and 'extended FAB' concepts.</p>
  <ul class='standard-list'>
    <li>Don't place a FAB on every screen of your app - be mindful of the goal of a specific screen to decide whether to include one.</li>
    <li>A FAB can trigger an overlay with contextual actions - we recommend labelling the actions.</li>
    <li>Be consistent in how you use FABs across your app.</li>
  </ul>
  <img class='screenshots' src='/visuals/mobile/create/creation.png'/>
</div>
