---
# Feel free to add content and custom Front Matter to this file.
# To modify the layout, see https://jekyllrb.com/docs/themes/#overriding-theme-defaults

layout: default
secondary_menu_id: errors
primary_menu_id: mobile
title: Errors, Validation
summary: I need to understand the source, and solution to an error that stops me continuing.
tags: moible, native, iOS, Android, errors, validation, error, errors, warning, warnings, inline, message, messages, prevention
---

<p class='summary'>{{ page.summary }}</p>
<div class="container">
  <p>On the Patterns section, there is guidance on how to consider which option is the best for your users. There are some recommendations done for mobile responsive that can be applied for native mobile too.</p>
  <p>This page condense the recommendations for mobile native.</p>
  <h2>Prefered method: Inline, on loss of focus</h2>
  <ul class="standard-list">
    <li>Validate when a field loses focus.</li>
    <li>The user can make a correction, or come back to the error before submitting.</li>
    <li>f a user submits the form when errors are present, then show an additional message at the top of the container or page.</li>
  </ul>
  <h3>Alternatives</h3>
  <ul class="standard-list">
    <li><span class="emphasis-term">Inline, on submit only:</span> It’s ok on smaller screens, easier to find fields with errors, while a modal feels too interruptive.</li>
    <li><span class="emphasis-term">Modal, on submit:</span> Include a modal dialogue if a larger explanation is needed.</li>
  </ul>
  <p>Feel free to check the guidance the Errors, Validation general site, it will be a great help, but make sure you check the parts that specify about mobile responsive/adaptative which are also valid for native mobile (only for this section). </p>
  <ul class="standard-list">
    <li>For mobile, errors that show on hover or focus won’t work. So, we can place error messages overtly on the page instead.</li>
    <li>Rather than leaving gaps for potential error messages, we recommend making room by animating the field position when the error occurs. This might vary when using Material Design native text inputs.</li>
    <li>Since the screens are smaller, the effect of animating in additional elements isn’t as distracting.</li>
  </ul>
  <p>Chenk the <a href='https://designsystem.sage.com/patterns/errors-validation/'> Errors, Validation</a> section in the main patterns section.</p>
  <img class='screenshot' src="/visuals/mobile/errors-validation/inline-lossfocus.png">
  <img class='screenshot' src="/visuals/mobile/errors-validation/inline-onsubmit.png">
</div>
