---
layout: default
secondary_menu_id: mobile-header-bar
primary_menu_id: mobile
title: Header Bar
summary: iOS and Android patterns for quick access to navigation and contextual actions, from the header.
tags: iOS, Android, standard, standards, HIG, component, components, header, top, bar, navigation, layout
---

<p class='summary'>{{ page.summary }}</p>

<div class='container'>
  <ul class="standard-list">
   <li class='content-bullet'> <span class='emphasis-term'>Light mode</span> Accent colour for interactions and white background.</li>
   <li class='content-bullet'> <span class='emphasis-term'>Dark mode</span>  Accent colour as background and white for items on it.</li>
 </ul>
</div>
<div class='container'>
  <h3>Android</h3>
  <p>Light or Dark Mode.</p>
  <img class='screenshots' src='/visuals/mobile/header/AND-Navbar01.png'/>
  <img class='screenshots' src='/visuals/mobile/header/AND-Navbar02.png'/>
</div>
<div class='container'>
  <h3>iOS</h3>
  <p>Only light mode recommended.</p>
  <p>On the conversation that the mobile team had with Apple designers we gathered this tips:</p>
  <ul class="standard-list">
    <li class="content-bullet">Large top headers to be used only on root screens.</li>
    <li class="content-bullet">Always help the users to know where he is either by providing context on the Back action button or by more explicative title on the nav bar (consider using two lines on the title). </li>
  </ul>
  <img class='screenshots' src='/visuals/mobile/header/ios-header.png'/>
  <img class='screenshots' src='/visuals/mobile/header/ios-header-x.png'/>
</div>
<h3>Large header</h3>
<p>Using a large header generates a different template on the screen. It clearly divides the screen into two areas. Top area contains the reference information, which needs to be seen first glance. Whilst the bottom area it’s ready for the interaction, actions, list, etc.</p>
<ul class='standard-list'>
  <li class='content-bullet'>This is a custom component.</li>
  <li class='content-bullet'>Suitable for heavy screens that needs lightening.</li>
  <li class='content-bullet'>If the user scrolls, the header readjust itself to fit in the same space that a regular header with a smooth transition.</li>
</ul>
<img class='screenshots' src='/visuals/mobile/header/iOS-LargeHeader01.png'/>
