---
layout: default
secondary_menu_id: navigation
primary_menu_id: mobile
title: Navigation
summary: iOS and Android patterns for navigation - perhaps the most important patterns of all.
tags: iOS, Android, standard, standards, HIG, component, components, hamburger, nav, navigation, primary nav, primary navigation, IA, information architecture, bottom nav, left nav, layout
---

<p class='summary'>{{ page.summary }}</p>
<div class='container'>
  <h2>Avoid Hamburger Menus</h2>
  <p>Try to avoid hamburger menus - studies conclude that "discoverability is cut almost in half by hiding a website’s main navigation. Also, task time is longer and perceived task difficulty increases." (<a href='https://www.nngroup.com/articles/hamburger-menus/' target='_blank'>Nielsen, 2016</a>)</p>
</div>
<div class='container'>
  <h2>Use Tab Bars Instead</h2>
  <p>Tab Bars are ergonomic, consistent and related, and should be used for top-level destinations that need to be quickly accessible (<a href='https://material.io/design/components/bottom-navigation.html' target='_blank'>Google, 2018</a>). This helps in maintaining the focus on a limited range of features which is, after all, more mobile friendly.</p>
  <p>Tab bars and toolbars never appear together in the same view (<a href='https://developer.apple.com/design/human-interface-guidelines/ios/bars/tab-bars/' target='_blank'>Apple, 2018</a>):</p>
  <ul class='standard-list'>
    <li><span class='emphasis-term'>A tab bar</span> lets the user switch quickly between different sections of an app, such as the Alarm, Stopwatch, and Timer tabs in the Clock app.</li>
    <li><span class='emphasis-term'>A toolbar</span> contains buttons for performing actions related to the current context, like creating an item, deleting an item, adding an annotation, or taking a photo.</li>
  </ul>
  <img class='screenshots' src='/visuals/mobile/navigation/tabbars.png'/>
</div>
<div class='container'>
  <h3>Tab Bar Guidance</h3>
  <ul class='standard-list'>
    <li>Use between three and five tabs with similar importance.</li>
    <li>Each additional tab reduces the tappable area for selecting a tab, and increases the complexity of your app, making it harder to locate information (<a href='https://developer.apple.com/design/human-interface-guidelines/ios/bars/tab-bars/' target='_blank'>Apple, 2018</a>).</li>
    <li>A 'More' tab could be potentially used for adding extra options. But, use cautiously because it reduces the main benefit: velocity.</li>
    <li>Native platform guidelines recommend text labels. Be careful to handle long words and translations elegantly. Truncation is not recommended.</li>
    <li>If a tab is unavailable, don’t remove it. Instead, use content to explain why a tab's content isn't available, and focus the user on how to fix the problem.</li>
    <li>Tabs are hidden when a keyboard is displayed.</li>
  </div>

