---
layout: default
secondary_menu_id: typography
primary_menu_id: mobile
title: Text and Font
summary: Use Apple's SF Pro, and Google's Roboto for native mobile.
tags: iOS, Android, standard, standards, HIG, text, font, typography, type, lettering, character, line, kerning, alignment, line height, font weight, font color, font colour, font size, Adelle, Open Sans
---

<p class='summary'>{{ page.summary }}</p>

<div class='container'>
  <p>Use Adelle Sans Sage sparingly for marketing purposes only. In all other cases, use native typographies and type scales, because:</p>
  <ul class="standard-list">
    <li class='content-bullet'>They adjust to accessibility settings.</li>
    <li class='content-bullet'>They support every language.</li>
    <li class='content-bullet'>They're designed to work better with native components.</li>
  </ul>
</div>
<div class='container'>
  <h2>Apple's iOS - use SF Pro Display and SF Pro Text</h2>
  <p>These are siblings fonts with differences in the negative space between letters aiming for greater readability. Use SF Pro Display for titles or other big text (>20pt) and use SF Pro Text for smaller text ( less than 19pt).</p>
  <div class='dls-icon-link'><a href='https://developer.apple.com/design/human-interface-guidelines/ios/visual-design/typography/' class='link generic-biz' target='_blank'><span>More about SF Pro</span><i class="icon icon-link"></i></a>
  </div>
</div>
<div class='container'>
  <h2>Google's Android - use Roboto</h2>
  <div class='dls-icon-link'><a href='https://material.io/design/typography/the-type-system.html#type-scale' class='link generic-biz' target='_blank'><span>More about Roboto</span><i class="icon icon-link"></i></a>
  </div>
</div>
