---
layout: default
secondary_menu_id: content-structure
primary_menu_id: content
title: Structuring Content
---

<p class="summary">The ordering of ideas is crucial to making them easily understood. Here we offer guidance on how to best structure your content.</p>
<h2>General advice</h2>

<ul class="standard-list">
  <li>Think carefully about a placement that ranges from Title > Summary > Headings > Subheadings and section copy in terms of hierarchical importance.</li>
  <li>Place the most important information in earlier places rather than later ones.</li>
</ul>

<h3>Sentences / Paragraphs / Pages</h3>

<ul class="standard-list">
  <li>The length of sentences should be such that they can easily be absorbed on a quick scan the general principle of ‘one thought, one sentence’ helping reduce the cognitive load.</li>
  <li>In general, keep paragraphs short and focussed on one topic.</li>
  <li>Keep text length on a page to a minimum, split topics into logical pages/chunks.</li>
  <li>Remember that long sentences are harder work for users to comprehend so aim for shorter wherever practicable. </li>
</ul>

<h3>Assistive / inline help</h3>
<ul class="standard-list">
  <li>Use embedded suggestions/explanations presented at the point of need (Add to places consistently, Label consistently). Examples might include a tooltip or a callout dialog. These should be used sparingly so as not to interrupt flow.</li>
  <li>By providing contextual help we ensure users are able to find suitable materials at a logical point in the flow and can progress without being impeded.</li>
  <li>Understand the most appropriate point to interrupt the flow (ie. Carefully consider appropriate points for a pause, and ensure suitable separation from content).</li>
</ul>

<h3>Headings</h3>

<ul class="standard-list">
  <li>Use headings to split up / chunk text to aid navigation and aid comprehension.</li>
  <li>Ensure that headings make sense in isolation and are applied in a logical fashion (sequential, consecutive etc.)</li>
  <li>Headings should always make sense in isolation and not completing part of a preceding umbrella sequence. Making these conversational phrases can help make the language more approachable and aid understanding. Don’t use gerunds or questions. Use an action verb instead.</li>
</ul>

<h3>Page Titles</h3>

<ul class="standard-list">
  <li>When producing page Titles make sure these are not longer than 65 characters, are unique, clear and descriptive.</li>
  <li>Ensure these are front-loaded and optimised for search. Break up longer titles with colons. Do not use dashes or slashes. Avoid acronyms where possible. Show how headings can be used to dial up tone based on these articles.</li>
  <li>Ensure the user is put squarely at the front and centre of the experience by focussing on the task the user wishes to perform.</li>
</ul>

<h3>Code</h3>

<ul class="standard-list">
  <li>When code is presented it should be distinct from the surrounding text and easily copied, pasted, editable. Put as few barriers in the way of the user being able to manipulate (and ideally see the effects of manipulation) and then export any resulting code.</li>
</ul>
