---
layout: default
secondary_menu_id: content-style
primary_menu_id: content
title: Style
---

<p class="summary">Here we offer advice on maintaining a consistent style across Sage Business Cloud.</p>

<h2>Capitalisation</h2>

<ul class="standard-list">
<li>Use sentence capital case in headlines and subheads. Use lowercase even in page titles.</li>
</ul>

<p>One of the gradual changes in the ‘look and feel’ of documents, both on paper and online, has been reduction in the use of capital letters. This gives pages an uncluttered feel, as well as supporting informality.</p>

<p>The RNIB guidelines for writing for the web are explicit about capitals: Capitals used for whole phrases, sentence and paragraphs can be difficult to read for some users (the shapes of the lower case letters are easier to see) and, in the context of online communication, whole words in capitals appear TO BE VERY LOUD, creating the feeling of being shouted at.</p>

<p>There has been a gradual move since the 1970s towards limiting initial capital letters to the first word and proper nouns only for headings and titles.</p>

<p>Using initial capitals for all important words in a title looks old fashioned. Use sentence case everywhere else.</p>

<h2>Punctuation</h2>

<ul class="standard-list">
  <li>Use normal punctuation rules when it comes to lists. Take a minimal approach elsewhere.</li>
  <li>Do not end each list item with a comma or a full-stop.</li>
  <li>Use commas, colons etc. minimally, and only where they serve to make absolute sense.</li>
</ul>

<h2>British or American English</h2>

<ul class="standard-list">
  <li>Use consistently and be mindful of differences.</li>
</ul>

<h2>How we describe interactions with UI</h2>

<ul class="standard-list">
  <li>Use consistent language to describe actions and the action being performed. Ensure these are always used to represent like actions.</li>
  <li>Always use similar methods in similar scenarios to help the reader understand the mechanics of the flow.</li>
  <li>Don’t refer to the location of items on a page (eg. below, following, above, below etc.). Responsive grids (and changes) can mean these change.</li>
  <li>In error messages/walkthroughs you can be more specific if you know a user has clearly missed the location of a button/control by pointing this out.</li>
</ul>
