<div class="global-search">
  <div class="global-search-input-container">
    <input type="text" id="search-box" name="query" autocomplete="off" class="search-box" placeholder="I am searching for...">
  </div>
  <div id="search-results"></div>
</div>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/vendor/granim.min.js"></script>
<script type="text/javascript" src="/js/general.js"></script>
<script src="https://unpkg.com/lunr/lunr.js"></script>
<script src="/js/search.js"></script>
<script src="/js/carousel.js"></script>
<script type="text/javascript" src="/js/table.js"></script>
<script type="text/javascript" src="/js/live_chat.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.8/lib/draggable.bundle.js"></script>
<script type="text/javascript" src="/js/sortable.js"></script>
