<div class="header-segment-left">
  <div class="primary-nav-area">{{ page.primary_menu_id }}</div>
  <h1>{{ page.title }}</h1>
</div>
<div class="header-segment-right">
  {% if page.sketch_file %}
    <div class="download-file">
      <a href="{{ page.sketch_file }}" target="_blank" class="dls-button size-small business-generic secondary"><span>Sketch File v{{ page.sketch_file_version }}</span> <i class="icon icon-download"></i></a>
    </div>
  {% endif %}
</div>
