<div class="header">
  <a href="/" class="logo-container">
    <img src="/visuals/sage-logo.svg" alt="Sage Logo" class="sage-logo" /><span class="text-logo">Design System</span>
  </a>

  <div class="action-global-search"><i class="icon icon-search"></i></div>
</div>

