
  <div class='navigation-container'>
    <ul class="primary-menu">
      <li class="selected" data-target-menu="menu-foundations">Foundations</li>
      <li data-target-menu="menu-components">Components</li>
      <li data-target-menu="menu-patterns">Patterns</li>
      <li data-target-menu="menu-content">Content</li>
      <li data-target-menu="menu-salesforce">Salesforce</li>
      <li data-target-menu="menu-mobile">Mobile</li>
      <li data-target-menu="menu-windows">Windows</li>
      <li data-target-menu="menu-community">Community</li>
    </ul>
    <ul class='secondary-menu' id='menu-foundations'>
      <li class='menu-foundations-summary'><a href='/foundations/'>Summary</a></li>
      <li class='menu-principles'><a href='/foundations/principles/'>Design Principles</a></li>
      <li class='menu-accessibility'><a href='/foundations/accessibility/'>Accessibility</a></li>
      <li class='menu-colour'><a href='/foundations/colour/'>Colour</a></li>
      <li class='menu-cursor'><a href='/foundations/cursor/'>Cursor, Selection</a></li>
      <li class='menu-grid'><a href='/foundations/grid/'>Grid System</a></li>
      <li class='menu-icons'><a href='/foundations/icons/'>Icons</a></li>
      <li class='menu-illustration'><a href='/foundations/illustration/'>Illustration</a></li>
      <li class='menu-logo'><a href='/foundations/logo/'>Logo</a></li>
      <li class='menu-shadows'><a href='/foundations/shadows/'>Shadows, Depth</a></li>
      <li class='menu-spatial'><a href='/foundations/spatial/'>Spatial Markup</a></li>
      <li class='menu-text-font'><a href='/foundations/text-font/'>Text, Font</a></li>
    </ul>
    <ul class='secondary-menu' id='menu-components'>
      <li class='menu-components-summary'><a href='/components/'>Summary</a></li>
      <li class='menu-accordions'><a href='/components/accordions/'>Accordions</a></li>
      <li class='menu-action-popovers'><a href='/components/action-popovers/'>Action Popovers</a></li>
      <li class='menu-button-bar'><a href='/components/button-bar/'>Button Bars</a></li>
      <li class='menu-button-toggle'><a href='/components/button-toggle/'>Button Toggle</a></li>
      <li class='menu-buttons'><a href='/components/buttons/'>Buttons</a></li>
      <li class='menu-cards-tiles'><a href='/components/cards-tiles/'>Cards, Tiles</a></li>
      <li class='menu-carousel'><a href='/components/carousel/'>Carousels</a></li>
      <li class='menu-checkboxes'><a href='/components/checkboxes/'>Checkboxes</a></li>
      <li class='menu-datepicker'><a href='/components/datepicker/'>Date Pickers, Time</a></li>
      <li class='menu-date-range'><a href='/components/date-range/'>Date Ranges</a></li>
      <li class='menu-decimal-inputs'><a href='/components/decimal-inputs/'>Decimals, Currency</a></li>
      <li class='menu-dialogs'><a href='/components/dialogs/'>Dialogs</a></li>
      <li class='menu-dropdowns'><a href='/components/dropdowns/'>Dropdowns</a></li>
      <li class='menu-fieldsets'><a href='/components/fieldsets/'>Fieldsets, Addresses</a></li>
      <li class='menu-flashes'><a href='/components/flashes/'>Flashes</a></li>
      <li class='menu-full-screen-dialogs'><a href='/components/full-screen-dialogs/'>Full Screen Dialogs</a></li>
      <li class='menu-global-search-bar'><a href='/components/global-search-bar/'>Global Search Bar</a></li>
      <li class='menu-header'><a href='/components/header/'>Header Bar</a></li>
      <li class='menu-links'><a href='/components/links/'>Links</a></li>
      <li class='menu-messages'><a href='/components/messages/'>Messages</a></li>
      <li class='menu-multi-action-buttons'><a href='/components/multi-action-buttons/'>Multi-action Buttons</a></li>
      <li class='menu-navigation'><a href='/components/navigation/'>Navigation</a></li>
      <li class='menu-number-inputs'><a href='/components/number-inputs/'>Number Inputs</a></li>
      <li class='menu-pills-badges'><a href='/components/pills-badges/'>Pills, Badges</a></li>
      <li class='menu-punctuated-inputs'><a href='/components/punctuated-inputs/'>Punctuated, Masked Inputs</a></li>
      <li class='menu-radios'><a href='/components/radios/'>Radio Buttons</a></li>
      <li class='menu-sidebar'><a href='/components/sidebar'>Sidebars</a></li>
      <li class='menu-spinners'><a href='/components/spinners/'>Spinners, Loading</a></li>
      <li class='menu-split-buttons'><a href='/components/split-buttons/'>Split Buttons</a></li>
      <li class='menu-step-flows'><a href='/components/step-flows/'>Step Flows</a></li>
      <li class='menu-switches'><a href='/components/switches/'>Switches</a></li>
      <li class='menu-tables'><a href='/components/tables/'>Tables</a></li>
      <li class='menu-tabs'><a href='/components/tabs/'>Tabs</a></li>
      <li class='menu-text-inputs'><a href='/components/text-inputs/'>Text Inputs</a></li>
      <li class='menu-textareas'><a href='/components/textareas/'>Textareas</a></li>
    </ul>
    <ul class='secondary-menu' id='menu-content'>
      <li class='menu-content-summary'><a href='/content/'>Summary</a></li>
      <li class='menu-content-principles'><a href='/content/principles/'>Content Principles</a></li>
      <li class='menu-content-voice-and-tone'><a href='/content/voice-and-tone/'>Voice &amp; Tone</a></li>
      <li class='menu-content-words'><a href='/content/words/'>Words</a></li>
      <li class='menu-content-advice-for-writing'><a href='/content/advice-for-writing/'>Advice for Writing</a></li>
      <li class='menu-content-writing-content-types'><a href='/content/writing-content-types/'>Writing Content Types</a></li>
      <li class='menu-content-structuring-content'><a href='/content/structuring-content/'>Structuring Content</a></li>
      <li class='menu-content-style'><a href='/content/style/'>Style</a></li>
    </ul>
    <ul class='secondary-menu' id='menu-patterns'>
      <li class='menu-patterns-summary'><a href='/patterns/'>Summary</a></li>
      <li class='menu-connect-bank'><a href='/patterns/connect-bank'>Connect a Bank</a></li>
      <li class='menu-ipd-notifications'><a href='/patterns/discovery-sidebar'>Discovery Sidebar</a></li>
      <li class='menu-ipd-tooltips'><a href='/patterns/discovery-tooltips'>Discovery Tooltips</a></li>
      <li class='menu-empty-states'><a href='/patterns/empty-states'>Empty States</a></li>
      <li class='menu-errors-validation'><a href='/patterns/errors-validation/'>Errors, Validation</a></li>
      <li class='menu-ftu'><a href='/patterns/ftu'>First Time Use</a></li>
      <li class='menu-forms'><a href='/patterns/forms/'>Forms</a></li>
      <li class='menu-help-tooltips'><a href='/patterns/help-tooltips/'>Help, Tooltips</a></li>
      <li class='menu-hero-banners'><a href='/patterns/hero-banners/'>Hero Banners</a></li>
      <li class='menu-live-chat'><a href='/patterns/live-chat'>Live Chat</a></li>
      <li class='menu-product-compare'><a href='/patterns/product-compare/'>Product Comparison</a></li>
      <li class='menu-timeline'><a href='/patterns/timeline'>Timeline</a></li>
    </ul>
    <ul class='secondary-menu' id='menu-salesforce'>
      <li class='menu-salesforce-summary'><a href='/salesforce/'>Summary</a></li>
    </ul>
    <ul class='secondary-menu' id='menu-mobile'>
      <li class='menu-mobile-summary'><a href='/mobile/'>Summary</a></li>
      <li class='menu-components'><a href='/mobile/components/'>Component Library</a></li>
      <li class='menu-create'><a href='/mobile/create/'>Create</a></li>
      <li class="menu-errors"><a href="/mobile/errors">Errors, Validation</a></li>
      <li class='menu-mobile-header-bar'><a href='/mobile/header-bar/'>Header Bar</a></li>
      <li class='menu-navigation'><a href='/mobile/navigation/'>Navigation</a></li>
      <li class='menu-actions'><a href='/mobile/actions/'>Contextual Actions</a></li>
      <li class='menu-typography'><a href='/mobile/typography/'>Text, Font</a></li>
    </ul>
    <ul class='secondary-menu' id='menu-windows'>
      <li class='menu-windows-summary'><a href='/windows/'>Summary</a></li>
      <li class='menu-windows-appbar'><a href='/windows/app-bar/'>App bar</a></li>
      <li class='menu-windows-app-icons'><a href='/windows/app-icons/'>App icons</a></li>
      <li class='menu-windows-foundations'><a href='/windows/foundations/'>Foundations</a></li>
      <li class='menu-windows-interface'><a href='/windows/interface/'>Interface</a></li>
      <li class='menu-windows-navigation'><a href='/windows/navigation/'>Navigation</a></li>
      <li class='menu-windows-splash-screens'><a href='/windows/splash-screens/'>Splash Screens</a></li>
      <li class='menu-windows-wizards'><a href='/windows/wizards/'>Wizards</a></li>
    </ul>
    <ul class='secondary-menu' id='menu-community'>
      <li class='menu-community-backlog'><a href='/community/backlog'>Backlog</a></li>
      <li class='menu-community-propose-component'><a href='/community/propose-component'>Propose a Component</a><li>
      <!-- <li class='menu-community-extend-component'><a href='/community/extend-component'>Extend a Component</a><li> -->
    </ul>

  </div>
