---
layout: default
secondary_menu_id: illustration
primary_menu_id: foundations
title: Conceptual Benefit Illustrations
summary: Illustrations that represent key conceptual benefits.
tags: illustration, illustrations, benefit, benefits
---

<p class='summary'>{{ page.summary }}</p>

<div class='container'>
  <h2>Anywhere, Anytime</h2>
  <img class='small-illustration' src='/visuals/illustration-examples/conceptual-1.png' />
</div>
<div class='container'>
  <h2>Collaboration</h2>
  <img class='small-illustration' src='/visuals/illustration-examples/conceptual-2.png' />
</div>
<div class='container'>
  <h2>Compliance</h2>
  <img class='small-illustration' src='/visuals/illustration-examples/conceptual-3.png' />
</div>
<div class='container'>
  <h2>Security</h2>
  <img class='small-illustration' src='/visuals/illustration-examples/conceptual-4.png' />
</div>
<div class='container'>
  <h2>Simplicity</h2>
  <img class='small-illustration' src='/visuals/illustration-examples/conceptual-5.png' />
</div>
<div class='container'>
  <h2>Support</h2>
  <img class='small-illustration' src='/visuals/illustration-examples/conceptual-6.png' />
</div>
<div class='container'>
  <h2>GDPR Help</h2>
  <img class='small-illustration' src='/visuals/illustration-examples/conceptual-7.png' />
</div>
<div class='container'>
  <h2>GDPR Training</h2>
  <img class='small-illustration' src='/visuals/illustration-examples/conceptual-8.png' />
</div>
