---
layout: default
secondary_menu_id: illustration
primary_menu_id: foundations
title: Character Illustrations
summary: Illustrations that represent our customers themselves.
tags: illustration, illustrations, customer, customers, character, characters
---

<p class='summary'>{{ page.summary }}</p>

<div class='container'>
  <img class='small-illustration' src='/visuals/illustration-examples/character-1.png' />
  <img class='small-illustration' src='/visuals/illustration-examples/character-2.png' />
  <img class='small-illustration' src='/visuals/illustration-examples/character-3.png' />
  <img class='small-illustration' src='/visuals/illustration-examples/character-4.png' />
  <img class='small-illustration' src='/visuals/illustration-examples/character-5.png' />
</div>
