---
layout: default
secondary_menu_id: illustration
primary_menu_id: foundations
title: Compositions
summary: Illustrations that represent our customers and the settings in which they do business.
tags: illustration, illustrations, compositions
---

<p class='summary'>{{ page.summary }}</p>

<div class='container'>
  <img class='small-illustration' src='/visuals/illustration-examples/conceptual-1.png' />
</div>
