---
layout: default
secondary_menu_id: illustration
primary_menu_id: foundations
title: Device Illustrations
summary: Desktop, laptop, tablet and mobile device illustrations to frame your UI designs.
tags: illustration, illustrations, device, devices, desktop, laptop, mobile, tablet, frame, frames
---
<p class="summary">{{ page.summary }}</p>

<div class='container'>
  <img src='/visuals/illustration-examples/devices.png' />
</div>

<div class='container'>
  <h2>Download Device Illustrations</h2>
  <ul class='standard-list'>
    <li><div class='dls-icon-link'><a href='/visuals/illustration-examples/device-desktop.png' class='link generic-biz' target='_blank' download><i class="icon icon-pdf"></i><span>Desktop</span></a></div></li>
    <li><div class='dls-icon-link'><a href='/visuals/illustration-examples/device-laptop.png' class='link generic-biz' target='_blank' download><i class="icon icon-pdf"></i><span>Laptop</span></a></div></li>
    <li><div class='dls-icon-link'><a href='/visuals/illustration-examples/device-tablet.png' class='link generic-biz' target='_blank' download><i class="icon icon-pdf"></i><span>Tablet</span></a></div></li>
    <li><div class='dls-icon-link'><a href='/visuals/illustration-examples/device-mobile.png' class='link generic-biz' target='_blank' download><i class="icon icon-pdf"></i><span>Mobile</span></a></div></li>
    <li><div class='dls-icon-link'><a href='https://www.dropbox.com/s/tb14154zy0krmmv/Devices_FINAL.sketch?dl=0' class='link generic-biz' target='_blank' download><i class="icon icon-pdf"></i><span>All Devices (Sketch)</span></a></div></li>
  </ul>
</div>
