---
layout: default
secondary_menu_id: illustration
primary_menu_id: foundations
title: First Time Use Illustrations
summary: Illustrations developed specially for a first time use context.
tags: illustration, illustrations, first time use, ftu, onboarding
---

<p class="summary">{{ page.summary }}</p>

<div class='container'>
  <p>For more information on designing for a first time use context, see the pattern on <a href='/patterns/ftu/'>First Time Use</a>.</p>
</div>
<div class='container'>
  <h2>Products and Services</h2>
  <img class='small-illustration' src='/visuals/illustration-examples/ftu-1.png' />
</div>
<div class='container'>
  <h2>Advanced Setup</h2>
  <img class='small-illustration' src='/visuals/illustration-examples/ftu-2.png' />
</div>
<div class='container'>
  <h2>Connect your Bank</h2>
  <img class='small-illustration' src='/visuals/illustration-examples/ftu-3.png' />
</div>
<div class='container'>
  <h2>Create Invoices</h2>
  <img class='small-illustration' src='/visuals/illustration-examples/ftu-4.png' />
</div>
<div class='container'>
  <h2>You're on your way!</h2>
  <img class='small-illustration' src='/visuals/illustration-examples/ftu-5.png' />
</div>
<div class='container'>
  <h2>Get Paid Faster</h2>
  <img class='small-illustration' src='/visuals/illustration-examples/ftu-6.png' />
</div>
<div class='container'>
  <h2>Powerful Tools</h2>
  <img class='small-illustration' src='/visuals/illustration-examples/ftu-7.png' />
</div>
