---
layout: default
secondary_menu_id: illustration
primary_menu_id: foundations
title: Illustration Examples
summary: Examples of our fresh, vibrant, and unique illustration style.
tags: illustration, illustrations, character, composition, characters, compositions
---

<p class='summary'>{{ page.summary }}</p>

<div class="container container-flex flex-3">
  <div class="pod">
    <h2>Characters</h2>
    <p>Represent our customers themselves.</p>
    <div class="download-file">
      <a href="/foundations/illustration/characters/" class="dls-button size-small business-generic secondary">View</a>
    </div>
  </div>
  <div class="pod">
    <h2>Customer Segments</h2>
    <p>Represent a group of people - for example, developers, or large business customers.</p>
    <div class="download-file">
      <a href="/foundations/illustration/segments/" class="dls-button size-small business-generic secondary">View</a>
    </div>
  </div>
  <div class="pod">
    <h2>Messaging</h2>
    <p>Deliver a specific message to the user in context - for example, 404, no search results.</p>
    <div class="download-file">
      <a href="/foundations/illustration/messaging/" class="dls-button size-small business-generic secondary">View</a>
    </div>
  </div>
  <div class="pod">
    <h2>Conceptual Benefits</h2>
    <p>For example, collaboration, compliance, simplicity.</p>
    <div class="download-file">
      <a href="/foundations/illustration/benefits/" class="dls-button size-small business-generic secondary">View</a>
    </div>
  </div>
  <div class="pod">
    <h2>Device Illustrations</h2>
    <p>Desktop, laptop, tablet and mobile device illustrations to frame your UI designs.</p>
    <div class="download-file">
      <a href="/foundations/illustration/devices/" class="dls-button size-small business-generic secondary">View</a>
    </div>
  </div>
  <div class="pod">
    <h2>First Time Use</h2>
    <p>Developed specially for a <a href='/patterns/ftu/'>first time use</a> context.</p>
    <div class="download-file">
      <a href="/foundations/illustration/ftu/" class="dls-button size-small business-generic secondary">View</a>
    </div>
  </div>
</div>
