---
layout: default
secondary_menu_id: illustration
primary_menu_id: foundations
title: Messaging Illustrations
summary: Deliver a specific message to the user in context.
tags: illustration, illustrations, messaging
---

<p class='summary'>{{ page.summary }}</p>
<div class='container'>
  <h2>No Connection / 404</h2>
  <img class='small-illustration' src='/visuals/illustration-examples/messaging-1.png'/>
</div>
<div class='container'>
  <h2>No Search Results</h2>
  <img class='small-illustration' src='/visuals/illustration-examples/messaging-2.png'/>
</div>
<div class='container'>
  <h2>Addons</h2>
  <img class='small-illustration' src='/visuals/illustration-examples/messaging-3.png'/>
</div>
</div>
