---
layout: default
secondary_menu_id: illustration
primary_menu_id: foundations
title: Customer Segment Illustrations
summary: Illustrations that represent a group of people.
tags: illustration, illustrations, segment, segment, customer
---

<p class="summary">{{ page.summary }}</p>

<div class='container'>
  <h2>Developers</h2>
  <img class='small-illustration' src='/visuals/illustration-examples/segments-1.png' />
</div>
<div class='container'>
  <h2>Large Businesses</h2>
  <img class='small-illustration' src='/visuals/illustration-examples/segments-2.png' />
</div>
