.accordion {

  .accordion-tab {
    background: white;
    border-top: 1px solid mix($slate, white, 20);

    &:last-child {
      border-bottom: 1px solid mix($slate, white, 20);
    }

    .money-value {
      color: $red-negative;
      float: right;
      text-align: right;
    }
  }

  .accordion-header {
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    padding: 16px 16px 16px 0;

    .chevron {
      display: inline-block;
      margin-right: 8px;
      position: relative;
      top: -1px;
      transform: rotate(-90deg);
      transition: all 0.1s ease;
    }
  }

  .accordion-content {
    font-size: 14px;
    opacity: 1;
    max-height: 0;
    transition: all 0.3s;
    visibility: hidden;

    p {
      margin-bottom: 0;
    }
  }

  // open
  .accordion-tab.open {

    .accordion-header {

      .chevron {
        animation: animate-chevron 0.2s 1 ease forwards;
      }
    }

    .accordion-content {
      animation: accordion-animate 0.5s 1 ease forwards;
    }
  }
}

@keyframes accordion-animate {

  0% {
    max-height: 0px;
    opacity: 0;
    padding: 0px 16px 16px 24px;
    visibility: hidden;
  }

  100% {
    max-height: 1000px;
    opacity: 1;
    padding: 0px 16px 16px 24px;
    visibility: visible;
  }
}

@keyframes animate-chevron {

  0% {
    transform: rotate(-90deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.due-chart {
  padding-top: 5px;

  .due-row {
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;

    &:last-child {
      padding-bottom: 0px;
    }

    .value {
      color: $red-negative;
    }
  }
}
