.ap {
  position: relative;

  .ap-icon {
    display: inline-block;
    padding: 5px;

    i {
      color: $black-55;
    }

    &:hover, &.ap-active {
      background: $slate-tint-80;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .ap-container {
    background: white;
    box-shadow: $shadow-depth-1;
    left: 0;
    min-width: 160px;
    opacity: 0;
    position: absolute;
    padding: 20px 24px 24px;
    top: 22px;
    transition: all 0.1s ease-out;
    visibility: hidden;
    z-index: 10;

    .ap-head {
      margin-bottom: 16px;
    }

    label {
      color: $black-90;
    }
  }

  .ap-visible {
    opacity: 1;
    top: 32px;
    transition: all 0.1s ease-out;
    visibility: visible;
  }
}

.table {
  .row-header-ap {
    background: $slate-tint-95;

    &:hover {
      background: $slate-tint-95;
    }

    &.selected {
      background: $slate-tint-95;

      &:hover {
        background: $slate-tint-95;
      }
    }

    .ap-heading {
      padding: 0 !important;

      .ap {
        margin-left: 8px;
        margin-top: -6px;
      }
    }
  }

  .row-ap {
    grid-template-columns: 48px 120px 120px 120px 120px 100px;
  }
}
