.button-toggle {
  input[type="radio"] {
   display: none;

    &:checked {
      +label {
        background-color: mix(white, $segment-generic-app, 95);
        border: 1px solid $segment-generic-app;
        outline: 1px solid $segment-generic-app;

        &:hover {
          background-color: mix(white, $segment-generic-app, 95);
          border: 1px solid $segment-generic-app;
          outline: 1px solid $segment-generic-app;
        }
      }
    }
  }

  label.dls-button {
    margin-right: 8px;

    &.bt-tg {
      border: 1px solid $slate-tint-40;
      color: $black-90;
      outline: 1px solid white;

      &:hover {
        background-color: white;
      }

      &.largeicon {
        height: auto;
        padding: 16px 24px 8px;

        .large-icon-tg {
          margin-bottom: 8px;
          text-align: center;

          i {
            top: 0px;

            &:before {
              font-size: 48px;
              line-height: 48px;
              top: 0;
            }
          }
        }

        span {
          display: block;
          line-height: 1.5;
          text-align: center;
        }
      }
    }
  }
}
