.carousel-demo {
  overflow: hidden;

  .carousel-demo-title {
    left: 60px;
    position: absolute;
    top: 30px;
  }

  &.carousel-dialog {
    background: $slate-tint-95;
    box-shadow: $shadow-depth-3;
    height: 558px;
    position: relative;
    width: 800px;

    .carousel-dialog-close {
      position: absolute;
      right: 30px;
      top: 30px;

      .icon {
        color: $slate-tint-40;
      }
    }
  }

  .carousel-navigate {
    background: $segment-medium-app;
    box-shadow: $shadow-depth-3;
    color: white;
    display: flex;
    height: 64px;
    margin-top: -32px;
    position: absolute;
    top: 50%;
    transition: all 0.3s ease;
    width: 40px;
    z-index: 1;

    &.disable {
      opacity: 0.05;
      pointer-events: none;
    }

    &:hover {
      background: $segment-medium-app-shade-20;
      cursor: pointer;
    }

    .icon {
      margin: auto;
    }


    &.nav-prev {
      left: 0;
    }

    &.nav-next {
      right: 0;
    }
  }

  .carousel-card {
    background: white;
    box-shadow: $card;
    height: 400px;
    margin: 80px auto;
    opacity: 0.3;
    position: absolute;
    transform: scale(0.9);
    transition: all 0.4s ease;
    width: 680px;

    &.card-1 {
      display: flex;

      .box-1 {
        padding: 64px 40px 40px 40px;
        width: 50%;
      }

      .box-2 {
        background: $segment-medium-app;
        overflow: hidden;
        padding: 32px;
        position: relative;
        width: 50%;

        &:after {
          background: mix(white, $segment-medium, 5);
          border-radius: 60%;
          content: '';
          height: 510px;
          position: absolute;
          width: 700px;
          left: -430px;
          top: 60px;
        }
      }

      .card-actions {
        bottom: 40px;
        position: absolute;

        .dls-icon-link:first-child {
          border-right: 1px solid $slate-tint-80;
          margin-right: 24px;
          padding-right: 24px;
        }
      }
    }

    &.card-2 {
      display: flex;

      .card-title {
        margin: auto;
      }
    }

    &.card-3 {
      background: $segment-large-app;
      display: flex;

      .card-title {
        color: white;
        margin: auto;
      }
    }
  }

  .carousel-pips {
    bottom: 30px;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;

    .carousel-pip {
      background: $slate-tint-70;
      cursor: pointer;
      height: 10px;
      margin-right: 8px;
      width: 10px;

      &:last-child {
        margin-right: 0px;
      }
    }
  }

  &[active-card="1"] {
    .card-1 {
      box-shadow: $shadow-depth-2;
      left: 60px;
      opacity: 1;
      transform: scale(1);
    }

    .card-2 { left: 750px;}
    .card-3 { left: 1500px;}
    .carousel-pip.pip-card-1 { background: $slate-tint-40; }
  }

  &[active-card="2"] {
    .card-1 { left: -630px; }
    .card-3 { left: 750px;}
    .carousel-pip.pip-card-2 { background: $slate-tint-40; }

    .card-2 {
      box-shadow: $shadow-depth-3;
      left: 60px;
      opacity: 1;
      text-align: center;
      transform: scale(1);

      &:hover {
        transition: all 0.2s ease-in;
        transform: scale(1.02);
        cursor: pointer;
      }
    }
  }

  &[active-card="3"] {
    .card-1 { left: -1260px;}
    .card-2 { left: -630px; }
    .carousel-pip.pip-card-3 { background: $slate-tint-40; }

    .card-3 {
      box-shadow: $shadow-depth-2;
      left: 60px;
      opacity: 1;
      transform: scale(1);
    }
  }
}
