.tile-subtle-container {
  margin-bottom: 72px;
}

.tile {
  background: white;
  border: 1px solid $slate-tint-80;
  padding: 24px;

  &.demo-tile {
    display: inline-flex;

    .large-label {
      font-size: 24px;
      font-weight: 700;
    }

    .small-label {
      font-size: 14px;
    }

    .date-label {
      font-size: 14px;
      font-weight: 700;
      margin-left: 16px;
    }

    .demo-tile-content {
      border-right: 1px solid $slate-tint-90;
      margin-right: 32px;
      padding-right: 32px;

      label {
        color: $black-60;
        font-size: 12px;
        text-transform: uppercase;

        &.inline {
          display: inline-block;
        }
      }

      &:last-child {
        border-right: none;
      }
    }
  }
}

.card, .dls-ia-card {
  background: white;
  box-shadow: $card;
  margin-bottom: 32px;
  position: relative;
  transition: all 0.3s ease-in-out;
  width: 490px;

  img {
    max-width: 100%;
  }

  &:hover {
    box-shadow: $shadow-depth-1;
  }

  .card-header {
    padding: 32px 32px 0px;

    .card-title {
      font-size: 22px;
      font-weight: 700;
      line-height: 26px;
      margin-bottom: 4px;
    }

    i {
      position: absolute;
      right: 32px;
      top: 32px;
    }
  }

  .card-content {
    margin-bottom: 32px;

    .card-balance-title {
      color: $black-74;
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 8px;
      text-align: center;
    }

    .card-balance-amount {
      font-size: 24px;
      font-weight: 700;
      letter-spacing: 0.48px;
      margin-bottom: 10px;
      text-align: center;
    }

    .card-balance-date {
      color: $black-55;
      font-size: 12px;
      text-align: center;
    }
  }

  .card-footer {
    background-color: $slate-tint-95;
    border-top: 1px solid $slate-tint-90;
    height: 56px;
    line-height: 56px;
    padding: 0;
    text-align: center;

    i {
      margin-right: 8px;
    }
  }
}

.dls-ia-card-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 64px;

  .dls-ia-card {
    height: 200px;
    margin: 0px 32px 32px 0px;
    width: 220px;

    .card-content {
      align-items: center;
      display: flex;
      height: 144px;
      padding: 16px;
      width: 220px;

      img {
        margin: auto;
        max-height: 95%;
        max-width: 95%;
      }
    }

    .card-footer {
      bottom: 0px;
      position: absolute;
      width: 100%;

      p {
        margin-top: 16px;
      }
    }
  }
}
