.cb-product-instances {
  margin-bottom: 20px;

  &:last-of-type {
    margin-bottom: 0px;
  }
}

.input-error-icon {
  display: inline-block;
}

.input-error-icon > i:hover + .tooltip-container {
 opacity: 1;
 transition: opacity 0.2s linear;
 visibility: visible !important;
}

.inline-error-text {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  margin-bottom: 24px;
  max-width: 600px;
}

.checkbox-error {
  margin-bottom: 72px;
}

input[type="checkbox"] {

  &.custom-checkbox {
    opacity: 0;
    position: absolute;

    + label {
      position: relative;
      cursor: pointer;
      padding: 0;
      font-size: 14px;
      font-weight: 600;

      &:hover, &:focus {
        &:before {
          outline: 3px solid $gold;
          outline-offset: 0;
        }
      }

      // Box
      &:before {
        background: white;
        border: 1px solid $slate-tint-40;
        content: '';
        display: inline-block;
        height: 16px;
        margin-right: 10px;
        vertical-align: text-top;
        width: 16px;
      }

      &.disabled {
       color: $black-55;

       &:before {
        background: $slate-tint-95;
        border-color: $slate-tint-80;
        outline: none;
      }

      &:hover {
        cursor: not-allowed;

        &:after {
          background: $slate-tint-60;
          box-shadow:
          2px 0 0 $slate-tint-60,
          4px 0 0 $slate-tint-60,
          4px -2px 0 $slate-tint-60,
          4px -4px 0 $slate-tint-60,
          4px -6px 0 $slate-tint-60,
          4px -8px 0 $slate-tint-60;
          opacity: 0;
        }
      }
    }

    &.error {
      &:before {
        border: 1px solid $red;
      }
    }

      // Checkmark
      &:after {
        content: '';
        height: 2px;
        left: 4px;
        opacity: 0;
        position: absolute;
        top: 9px;
        transform: rotate(45deg);
        width: 2px;
      }

      &.cb-generic-app {
        &:after {
          background: $segment-generic-app;
          box-shadow:
          2px 0 0 $segment-generic-app,
          4px 0 0 $segment-generic-app,
          4px -2px 0 $segment-generic-app,
          4px -4px 0 $segment-generic-app,
          4px -6px 0 $segment-generic-app,
          4px -8px 0 $segment-generic-app;
          color: $segment-generic-app;
        }
      }

      &.cb-small-app {
        &:after {
          background: $segment-small-app;
          box-shadow:
          2px 0 0 $segment-small-app,
          4px 0 0 $segment-small-app,
          4px -2px 0 $segment-small-app,
          4px -4px 0 $segment-small-app,
          4px -6px 0 $segment-small-app,
          4px -8px 0 $segment-small-app;
          color: $segment-small-app;
        }
      }

      &.cb-medium-app {
        &:after {
          background: $segment-medium-app;
          box-shadow:
          2px 0 0 $segment-medium-app,
          4px 0 0 $segment-medium-app,
          4px -2px 0 $segment-medium-app,
          4px -4px 0 $segment-medium-app,
          4px -6px 0 $segment-medium-app,
          4px -8px 0 $segment-medium-app;
          color: $segment-medium-app;
        }
      }

      &.cb-large-app {
        &:after {
          background: $segment-large-app;
          box-shadow:
          2px 0 0 $segment-large-app,
          4px 0 0 $segment-large-app,
          4px -2px 0 $segment-large-app,
          4px -4px 0 $segment-large-app,
          4px -6px 0 $segment-large-app,
          4px -8px 0 $segment-large-app;
          color: $segment-large-app;
        }
      }

      &.disabled {
        &:after {
          background: $slate-tint-80;
          box-shadow:
          2px 0 0 $slate-tint-80,
          4px 0 0 $slate-tint-80,
          4px -2px 0 $slate-tint-80,
          4px -4px 0 $slate-tint-80,
          4px -6px 0 $slate-tint-80,
          4px -8px 0 $slate-tint-80;
          color: $slate-tint-80;
        }
      }
    }

    &:checked {
      + label {
        &:before {
          background: white;
        }

        &:after {
          opacity: 1;
        }

        &.disabled {
          &:before {
            background: $slate-tint-95;
            border-color: $slate-tint-80;
          }
        }

        &.disabled {
          color: $black-55;

          &:before {
            background: $slate-tint-95;
            border-color: $slate-tint-80;
            outline: none;
          }

          &:after {
            background: $slate-tint-80;
            box-shadow:
            2px 0 0 $slate-tint-80,
            4px 0 0 $slate-tint-80,
            4px -2px 0 $slate-tint-80,
            4px -4px 0 $slate-tint-80,
            4px -6px 0 $slate-tint-80,
            4px -8px 0 $slate-tint-80;
            opacity: 1;
          }
        }
      }
    }
  }
}
