.datepicker-icon {
  color: $black-90;
  font-size: 16px;
  position: absolute;
  right: 8px;
  top: 10px;
}

.datepicker-icon {
  color: $black-65 !important;
}

input:focus + .datepicker-icon {
  color: $black-90 !important;
}

.ui-datepicker {
  background: white;
  box-shadow: 0 5px 5px 0 rgba(0,20,29,0.20), 0 10px 10px 0 rgba(0,20,29,0.10);
  font-family: 'Open Sans', Arial, sans-serif;
  height: auto;
  margin: 8px auto 0;
  z-index: 9 !important;
}

.ui-datepicker a {
  text-decoration: none;
}

.ui-datepicker table {
  margin: 0px 32px 32px 32px;
}

.ui-datepicker-header {
  background: white;
  color: $black-90;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  padding: 28px 40px 20px 40px;
}

.ui-datepicker-title {
  text-align: center;
}

.ui-datepicker-prev, .ui-datepicker-next {
  color: $black-90;
  cursor: pointer;
  display: inline-block;
  height: 24px;
  line-height: 600%;
  overflow: hidden;
  text-align: center;
  width: 24px;
}

.ui-datepicker-prev {
  float: left;
}
.ui-datepicker-next {
  float: right;
}

.ui-datepicker-prev span, .ui-datepicker-next span {
  background-image: none !important;
}

.ui-datepicker-prev span.ui-icon {
  background-repeat: no-repeat;
  display: block;
  height: 16px;
  overflow: hidden;
  text-indent: 0;
  width: 6px;
}

.ui-datepicker-prev span:before {
  color: $black-90;
  content: "\E916";
  font-family: CarbonIcons;
  left: 43px;
  position: absolute;
  top: -8px;
}

.ui-datepicker-next span.ui-icon {
  background-repeat: no-repeat;
  display: block;
  height: 16px;
  overflow: hidden;
  text-indent: 0;
  width: 6px;
}

.ui-datepicker-next span:before {
  color: $black-90;
  content: "\E917";
  font-family: CarbonIcons;
  position: absolute;
  right: 44px;
  top: -8px;
}

.ui-datepicker th {
  color: $slate-tint-40;
  font-size: 12px;
  font-weight: 700;
  padding: 5px 0;
  text-transform: uppercase;
}

.ui-datepicker tbody td {
  padding: 0;
  text-align: center;
  vertical-align: middle;
  width: 47px;

  &:hover {
    background: $slate-tint-90;
    cursor: pointer;
  }

  &.ui-datepicker-current-day {
    background: $segment-small-app;

    .ui-state-active {
      color: white;
    }
  }
}

.ui-datepicker tbody td:last-child {
  border-right: 0px;
}

.ui-datepicker tbody tr {
  height: 40px;
}

.ui-datepicker tbody tr:last-child {
  border-bottom: 0px;
}

.ui-datepicker td span, .ui-datepicker td a {
  color: $black-90;
  font-size: 14px;
  font-weight: 700;

  &.ui-datepicker-other-month {
    color: $black-55;
  }
}

.ui-datepicker-other-month {

  a {
    color: $black-55 !important;
  }
}

.datepicker-icon {
  pointer-events: none;
}

.ui-datepicker-multi {
  display: flex;
}
