#dialog-transition {
  position: relative;
  transition: all 0.5s ease;
  z-index: 1;

  .dialog {
   transition: all 0.2s ease;
 }
}

.dialog-component {
  opacity: 0;
  visibility: hidden;
}

.fs-dialog-component {
  opacity: 0;
  visibility: hidden;
}

.showdialog {
  opacity: 1;
  visibility: visible;

  .dialog {
    transform: translateY(-50px);
  }
}

.fs-dialog-component {

  &.showdialog {

    .dialog {
      transform: translateY(0px);
    }
  }
}

.stop-scroll {
  overflow: hidden;
}

.dialog, .example-dialog {
  background: $slate-tint-95;
  box-shadow: $shadow-depth-3;
  width: 600px;

  .header-section {
    border-bottom: 1px solid $slate-tint-80;
    height: 64px;
  }

  .closebox {
    color: $slate-tint-40;
    cursor: pointer;
    position: absolute;
    right: 32px;
    top: 23px;
  }

  .closebox:hover {
    color: $slate-tint-20;
  }

  h3 {
    padding: 19px 0 0 32px;
  }

  .dialog-content {
    padding: 27px 32px 32px 32px;
  }
}

.fs-dialog {
  h3 {
    padding: 0px;
  }

  .closebox {
    top: 32px;
  }
}

.dialog-background {
  background-color: rgba($slate-shade-60, 0.6);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;

  &.minimised-bg {
    display: none;
  }
}

.mask-example  {
  position: relative;
}

.mask-example-background {
  background-color: rgba($slate-shade-60, 0.6);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.dialog {
  left: 50%;
  margin: auto auto auto -300px;
  position: fixed;
  top: 128px;
}

.example-dialog {
  margin: 64px 0px;
  position: relative;
}

.fs-dialog {
  height: 97vh;
  left: 2.5vw;
  margin: 0px;
  padding: 0px;
  position: fixed;
  top: 3vh;
  transition: all 0.5s ease;
  width: 95vw;

  &.expanded {
    height: 100vh;
    left: 0;
    top: 0;
    width: 100vw;
  }

  &.minimised {
    background-color: white;
    bottom: 0;
    box-shadow: 0 -2px 2px 0 rgba($slate-shade-60, 0.1);
    height: 50px;
    left: calc(100vw - 460px);
    right: 100px;
    top: calc(100vh - 50px);
    width: 360px;
  }

  .minimise {
    color: $slate-tint-40;
    cursor: pointer;
    position: absolute;
    right: 96px;
    top: 36px;

    &:hover {
      color: $slate-tint-20;
    }
  }

  .expand {
    color: $slate-tint-40;
    cursor: pointer;
    position: absolute;
    right: 64px;
    top: 32px;

    &:hover {
      color: $slate-tint-20;
    }
  }

  .maximise {
    color: $slate-tint-40;
    cursor: pointer;
    position: absolute;
    right: 64px;
    top: 32px;
    visibility: hidden;

    &:hover {
      color: $slate-tint-20;
    }
  }

  h3 {
    margin-bottom: 60px;
  }
}

.dls-fs-dialog-footer {
  background-color: white;
  bottom: 0;
  height: 60px;
  left: 0;
  position: absolute;
  transition: all 0.2s ease;
  width: 100%;
}

.dls-fs-dialog-buttons {
  bottom: 10px;
  position: absolute;
  right: 32px;
}

.dls-fs-dialog-header {
  box-shadow: inset 0 -1px 0 0 $slate-tint-80;
  height: 80px;
  left: 0;
  padding: 27px 32px 32px 32px;
  top: 0;
  transition: all 0.2s ease;
  width: 100%;
}

.dls-fs-dialog-content {
  padding: 27px 32px 32px 32px;
}

.expanded {

  .dls-fs-dialog-header {
    width: 100vw;
  }

  .dls-fs-dialog-footer {
    width: 100vw;
  }
}

.minimised {

  h3 {
    font-size: 16px;
  }

  .dls-fs-dialog-header {
    padding-top: 15px;
  }

  .dls-fs-dialog-footer {
    position: relative;
  }

  .expand {
    top: 16px;
    visibility: hidden;
  }

  .minimise {
    top: 20px;
    visibility: hidden;
  }

  .maximise {
    top: 16px;
    visibility: visible;
  }

  .closebox {
    top: 16px;
  }
}

.dls-form-button-container-split.dls-fs-dialog-buttons {
  bottom: 0;
  position: relative;
  right: 0;

  .secondary {
    left: 32px;
    position: absolute;
    top: 10px;
  }

  .primary {
    position: absolute;
    right: 32px;
    top: 10px;
  }
}

