.dropdown_list_content {
  background: white;
  box-shadow: $shadow-depth-1;
  height: 220px;
  left: -10px;
  opacity: 0;
  position: relative;
  top: 3px;
  visibility: hidden;
  width: calc(100% + 20px);
  z-index: 99;

  &.visible {
    opacity: 1;
    visibility: visible;
  }
}

.field-icon.cheveron-label i {
  position: relative;
  top: -3px;

  &.medium-cheveron-position {
    top: 1px;
  }

  &.large-cheveron-position {
    top: 4px;
  }
}

.dropdown_list {
  cursor: pointer;
  height: 175px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px 0px 10px 0px;

  &.dropdown_height {
    height: 220px;
    }
}

.dropdown_list_item {
  height: 40px;
  padding: 10px 20px 5px 20px;
  width: 276px;
}

.dropdown_list_item:hover {
  background-color: $slate-tint-95;
}

.add_new {
  border-top:1px solid $slate-tint-95;
  height: 44px;
  margin-left: 8px;
  padding: 12px 10px 10px 12px;
  width: 260px;

  a {
    color: $black-90;
    font-family: OpenSans-Bold;
    font-size: 14px;
    text-decoration: none !important;
  }

  .icon {
    color: $black-90;
  }
}
