body.global-search-active {
  overflow: hidden;

  .main-body .all-content,
  .homepage-wrapper {
    opacity: 0.4;
  }
}

.global-search {
  background: white;
  border: 1px solid $segment-small-app;
  box-shadow: $shadow-depth-4;
  left: 50%;
  margin-left: -320px;
  opacity: 0;
  position: fixed;
  transition: all 0.2s ease;
  top: 10vh;
  transform: translateY(30px);
  visibility: hidden;
  width: 640px;
  z-index: 9999;

  &.visible {
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
  }

  .global-search-input-container {
    position: relative;

    &:before {
      content: "\E92F";
      display: block;
      font-family: CarbonIcons;
      height: 16px;
      left: 16px;
      position: absolute;
      top: 25px;
      width: 16px;
    }

    input.search-box {
      font-family: "Open Sans";
      font-size: 18px;
      height: 64px;
      line-height: 64px;
      padding: 0px 24px 0px 40px;
      width: 100%;

      &:focus {
        outline: none;
      }
    }
  }


  #search-results {
    width: 100%;

    .no-result {
      padding: 0px 24px 24px 40px;
    }
  }

  .search-result {
    display: block;
    padding: 11px 24px 11px 40px;
    position: relative;
    text-decoration: none;

    &:after {
      background: url('../visuals/enter-key.svg') center center no-repeat;
      content: '';
      display: block;
      height: 16px;
      margin-top: -8px;
      opacity: 0;
      position: absolute;
      right: 16px;
      top: 50%;
      width: 16px;
    }

    .search-result-title {
      color: $black-90;
      font-size: 16px;
      font-weight: 600;

      + .search-result-summary:not(:empty) {
        margin-top: 5px;
      }
    }

    .search-result-summary {
      color: $black-74;
      font-size: 13px;
      font-weight: 400;
      line-height: 18px;
    }

    &:hover,
    &:focus {
      background: $segment-small-app;
      outline: none;

      .search-result-title,
      .search-result-summary {
        color: white;
      }

      &:after {
        opacity: 1;
      }
    }

    &:last-child {
      margin-bottom: 8px;
    }
  }
}
