.app-header {
  background: white;
  box-shadow: inset 0px -1px 0px $slate-tint-80;
  height: 48px;
  margin-bottom: 40px;
  width: 840px;

  // Use small bus color on a tags here
  a {
    color: $segment-small-app;
  }

  ul.nav {
    display: flex;
    justify-content: flex-end;
    padding-right: 24px;

    > li {
      cursor: default;
      display: flex;
      line-height: 47px;
      margin-right: 8px;
      padding: 0px 16px;
      position: relative;

      &:last-child {
        margin-right: 0;
      }

      i {
        color: $slate-tint-40;
        margin: auto;
      }

      .profile-pic {
        background: url('../visuals/profile-pic.jpg');
        background-size: cover;
        border: 1px solid $slate-tint-90;
        height: 24px;
        margin: auto;
        width: 24px;
      }

      &:hover {
        background: $slate-tint-90;

        i {
          color: $black-90;
        }

        .app-header-nav-wrapper {
          opacity: 1;
          transform: translate(0px, 0px);
          visibility: visible;
        }
      }
    }
  }

  .app-header-nav-wrapper {
    left: 0;
    margin-top: 48px;
    opacity: 0;
    position: absolute;
    transform: translate(0px, 10px);
    transition: all 0.2s ease;
    visibility: hidden;
    width: 350px;

    &.right-aligned {
      left: auto;
      right: 0;
    }

    &.app-header-nav-create {
      width: 200px;
    }

    &.nav-help-container {
      .help-label {
        color: $black-55;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        margin-bottom: 8px;
        text-transform: uppercase;
      }

      .help-link {
        margin-bottom: 8px;
        position: relative;

        .icon {
          color: $slate-tint-60;
          margin-left: 8px;
          position: relative;
          top: -2px;
        }

        + .help-label {
          margin-top: 32px;
        }
      }

      a {
        font-weight: 600;
      }

      .horizontal-list {
        display: flex;

        li  {
          background: $slate-tint-95;
          box-shadow: inset -1px 0px 0px $slate-tint-90;
          color: $black-55;
          font-size: 13px;
          font-weight: 600;
          line-height: 16px;
          padding: 16px;
          text-align: center;
          width: 25%;

          i {
            display: block;
            margin-bottom: 10px;
          }

          &:hover {
            background: $segment-small-app;
            color: white;
            cursor: pointer;

            i {
              color: white;
            }
          }
        }
      }
    }

    &.search-box-container {
      .results-list {
        li {
          display: flex;
          justify-content: space-between;

          .date-value {
            color: $black-74;
            font-weight: 400;
          }

          &.segment-separator {
            color: $black-55;
            font-size: 12px;
            font-weight: 600;
            padding: 16px 0px 0px 24px;
            text-transform: uppercase;

            &:hover {
              background: white;
              cursor: default;
            }
          }
        }
      }
    }

    &.profile-container {
      .profile-actions {
        margin: auto 0;

        a {
          font-size: 14px;
          font-weight: 600;
        }

        .logout {

          float: right;
        }
      }

      .app-header-nav-content {
        display: flex;
        justify-content: space-between;

        .profile-label {
          color: $black-55;
          font-size: 12px;
          font-weight: 600;
          line-height: 16px;
          text-transform: uppercase;
        }

        .profile-business-name {
          font-weight: 700;
        }
      }

      .app-header-nav-header {
        display: flex;

        .profile-actions {
          width: 198px;
        }

        .profile-pic-avatar-large  {
          background: url('../visuals/profile-pic.jpg');
          border: 1px solid $slate-tint-70;
          cursor: pointer;
          height: 80px;
          margin-right: 24px;
          position: relative;
          width: 80px;

          &:after {
            background: $black-60;
            bottom: 0;
            color: white;
            content: "Edit";
            font-size: 12px;
            height: 20px;
            left: 0;
            position: absolute;
            text-align: center;
            width: 100%;
          }
        }
      }
    }
  }

  .app-header-nav-container {
    background: white;
    box-shadow: $shadow-depth-2;

    .app-header-nav-header {
      background: $slate-tint-90;
      box-shadow: inset 0px -1px 0px $slate-tint-85;
      line-height: 21px;
      padding: 16px 24px;

      .app-header-nav-title {
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
      }

      .app-header-nav-email {
        color: $black-55;
        font-size: 13px;
        font-weight: 400;
        margin-bottom: 8px;
      }

      .dls-input-container {
        margin-bottom: 0;
      }
    }

    .app-header-nav-content {
      font-size: 14px;
      line-height: 21px;

      &.with-padding {
        padding: 16px 24px;
      }

      ul li {
        cursor: pointer;
        font-weight: 600;
        padding: 16px 24px;

        &:hover {
          background: $segment-small-app;
          color: white;

          .date-value {
            color: white;
          }
        }
      }

      .notification-container {
        display: flex;
        justify-content: space-between;

        .notification-avatar {
          border: 2px solid $black-90;
          border-radius: 50%;
          font-size: 19px;
          font-weight: 700;
          height: 40px;
          line-height: 37px;
          text-align: center;
          width: 40px;
        }

        .notification-summary {
          margin-bottom: 8px;

          span {
            font-weight: 700;
          }
        }
        .notification-message {
          color: $black-55;
          margin-bottom: 8px;
        }

        .notification-date {
          font-size: 12px;
          font-weight: 700;
        }

        .notification-content {
          width: 240px;
        }

        + .notification-container {
          margin-top: 32px;
        }
      }
    }
  }
}
