.form-right-aligned > .label-input-wrapper > label {
  display: inline-block;
  margin-right: 8px;
  text-align: right;
  width: 150px;
}

.form-right-aligned > .dls-form-button-container-left, .form-right-aligned > .label-input-wrapper > .dls-icon-link {
  margin-left: 162px;
}

.dls-form {
  display: inline-block;
  width: 100%;

  .optional {
    font-weight: 400;
  }
}

.fieldset > .label-input-wrapper > .dls-input-container {
  margin-bottom: -1px !important;
}

.fieldset > .label-input-wrapper > .dls-input-container > .dls-input:hover {
  z-index: 9 !important;
}

.fieldset > .label-input-wrapper > .dls-input-container > .dls-input:focus {
  z-index: 9 !important;
}

.form-right-aligned > .label-input-wrapper > .dls-input-container {
  display: inline-block;
  margin-bottom: 32px;
}

.form-right-aligned > .label-input-wrapper > .input-inline {
  margin-bottom: 6px;
}

.form-right-aligned > .dls-form-button-container-left {
  margin-top: 16px;
}

.dls-input-container {
  margin-bottom: 24px;
  position: relative;

  .error-qualifier {
    color: $red;
    margin-top: 3px;
  }

  &.input-height-s {
    font-size: 14px;
    height: 32px;
  }

  &.input-height-m {
    font-size: 14px;
    line-height: 21px;
    height: 40px;
  }

  &.input-height-l {
    font-size: 16px;
    height: 48px;
  }

  &.input-width-xs {
    width: 48px;
  }

  &.input-width-s {
    width: 80px;
  }

  &.input-width-m {
    width: 128px;
  }

  &.input-width-l {
    width: 256px;
  }

  &.input-width-xl {
    width: 384px;
  }
}

.input-height-s > input {
  padding: 0px 8px;
}

.input-height-m > input {
  padding: 0px 11px;
}

.input-height-l > input {
  padding: 0px 13px;
}

.dls-input {
  border: 1px solid $slate-tint-40;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: relative;

  &.input-number {
    text-align: right;
  }

  &:focus {
    outline: 3px solid $gold;
    outline-offset: 0;
  }

  &.force-focus {
    outline: 3px solid $gold;
    outline-offset: 0;
  }

  &::selection {
    background-color: mix(white, $slate, 80);
  }

  &.input-disabled {
    background-color: $slate-tint-95;
    color: $black-55;
    border-color: $slate-tint-80;
    cursor: not-allowed;
  }

  &.input-read-only {
    border: 0px;
    padding: 0px;
    height: 21px;

    &.input-large-biz {
      border-bottom: 1px solid $slate-tint-80 !important;
      height: 40px;
    }
  }

  &.input-error {
    border: 2px solid $red;
  }
}

.dls-input::placeholder {
  color: $black-30;
}

.pod > input {
  margin-bottom: 32px;
}

.field-icon {
  z-index: 9;
  width: 16px;
}

.input-text-align-right + .field-icon {
  position: absolute;
  top: 8px;
  left: 11px;
  cursor: pointer;
}

.input-height-s > .field-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.input-height-m > .field-icon {
  position: absolute;
  top: 8px;
  right: 11px;
  cursor: pointer;
}

.input-height-l > .field-icon {
  position: absolute;
  top: 8px;
  right: 13px;
  cursor: pointer;
}

.label-icon {
  position: relative;
  right: -8px;
  top: -2px;
  cursor: pointer;
}

.label-disabled {
  color: $black-55;
}

.dls-textarea {
  padding: 8px;
  font-family: Open Sans;
  font-size: 14px;
  height: 128px;
  color: $black-90;
  margin-bottom: 8px;
  width: 368px;
}

.dls-textarea-count {
  font-size: 12px;
  text-align: right;
  color: $black-55;
  margin: 0px;
}

.dls-form-button-container-right {
  text-align: right;
  margin-top: 48px;
}

.dls-form-button-container-left {
  margin-top: 48px;

  .tertiary {
    position: relative;
    right: 16px;
  }
}

.input-inline {
  display: inline-block;
  margin-left: 8px;
  margin-bottom: 6px;
}

.input-inline-wrapper {
  margin-bottom: 24px;
}

label + .input-inline {
  margin-left: 0px;
}

label + p {
  margin-bottom: 8px;
}

.label-inline {
  display: inline-block;
}

.label-inline + .dls-input-container {
  margin: 0px 16px 0px 0px;
}

.input-text-align-right {
  text-align: right;
}

.input-position-right {
  float: right;
}

.input-position-left {
  width: 256px;
}

.dls-input-container:hover > .tooltip-container {
 visibility: visible !important;
 opacity: 1;
 transition:opacity 0.2s linear;
}

.dls-input-container:focus > .tooltip-container {
 visibility: visible !important;
 opacity: 1;
 transition:opacity 0.2s linear;
}

.tooltip-icon > i:hover + .tooltip-container {
 visibility: visible !important;
 opacity: 1;
 transition:opacity 0.2s linear;
}

input:focus + .field-icon + .tooltip-container {
 visibility: visible !important;
 opacity: 1;
 transition:opacity 0.2s linear;
}

label > .tooltip-icon {
  position: relative;
  top: -2px;
  left: 2px;
}

.input-inline-wrapper > .dls-icon-link {
  display: block;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 22px;

  i {
    position: relative;
    top: -1px;
  }
}

.tooltip-container {
  left: calc(100% + 4px);
  min-width: 230px;
  max-width: 256px;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition:opacity 0.2s linear;
  visibility: hidden;
  z-index: 99;

  .tooltip-body {
    background-color: $black-90;
    color: $white;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-left: 8px;
    padding: 16px;
  }

  .tooltip-pointer {
    position: absolute;
    top: calc(50% - 8px);
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right:8px solid;
  }
}

.error-tooltip > .tooltip-body {
  background-color: $red;
  color: white;
}

.general-tooltip > .tooltip-body{
  background-color: black;
  color: white;
}

.error-tooltip > .tooltip-pointer {
  border-right-color: $red;
}

.general-tooltip > .tooltip-pointer {
  border-right-color: black;
}

a {

 i:hover {
   text-decoration: none;
 }
}

.dialog-content > .system-message {
  left: 185px;
  opacity: 0;
  position: absolute;
  top: 12px;
  visibility: hidden;
}

.dialog-content > .dls-form > .label-input-wrapper > label {
  width: 75px;
}

.form-right-aligned > .dls-form-button-container-right {
  margin-top: 16px;
}
