a, .link {
  color: $segment-generic-app;
  font-size: 14px;
  text-decoration: underline;

  &:focus {
    background-color: $gold-tint-30;
    color: $black-90 !important;
    outline: none;
  }

  &.small-biz {
    color: $segment-small-app;

    &:hover {
      color: $segment-small-app-shade-20;
    }
  }

  &.medium-biz {
    color: $segment-medium-app;

    &:hover {
      color: $segment-medium-app-shade-20;
    }
  }

  &.large-biz {
    color: $segment-large-app;

    &:hover {
      color: $segment-large-app-shade-20;
    }
  }

  &.disabled {
    color: $black-30;

    &:hover {
      cursor: not-allowed;
      text-decoration: underline;
    }
  }
}

.force-link-focus {
  background-color: $gold-tint-30;
  color: $black-90;
}

.dls-icon-link {
  display: inline-block;

  > a {
    text-decoration: none;

    &:hover > span {
      text-decoration: underline;
    }

    span {
      text-decoration: underline;
    }

    i + span {
      margin-left: 4px;
      margin-right: 4px;
    }

    span + i {
      margin-left: 4px;
      margin-right: 4px;
    }

    &.disabled:hover {
      text-decoration: none;
    }

    &.disabled > span {
      text-decoration: underline;
    }
  }
}

.download-file > a {
  text-decoration: none;
}
