@keyframes flash-animate {

  0% {
    opacity: 0;
    transform: translateY(-10px) scale(0.5);
    visibility: hidden;
  }

  10% {
    opacity: 1;
    transform: translateY(0px) scale(1);
    visibility: visible;
  }

  80% {
    opacity: 1;
    transform: translateY(0px) scale(1);
    visibility: visible;
  }

  100% {
    opacity: 0;
    transform: translateY(-20px) scale(1);
    visibility: hidden;
  }
}

.system-message {
  background: white;
  border: 1px solid $slate;
  font-size: 14px;
  line-height: 21px;
  margin: 0px 0px 32px 0px;
  max-width: $container_max_width;
  padding: 16px 16px 16px 48px;
  position: relative;

  &:before {
    background: $slate;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    height: 100%;
    top: 0;
    width: 32px;
  }

  &:after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color: white;
    content: "\e950";
    display: block;
    font-family: CarbonIcons;
    font-size: 16px;
    left: 8px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
  }

  .system-message-title {
    font-weight: 700;

  }

  &.success-message {
    border-color: $green-positive;

    &:before {
      background-color: $green-positive;
    }

    &:after {
      content: "\e950";
    }
  }

  &.warning-message {
    border-color: $carrot;

    &:before {
      background-color: $carrot;
    }

    &:after {
      content: "\e924";
    }
  }

  &.error-message {
    border-color: $red-negative;

    &:before {
      background-color: $red-negative;
    }

    &:after {
      content: "\e923";
    }
  }

  &.info-message {
    border-color: $segment-medium;

    &:before {
      background-color: $segment-medium;
    }

    &:after {
      content: "\e92a";
    }
  }

  ////////////////
  // Toast Messages
  ////////////////
  &.system-toast {
    box-shadow: $shadow-depth-3;
    display: inline-block;
    margin: 0;
    padding: 8px 16px 8px 48px;

    &.animate-in {
      animation: flash-animate 3s 1 cubic-bezier(0.250, 0.250, 0.000, 1.500) forwards;
    }
  }
}
