.dls-pill-container {
  border: 1px solid $slate-tint-40;
  border-radius: 12px;
  display: inline-block;
  margin: 0px 8px 0px 0px;
  padding: 2px 8px 2px 8px;
  position: relative;

  &:hover {
    cursor: pointer;

    &.pill-container-small-biz {
      border: 1px solid $segment-small-app;

      .dls-pill {
        color: $segment-small-app;
      }
    }

    &.pill-container-medium-biz {
      border: 1px solid $segment-medium-app;

      .dls-pill {
        color: $segment-medium-app;
      }
    }

    &.pill-container-large-biz {
      border: 1px solid $segment-large-app;

      .dls-pill {
        color: $segment-large-app;
      }
    }
  }

  &.dls-pill-delete {
    border: 1px solid $slate-tint-40;
    padding: 2px 27px 2px 8px;

    &:hover {
      border: 1px solid $slate-tint-60;
      cursor: pointer;

      &:before {
        background: $slate-tint-80;
        border-radius: 20px;
        content: '';
        height: 20px;
        position: absolute;
        right: 2px;
        top: 3px;
        width: 20px;
      }
    }
  }

  .dls-pill {
    color: $black-90;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
  }

  .pill-cross-icon {
    color: $slate-tint-40;
    position: absolute;
    right: 4px;
    top: 3px;
  }

  &.dls-pill-action {

    &.pill-action-small-biz {
      border: 1px solid $segment-small-app;

      .dls-pill {
        color: $segment-small-app;
      }
    }

    &.pill-action-medium-biz {
      border: 1px solid $segment-medium-app;

      .dls-pill {
        color: $segment-medium-app;
      }
    }

    &.pill-action-large-biz {
      border: 1px solid $segment-large-app;

      .dls-pill {
        color: $segment-large-app;
      }
    }

    &:hover {

      &.pill-action-small-biz {
        background: $segment-small-app;
      }

      &.pill-action-medium-biz {
        background: $segment-medium-app;
      }

      &.pill-action-large-biz {
        background: $segment-large-app;
      }

      .dls-pill {
        color: white;
      }
    }
  }

  &.dls-badge {

    &:hover {
      cursor: default;
    }

    &.badge-neutral {
      background-color: $slate-tint-40;
      border: none;
    }

    &.badge-negative {
      background-color: $red-negative;
      border: none;
    }

    &.badge-attention {
      background-color: $gold;
      border: none;

      .dls-pill {
        color: $black-90;
      }
    }

    &.badge-positive {
      background-color: $green-positive;
      border: none;
    }

    &.badge-generic {
      background-color: $segment-generic;
      border: none;
    }

    .dls-pill {
      color: white;
    }
  }
}

.dls-badge-use {
  margin-bottom: 0px;
}

.dls-inline-wrapper * {
  display: inline-block;

  &.dls-pill-container {
    left: 8px;
    top: -4px;
  }
}

.tab-menu {
  .dls-pill-container {
    margin-right: 0px;
  }
}

.tab-count-example > ul > li {
  padding-bottom: 10px;
}

li > .dls-pill-container {
  margin-right: 3px;
}
