.dls-marketing-table {
  font-family: 'Adelle Sage';
  font-size: 18px;
  width: 100%;

  tr {
    border-bottom: 1px solid #CCCCCC;

    &.compare-header {
      border-bottom: 4px solid $segment-generic;
      font-weight: 700;
    }

    th, td {
      padding: 21px 18px;

      &.dls-product-compare-spacer {
        padding: 0px;
        width: 8px;
      }
    }

    th {
      font-weight: bold;
    }
  }

  i {
    color: $segment-small;
  }
}

.pod {

  .dls-product-compare {

    th, td {
      &:nth-of-type(even) {
        background-color: $black-5;
        text-align: center;
        vertical-align: middle;
      }

      :first-of-type {
        width: 330px;
      }

      .dls-product-compare-title {
        font-size: 18px;
      }

      .dls-product-compare-detail {
        color: $black-55;
        font-size: 14px;
      }

      .icon-tick {
        color: $slate;
      }

      .icon-tick::before {
        font-size: 26px;
      }
    }
  }
}

.pod-dark {
  color: $white;

  i {
    color: $green-brilliant;
  }

  .dls-product-compare {
    color: $white;

    th, td {
      &:nth-of-type(even) {
          background-color: $white-10;
          text-align: center;
          vertical-align: middle;
       }

       .dls-product-compare-detail {
        color: $white;
      }

      .dls-product-compare-title {
        font-size: 18px;
      }

      .dls-product-compare-detail {
        color: $white;
        font-size: 14px;
      }

      .icon-tick {
        color: $green-brilliant;
      }

      .icon-tick::before {
        font-size: 26px;
      }
    }
  }
}

.dls-compare-container {
  display: flex;
  margin-bottom: 70px;
}

.dls-product-card {
  background-color: white;
  box-shadow: $card;
  display: inline-block;
  margin: 8px;
  max-width: 500px;
  position: relative;
  width: 33%;

  @media only screen and (max-width: 1900px) {
    min-width: 344px;
  }

  .dls-product-card-header {
    background-color: $slate-tint-95;
    font-family: 'Adelle Sans Sage';
    height: 248px;
    padding: 80px;
    text-align: center;
    width: 100%;

    @media only screen and (max-width: 1900px) {
      height: 185px;
      padding: 56px 40px;
    }

    @media only screen and (max-width: 600px) {
      padding: 56px 24px;
    }

    &.fullcolour {
      background-color: $segment-small;
      color: white;
      text-align: left;
    }

    .dls-product-card-sbc {
      font-size: 24px;
      font-weight: 200;
      line-height: 30px;
      margin-bottom: 8px;

      @media only screen and (max-width: 1900px) {
        font-size: 20px;
        font-weight: 200;
      }
    }

    .dls-product-card-product-name {
      font-size: 40px;
      font-weight: 600;
      line-height: 50px;

      @media only screen and (max-width: 1900px) {
        font-size: 32px;
        font-weight: 600;
      }
    }
  }

   .sticky-bottom-button {
      bottom: 0px;
      margin-bottom: 40px;
      position: absolute;
      width: 100%;

    @media only screen and (max-width: 1900px) {
      margin-bottom: 32px;
    }

    button {
      margin-left: 80px;
      margin-right: 80px;
      width: calc(100% - 160px);

      @media only screen and (max-width: 1900px) {
        margin-left: 32px;
        margin-right: 32px;
        width: calc(100% - 64px);
      }
    }
  }

  .dls-product-card-body {
    font-family: 'Adelle Sage';
    margin-bottom: 128px;
    padding: 40px 80px 0px 80px;

    @media only screen and (max-width: 1900px) {
      margin-bottom: 108px;
      padding: 32px 40px 0px 40px;
    }

    @media only screen and (max-width: 600px) {
      padding: 32px 24px 0px 24px;
    }

   .dls-product-card-body-indent {
      display: flex;
      margin: 40px 80px;

      .price {
        color: $black-60;
        font-size: 18px;

        .strikethru {
          text-decoration: line-through;
        }

        .numeral {
          color: $black-90;
          font-size: 74px;
        }

        &.center {
          text-align: center;
        }
      }

      button + button {
        margin-top: 18px;
      }
    }

    p {
     font-size: 16px;
     line-height: 24px;
     margin-bottom: 24px;
    }

    button {
      width: 100%;
    }

    .product-card-list {

      li {
        font-size: 16px;
        line-height: 24px;
        margin: 0px 0px 12px 40px;

        &:before {
          color: $segment-small;
          content: '\e950';
          float: left;
          font-size: 18px;
          font-family: CarbonIcons;
          margin-left: -32px;
        }
      }
    }

    .product-card-list + button {
      margin-top: 110px;
    }
  }
}
