.cb-product-instances {
  margin-bottom: 20px;

  &:last-of-type {
    margin-bottom: 0px;
  }
}

input[type="radio"] {

  &.custom-radio {
    opacity: 0;
    position: absolute;

    + label {
      cursor: pointer;
      font-size: 14px;
      font-weight: 600;
      padding: 0;
      position: relative;

      &:hover {

        &:before {
          box-shadow: 0 0 0 3px $gold;
        }
      }

      // Box
      &:before {
        background: white;
        border: 1px solid $slate-tint-40;
        border-radius: 16px;
        content: '';
        display: inline-block;
        height: 16px;
        margin-right: 10px;
        vertical-align: text-top;
        width: 16px;
      }

      &.disabled {
        color: $black-55;

        &:before {
          background: $slate-tint-95;
          border-color: $slate-tint-80;
          box-shadow: none;
        }

        &:hover {
          cursor: not-allowed;

          &:before {
            border-color: $slate-tint-80;
          }
        }
      }

      &.error {
        &:before {
          border-color: $red;
        }
      }

      // Inner circle
      &:after {
        border-radius: 10px;
        content: '';
        height: 8px;
        left: 5px;
        opacity: 0;
        position: absolute;
        top: 6px;
        width: 8px;
      }

      &.cb-generic-app {
        &:after {
          background: $segment-generic-app;
          color: $segment-generic-app;
        }
      }

      &.cb-small-app {
        &:after {
          background: $segment-small-app;
          color: $segment-small-app;
        }
      }

      &.cb-medium-app {
        &:after {
          background: $segment-medium-app;
          color: $segment-medium-app;
        }
      }

      &.cb-large-app {
        &:after {
          background: $segment-large-app;
          color: $segment-large-app;
        }
      }
    }

    &:checked {

      + label {

        &:before {
          background: white;
        }

        &.cb-generic-app {
          &:after {
            background: $segment-generic-app;
          }
        }

        &.cb-small-app {
          &:after {
            background: $segment-small-app;
          }
        }

        &.cb-medium-app {
          &:after {
            background: $segment-medium-app;
          }
        }

        &.cb-large-app {
          &:after {
            background: $segment-large-app;
          }
        }

        &.disabled {
          &:before {
            background: $slate-tint-95;
            border-color: $slate-tint-80;
          }

          &:after {
            background: $slate-tint-80;
          }
        }

        &:after {
          opacity: 1;
        }
      }
    }
  }
}
