#sidebar-transition {
  transition: all 0.5s ease;

  .example-sidebar {
   transition: all 0.2s ease;
 }
}

.sidebar-component {
  opacity: 0;
  visibility: hidden;
}

.showsidebar {
  opacity: 1;
  visibility: visible;

  .example-sidebar {
    transform: translateX(-50px);
  }
}

.stop-scroll {
  overflow: hidden;
}

.example-sidebar {
  background: $slate-tint-95;
  box-shadow: $shadow-depth-3;
  width: 600px;

  .closebox {
    color: $slate-tint-40;
    cursor: pointer;
    position: absolute;
    right: 32px;
    top: 32px;
  }

  .closebox:hover {
    color: $slate;
  }

  h3 {
    margin: 0px 0px 40px 0px;
    padding: 0px;
  }
}

.example-sidebar {
  height: 100vh;
  position: fixed;
  right: -50px;
  top: 0;
}

.dls-sidebar-header {
  background: white;
  box-shadow: inset 0 -1px 0 0 #CCD6DB;
  height: 92px;
  left: 0;
  padding: 27px 32px 32px 32px;
  top: 0;
  transition: all 0.2s ease;
  width: 100%;
}

.dls-sidebar-content {
  padding: 27px 32px 32px 32px;
}

.sidebar-size-image {
  display: block;
  width: 800px;
}
