@keyframes bouncedelay {
  0%, 80%, 100% {
    opacity: 0;
    transform: scale(0);
  }

  40% {
    opacity: 1;
    transform: scale(1.0);
  }
}

.pod.fixed-height-200 {
  display: flex;
  height: 200px;

  .spinner {
    margin: auto;
  }
}

.spinner {
  text-align: center;

  &.white .bounce {
    background-color: white;
  }

  .bounce {
    animation: bouncedelay 1s infinite ease-in-out both;
    background-color: $segment-generic-app;
    display: inline-block;
    height: 8px;
    margin-right: 6px;
    width: 8px;

    button & {
      background-color: white;
    }

    &.bounce1 {
      animation-delay: 0s;
    }

    &.bounce2 {
      animation-delay: 0.2s;
    }

    &.bounce3 {
      animation-delay: 0.4s;
      margin-right: 0px;
    }
  }

  &.large {
    .bounce {
      animation: bouncedelay 1.2s infinite ease-in-out both;
      background-color: $segment-medium-app;
      height: 16px;
      margin-right: 10px;
      width: 16px;

      &.bounce1 {
        animation-delay: 0s;
      }

      &.bounce2 {
        animation-delay: 0.2s;
      }

      &.bounce3 {
        animation-delay: 0.4s;
        margin-right: 0px;
      }
    }
  }
}
