.switch-test {
  position: relative;
  display: inline-block;
  height: 40px;
  width: 76px;

  &:hover, &:focus {
    outline: 3px solid $gold;
    outline-offset: 0;
  }
}

.switch-test input {
  display: none;
}

input:checked + .switch-toggle {
  background-color: $segment-small-app;
}

.switch-toggle {
  background-color: $slate-tint-80;
  bottom: 0;
  cursor: pointer;
  display: flex;
  position: absolute;
  font-size: 12px;
  font-weight: 600;
  left: 0;
  letter-spacing: 1px;
  right: 0;
  top: 0;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch-on-t {
  color: white;
  margin-left: 5px;
  margin: auto;
}

.switch-off-t {
  margin: auto;
}


input:checked {

  + .switch-toggle:before {
    -webkit-transform: translateX(36px);
    -ms-transform: translateX(36px);
    transform: translateX(36px);
  }
}

input:checked {

+.switch-toggle {

  + .switch-line {
    -webkit-transform: translateX(36px);
    -ms-transform: translateX(36px);
    transform: translateX(36px);
    }
  }
}

.switch-toggle:before {
  background-color: white;
  bottom: 2px;
  content: "";
  height: 36px;
  position: absolute;
  left: 2px;
  -webkit-transition: .4s;
  transition: .4s;
  width: 36px;
}

.switch-line {
  background-color: $slate-tint-90;
  height: 14px;
  position: absolute;
  right: 15px;
  top: 14px;
  width: 1px;

  &:nth-of-type(2) {
    margin-right: 4px;
  }

  &:last-of-type {
    margin-right: 8px;
  }
}

.cb-product-instances {
  margin-bottom: 20px;

  &:last-of-type {
    margin-bottom: 0px;
  }
}
