.table {
  display: grid;
  grid-row-gap: 2px;
  max-width: 100%;
}

.row {
  background-color: white;
  display: grid;
  grid-template-columns: 24px 52px 120px 120px auto 140px 120px 120px 200px;
  grid-template-rows: 44px;

  &.row-2 {
    grid-template-columns: 24px 41px 88px 92px auto 88px 120px 115px 168px 80px;
  }

  // 7 columns
  &.row-3 {
    grid-template-columns: 120px 120px auto 140px 120px 120px 200px;
  }

  @media screen and (max-width: 1490px) {
    grid-template-columns: 24px 60px 100px 100px auto 120px 100px 100px 180px;
  }

  @media screen and (max-width: 1366px) {
    grid-template-columns: 24px 60px 100px 80px auto 80px 80px 80px 160px;
  }

  @media screen and (max-width: 1215px) {
    grid-template-columns: 16px 44px 100px 75px auto 80px 65px 65px 140px;
  }

  @media screen and (max-width: 1115px) {
    grid-template-columns: 16px 44px 95px 75px auto 80px 65px 65px 100px;
  }

  &.row-header {
    grid-template-rows: 24px;
    margin-bottom: -2px;
  }

  &:hover {
    background-color: $slate-tint-97;
  }

  &.selected {
    background: $segment-small-app;
    color: white;

    &:hover {
      background: $segment-small-app;
      color: white;
    }

    .cell span.status.overdue {
      color: white;
    }
  }

  &.actions-visible {
    .cell {
      background: $slate-tint-97;
    }

    .actions-container {
      background: $slate-tint-90;

      .actions-menu {
        opacity: 1 !important;
        top: 24px !important;
        visibility: visible !important;
      }
    }
  }

  // HEADER
  .heading {
    background: $slate-tint-95;
    border-bottom: 1px solid #E6EBED;
    color: $black-55;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.33px;
    padding: 0px 16px;

    &.centered {
      text-align: center;
    }

    &.number {
      text-align: right;
    }
  }

  // ALL CELLS
  .cell {
    line-height: 44px;
    padding: 0px 16px;

    &.actions-cell {
      display: flex;
    }

    .actions-container {
      cursor: pointer;
      display: flex;
      height: 24px;
      margin: auto;
      position: relative;
      width: 32px;

      &:hover {
        background: $slate-tint-90;
      }

      .actions-menu {
        background: white;
        box-shadow: $shadow-depth-2;
        opacity: 0;
        padding: 8px 0px;
        position: absolute;
        right: 0;
        top: 16px;
        transition: all 0.1s ease-out;
        visibility: hidden;
        z-index: 9;

        li {
          font-size: 14px;
          font-weight: 700;
          height: 40px;
          line-height: 40px;
          padding: 0px 24px;
          white-space: nowrap;

          i {
            padding-right: 8px;
          }

          &:hover {
            background-color: $slate-tint-95;
          }
        }
      }
    }

    .actions {
      background: $slate-tint-40;
      display: block;
      height: 4px;
      margin: auto;
      position: relative;
      width: 4px;

      &:after,
      &:before {
        background: $slate-tint-40;
        content: '';
        height: 4px;
        left: -6px;
        position: absolute;
        width: 4px;
      }

      &:before {
        left: 6px;
      }
    }

    &.number {
      text-align: right;
    }

    span {
      font-size: 14px;
      z-index: 4;

      &.status {
        font-weight: 700;

        &.overdue {
          color: #E42C2D;
        }
      }

      label {
        z-index: 3;
      }

      &.checkbox {
        position: relative;
        top: 13px;
      }
    }
  }

  // Inputs inside a row
  .dls-input {
    border-color: transparent;
    height: 32px;
    padding: 0px 11px;
    // transition: all 0.2s ease;

    &:focus {
      border: 1px solid $slate-tint-40;
    }

    &.input-number {
      margin-right: -11px;
    }
  }

  // Active inputs
  &.active-inputs {
    .dls-input {
      border-color: $slate-tint-40;
    }
  }

  // Row hover on inputs
  &:hover {
    .dls-input {
      border-color: $slate-tint-40;
    }
  }
}

.table-pagination {
  color: $slate-tint-40;
  display: flex;
  font-size: 14px;
  font-weight: 700;
  max-width: 1200px;

  .pagination-wrapper {
    display: flex;
    margin: auto;
    padding-top: 16px;

    .pag-item {
      height: 32px;
      line-height: 32px;
      margin-right: 8px;
      padding: 0 8px;
      width: 32px;
      text-align: center;

      &:hover {
        background: $slate-tint-90;
        cursor: pointer;
      }

      &.pag-active {
        background: $slate-tint-90;
        color: $black-90;
        font-weight: 700;
      }

      &.pag-prev,
      &.pag-next {
        width: auto;
      }
    }
  }
}

// Draggable / Sort
.table-sortable {
  .icon-drag {
    cursor: move;
  }

  .row-sortable {

    &:focus {
      outline: none;
    }
  }

  // Item being dragged into new location
  .draggable-source--is-dragging {
    background: rgba($segment-generic-app, 0.2);
    box-shadow: inset 0px 0px 0px 1px $segment-generic-app;
  }

  // Mirror of item being dragged
  .draggable-mirror {
    box-shadow: $shadow-depth-2;
    cursor: move !important;
    width: 1200px;
    z-index: 99999;

    &:focus {
      cursor: move !important;
    }
  }
}

.icon-guidance {
  max-width: 840px;
}
