.wizard-progress-indicator {
  padding-top: 19px;
  text-align: center;

  .progressbar {
    counter-reset: section;
    display: inline-flex;
    justify-content: center;
    list-style-type: none;

    li {
      font-weight: 700;
      margin-right: 96px;
      position: relative;

      &:last-child {
        margin-right: 0;

        &:after {
          display: none;
        }
      }

      .link {
        text-decoration: none;
      }

      &:after {
        background: $black-55;
        content: '';
        display: block;
        height: 1px;
        position: absolute;
        right: -64px;
        top: 8px;
        width: 48px;
      }

      &.completed {
        &:after {
          background: $segment-small-app;
        }

        .link {
          color: $segment-small-app;

          &:before {
            color: $segment-small-app;
            content: "\E950";
            font-family: CarbonIcons;
            left: -24px;
          }
        }
      }
    }

    .link {
      &:before {
        content: " " counter(section) " ";
        counter-increment: section;
        font-weight: 700;
        left: -17px;
        position: absolute;
      }
    }

    .active {
      .link {
        color: $black-90;

        &:before {
          color: $black-90;
        }
      }
    }
  }
}

.previous-page {
  visibility: hidden;
}

.previous-page-visible {
  visibility: visible;
}
