---
layout: default
secondary_menu_id: accordions
primary_menu_id: components
title: Accordions
sketch_file: /downloads/components/accordions.sketch
sketch_file_version: 0.3
summary: Group, hide and show content.
tags: accordion, accordions, container, containers, expand, collapse
---

<p class='summary'>{{ page.summary }}</p>
<div class='content-tab'>
  <ul class='tab-menu'>
    <li class='selected' data-target-tabs='tabs-1'>Design</li>
    <li data-target-tabs='tabs-3'>Guidance</li>
  </ul>
</div>
<div class='secondary-tab visible' id='tabs-1'>
  <div class='container'>
    <p>Accordions are a good progressive disclosure technique - initially showing only top-level information, but allowing the user quick access to more on request. But, they can confuse users sometimes, so use them sparingly.</p>
    <div class="pod">
      <div class="accordion">
        <div class="accordion-tab">
          <div class="accordion-header"><span class="chevron icon icon-dropdown"></span>Benco Supplies Ltd <span class="money-value">4,556.89</span></div>
          <div class="accordion-content">
            <p>Invoices due payment by value.</p>
            <div class="due-chart">
              <div class="due-row">
                <div>INV-367</div><div class="value">1,345.77</div>
              </div>
              <div class="due-row">
                <div>INV-312</div><div class="value">1,045.77</div>
              </div>
              <div class="due-row">
                <div>INV-380</div><div class="value">245.99</div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-tab">
          <div class="accordion-header"><span class="chevron icon icon-dropdown"></span>Kianzi Company Co <span class="money-value">3,211.42</span></div>
          <div class="accordion-content">
            <p>Invoices due payment by value.</p>
            <div class="due-chart">
              <div class="due-row">
                <div>INV-367</div><div class="value">1,345.77</div>
              </div>
              <div class="due-row">
                <div>INV-312</div><div class="value">1,045.77</div>
              </div>
              <div class="due-row">
                <div>INV-380</div><div class="value">245.99</div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-tab">
          <div class="accordion-header"><span class="chevron icon icon-dropdown"></span>Alfreds Shoes <span class="money-value">1,991.23</span></div>
          <div class="accordion-content">
            <p>Ut enim ad minim veniam, quis nostrud exercitation. At nos hinc posthac, sitientis piros Afros.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='secondary-tab' id='tabs-3'>
  <div class='container'>
    <h2>Have I got the right component?</h2>
    <ul class="standard-list">
      <li>Other progressive disclosure techniques involve using <a href='/components/checkboxes/'>Checkboxes</a>, <a href='/components/radios/'>Radio Buttons</a> or <a href='/components/links/'>Links</a>.</li>
    </ul>
  </div>
  <div class='container'>
    <h2>What configurations are available?</h2>
    <ul class="standard-list">
      <li>Default, Card, and Special visual styles.</li>
    </ul>
  </div>
  <div class='container'>
    <h2>Guidance, hints and tips</h2>
    <ul class="standard-list">
      <li>An accordion gives users control over how much content they want to see, and allows them to find the content they need quickly.</li>
      <li>Accordions are a good progressive disclosure technique - initially showing only top-level information, but allowing the user quick access to more on request.</li>
      <li>Don’t put accordions within accordions.</li>
      <li>Don’t hide important controls within accordions - for example, primary actions should always be outside them.</li>
      <li>Accordions expand and collapse vertically. If there are lots, or content is extensive, be careful that the user doesn’t become confused, lose their place, or have problems with discoverability. Use them sparingly for these reasons.</li>
      <li>Accordions should remain open or closed until a user interacts with them. Consider whether multiple, or only one accordion section can be open at a time.
        <ul class="standard-list">
          <li>An arrow icon pointing to the right indicates that the accordion is closed.</li>
          <li>An arrow icon pointing down indicates that the accordion is open.</li>
          <li>The icon can animate when a transition is made.</li>
          <li>The user can click the icon directly, the text label, or the text label’s background to action the accordion.</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
