---
layout: default
secondary_menu_id: action-popovers
primary_menu_id: components
title: Action Popovers
summary: Present a list of actions in context.
tags: menu, menus, action, actions, popover, pop, over, dropdown, drop, down, dropdowns, table, tables
---

<p class='summary'>{{ page.summary }}</p>
<div class='content-tab'>
  <ul class='tab-menu'>
    <li class='selected' data-target-tabs='tabs-1'>Design</li>
    <li data-target-tabs='tabs-3'>Guidance</li>
  </ul>
</div>
<div class='secondary-tab visible' id='tabs-1'>
  <div class="container">
    <h2>Overview</h2>
    <p>Action popovers present a handy list of actions the user can perform on a whole table, a specific row within a table, or a tile. Here are two examples:</p>
    <ul class='standard-list'>
      <li><span class='emphasis-term'>Click the cog icon</span> to show an action popover that could allow a user to choose the columns to show in the table.</li>
      <li><span class='emphasis-term'>Click the ellipsis icon</span> to show actions the user can take on a specific table row, for example, emailing the invoice.</li>
    </ul>
  </div>
  <div class='pod pod-light-slate full-width'>
    <div class="table table-with-actions">
      <div class="row row-ap row-header row-header-ap">
        <div class="heading ap-heading">
          <div class="ap">
            <div class="ap-icon">
              <i class="icon-settings"></i>
            </div>
            <div class="ap-container">
              <p class="small-header-capitals ap-head">Columns</p>
              <ul>
                <li><input id="cb-created-t" type="checkbox" class="custom-checkbox" checked><label class="cb-small-app" for="cb-created-t">Created</label></li>
                <li><input id="cb-num-t" type="checkbox" class="custom-checkbox" checked><label class="cb-small-app" for="cb-num-t">Number</label></li>
                <li><input id="cb-customer-t" type="checkbox" class="custom-checkbox" checked><label class="cb-small-app" for="cb-customer-t">Customer</label></li>
                <li><input id="cb-total-t" type="checkbox" class="custom-checkbox" checked><label class="cb-small-app" for="cb-total-t">Total</label></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="heading cr-show">CREATED</div>
        <div class="heading nu-show">NUMBER</div>
        <div class="heading cu-show">CUSTOMER</div>
        <div class="heading number to-show">TOTAL</div>
        <div class="heading centered">ACTIONS</div>
      </div>
      <div class="row row-ap">
        <div class="cell"><span></span></div>
        <div class="cell cr-show"><span>9 Apr 18</span></div>
        <div class="cell nu-show"><span>SI-204</span></div>
        <div class="cell cu-show"><span>Canny Cakes</span></div>
        <div class="cell number to-show"><span>800.00</span></div>
        <div class="cell actions-cell">
          <div class="actions-container">
            <span class="actions"></span>
            <ul class="actions-menu">
              <li><i class="icon icon-message"></i> Email Invoice</li>
              <li><i class="icon icon-print"></i> Print Invoice</li>
              <li><i class="icon icon-pdf"></i> Download PDF</li>
              <li><i class="icon icon-csv"></i> Download CSV</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row row-ap">
        <div class="cell"><span></span></div>
        <div class="cell cr-show"><span>9 Apr 18</span></div>
        <div class="cell nu-show"><span>SI-204</span></div>
        <div class="cell cu-show"><span>Canny Cakes</span></div>
        <div class="cell number to-show"><span>800.00</span></div>
        <div class="cell actions-cell">
          <div class="actions-container">
            <span class="actions"></span>
            <ul class="actions-menu">
              <li><i class="icon icon-message"></i> Email Invoice</li>
              <li><i class="icon icon-print"></i> Print Invoice</li>
              <li><i class="icon icon-pdf"></i> Download PDF</li>
              <li><i class="icon icon-csv"></i> Download CSV</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row row-ap">
        <div class="cell"><span></span></div>
        <div class="cell cr-show"><span>9 Apr 18</span></div>
        <div class="cell nu-show"><span>SI-204</span></div>
        <div class="cell cu-show"><span>Canny Cakes</span></div>
        <div class="cell number to-show"><span>800.00</span></div>
        <div class="cell actions-cell">
          <div class="actions-container">
            <span class="actions"></span>
            <ul class="actions-menu">
              <li><i class="icon icon-message"></i> Email Invoice</li>
              <li><i class="icon icon-print"></i> Print Invoice</li>
              <li><i class="icon icon-pdf"></i> Download PDF</li>
              <li><i class="icon icon-csv"></i> Download CSV</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row row-ap">
        <div class="cell"><span></span></div>
        <div class="cell cr-show"><span>9 Apr 18</span></div>
        <div class="cell nu-show"><span>SI-204</span></div>
        <div class="cell cu-show"><span>Canny Cakes</span></div>
        <div class="cell number to-show"><span>800.00</span></div>
        <div class="cell actions-cell">
          <div class="actions-container">
            <span class="actions"></span>
            <ul class="actions-menu">
              <li><i class="icon icon-message"></i> Email Invoice</li>
              <li><i class="icon icon-print"></i> Print Invoice</li>
              <li><i class="icon icon-pdf"></i> Download PDF</li>
              <li><i class="icon icon-csv"></i> Download CSV</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row row-ap">
        <div class="cell"><span></span></div>
        <div class="cell cr-show"><span>9 Apr 18</span></div>
        <div class="cell nu-show"><span>SI-204</span></div>
        <div class="cell cu-show"><span>Canny Cakes</span></div>
        <div class="cell number to-show"><span>800.00</span></div>
        <div class="cell actions-cell">
          <div class="actions-container">
            <span class="actions"></span>
            <ul class="actions-menu">
              <li><i class="icon icon-message"></i> Email Invoice</li>
              <li><i class="icon icon-print"></i> Print Invoice</li>
              <li><i class="icon icon-pdf"></i> Download PDF</li>
              <li><i class="icon icon-csv"></i> Download CSV</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row row-ap">
        <div class="cell"><span></span></div>
        <div class="cell cr-show"><span>9 Apr 18</span></div>
        <div class="cell nu-show"><span>SI-204</span></div>
        <div class="cell cu-show"><span>Canny Cakes</span></div>
        <div class="cell number to-show"><span>800.00</span></div>
        <div class="cell actions-cell">
          <div class="actions-container">
            <span class="actions"></span>
            <ul class="actions-menu">
              <li><i class="icon icon-message"></i> Email Invoice</li>
              <li><i class="icon icon-print"></i> Print Invoice</li>
              <li><i class="icon icon-pdf"></i> Download PDF</li>
              <li><i class="icon icon-csv"></i> Download CSV</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row row-ap">
        <div class="cell"><span></span></div>
        <div class="cell cr-show"><span>9 Apr 18</span></div>
        <div class="cell nu-show"><span>SI-204</span></div>
        <div class="cell cu-show"><span>Canny Cakes</span></div>
        <div class="cell number to-show"><span>800.00</span></div>
        <div class="cell actions-cell">
          <div class="actions-container">
            <span class="actions"></span>
            <ul class="actions-menu">
              <li><i class="icon icon-message"></i> Email Invoice</li>
              <li><i class="icon icon-print"></i> Print Invoice</li>
              <li><i class="icon icon-pdf"></i> Download PDF</li>
              <li><i class="icon icon-csv"></i> Download CSV</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='secondary-tab' id='tabs-3'>
  <div class='container'>
    <h2>Have I got the right component?</h2>
    <ul class="standard-list">
      <li>Data entry rather than an action? Use a <a href='/components/dropdowns/'>Dropdown</a>.</li>
      <li>Only a single action? Just use a single <a href='/components/buttons/'>Button</a>.</li>
      <li>Doesn’t relate to a single table row or tile? Try a <a href='/components/split-buttons/'>Split Button</a>, or <a href='/components/multi-action-buttons/'>Multi-Action button</a>.</li>
    </ul>
  </div>
  <div class='container'>
    <h2>What configurations are available?</h2>
    <ul class="standard-list">
      <li>Position relative to icon: Top or Bottom; Left or Right.</li>
      <li>Options: With sub menu; With separators.</li>
    </ul>
  </div>
  <div class='container'>
    <h2>Guidance, hints and tips</h2>
    <ul class="standard-list">
      <li>Action Popovers only perform commands - they aren’t used to collect data, or choose between data items as in a form.</li>
      <li>Place the most common and useful actions within them. Although designs for separator rows and sub-menus are provided, these add complexity, so use them sparingly.</li>
      <li>Clicking the table row or tile links the user to that item. Only clicking the Action Popover's icon displays its items.</li>
      <li>Action popovers appear in front of all other UI elements.</li>
      <li>If they are in a position to be cut off by the browser or screen’s edge, the Action Popover can instead appear to the left, right, or above the element that generates it.</li>
      <li>Content in the popover is usually left aligned.</li>
    </ul>
  </div>
</div>
