---
layout: default
secondary_menu_id: button-toggle
primary_menu_id: components
title: Button Toggle
sketch_file: /downloads/components/button_toggle.sketch
sketch_file_version: 0.1
summary: Selects one option from a small number of highly visible options.
tags: buttons, button, toggle, input, inputs, form, forms, radio, choice
---

<p class='summary'>{{ page.summary }}</p>
<div class='content-tab'>
  <ul class='tab-menu'>
    <li class='selected' data-target-tabs='tabs-1'>Design</li>
    <li data-target-tabs='tabs-3'>Guidance</li>
  </ul>
</div>
<div class='secondary-tab visible' id='tabs-1'>
  <div class='container'>
    <p>If the user has a choice between a small number of options, that you’d like to be highly visible, a button toggle is a good choice.</p>
    <div class='pod'>
      <h3>Text-only</h3>
      <div class="button-toggle tile-subtle-container">
        <input id="bt-stock" name="rb-group-1" type="radio" class="btr"><label class="dls-button secondary bt-tg" for="bt-stock">Stock</label>
        <input id="bt-non-stock" name="rb-group-1" type="radio" class="btr"><label class="dls-button secondary bt-tg" for="bt-non-stock">Non-stock</label>
        <input id="bt-service" name="rb-group-1" type="radio" class="btr"><label class="dls-button secondary bt-tg" for="bt-service">Service</label>
      </div>
      <h3>Small icon</h3>
      <div class="button-toggle tile-subtle-container">
        <input id="bt-stock-i" name="rb-group-1" type="radio" class="btr"><label class="dls-button secondary bt-tg" for="bt-stock-i"><i class="icon icon-shop"></i><span>Stock</span></label>
        <input id="bt-non-stock-i" name="rb-group-1" type="radio" class="btr"><label class="dls-button secondary bt-tg" for="bt-non-stock-i"><i class="icon icon-delivery"></i><span>Non-stock</span></label>
        <input id="bt-service-i" name="rb-group-1" type="radio" class="btr"><label class="dls-button secondary bt-tg" for="bt-service-i"><i class="icon icon-credit_card"></i><span>Service</span></label>
      </div>
      <h3>Large icon</h3>
      <div class="button-toggle tile-subtle-container">
        <input id="bt-stock-i-l" name="rb-group-1" type="radio" class="btr"><label class="dls-button secondary bt-tg largeicon" for="bt-stock-i-l"><div class="large-icon-tg"><i class="icon icon-shop"></i></div><span>Stock</span></label>
        <input id="bt-non-stock-i-l" name="rb-group-1" type="radio" class="btr"><label class="dls-button secondary bt-tg largeicon" for="bt-non-stock-i-l"><div class="large-icon-tg"><i class="icon icon-delivery"></i></div><span>Non-stock</span></label>
        <input id="bt-service-i-l" name="rb-group-1" type="radio" class="btr"><label class="dls-button secondary bt-tg largeicon" for="bt-service-i-l"><div class="large-icon-tg"><i class="icon icon-credit_card"></i></div><span>Service</span></label>
      </div>
    </div>
  </div>
</div>
<div class='secondary-tab' id='tabs-3'>
  <div class='container'>
    <h2>Have I got the right component?</h2>
    <ul class='standard-list'>
      <li>Performing a single action? Try a <a href='/components/buttons/'>button</a>.</li>
      <li>Range of buttons where one is more important than the others? Try a <a href='/components/split-buttons/'>split button</a>.</li>
      <li>Range of buttons of the same importance? Try a <a href='/components/multi-action-buttons/'>multi-action button</a>.</li>
      <li>Choosing one option from a longer list? Try <a href='/components/radios/'>radio buttons</a>.</li>
      <li>Choosing one option from a very long list? Try a <a href='/components/dropdowns/'>dropdown</a>.</li>
      <li>Choosing more than one option? Try <a href='/components/checkboxes/'>checkboxes</a>.</li>
      <li>For the icon font, and guidance on icon colour, see the <a href='/foundations/icons/'>Foundation on Icons</a>.</li>
    </ul>
  </div>
  <div class='container'>
    <h2>What configurations are available?</h2>
    <ul class='standard-list'>
      <li>Available in small/large sizes.</li>
      <li>Colour theming by product accent colour.</li>
      <li>Options: With icon before; With icon after.</li>
    </ul>
  </div>
  <div class='container'>
    <h2>Guidance, hints and tips</h2>
    <ul class='standard-list'>
      <li>Useful if the user has a choice between a small number of options, that you’d like to be highly visible (e.g. choosing between three or fewer subscription packages, with short names).</li>
      <li>A button toggle is always composed of secondary buttons, as usually there's only a single primary action on a page.</li>
      <li>To make the meaning of an option clearer, you can add an <a href='/foundations/icons/'>icon</a> to it.</li>
    </ul>
  </div>
</div>
