---
layout: default
secondary_menu_id: button-bar
primary_menu_id: components
title: Button Bars
sketch_file: /downloads/components/buttons.sketch
sketch_file_version: 0.8
summary: Offer a range of actions overtly where there is plenty of space available.
tags: buttons, button, bar, input, inputs, form, forms
---

<p class='summary'>{{ page.summary }}</p>
<div class='content-tab'>
  <ul class='tab-menu'>
    <li class='selected' data-target-tabs='tabs-1'>Design</li>
    <li data-target-tabs='tabs-3'>Guidance</li>
  </ul>
</div>
<div class='secondary-tab visible' id='tabs-1'>
  <div class='container'>
    <p>If you need lots of buttons, but want to avoid hiding them away in a split button or multi-action button, a button bar can make good use of space.</p>
    <div class='pod'>
      <button class='secondary button-bar'>Print</button><button class='secondary button-bar'>Email</button><button class='secondary button-bar'>Edit</button><button class='secondary button-bar'>Copy</button>
    </div>
  </div>
</div>
<div class='secondary-tab' id='tabs-3'>
  <div class='container'>
    <h2>Have I got the right component?</h2>
    <ul class='standard-list'>
      <li>Navigating the user to another location? Try a <a href='/components/links/'>link</a>.</li>
      <li>Range of buttons where one is more important than the others? Try a <a href='/components/split-buttons/'>split button</a>.</li>
      <li>Range of buttons of the same importance? Try a <a href='/components/multi-action-buttons/'>multi-action button</a>.</li>
      <li>Lots of buttons and plenty of space? Try a <a href='/components/button-bar/'>button bar</a>.</li>
      <li>Need a compact visual indicator to help things in common stand out? Try a <a href='/components/pills-badges/'>Pill or Badge</a>.</li>
      <li>For the icon font, and guidance on icon colour, see the <a href='/foundations/icons/'>Foundation on Icons</a>.</li>
    </ul>
  </div>
  <div class='container'>
    <h2>What configurations are available?</h2>
    <ul class='standard-list'>
      <li>Variants: Primary; Secondary; Tertiary (ghost)</li>
      <li>Colour theming by product accent colour.</li>
      <li>Options: With icon before; With icon after.</li>
    </ul>
  </div>
  <div class='container'>
    <h2>Guidance, hints and tips</h2>
    <ul class='standard-list'>
      <li>If you need lots of buttons, but want to avoid hiding them away in a split button or multi-action button, a button bar can make good use of space.</li>
      <li>A button bar is always composed of secondary buttons, as usually there's only a single primary action on a page.</li>
    </ul>
  </div>
</div>
