---
layout: default
full_width: true
secondary_menu_id: buttons
primary_menu_id: components
title: Buttons
sketch_file: /downloads/components/buttons.sketch
sketch_file_version: 0.8
summary: Perform a single action.
tags: buttons, button, primary, secondary, tertiary, ghost, split, multi-action, multi, action, bar, icon, icons, input, inputs, form, forms
---

<p class='summary'>{{ page.summary }}</p>
<div class='content-tab'>
  <ul class='tab-menu'>
    <li class='selected' data-target-tabs='tabs-1'>Design</li>
    <li data-target-tabs='tabs-3'>Guidance</li>
  </ul>
</div>
<div class='secondary-tab visible' id='tabs-1'>
  <div class='container'>
    <h2>Primary Buttons</h2>
    <p>For the single most prominent call to action on the page (e.g. Save, Submit, Continue).</p>
    <div class='pod full-width'>
      <h3>For Products</h3>
      <p>In cloud products we use 'Open Sans' as the primary font for body text - this includes buttons.</p>
      <table class='pod-table'>
        <tr>
          <th></th><th>Small (32px height)</th><th>Medium (default, 40px height)</th><th>Large (48px height)</th>
        </tr>
        <tr>
          <td>Small Business</td>
          <td><button class='size-small business-small'>Save</button></td>
          <td><button class='business-small'>Save</button></td>
          <td><button class='size-large business-small'>Save</button></td>
        </tr>
        <tr>
          <td>Small Business - Dark Background</td>
          <td><button class='size-small business-small dark-background'>Save</button></td>
          <td><button class='business-small dark-background'>Save</button></td>
          <td><button class='size-large business-small dark-background'>Save</button></td>
        </tr>
        <tr>
          <td>Medium Business</td>
          <td><button class='size-small business-medium'>Save</button></td>
          <td><button class='business-medium'>Save</button></td>
          <td><button class='size-large business-medium'>Save</button></td>
        </tr>
        <tr>
          <td>Medium Business - Dark Background</td>
          <td><button class='size-small business-medium dark-background'>Save</button></td>
          <td><button class='business-medium dark-background'>Save</button></td>
          <td><button class='size-large business-medium dark-background'>Save</button></td>
        </tr>
        <tr>
          <td>Large Business</td>
          <td><button class='size-small business-large'>Save</button></td>
          <td><button class='business-large'>Save</button></td>
          <td><button class='size-large business-large'>Save</button></td>
        </tr>
        <tr>
          <td>Large Business - Dark Background</td>
          <td><button class='size-small business-large dark-background'>Save</button></td>
          <td><button class='business-large dark-background'>Save</button></td>
          <td><button class='size-large business-large dark-background'>Save</button></td>
        </tr>
        <tr>
          <td>Generic Business</td>
          <td><button class='size-small'>Save</button></td>
          <td><button>Save</button></td>
          <td><button class='size-large'>Save</button></td>
        </tr>
        <tr>
          <td>Destructive</td>
          <td><button class='size-small destructive'>Save</button></td>
          <td><button class='destructive'>Save</button></td>
          <td><button class='size-large destructive'>Save</button></td>
        </tr>
        <tr>
          <td>Disabled</td>
          <td><button class='size-small disabled'>Save</button></td>
          <td><button class='disabled'>Save</button></td>
          <td><button class='size-large disabled'>Save</button></td>
        </tr>
        <tr>
          <td>Notes</td>
          <td>Left and right padding: 16px<br/>Font size 14px, weight: 600</td>
          <td>Left and right padding: 24px<br/>Font size 14px, weight: 600</td>
          <td>Left and right padding: 32px<br/>Font size 16px, weight: 600</td>
        </tr>
      </table>
    </div>
    <div class='pod full-width'>
      <h3>For Websites</h3>
      <p>On marketing sites we use 'Adelle Sage' as the primary font for buttons.</p>
      <table class='pod-table'>
        <tr>
          <th></th><th>Small (32px height)</th><th>Large (48px height)</th>
        </tr>
        <tr>
          <td>Small Business</td>
          <td><button class='size-small business-small marketing'>Start Trial</button></td>
          <td><button class='size-large business-small marketing'>Start Trial</button></td>
        </tr>
        <tr>
          <td>Medium Business</td>
          <td><button class='size-small business-medium marketing'>Start Trial</button></td>
          <td><button class='size-large business-medium marketing'>Start Trial</button></td>
        </tr>
        <tr>
          <td>Large Business</td>
          <td><button class='size-small business-large marketing'>Start Trial</button></td>
          <td><button class='size-large business-large marketing'>Start Trial</button></td>
        </tr>
        <tr>
          <td>Generic Business</td>
          <td><button class='size-small marketing'>Start Trial</button></td>
          <td><button class='size-large marketing'>Start Trial</button></td>
        </tr>
        <tr>
          <td>Dark Backgrounds</td>
          <td class="button-dark-background"><button class='size-small marketing dark-background'>Start Trial</button></td>
          <td class="button-dark-background"><button class='size-large marketing dark-background'>Start Trial</button></td>
        </tr>
        <tr>
          <td>Notes</td>
          <td>Adele Sage 16px, fixed with: 128px, weight 400</td>
          <td>Adele Sage 16px, fixed with: 256px, weight 400</td>
        </tr>
      </table>
    </div>
  </div>
  <div class='container'>
    <h2>Secondary Buttons</h2>
    <p>Less prominent, there can be multiple secondary buttons on a page.</p>
    <div class='pod full-width'>
      <h3>For Products</h3>
      <p>Secondary buttons are transparent, rather than white.</p>
      <table class='pod-table'>
        <tr>
          <th></th><th>Small (32px height)</th><th>Medium (default, 40px height)</th><th>Large (48px height)</th>
        </tr>
        <tr>
          <td>Small Business</td>
          <td><button class='size-small business-small secondary'>Save</button></td>
          <td><button class='business-small secondary'>Save</button></td>
          <td><button class='size-large business-small secondary'>Save</button></td>
        </tr>
        <tr>
          <td>Medium Business</td>
          <td><button class='size-small business-medium secondary'>Save</button></td>
          <td><button class='business-medium secondary'>Save</button></td>
          <td><button class='size-large business-medium secondary'>Save</button></td>
        </tr>
        <tr>
          <td>Large Business</td>
          <td><button class='size-small business-large secondary'>Save</button></td>
          <td><button class='business-large secondary'>Save</button></td>
          <td><button class='size-large business-large secondary'>Save</button></td>
        </tr>
        <tr>
          <td>Generic Business</td>
          <td><button class='size-small secondary'>Save</button></td>
          <td><button class='secondary'>Save</button></td>
          <td><button class='size-large secondary'>Save</button></td>
        </tr>
        <tr>
          <td>Destructive</td>
          <td><button class='size-small destructive secondary'>Save</button></td>
          <td><button class='destructive secondary'>Save</button></td>
          <td><button class='size-large destructive secondary'>Save</button></td>
        </tr>
        <tr>
          <td>Disabled</td>
          <td><button class='size-small disabled secondary'>Save</button></td>
          <td><button class='disabled secondary'>Save</button></td>
          <td><button class='size-large disabled secondary'>Save</button></td>
        </tr>
        <tr>
          <td>Notes</td>
          <td>Left and right padding: 16px<br/>Font size 14px, weight: 600</td>
          <td>Left and right padding: 24px<br/>Font size 14px, weight: 600</td>
          <td>Left and right padding: 32px<br/>Font size 16px, weight: 600</td>
        </tr>
      </table>
    </div>
    <div class='pod full-width'>
      <h3>For Websites</h3>
      <table class='pod-table'>
        <tr>
          <th></th><th>Small (32px height)</th><th>Large (48px height)</th>
        </tr>
        <tr>
          <td>Small Business</td>
          <td><button class='size-small business-small secondary marketing'>Read More</button></td>
          <td><button class='size-large business-small secondary marketing'>Read More</button></td>
        </tr>
        <tr>
          <td>Medium Business</td>
          <td><button class='size-small business-medium secondary marketing'>Read More</button></td>
          <td><button class='size-large business-medium secondary marketing'>Read More</button></td>
        </tr>
        <tr>
          <td>Large Business</td>
          <td><button class='size-small business-large secondary marketing'>Read More</button></td>
          <td><button class='size-large business-large secondary marketing'>Read More</button></td>
        </tr>
        <tr>
          <td>Generic Business</td>
          <td><button class='size-small secondary marketing'>Read More</button></td>
          <td><button class='size-large secondary marketing'>Read More</button></td>
        </tr>
        <tr>
          <td>Dark Backgrounds</td>
          <td class="button-dark-background"><button class='size-small secondary marketing dark-background'>Start Trial</button></td>
          <td class="button-dark-background"><button class='size-large secondary marketing dark-background'>Start Trial</button></td>
        </tr>
        <tr>
          <td>Notes</td>
          <td>Adele Sage 16px, fixed with: 128px, weight 400</td>
          <td>Adele Sage 16px, fixed with: 256px, weight 400</td>
        </tr>
      </table>
    </div>
  </div>
  <div class='container'>
    <h2>Tertiary Buttons</h2>
    <p>Tertiary or ‘ghost’ buttons are used for reversing actions, like ‘Cancel’ or ‘Back’.</p>
    <div class='pod full-width'>
      <div class='container'>
        <table class='pod-table'>
          <tr>
            <th></th><th>Small (font size 14px)</th><th>Large (font size 16px)</th>
          </tr>
          <tr>
            <td>Small Business</td>
            <td><button class='size-small business-small tertiary'>Cancel</button></td>
            <td><button class='size-large business-small tertiary'>Cancel</button></td>
          </tr>
          <tr>
            <td>Medium Business</td>
            <td><button class='size-small business-medium tertiary'>Cancel</button></td>
            <td><button class='size-large business-medium tertiary'>Cancel</button></td>
          </tr>
          <tr>
            <td>Large Business</td>
            <td><button class='size-small business-large tertiary'>Cancel</button></td>
            <td><button class='size-large business-large tertiary'>Cancel</button></td>
          </tr>
          <tr>
            <td>Generic Business</td>
            <td><button class='size-small tertiary'>Cancel</button></td>
            <td><button class='size-large tertiary'>Cancel</button></td>
          </tr>
          <tr>
            <td>Destructive</td>
            <td><button class='size-small destructive tertiary'>Cancel</button></td>
            <td><button class='size-large destructive tertiary'>Cancel</button></td>
          </tr>
          <tr>
            <td>Disabled</td>
            <td><button class='size-small disabled tertiary'>Cancel</button></td>
            <td><button class='size-large disabled tertiary'>Cancel</button></td>
          </tr>
        </table>
      </div>
      <div class='container'>
        <p>In summary, our approach to tertiary buttons is...</p>
        <ul class="standard-list">
          <li>Deafult: Use the accent colour of the product, with no underline.</li>
          <li>Hover: Apply the accent hover colour, with no underline.</li>
          <li>Use the standard 600 font weight.</li>
        </ul>
        <p>See how <a href='/components/links/'>Links</a> are visually similar.</p>
      </div>
    </div>
  </div>
  <div class='container'>
    <h2>Buttons with Icons</h2>
    <p>Use icons before or after the button label to give users an extra clue about special functions.</p>
    <div class='pod'>
      <table class='pod-table'>
        <tr>
          <td>Primary</td>
          <td>
            <button><i class='icon icon-filter_new'></i><span>Filter</span></button>
            <button><span>Connect to HMRC</span><i class='icon icon-link'></i></button>
          </td>
        </tr>
        <tr>
          <td>Secondary</td>
          <td>
            <button class='secondary'><i class='icon icon-filter_new'></i><span>Filter</span></button>
            <button class='secondary'><span>Connect to HMRC</span><i class='icon icon-link'></i></button>
          </td>
        </tr>
        <tr>
          <td>Tertiary</td>
          <td>
            <button class='tertiary'><i class='icon icon-filter_new'></i><span>Filter</span></button>
            <button class='tertiary'><span>Connect to HMRC</span><i class='icon icon-link'></i></button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class='secondary-tab' id='tabs-3'>
  <div class='container'>
    <h2>Have I got the right component?</h2>
    <ul class='standard-list'>
      <li>Navigating the user to another location? Try a <a href='/components/links/'>link</a>.</li>
      <li>Range of buttons where one is more important than the others? Try a <a href='/components/split-buttons/'>split button</a>.</li>
      <li>Range of buttons of the same importance? Try a <a href='/components/multi-action-buttons/'>multi-action button</a>.</li>
      <li>Lots of buttons and plenty of space? Try a <a href='/components/button-bar/'>button bar</a>.</li>
      <li>Presenting a list of actions to take in context? Try an <a href='/components/action-popovers/'>Action Popover</a>.</li>
      <li>Need a compact visual indicator to help things in common stand out? Try a <a href='/components/pills-badges/'>Pill or Badge</a>.</li>
      <li>For the icon font, and guidance on icon colour, see the <a href='/foundations/icons/'>Foundation on Icons</a>.</li>
    </ul>
  </div>
  <div class='container'>
    <h2>What configurations are available?</h2>
    <ul class='standard-list'>
      <li>Variants: Primary; Secondary; Tertiary (ghost)</li>
      <li>Colour theming by product accent colour.</li>
      <li>Options: With icon before; With icon after.</li>
    </ul>
  </div>
  <div class='container'>
    <h2>Guidance, hints and tips</h2>
    <ul class='standard-list'>
      <li>Use buttons to submit a form (e.g. ‘Save’), to advance to the next step in a process (e.g. ‘Next’), or to create a new item (e.g. ‘New Invoice’).</li>
      <li>Avoid using buttons for navigation.</li>
      <li>The default button size in product is 40px height. Padding, line height, and font size vary between small, medium, and large sizes.</li>
      <li>Usually button <a href='/foundations/colour/'>colour</a> follows the accent colour of the product you’re in.</li>
      <li>Types of buttons:
        <ul class='standard-list'>
          <li><span class='emphasis-term'>Highest Emphasis</span> - primary buttons for the single most prominent call to action on the page (e.g. 'Save', 'Submit', 'Continue').</li>
          <li><span class='emphasis-term'>Lowest Emphasis</span> - tertiary or ‘ghost’ buttons are only for reversing actions, like ‘Cancel’ or ‘Back’.</li>
          <li><span class='emphasis-term'>Medium Emphasis</span> - secondary buttons for any other action.</li>
          <li><span class='emphasis-term'>Destructive</span> - if an action could be harmful (e.g. 'Delete'), consider using the destructive option. It's a good idea to show a confirmation dialog, or the ability to undo it.</li>
        </ul>
      </li>
      <li>You can disable a button, but try to avoid this. If you need to, make it clear what the user needs to do in order to activate it. A good case is to prevent a form being submitted twice (e.g. on a payment page).</li>
      <li>Icons can be applied to buttons to give an extra clue to their purpose.</li>
      <li>Buttons are usually positioned at the bottom right of a page or dialog. In a pair, Cancel goes on the left, and Save goes on the right. For more information, see <a href='/patterns/forms/'>Forms</a>.</li>
      <li>For button text, use Initial Capitals, and try to use a verb. A two word pair like ‘Save Invoice’ is ideal.</li>
    </ul>
  </div>
</div>
