---
layout: default
secondary_menu_id: cards-tiles
primary_menu_id: components
title: Cards, Tiles
sketch_file: /downloads/components/cards_tiles.sketch
sketch_file_version: 0.3
summary: Organise and present content and actions about a single subject.
tags: card, cards, tile, tiles, pod, pods, container, containers
---

<p class='summary'>{{ page.summary }}</p>
<div class='content-tab'>
  <ul class='tab-menu'>
    <li class='selected' data-target-tabs='tabs-1'>Design</li>
    <li data-target-tabs='tabs-3'>Guidance</li>
  </ul>
</div>
<div class='secondary-tab visible' id='tabs-1'>
  <div class='container'>
    <h2>Cards</h2>
    <p>Cards contain interactive content or controls. Sometimes it might be possible to move them around on the page. They have <a href='/foundations/shadows/'>shadows</a> - 'card shadow' as a default, and depth level 1 on hover.</p>
    <div class="card">
      <div class="card-header">
        <div class="card-title">Stripe - [account name]</div>
        <p>user.name@sage.com</p>
        <i class="icon-image"></i>
      </div>
      <div class="card-content">
        <div class="card-balance-title">Stripe Balance</div>
        <div class="card-balance-amount">£0.00</div>
        <div class="card-balance-date">LAST ENTRY: 15 DAYS AGO</div>
      </div>
      <div class="card-footer">
        <button class="size-small tertiary"><i class="icon-link"></i> View Stripe Dashboard</button>
      </div>
    </div>
  </div>
  <div class='container'>
    <h2>Tiles</h2>
    <p>Tiles contain static content for visual scanning only, and don't contain controls. Tiles don't have shadows.</p>
    <div class="tile demo-tile">
      <div class="demo-tile-content">
        <label>Stripe Balance</label>
        <div class="large-label">£271.94</div>
      </div>
      <div class="demo-tile-content">
        <label class="inline">Next Payment</label><span class="date-label">12 Jan 2019</span>
        <div class="large-label">£271.94</div>
      </div>
      <div class="demo-tile-content">
        <label>Ledger Account</label>
        <div class="large-label">Stripe <span class="small-label">(1230)</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='secondary-tab' id='tabs-3'>
  <div class='container'>
    <h2>Have I got the right component?</h2>
    <ul class="standard-list">
      <li>Is there a natural order to the data, and do users need to sort or filter? Try a <a href='/foundations/text-font/'>list</a> or <a href='/components/tables/'>table</a>.</li>
      <li>Check out the <a href='/foundations/shadows/'>Shadows Foundation</a> for details of the different shadows we apply to cards and tiles.</li>
    </ul>
  </div>
  <div class='container'>
    <h2>What configurations are available?</h2>
    <ul class="standard-list">
      <li><span class='emphasis-term'>Cards:</span> contain interactive content or controls. Sometimes it might be possible to move them around on the page. They have <a href='/foundations/shadows/'>shadows</a> - 'card shadow' as a default, and depth level 1 on hover.</li>
      <li><span class='emphasis-term'>Tiles:</span> contain static content for visual scanning only, and don't contain controls. Tiles don't have shadows.</li>
    </ul>
  </div>
  <div class='container'>
    <h2>Guidance, hints and tips</h2>
    <ul class="standard-list">
      <li>Cards may have hover and dragging states, whereas tiles do not.</li>
      <li>Neither cards nor tiles scroll.</li>
      <li>The primary action area of a card is typically the card itself. Often cards are one large touch target to a detail screen on a subject.</li>
      <li>When an array of cards or tiles are shown together, they may wrap into a grid depending on the available width and height of their container.</li>
    </ul>
  </div>
</div>
