---
layout: default
secondary_menu_id: carousel
primary_menu_id: components
title: Carousels
sketch_file: /downloads/components/carousel.sketch
sketch_file_version: 0.2
summary: Cycle through content items using the same space.
tags: carousels, slider, gallery, lightbox, discovery, features
---

<p class='summary'>{{ page.summary }}</p>
<div class='content-tab'>
  <ul class='tab-menu'>
    <li class='selected' data-target-tabs='tabs-1'>Design</li>
    <li data-target-tabs='tabs-3'>Guidance</li>
  </ul>
</div>
<div class='secondary-tab visible' id='tabs-1'>
  <div class='container'>
    <ul class="standard-list">
      <li>Carousels can be used to good effect to introduce new product features to existing customers after an update, or to walk new customers through key features.</li>
      <li>But, they can introduce complexity and there is some data that users don't interact with them all that much, so use them sparingly and with good rationale.</li>
      <li>We suggest a maximum of 5 carousel pages, using highly visual content like videos, GIFs and compelling images.</li>
    </ul>
  </div>
  <h2>Inside a Dialog</h2>
  <p>This example shows a carousel inside a <a href='/components/dialogs/'>dialog</a>. In contexts such as marketing websites, carousels can be full-screen, without a container.</p>
  <div class="carousel-demo carousel-dialog" active-card="2">
    <h2 class="carousel-demo-title">New Features</h2>
    <div class="carousel-dialog-close"><i class="icon icon-close"></i></div>
    <div class="carousel-navigate nav-prev move-left"><i class="icon icon-chevron_left"></i></div>
    <div class="carousel-navigate nav-next move-right"><i class="icon icon-chevron_right"></i></div>
    <div class="carousel-card card-1">
      <div class="box-1">
        <h3>Get paid faster</h3>
        <p>We’ve introduced card payments powered by Stripe so your customers can pay instantly, wherever they are.</p>
        <a href="#" class="link medium-biz">Learn more</a>
        <div class="card-actions">
          <div class="dls-icon-link"><a href="#" class="link medium-biz"><i class="icon icon-marker"></i> <span>Pin</span></a></div>
          <div class="dls-icon-link"><a href="#" class="link medium-biz"><i class="icon icon-share"></i> <span>Share</span></a></div>
        </div>
      </div>
      <div class="box-2">
      </div>
    </div>
    <div class="carousel-card card-2">
      <h3 class="card-title">Full clickable slide</h3>
    </div>
    <div class="carousel-card card-3">
      <h3 class="card-title">Slide 3</h3>
    </div>
    <div class="carousel-pips">
      <div class="carousel-pip pip-card-1" active-card="1"></div>
      <div class="carousel-pip pip-card-2" active-card="2"></div>
      <div class="carousel-pip pip-card-3" active-card="3"></div>
    </div>
  </div>
  <div class='secondary-tab' id='tabs-2'>
    <p>Here's a code snippet from <a href='https://carbon.sage.com/' target='_blank'>Carbon</a> (React JS). We'll add flat html/css and others soon.</p>
    <div class='dls-code'>
      <p class='code'>&lt;Checkbox<br/>
        value=<span class='value'>{ false }</span><br/>
        fieldHelp=<span class='value'>"This text provides help for the input."</span><br/>
        label=<span class='value'>"Example Checkbox"</span><br/>
        labelHelp=<span class='value'>"This text provides more information for the label."</span><br/>
        /&gt;<br/><br/>

        &lt;RadioButton<br/>
        name=<span class='value'>"example"</span><br/>
        fieldHelp=<span class='value'>"This text provides help for the input."</span><br/>
        label=<span class='value'>"Example RadioButton"</span><br/>
        labelHelp=<span class='value'>"This text provides more information for the label."</span><br/>
      /&gt;</p>
    </div>
  </div>
</div>
<div class='secondary-tab' id='tabs-3'>
  <div class='container'>
    <h2>Have I got the right component?</h2>
    <ul class="standard-list">
      <li>Promoting a feature in context? Try a <a href='/patterns/discovery-tooltips/'>Discovery Tooltip</a>.</li>
      <li>Announcing a feature? Try a <a href='/patterns/discovery-sidebar/'>Discovery Sidebar</a>.</li>
      <li>Walking a user through a process? Try a <a href="/components/step-flows/">Step Flow</a>.</li>
    </ul>
  </div>
  <div class='container'>
    <h2>What configurations are available?</h2>
    <ul class="standard-list">
      <li>Colour theming by product accent colour.</li>
    </ul>
  </div>
  <div class='container'>
    <h2>Guidance, hints and tips</h2>
    <ul class="standard-list">
      <li>The primary benefit of using a carousel is that they enable more than one piece of content to occupy the same piece of prime screen real estate.</li>
      <li>We suggest a maximum of 5 carousel pages.</li>
      <li>Each page should contain an easily understandable title, body text, text link and visually stimulating image/video or GIF.</li>
      <li>Carefully consider accessibility, since content is initially hidden and autoplay can potentially cause issues.</li>
    </ul>
    <p>In a recent article, <a href='http://bradfrost.com/blog/post/carousels/' target='_blank'>Brad Frost recommended</a>:</p>
    <ul class="standard-list">
      <li>Make sure you actually need one - with good rationale, not for organisational reasons.</li>
      <li>Cycle through like items - make sure the content items are closely related to one another.</li>
      <li>Make navigation obvious - a page indicator alone is unlikely to be sufficient.</li>
      <li>Suggest more content to users - make it clear that there is more content offscreen for them to view.</li>
      <li>Only load what you need - load content items on demand to reduce load on servers, apps, and users' machines.</li>
      <li>Treat touch as an enhancement - consider use of mobile devices if appropriate.</li>
      <li>Add tracking and analytics - test whether the carousel design choice solves the user's problem, and test how effective different content is too.</li>
    </ul>
  </div>
</div>
