---
layout: default
secondary_menu_id: checkboxes
primary_menu_id: components
title: Checkboxes
sketch_file: /downloads/components/checkboxes_radios_switches.sketch
sketch_file_version: 0.8
summary: Select one or more options from a short list.
tags: checkbox, check, box, input, inputs, form, forms
---

<p class='summary'>{{ page.summary }}</p>
<div class='content-tab'>
  <ul class='tab-menu'>
    <li class='selected' data-target-tabs='tabs-1'>Design</li>
    <li data-target-tabs='tabs-3'>Guidance</li>
  </ul>
</div>
<div class='secondary-tab visible' id='tabs-1'>
  <div class='container'>
    <div class="pod">
      <div class="cb-product-instances">
        <input id="cb-generic-app" type="checkbox" class="custom-checkbox"><label class="cb-generic-app" for="cb-generic-app">I work with all businesses.</label>
      </div>
      <div class="cb-product-instances">
        <input id="cb-small-app" type="checkbox" class="custom-checkbox"><label class="cb-small-app" for="cb-small-app">I work with small businesses.</label>
      </div>
      <div class="cb-product-instances">
        <input id="cb-medium-app" type="checkbox" class="custom-checkbox"><label class="cb-medium-app" for="cb-medium-app">I work with medium businesses.</label>
      </div>
      <div class="cb-product-instances">
        <input id="cb-large-app" type="checkbox" class="custom-checkbox"><label class="cb-large-app" for="cb-large-app">I work with large businesses.</label>
      </div>
      <div class="cb-product-instances">
        <input id="cb-generic-app-d" type="checkbox" class="custom-checkbox" disabled><label class="cb-generic-app disabled" for="cb-generic-app-d">I can't be selected.</label>
      </div>
      <div class="cb-product-instances">
        <input id="cb-generic-app-d" type="checkbox" class="custom-checkbox" checked disabled><label class="cb-generic-app disabled" for="cb-generic-app-d">I can't be deselected.</label>
      </div>
    </div>
  </div>
  <div class='container'>
    <h2>Errors and Validation</h2>
    <div class="pod">
      <div class="checkbox-error">
        <div class="inline-error-text">What type of businesses do you work with?</div>
        <div class='input-error-icon label-icon'>
          <i class="icon icon-error"></i>
          <div class='tooltip-container error-tooltip'>
            <div class='tooltip-pointer'>
            </div>
            <div class='tooltip-body error-tooltip'>Please choose at least one business type.
            </div>
          </div>
        </div>
        <div class="cb-product-instances">
          <input id="cb-generic-app-2" type="checkbox" class="custom-checkbox"><label class="cb-generic-app error" for="cb-generic-app-2">I work with all businesses.</label>
        </div>
        <div class="cb-product-instances">
          <input id="cb-small-app-2" type="checkbox" class="custom-checkbox"><label class="cb-small-app error" for="cb-small-app-2">I work with small businesses.</label>
        </div>
        <div class="cb-product-instances">
          <input id="cb-medium-app-2" type="checkbox" class="custom-checkbox"><label class="cb-medium-app error" for="cb-medium-app-2">I work with medium businesses.</label>
        </div>
        <div class="cb-product-instances">
          <input id="cb-large-app-2" type="checkbox" class="custom-checkbox"><label class="cb-large-app error" for="cb-large-app-2">I work with large businesses.</label>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='secondary-tab' id='tabs-3'>
  <div class='container'>
    <h2>Have I got the right component?</h2>
    <ul class="standard-list">
      <li>Choosing one or more options from a short list? Try a <a href='/components/checkboxes/'>checkbox</a>.</li>
      <li>Choosing only one option from a short list? Try a <a href='/components/radios/'>radio button</a>.</li>
      <li>Immediately activating or deactivating something, without a further save? Try a <a href='/components/switches/'>switch</a>.</li>
      <li>Choosing only one option from a long list? Try a <a href='/components/dropdowns/'>dropdown</a>.</li>
    </ul>
  </div>
  <div class='container'>
    <h2>What configurations are available?</h2>
    <ul class="standard-list">
      <li>Colour theming by product accent colour.</li>
    </ul>
  </div>
  <div class='container'>
    <h2>Guidance, hints and tips</h2>
    <ul class="standard-list">
      <li>Disabled or read-only checkboxes and radios might be difficult for a user to distinguish visually, so try to avoid them. We change the label colour to 30% black to try to make the disabled state more obvious.</li>
      <li>Consider ‘smart default’ selections, based on what your user is likely to choose. But, users may well leave the defaults in place, so make sure any consequences are easy to undo, and not harmful.</li>
      <li>Rather than a checkbox to accept legal terms, consider labelling a button ‘Accept Terms and Continue’ instead.</li>
      <li>These are good components to use for progressive disclosure - initially showing only top-level controls, but showing more depending on the user’s selection.</li>
      <li>Use sentence case for labels.</li>
      <li>These are small elements, so consider the touch area on mobile devices. Don’t resize the element to make it look larger, but do adjust the hit area.</li>
    </ul>
  </div>
</div>
