---
layout: default
secondary_menu_id: date-range
primary_menu_id: components
title: Date Ranges
sketch_file: /downloads/components/date_picker.sketch
sketch_file_version: 0.5
summary: Capture both a start and end date.
tags: date, dates, date picker, datepicker, date range, range, calendar, picker, input, inputs, form, forms
---

<p class='summary'>{{ page.summary }}</p>
<div class='content-tab'>
  <ul class='tab-menu'>
    <li class='selected' data-target-tabs='tabs-1'>Design</li>
    <li data-target-tabs='tabs-3'>Guidance</li>
  </ul>
</div>
<div class='secondary-tab visible' id='tabs-1'>
  <div class='container'>
    <div class="pod">
      <img class='example-img' src='/visuals/date-range.svg'/>
    </div>
  </div>
</div>
<div class='secondary-tab' id='tabs-2'>
  <p>Here's a code snippet from <a href='https://carbon.sage.com/' target='_blank'>Carbon</a> (React JS). We'll add flat html/css and others soon.</p>
  <div class='dls-code'>
    <p class='code'>&lt;DateInput<br/>
      value=<span class='value'>{ false }</span><br/>
      fieldHelp=<span class='value'>"This text provides help for the input."</span><br/>
      label=<span class='value'>"Example Checkbox"</span><br/>
      labelHelp=<span class='value'>"This text provides more information for the label."</span><br/>
      /&gt;<br/><br/></p>
    </div>
  </div>
  <div class='secondary-tab' id='tabs-3'>
    <div class='container'>
      <h2>Have I got the right component?</h2>
      <ul class="standard-list">
        <li>For dates close to today, use a standard datepicker.</li>
        <li>For dates far from today, use three <a href='/components/text-inputs/'>text inputs</a> for day, month, and year.</li>
        <li>If capturing a single date, see <a href='/components/datepicker/'>Date Pickers, Time</a></li>
      </ul>
    </div>
    <div class='container'>
      <h2>What configurations are available?</h2>
      <ul class="standard-list">
        <li>Options: Single Date; Date Range.</li>
        <li>Colour theming by product accent colour.</li>
      </ul>
    </div>
    <div class='container'>
      <h2>Guidance, hints and tips</h2>
      <ul class="standard-list">
        <li>Take care to follow local conventions for the formatting of dates.</li>
        <li>We propose two date formats - a numerical format for ease of keyboard entry, and a text format for readability. The text format is never used inside an input field.</li>
        <li>A calendar control appears when focus is placed on a date field. Make sure the calendar doesn't obscure the field, and keep keyboard focus on input itself, so the user can enter a date with the keyboard and tab onward at any time.</li>
        <li>Date fields aren't usually empty - default content gives the user a clue about the date format. If the field hasn't otherwise been set, the default value is usually today’s date. </li>
        <li>Flexible input: allow the user to enter dates in shorthand or common formats. Convert them to a format accepted by the database silently behind the scenes. For example, 01/04/2018, 1/4/18, 1/4 or 1 Apr could all be accepted.</li>
        <li>Dates on which there is activity, and dates unavailable for selection can be distinguished in the datepicker.</li>
        <li>If a date field is permanently read-only, consider displaying it as formatted text, without a field border.</li>
      </ul>
    </div>
  </div>
</div>
