---
layout: default
secondary_menu_id: datepicker
primary_menu_id: components
title: Date Pickers, Time
sketch_file: /downloads/components/date_picker.sketch
sketch_file_version: 0.9
summary: Capture a single date.
tags: date, dates, date picker, datepicker, date range, range, calendar, picker, date of birth, input, inputs, form, forms
---

<p class='summary'>{{ page.summary }}</p>
<div class='content-tab'>
  <ul class='tab-menu'>
    <li class='selected' data-target-tabs='tabs-1'>Design</li>
    <li data-target-tabs='tabs-3'>Guidance</li>
  </ul>
</div>
<div class='secondary-tab visible' id='tabs-1'>
  <div class='container'>
    <h2>Date Inputs</h2>
    <p>For dates close to today, use a standard datepicker. For dates far from today, use three text inputs for day, month, and year.</p>
    <p>Today's date, the currently selected date, and a date under mouse hover are distinguished.</p>
    <div class="pod">
      <table class="pod-table">
        <tr>
          <td>Standard Date Field
          </td>
          <td>
            <label for="field-31">Due Date</label>
            <div class='dls-input-container input-height-m input-width-m dls-datepicker'>
              <input id="datepicker" type="text" class='dls-input input-height-m input-width-m input-small-biz' value='01/10/2019' />
              <span class='input-standard-icon field-icon datepicker-icon'><i class="icon icon-calendar"></i></span>
            </div>
          </td>
        </tr>
        <tr>
          <td>Info State
          </td>
          <td>
            <label for="field-32">Due Date</label>
            <div class='dls-input-container input-height-m input-width-m'>
              <input type='text' class='dls-input input-small-biz input-info' id='field-32' value='01/10/2019'/>
              <span class='input-info-icon field-icon'><i class="icon icon-info"></i></span>
              <div class='tooltip-container info-tooltip'>
                <div class='tooltip-pointer'>
                </div>
                <div class='tooltip-body'>This date seems far in the past. You can change it, or continue anyway.
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Error State
          </td>
          <td>
            <label for="field-33">Due Date</label>
            <div class='dls-input-container input-height-m input-width-m'>
              <input type='text' class='dls-input input-small-biz input-error' id='field-33' value='01/10/2019'/>
              <span class='input-error-icon field-icon'><i class="icon icon-error"></i></span>
              <div class='tooltip-container error-tooltip'>
                <div class='tooltip-pointer'>
                </div>
                <div class='tooltip-body'>Choose a date after your accounts start date of 1 May 2019.
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Date Far From Today</td>
          <td>
            <div class='input-inline-wrapper'>
              <label for="field-34">Date of Birth</label>
              <div class='dls-input-container input-height-m input-width-xs input-inline'>
                <input type='text' class='dls-input input-small-biz' id='field-34' placeholder='DD'/>
              </div>
              <div class='dls-input-container input-width-xs input-height-m input-inline'>
                <input type='text' class='dls-input input-small-biz ' id='field-35' placeholder='MM'/>
              </div>
              <div class='dls-input-container input-height-m input-inline'>
                <input type='text' class='dls-input input-small-biz ' id='field-36' placeholder='YYYY' style="width: 58px"/>
              </div>
              <div class='dls-icon-link'><a href='https://help.sageone.com/en_uk/accounting/extra-error-corrections.html' target='_blank'><i class="icon icon-question"></i><span>Why do we need this?</span></a>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class='container'>
    <h2>Date Formats</h2>
    <p>Dates are always entered with numerals (but watch out for different order and punctuation by country). If displaying a permanently read-only date, choose between long and short presentational formats.</p>
    <table class="dls-table">
      <tr><th>Locale</th><th>Date Entry Format</th><th>Short Presentational Format</th><th>Long Presentational Format</th></tr>
      <tr><td>CA</td><td>04/01/2019</td><td>Apr 1, 2019</td><td>April 1, 2019</td></tr>
      <tr><td>DE</td><td>01.04.2019</td><td>1 Apr. 2019</td><td>1 April 2019</td></tr>
      <tr><td>ES</td><td>01/04/2019</td><td>1 abr. 2019</td><td>1 abril 2019</td></tr>
      <tr><td>FR</td><td>01-04-2019</td><td>1 avril 2019</td><td>1 avril 2019</td></tr>
      <tr><td>IE</td><td>01/04/2019</td><td>1 Apr 2019</td><td>1 April 2019</td></tr>
      <tr><td>UK</td><td>01/04/2019</td><td>1 Apr 2019</td><td>1 April 2019</td></tr>
      <tr><td>US</td><td>04/01/2019</td><td>Apr 1, 2019</td><td>April 1, 2019</td></tr>
      <tr><td>ZA</td><td>01/04/2019</td><td>1 Apr 2019</td><td>1 April 2019</td></tr>
    </table>
    <p>Read more on <a href='https://gist.github.com/mlconnor/1887156' target='_blank'>international date formats</a> and <a href='https://web.library.yale.edu/cataloging/months' target='_blank'>month abbreviations</a>.</p>
  </div>
  <div class='container'>
    <h2>Date and Time Formats</h2>
    <p>Use the 24-hour clock for clarity, for example:</p>
    <ul class='standard-list'>
      <li>23:59</li>
      <li>1 April 2019 at 23:59</li>
      <li>With <a href='https://www.timeanddate.com/time/zones/' target='_blank'>time zone</a>: 1 April 2019 at 23:59 PT</li>
    </ul>
    <p>Relative dates and times can be user friendly, but only if all users are in the same time zone:</p>
    <ul class='standard-list'>
      <li>Updated: Just now</li>
      <li>Updated: Yesterday at 14:07</li>
      <li>Updated: Tuesday at 14:07</li>
    </ul>
  </div>
</div>
<div class='secondary-tab' id='tabs-3'>
  <div class='container'>
    <h2>Have I got the right component?</h2>
    <ul class="standard-list">
      <li>For dates close to today, use a standard datepicker.</li>
      <li>For dates far from today, use three <a href='/components/text-inputs/'>text inputs</a> for day, month, and year.</li>
      <li>If capturing both a start and end date, try a <a href='/components/date-range/'>Date Range</a>.</li>
    </ul>
  </div>
  <div class='container'>
    <h2>What configurations are available?</h2>
    <ul class="standard-list">
      <li>Options: Single Date; Date Range.</li>
      <li>Colour theming by product accent colour.</li>
    </ul>
  </div>
  <div class='container'>
    <h2>Guidance, hints and tips</h2>
    <ul class="standard-list">
      <li>For dates close to today, use a standard datepicker.</li>
      <li>For dates far from today and dates of birth, use <a href='http://uxmovement.com/forms/bad-practices-on-birthdate-form-fields/' target='_blank'>three text inputs</a> for keyboard entry of day, month, and year numerals. Set the width of each input to give users a clue about its content, and use 'DD', 'MM', and 'YYYY' placeholders.</li>
      <li>Take care to follow local conventions for the formatting of dates.</li>
      <li>We propose two date formats - a numerical format for ease of keyboard entry, and a text format for readability. The text format is never presented inside an input field.</li>
      <li>A calendar control appears when focus is placed on a single date field. Make sure the calendar doesn't obscure the field, and keep keyboard focus on input itself, so the user can enter a date with the keyboard and tab onward at any time.</li>
      <li>Date fields aren't usually empty - default content gives the user a clue about the date format.</li>
      <li>If the field hasn't otherwise been set, the default value is usually today’s date, but it could also usefully be:
        <ul class='standard-list'>
          <li>The date of the previous entry (e.g. if entering lots of transactions and clicking 'Save and New').</li>
          <li>A 'process date' that the user sets for all entries when they start a new session.</li>
          <li>A defined period from today's date (e.g. 30 days' time for invoice due dates according to a given business' terms).</li>
        </ul>
      </li>
      <li>If collecting date of birth, make it clear why you’re asking.</li>
      <li>Flexible input: allow the user to enter dates in shorthand or common formats. Convert them to a format accepted by the database silently behind the scenes. For example, "01/04/2019", "1/4/19", "1/4" or "1 Apr" could all be accepted.</li>
      <li>Dates on which there is activity, and dates unavailable for selection can be distinguished in the datepicker.</li>
      <li>If a date field is permanently read-only, consider displaying it as formatted text, without a field border.</li>
    </ul>
  </div>
</div>
