---
layout: default
secondary_menu_id: dropdowns
primary_menu_id: components
title: Dropdowns
sketch_file: /downloads/components/dropdowns_type_ahead.sketch
sketch_file_version: 0.7
summary: Select one option from a list, with the ability to filter and create new items.
tags: menu, menus, ropdown, drop, down, dropdowns, combo, combobox, combo box, input, inputs, form, forms
---

<p class='summary'>{{ page.summary }}</p>
<div class='content-tab'>
  <ul class='tab-menu'>
    <li class='selected' data-target-tabs='tabs-1'>Design</li>
    <li data-target-tabs='tabs-3'>Guidance</li>
  </ul>
</div>
<div class='secondary-tab visible' id='tabs-1'>
  <div class="system-message info-message ">
  <div class='system-message-title'>Multiple Selection Coming Soon...</div>
  <div class='system-message-body'>A design pattern for multiple selection within a dropdown is in the Sketch resource - we'll add a html/css example below soon.</div>
  </div>
  <p>Dropdowns can behave in 3 different ways:</p>
  <ul class="standard-list">
    <li><span class='emphasis-term'>Dropdown list</span> - the user selects from a shorter list using the keyboard or mouse (e.g. choosing between tax schemes). Behaviour is just like a standard browser control, but styled to appear part of the design system. Keying a letter jumps the user to the first option in the menu that begins with it.</li>
    <li><span class='emphasis-term'>Dropdown filter</span> - the user can select from a longer list using the keyboard or mouse, or type three or more characters to filter and narrow the list items down (e.g. choosing from a list of customers or suppliers).</li>
    <li><span class='emphasis-term'>Type ahead</span> - the user can’t select from a list and there is no dropdown handle. Keying three or more characters triggers a search, and results are then displayed for selection. Useful if a list of options is too large to scroll through (e.g. choosing from a list of industry ‘SIC’ codes).</li>
  </ul>
  <h2>Default Dropdown</h2>
  <div class="pod">
    <table class='pod-table'>
      <tr>
        <td>Small (32px)
        </td>
        <td>
          <div class='input_field_container_32' data-component="dropdown">
            <label class="label">Customer</label>
              <div class="dropdown-list-container dls-input-container input-height-s input-width-l">
                <input id="test" class="dropdown-list-input dls-input input-small-biz" data-element="input" value="" placeholder="Please Select...">
                <label for="test" class="input-standard-icon field-icon cheveron-label"><i class="icon icon-dropdown"></i>
                </label>
                <div class="dropdown_list_content">
                  <ul class ="dropdown_list dropdown_height">
                    <li class="dropdown_list_item">Ben Wilson</li>
                    <li class="dropdown_list_item">Carlos Pi</li>
                    <li class="dropdown_list_item">Harpal Singh</li>
                    <li class="dropdown_list_item">Jordan Ware</li>
                    <li class="dropdown_list_item">Kyle Mayne</li>
                    <li class="dropdown_list_item">Laia Lopex</li>
                    <li class="dropdown_list_item">Luke Emmerson</li>
                    <li class="dropdown_list_item">Patrick Port</li>
                    <li class="dropdown_list_item">Paul Robinson</li>
                    <li class="dropdown_list_item">Silvia Menedez Suarez</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Medium (40px)
        </td>
        <td>
          <div class='input_field_container_32' data-component="dropdown">
            <label class="label">Customer</label>
              <div class="dropdown-list-container dls-input-container input-height-m input-width-l">
                <input id="test" class="dropdown-list-input dls-input input-small-biz" data-element="input" value="" placeholder="Please Select...">
                <label for="test" class="input-standard-icon field-icon cheveron-label "><i class="icon icon-dropdown medium-cheveron-position"></i>
                </label>
                <div class="dropdown_list_content">
                  <ul class ="dropdown_list dropdown_height">
                    <li class="dropdown_list_item">Ben Wilson</li>
                    <li class="dropdown_list_item">Carlos Pi</li>
                    <li class="dropdown_list_item">Harpal Singh</li>
                    <li class="dropdown_list_item">Jordan Ware</li>
                    <li class="dropdown_list_item">Kyle Mayne</li>
                    <li class="dropdown_list_item">Laia Lopex</li>
                    <li class="dropdown_list_item">Luke Emmerson</li>
                    <li class="dropdown_list_item">Patrick Port</li>
                    <li class="dropdown_list_item">Paul Robinson</li>
                    <li class="dropdown_list_item">Silvia Menedez Suarez</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </td>

      </tr>
      <tr>
        <td>Large (48px)
        </td>
        <td>
          <div class='input_field_container_32' data-component="dropdown">
            <label class="label">Customer</label>
              <div class="dropdown-list-container dls-input-container input-height-l input-width-l">
                <input id="test" class="dropdown-list-input dls-input input-large-biz" data-element="input" value="" placeholder="Please Select...">
                <label for="test" class="input-standard-icon field-icon cheveron-label "><i class="icon icon-dropdown large-cheveron-position"></i>
                </label>
                <div class="dropdown_list_content">
                  <ul class ="dropdown_list dropdown_height">
                    <li class="dropdown_list_item">Ben Wilson</li>
                    <li class="dropdown_list_item">Carlos Pi</li>
                    <li class="dropdown_list_item">Harpal Singh</li>
                    <li class="dropdown_list_item">Jordan Ware</li>
                    <li class="dropdown_list_item">Kyle Mayne</li>
                    <li class="dropdown_list_item">Laia Lopex</li>
                    <li class="dropdown_list_item">Luke Emmerson</li>
                    <li class="dropdown_list_item">Patrick Port</li>
                    <li class="dropdown_list_item">Paul Robinson</li>
                    <li class="dropdown_list_item">Silvia Menedez Suarez</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>

  <h2>Dropdown with Create</h2>
  <div class="pod">
    <table class='pod-table'>
      <tr>
        <td>Small (32px)
        </td>
        <td>
          <div class='input_field_container_32' data-component="dropdown">
            <label class="label">Customer</label>
              <div class="dropdown-list-container dls-input-container input-height-s input-width-l">
                <input id="test" class="dropdown-list-input dls-input input-small-biz" data-element="input" value="" placeholder="Search Customers...">
                <label for="test" class="input-standard-icon field-icon cheveron-label"><i class="icon icon-dropdown"></i>
                </label>
                <div class="dropdown_list_content">
                  <ul class ="dropdown_list">
                    <li class="dropdown_list_item">Ben Wilson</li>
                    <li class="dropdown_list_item">Carlos Pi</li>
                    <li class="dropdown_list_item">Harpal Singh</li>
                    <li class="dropdown_list_item">Jordan Ware</li>
                    <li class="dropdown_list_item">Kyle Mayne</li>
                    <li class="dropdown_list_item">Laia Lopex</li>
                    <li class="dropdown_list_item">Luke Emmerson</li>
                    <li class="dropdown_list_item">Patrick Port</li>
                    <li class="dropdown_list_item">Paul Robinson</li>
                    <li class="dropdown_list_item">Silvia Menedez Suarez</li>
                  </ul>
                  <div class="add_new">
                    <a href=''>Add a New Contact</a>
                    <span class="input-standard-icon field-icon"><i class="icon icon-plus"></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Medium (40px)
        </td>
        <td>
          <div class='input_field_container_32' data-component="dropdown">
            <label class="label">Customer</label>
              <div class="dropdown-list-container dls-input-container input-height-m input-width-l">
                <input id="test" class="dropdown-list-input dls-input input-small-biz" data-element="input" value="" placeholder="Search Customers...">
                <label for="test" class="input-standard-icon field-icon cheveron-label "><i class="icon icon-dropdown medium-cheveron-position"></i>
                </label>
                <div class="dropdown_list_content">
                  <ul class ="dropdown_list">
                    <li class="dropdown_list_item">Ben Wilson</li>
                    <li class="dropdown_list_item">Carlos Pi</li>
                    <li class="dropdown_list_item">Harpal Singh</li>
                    <li class="dropdown_list_item">Jordan Ware</li>
                    <li class="dropdown_list_item">Kyle Mayne</li>
                    <li class="dropdown_list_item">Laia Lopex</li>
                    <li class="dropdown_list_item">Luke Emmerson</li>
                    <li class="dropdown_list_item">Patrick Port</li>
                    <li class="dropdown_list_item">Paul Robinson</li>
                    <li class="dropdown_list_item">Silvia Menedez Suarez</li>
                  </ul>
                  <div class="add_new">
                    <a href=''>Add a New Contact</a>
                    <span class="input-standard-icon field-icon"><i class="icon icon-plus"></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Large (48px)
        </td>
        <td>
          <div class='input_field_container_32' data-component="dropdown">
            <label class="label">Customer</label>
              <div class="dropdown-list-container dls-input-container input-height-l input-width-l">
                <input id="test" class="dropdown-list-input dls-input input-small-biz" data-element="input" value="" placeholder="Search Customers...">
                <label for="test" class="input-standard-icon field-icon cheveron-label "><i class="icon icon-dropdown large-cheveron-position"></i>
                </label>
                <div class="dropdown_list_content">
                  <ul class ="dropdown_list">
                    <li class="dropdown_list_item">Ben Wilson</li>
                    <li class="dropdown_list_item">Carlos Pi</li>
                    <li class="dropdown_list_item">Harpal Singh</li>
                    <li class="dropdown_list_item">Jordan Ware</li>
                    <li class="dropdown_list_item">Kyle Mayne</li>
                    <li class="dropdown_list_item">Laia Lopex</li>
                    <li class="dropdown_list_item">Luke Emmerson</li>
                    <li class="dropdown_list_item">Patrick Port</li>
                    <li class="dropdown_list_item">Paul Robinson</li>
                    <li class="dropdown_list_item">Silvia Menedez Suarez</li>
                  </ul>
                  <div class="add_new">
                    <a href=''>Add a New Contact</a>
                    <span class="input-standard-icon field-icon"><i class="icon icon-plus"></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class='secondary-tab' id='tabs-3'>
  <div class='container'>
    <h2>Have I got the right component?</h2>
    <ul class="standard-list">
      <li>Choosing one option from a very short list? Try a <a href='/components/radios/'>Radio Button</a>.</li>
      <li>Choosing more than one option? Try a <a href='/components/checkboxes/'>Checkbox</a>.</li>
      <li>Less than about 5 options in a list? Try a Dropdown List</a>.</li>
      <li>More than about 5 options? Try a Dropdown Filter</a>.</li>
      <li>Working with a very long list? Try a Type Ahead</a>.</li>
      <li>Presenting a list of actions to take in context? Try an <a href='/components/action-popovers/'>Action Popover</a>.</li>
    </ul>
  </div>
  <div class='container'>
    <h2>What configurations are available?</h2>
    <ul class="standard-list">
      <li>Alignment: Right aligned content; Left aligned content.</li>
      <li>Options: With segment headers; With separator lines; With ‘Add new’ option.</li>
      <li>Height: S; M; L.</li>
      <li>Width: XS; S; M; L; XL; Custom.</li>
      <li>Colour theming by product accent colour.</li>
    </ul>
  </div>
  <div class='container'>
    <h2>Guidance, hints and tips</h2>
    <ul class="standard-list">
      <li>Dropdowns display any currently selected menu item above the list of options.</li>
      <li>Dropdowns appear in front of all other permanent UI elements.</li>
      <li>If they are in a position to be cut off by the browser or screen’s edge, the list of options can instead appear to the left, right, or above the element that generates it.</li>
      <li>If not all dropdown items are displayed at once, a persistent scrollbar appears.</li>
      <li>Use the following placeholder content to make it clear if the dropdown is unset:
        <ul class="standard-list">
          <li><span class='emphasis-term'>Dropdown list:</span> “Please Select…”</li>
          <li><span class='emphasis-term'>Dropdown filter:</span> “Search for [Customers]...”</li>
          <li><span class='emphasis-term'>Type ahead:</span> “Type to Search...”</li>
        </ul>
      </li>
      <li>Consider a ‘smart default’ selection, based on what your user is likely to choose. But, users may well leave the defaults in place, so make sure any consequences are easy to undo, and not harmful.</li>
      <li>Right now, dropdown options aren’t editable (the user can’t key in custom values), and the user can only select one item. However, an ‘Add New’ option can optionally be added to the bottom of the dropdown.</li>
    </ul>
  </div>

