---
layout: default
secondary_menu_id: fieldsets
primary_menu_id: components
title: Fieldsets, Addresses
sketch_file: /downloads/patterns/forms.sketch
sketch_file_version: 0.8
summary: Capture data that's closely related, like parts of an address.
tags: input, inputs, text, form, forms, form, forms, fieldset, fieldsets, field set, address, addresses
---

<p class='summary'>{{ page.summary }}</p>
<div class='content-tab'>
  <ul class='tab-menu'>
    <li class='selected' data-target-tabs='tabs-1'>Design</li>
    <li data-target-tabs='tabs-3'>Guidance</li>
  </ul>
</div>
<div class='secondary-tab visible' id='tabs-1'>
  <div class='container'>
    <p>Sometimes a number of fields are closely related, like the lines of an address. If you wish, you can remove margins between the fields, and create a fieldset.</p>
    <div class='pod'>
      <div class='container'>
        <h3>Fieldset Example</h3>
        <div class='dls-form form-right-aligned fieldset'>
          <div class='label-input-wrapper'>
            <label for="field-27">Address 1</label>
            <div class='dls-input-container input-height-m input-width-l'>
              <input type='text' class='dls-input input-small-biz' id='field-27' value=''/>
            </div>
          </div>
          <div class='label-input-wrapper'>
            <label for="field-28">Address 2 <span class='optional'>(optional)</span></label>
            <div class='dls-input-container input-height-m input-width-l'>
              <input type='text' class='dls-input input-small-biz' id='field-28' value=''/>
            </div>
          </div>
          <div class='label-input-wrapper'>
            <label for="field-29">Town/City</label>
            <div class='dls-input-container input-height-m input-width-l'>
              <input type='text' class='dls-input input-small-biz' id='field-29' value=''/>
            </div>
          </div>
          <div class='label-input-wrapper'>
            <label for="field-29b">County</label>
            <div class='dls-input-container input-height-m input-width-l'>
              <input type='text' class='dls-input input-small-biz' id='field-29b' value=''/>
            </div>
          </div>
          <div class='label-input-wrapper'>
            <label for="field-30">Postcode</label>
            <div class='dls-input-container input-height-m input-width-m'>
              <input type='text' class='dls-input input-small-biz' id='field-30' value=''/>
            </div>
          </div>
        </div>
      </div>
      <h3>Regional Address Formats</h3>
      <table class='dls-table'>
        <tr><th>Locale</th><th>Address Constituents</th><th>Address Format</th></tr>
        <tr>
          <td>CA</td>
          <td>
            Addressee Name<br/>
            Address 1<br/>
            Address 2 (optional)<br/>
            City | Province | Postal Code
          </td>
          <td>
            Nicole Martin<br/>
            123 Sherbrooke St<br/>
            Toronto ON  L3R 9P6
          </td>
        </tr>
        <tr>
          <td>DE/ES/FR</td>
          <td>
            Addressee Name<br/>
            Address 1<br/>
            Address 2 (optional)<br/>
            Postal Code | Town/City<br/>
            Country
          </td>
          <td>
            M. Frank Bender<br/>
            12 rue de la montagne<br/>
            01234 PARIS
          </td>
        </tr>
        <tr>
          <td>KSA (Saudi Arabia)</td>
          <td>
            Building Number<br/>
            Street Name<br/>
            Neighborhood/District<br/>
            City<br/>
            Postal/Zip Code<br/>
            Additional Numbers
          </td>
          <td>
            8228<br/>
            King Abdulaziz Road<br/>
            Al Amal<br/>
            Riyadh<br/>
            12643<br/>
            2121
          </td>
        </tr>
        <tr>
          <td>SGP (Singapore)</td>
          <td>
            Block Number | Street Name<br/>
            Floor Number | Unit Number | Complex Name<br/>
            City | Postal Code<br/>
            Country<br/><br/>

            Street Number | Street Name<br/>
            City | Postal Code<br/>
            Country<br/>
          </td>
          <td>
            Blk 35 Mandalay Road<br/>
            # 13-37 Mandalay Towers<br/>
            SINGAPORE 308215<br/>
            REPUBLIC OF SINGAPORE<br/><br/>

            16 Sandilands Road<br/>
            Singapore 546080<br/>
            REPUBLIC OF SINGAPORE
          </td>
        </tr>
        <tr>
          <td>UK/IE</td>
          <td>
            Addressee Name<br/>
            Address 1<br/>
            Address 2 (optional)<br/>
            Town/City<br/>
            County (optional)<br/>
            Post Code<br/>
            Country
          </td>
          <td>
            Mr A Smith<br/>
            3a High Street<br/>
            Hedge End<br/>
            Southampton<br/>
            SO31 4NG
          </td>
        </tr>
        <tr>
          <td>US</td>
          <td>
            Addressee Name<br/>
            Address 1<br/>
            Address 2 (optional)<br/>
            Town/City | State | ZIP Code
          </td>
          <td>
            Jeremy Martinson, Jr.<br/>
            455 Larkspur Dr.<br/>
            Baviera, CA 92908
          </td>
        </tr>
        <tr>
          <td>ZA</td>
          <td>
            Addressee Name<br/>
            Unit Number (Optional) | Complex (Optional)<br/>
            Street Number (Optional) | Street/Name of Farm<br/>
            Suburb/District OR City/Town<br/>
            City/Town OR Suburb/District<br/>
            Postal Code<br/>
            Country
          </td>
          <td>
            Mr T. Mngwemkhulu<br/>
            B1012 Fairview Heights<br/>
            1015 Church Street<br/>
            Waterkloof Glen Ext 12<br/>
            Pretoria<br/>
            0181<br/>
            South Africa<br/><br/>

            Mr P. van der Merwe<br/>
            Kalahari Sands Game Farm<br/>
            Waterberg District<br/>
            0300<br/>
            ZA
          </td>
        </tr>
        <tr>
          <td>ZMB (Zambia)</td>
          <td>
            PO Box<br/>
            Town<br/>
            Province<br/>
            Country<br/><br/>

            Plot / House No<br/>
            Street<br/>
            Area<br/>
            Town<br/>
            Area/Postal Code<br/>
            Province<br/>
            Country
          </td>
          <td>
            PO Box 70181<br/>
            Ndola<br/>
            Copperbelt Province<br/>
            Zambia<br/><br/>

            Plot 1978654399745<br/>
            Lusaka<br/>
            Chilimbulu Road<br/>
            Industrial Area<br/>
            Lusaka Province<br/>
            Lusaka<br/><br/>

            21 Independence Avenue<br/>
            Kitwe<br/>
            23456<br/>
            Zambia
          </td>

        </tr>
      </table>
      <p>Read more about <a href='http://www.upu.int/en/activities/addressing/postal-addressing-systems-in-member-countries.html' target='_blank'>global address formats</a>.</p>
    </div>
  </div>
</div>
<div class='secondary-tab' id='tabs-3'>
  <div class='container'>
    <h2>Have I got the right component?</h2>
    <ul class='standard-list'>
      <li>Check out the general guidance on <a href='/components/text-inputs/'>inputs</a>, constructing <a href='/patterns/forms/'>forms</a>, and industry guidance from <a href='https://www.lukew.com/resources/web_form_design.asp' target='_blank'>Luke Wroblewski</a>.</li>
      <li>Entering dates? Try a <a href='/components/datepicker/'>Date Picker</a>.</li>
      <li>Entering currencies or quantities? Try a <a href='/components/decimal-inputs/'>Decimal Input</a>.</li>
      <li>Entering numbers without decimals? Try a <a href='/components/number-inputs/'>Number Input</a>.</li>
      <li>Entering data with punctuation inside the field, or where the data is masked? Try a <a href='/components/punctuated-inputs/'>Fieldset</a>.</li>
      <li>Entering longer free text? Try a <a href='/components/textareas/'>Textarea</a>.</li>
      <li>Entering data that's closely related, like parts of an address? Try a <a href='/components/fieldsets/'>Fieldset</a>.</li>
      <li>Searching for something? Try a <a href='/components/dropdowns/'>Type Ahead Dropdown</a> or the Search/Filter configuration for <a href='/components/tables/'>Tables</a>.</li>
      <li>Interested in error states and validation patterns? See the section on <a href='/patterns/errors-validation/'>Validation and Error</a>.</li>
    </ul>
  </div>
  <div class='container'>
    <h2>Which configurations are available?</h2>
    <ul class='standard-list'>
      <li>Height: S; M; L.</li>
      <li>Width: XS; S; M; L; XL; Custom.</li>
      <li>Colour theming by product accent colour.</li>
    </ul>
  </div>
  <div class='container'>
    <h2>Guidance, hints and tips</h2>
    <ul class='standard-list'>
      <li>Always collect address elements in separate fields. If you use a single textarea, you can’t then reliably extract parts of an address.</li>
      <li>Consider using an address lookup to save the user effort, and ensure quality.</li>
    </ul>
  </div>
</div>
<div class="system-message system-toast success-message copied-to-clipboard">
  <div class='system-message-body'>Copied to clipboard
  </div>
</div>
