---
layout: default
secondary_menu_id: flashes
primary_menu_id: components
title: Flashes
sketch_file: /downloads/components/messages.sketch
sketch_file_version: 0.3
summary: Present quick confirmation of success or failure, relating to the task the user has just performed.
tags: notifications, flashes, success, errors, notification, flash, error
---

<div class="messages-notifications-page">
  <p class='summary'>{{ page.summary }}</p>
  <div class='content-tab'>
    <ul class='tab-menu'>
      <li class='selected' data-target-tabs='tabs-1'>Design</li>
      <li data-target-tabs='tabs-3'>Guidance</li>
    </ul>
  </div>
  <div class='secondary-tab visible' id='tabs-1'>
    <p>Use the <a href='/foundations/colour/'>utility colours</a> for flashes.</p>
    <ul class='standard-list'>
      <li>Use green for success (when an activity was successful).</li>
      <li>Use red for errors (a negative outcome that has already happened, or where the user can't continue).</li>
    </ul>
    <div class='pod'>
      <div class="system-message system-toast success-message">
        <div class='system-message-body'>Sales Invoice Created. <a href='#'>Undo</a>
        </div>
      </div>
      <br/>
      <br/>
      <div class="system-message system-toast error-message">
        <div class='system-message-body'>Please enter your VAT number.
        </div>
      </div>
    </div>
  </div>
  <div class='secondary-tab' id='tabs-3'>
    <h2>Have I got the right component?</h2>
    <ul class="standard-list">
      <li>Quick confirmation of success or failure, relating to the task the user has just performed? Try a Flash.</li>
      <li>Longer content to read carefully? Try a <a href='/components/messages/'>Message</a>.</li>
      <li>Need the user to confirm or acknowledge something? Critical message that should prevent further activity? Try a message in a <a href='/components/dialogs/'>Dialog</a>.</li>
    </ul>
    <h2>What configurations are available?</h2>
    <ul class="standard-list">
      <li>Colour theming by product accent colour.</li>
      <li>Options: With close icon.</li>
    </ul>
    <h2>Guidance, hints and tips</h2>
    <ul class="standard-list">
      <li>Flashes are for quick confirmation of success or failure, relating to the task the user has just performed. They might appear on top of other elements. They typically animate on screen, remain for a few seconds (3 seconds is an XD consensus), then automatically animate away. An icon to dismiss, or a tertiary button to undo the action, are options.</li>
      <li>They’re only for use when it’s not critical for the user to read the content, and with content of just a few characters, e.g. ‘Invoice Saved’.</li>
      <li>Flashes always appear at the top centre of the container.</li>
      <li><span class='emphasis-term'>Error</span> - a negative outcome that has already happened, or where the user can't continue. Try to focus the message text on the action the user needs to take to be successful, rather than what went wrong.</li>
      <li><span class='emphasis-term'>Success</span> - indicates that an activity was successful. A good example could also present the user with onward options, such as ‘View a list of items’ or ‘Create another’.</li>
    </ul>
  </div>
</div>
