---
layout: default
secondary_menu_id: full-screen-dialogs
primary_menu_id: components
title: Full Screen Dialogs
sketch_file: /downloads/components/full_screen_dialog.sketch
sketch_file_version: 0.2
summary: A full-width and full-height dialog overlaid on top of any page.
tags: dialog, dialogs, modal, modals, full screen, full-screen, fullscreen, container, containers
---

<p class='summary'>{{ page.summary }}</p>

<div class='content-tab'>
  <ul class='tab-menu'>
    <li class='selected' data-target-tabs='tabs-1'>Design</li>
    <li data-target-tabs='tabs-3'>Guidance</li>
  </ul>
</div>
<div class='secondary-tab visible' id='tabs-1'>
  <div class='container'>
    <ul class="standard-list">
      <li>Useful to perform a task in context that requires a lot of real-estate, without needing to reload the page.</li>
      <li>Because a full screen dialog resets the perceived elevation of the page, you can place a standard dialog on top of it.</li>
      <li>Users can minimise a full screen dialog to the foot of the browser to multitask.</li>
    </ul>
    <p>Full Screen Dialogs have 3 states:</p>
    <ul class='standard-list'>
      <li>Open, but not expanded.</li>
      <li>Open and expanded to the full-width and height of the page.</li>
      <li>Minimised, to the foot of the screen.</li>
    </ul>
    <button class='dls-button button-small generic-biz primary show-fs-dialog'>Try Me</button>
  </div>
  <div class="pod full-width">
    <img class='example-img' src='/visuals/full-screen-dialogs.png'/>
  </div>
  <div class='container'>
    <h2>Background Mask</h2>
    <p>A standard background mask is created by applying opacity: rgba(0,20,29,0.6)</p>
    <div class="pod">
      <div class='mask-example'>
        <img src='/visuals/screenshots/app-tablet.png'/>
        <div class='mask-example-background'>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='secondary-tab' id='tabs-3'>
  <div class='container'>
    <h2>Have I got the right component?</h2>
    <ul class="standard-list">
      <li>Simple task in context, or need to interrupt the user? Try a <a href='/components/dialogs'>dialog</a>.</li>
      <li>Need to interact with the underlying page at the same time? Try a <a href='/components/sidebar'>sidebar</a>.</li>
      <li>Need to break down a complex task into simpler steps? Try a <a href="/components/step-flows">step flow</a>.</li>
    </ul>
  </div>
  <div class='container'>
    <h2>What configurations are available?</h2>
    <ul class="standard-list">
      <li>One Size: 97vh x 95vw, expandable to 100vh x 100vw</li>
      <li>Options: Sticky footer; Bottom buttons split for Wizard.</li>
    </ul>
  </div>
  <div class='container'>
    <h2>Guidance, hints and tips</h2>
    <ul class="standard-list">
      <li>Useful to perform a task in context that requires a lot of real-estate, without needing to reload the page.</li>
      <li>Whilst a standard Dialog component’s width might constrain what you can do, the full screen dialog uses the full width and height available.</li>
      <li>For example, you could instantly open a sales invoice in a full screen dialog on top of a table of invoices, without reloading the page.</li>
      <li>Because a full screen dialog resets the perceived elevation of the page, you can place a standard dialog on top of it.</li>
      <li>Full Screen Dialogs should load content dynamically without refreshing the page.</li>
      <li>Users can minimise a full screen dialog to the foot of the browser to multitask.</li>
      <li>Full Screen Dialogs can be used to break down a long linear process into small steps. See <a href="/components/step-flows">Step Flows</a>.</li>
    </ul>
  </div>
</div>
<div id="dialog-transition" class="fs-dialog-component">
  <div class='dialog-background'></div>
  <div class='dialog fs-dialog'>
    <div class="dls-fs-dialog-header">
      <h3>Full Screen Dialog Example</h3>
      <div class='closebox'><i class="icon icon-close fs-dialog-close"></i></div>
      <div class='minimise'><i class="icon icon-minus minimise-fs-dialog"></i></div>
      <div class='expand'><i class="icon icon-fit_width expand-fs-dialog"></i></div>
      <div class='maximise'><i class="icon icon-fit_height minimise-fs-dialog"></i></div>
    </div>
    <div class="dls-fs-dialog-content">
      <label for="field-1">First Name</label>
      <div class='dls-input-container input-height-m input-width-l'>
        <input type='text' class='dls-input input-small-biz' id='field-1' value=''/>
      </div>
      <label for="field-1">Last Name</label>
      <div class='dls-input-container input-height-m input-width-l'>
        <input type='text' class='dls-input input-small-biz' id='field-1' value=''/>
      </div>
      <label for="field-18">NI Number</label>
      <div class='dls-input-container input-height-m input-width-l'>
        <input type='text' class='dls-input input-small-biz force-focus' id='field-18' placeholder='e.g. QQ123456A'/>
      </div>
    </div>
    <div class="dls-fs-dialog-footer">
      <div class='dls-form-button-container-right dls-fs-dialog-buttons'>
        <button class='dls-button button-small small-biz tertiary fs-dialog-close'>Cancel</button><button class='dls-button button-medium small-biz primary fs-dialog-close'>Save</button>
      </div>
    </div>
  </div>
</div>
