---
layout: default
secondary_menu_id: global-search-bar
primary_menu_id: components
title: Global Search
sketch_file: /downloads/components/global_search_bar.sketch
sketch_file_version: 0.2
summary: A powerful search function that covers more than one area of an app.
tags: search, global, header

---

<p class='summary'>{{ page.summary }}</p>

<h2>Usage</h2>
<p>You can try the global header by pressing the search icon on the top right of the header bar or by using the keypress of CTRL + S</p>
<h2>Keyboard Shortcuts</h2>
<p>This component is designed to also be used with just keyboard commands, the following are those currently assigned and active in this prototype:</p>
<ul class="standard-list">
  <li><span class="bold">CTRL + S Key:</span> Show the component</li>
  <li><span class="bold">ESC:</span> Close the component</li>
  <li><span class="bold">UP / DOWN Arrows:</span> Navigate the list or return to search input</li>
</ul>
