---
layout: default
secondary_menu_id: header
primary_menu_id: components
title: Header Bar
sketch_file: /downloads/components/header_bar.sketch
sketch_file_version: 0.4.0
summary: Provide quick access to functions that range across the whole app, from the header.
tags: header, bar, global, quick create, create, search, notification, notifications, help, profile, user, layout
---

<p class='summary'>{{ page.summary }}</p>

<div class='container'>
  <h2>Quick Access Global Tasks</h2>
  <p>The application header allows quick access to various global tasks.</p>
  <p>The example below shows (In order from left to right):</p>
  <ul class="standard-list">
    <li>Quick Create</li>
    <li>Search (with search performed)</li>
    <li>Notifications</li>
    <li>Help</li>
    <li>Profile</li>
  </ul>
  <p class="highlight">Hover on the menu to try it yourself</p>
  <div class="app-header">
    <ul class="nav">
      <li>
        <i class="icon icon-plus"></i>
        <div class="app-header-nav-wrapper app-header-nav-create">
          <div class="app-header-nav-container ">
            <div class="app-header-nav-header">
              <div class="app-header-nav-title">Create</div>
            </div>
            <div class="app-header-nav-content">
              <ul>
                <li>Invoice</li>
                <li>Estimate</li>
                <li>Expense</li>
                <li>Journal</li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li>
        <i class="icon icon-search"></i>
        <div class="app-header-nav-wrapper search-box-container right-aligned">
          <div class="app-header-nav-container">
            <div class="app-header-nav-header">
              <div class="dls-input-container input-height-m">
                <input type="text" class="dls-input input-small-biz" id="field-2" value="Ben Wils">
                <span class="input-standard-icon field-icon"><i class="icon icon-search"></i></span>
              </div>
            </div>
            <div class="app-header-nav-content">
              <ul class="results-list">
                <li class="segment-separator">
                  Invoices
                </li>
                <li>
                  <div>SI-204 for Ben Wilson</div>
                  <div class="date-value">28th May 18</div>
                </li>
                <li>
                  <div>SI-205 for Ben Wilson</div>
                  <div class="date-value">28th May 18</div>
                </li>
                <li class="segment-separator">
                  Contacts
                </li>
                <li>
                  <div>Ben Wilson</div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li>
        <i class="icon icon-alert"></i>
        <div class="app-header-nav-wrapper right-aligned">
          <div class="app-header-nav-container">
            <div class="app-header-nav-header">
              <div class="app-header-nav-title">Notifications</div>
            </div>
            <div class="app-header-nav-content with-padding">
              <div class="notification-container">
                <div class="notification-avatar">HS</div>
                <div class="notification-content">
                  <div class="notification-summary"><span>Harpal Singh</span> commented on invoice SI-206 for £274.00</div>
                  <div class="notification-message">"Thanks for the invoice, I'll send through the money at the weekend..."</div>
                  <div class="notification-date">Today 11.30am</div>
                </div>
              </div>
              <div class="notification-container">
                <div class="notification-avatar">BW</div>
                <div class="notification-content">
                  <div class="notification-summary"><span>Ben Wilson</span> has not viewed the invoice you sent last week.</div>
                  <div class="notification-date">Yesterday 9.30pm <a href="#">Follow Up</a></div>
                </div>
              </div>
              <div class="notification-container">
                <div class="notification-avatar">LT</div>
                <div class="notification-content">
                  <div class="notification-summary"><span>Lauren Thompson</span> has been added as a user to Canny Cakes.</div>
                  <div class="notification-date">7th May 10.3am</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <i class="icon icon-question"></i>
        <div class="app-header-nav-wrapper right-aligned nav-help-container">
          <div class="app-header-nav-container">
            <div class="app-header-nav-header">
              <div class="app-header-nav-title">Help</div>
            </div>
            <div class="app-header-nav-content with-padding">
              <div class="help-label">Recommended Guides</div>
              <div class="help-link"><a href="">How do I create an invoice</a></div>
              <div class="help-link"><a href="">Setup and process bank feeds</a></div>

              <div class="help-label">Helpful Links</div>
              <div class="help-link"><a href="">Favourited guides</a><i class="icon icon-favourite"></i></div>
              <div class="help-link"><a href="">Show help toolbar</a></div>
              <div class="help-link"><a href="">Support site</a><i class="icon icon-link"></i></div>
              <div class="help-link"><a href="">What's new</a><i class="icon icon-link"></i></div>
            </div>
            <div>
              <ul class="horizontal-list">
                <li>
                  <div>
                    <i class="icon icon-talk"></i>
                    <div>Live<br>Chat</div>
                  </div>
                </li>
                <li>
                  <div>
                    <i class="icon icon-email"></i>
                    <div>Request<br>Help</div>
                  </div>
                </li>
                <li>
                  <div>
                    <i class="icon icon-call"></i>
                    <div>Call<br>Us</div>
                  </div>
                </li>
                <li>
                  <div>
                    <i class="icon icon-feedback"></i>
                    <div>Give<br>Feedback</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="profile-pic"></div>
        <div class="app-header-nav-wrapper profile-container right-aligned">
          <div class="app-header-nav-container">
            <div class="app-header-nav-header">
              <div class="profile-pic-avatar-large">
              </div>
              <div class="profile-actions">
                <div class="app-header-nav-title">Klaus Kaasgaard</div>
                <div class="app-header-nav-email">klaus.kaasgaard@sage.com</div>
                <a href="#" class="my-account">My Account</a>
                <a href="#" class="logout">Logout</a>
              </div>
            </div>
            <div class="app-header-nav-content with-padding">
              <div class="profile-business-name-container">
                <div class="profile-label">Business Name</div>
                <div class="profile-business-name">Canny Cakes</div>
              </div>
              <div class="profile-actions"><a href="#">Manage</a></div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
