---
layout: default
secondary_menu_id: links
primary_menu_id: components
title: Links
sketch_file: /downloads/components/link.sketch
sketch_file_version: 0.8
summary: Navigate the user to another location.
tags: hyperlink, hyperlinks, link, links, text link, text links, href, icon, icons
---

<p class='summary'>{{ page.summary }}</p>

<div class='content-tab'>
  <ul class='tab-menu'>
    <li class='selected' data-target-tabs='tabs-1'>Design</li>
    <li data-target-tabs='tabs-3'>Guidance</li>
  </ul>
</div>
<div class='secondary-tab visible' id='tabs-1'>
  <div class="system-message info-message">
    <div class='system-message-title'>Accessibility</div>
    <div class='system-message-body'>WCAG 2.1 includes requirements aimed at links - see the <a href='/foundations/accessibility#accessibility-links'>Accessibility</a> section for more info.</div>
  </div>
  <p>In summary, our approach to links is...</p>
  <ul class="standard-list">
    <li>Default: Use the accent colour of the product, with underline.</li>
    <li>Hover: Keep the underline, but use the relevant hover colour.</li>
    <li>Use the standard 400 font weight.</li>
  </ul>
  <p>See how <a href='/components/buttons/'>Tertiary Buttons</a> are visually similar.</p>
  <div class='container'>
    <div class="pod">
      <table class='pod-table'>
        <tr>
          <td>
            Small Business
          </td>
          <td>
            <a href='#' class='link small-biz'>Link</a>
          </td>
          <td>
            <div class='dls-icon-link'><a href='https://help.sageone.com/en_uk/accounting/extra-error-corrections.html' class='link small-biz' target='_blank'><i class="icon icon-pdf"></i><span>Icon Before</span></a></div>
          </td>
          <td>
            <div class='dls-icon-link'><a href='https://help.sageone.com/en_uk/accounting/extra-error-corrections.html' class='link small-biz' target='_blank'><span>Icon After</span><i class="icon icon-link"></i></a></div>
          </td>
        </tr>
        <tr>
          <td>
            Medium Business
          </td>
          <td>
            <a href='#' class='link medium-biz'>Link</a>
          </td>
          <td>
            <div class='dls-icon-link'><a href='https://help.sageone.com/en_uk/accounting/extra-error-corrections.html' class='link medium-biz' target='_blank'><i class="icon icon-pdf"></i><span>Icon Before</span></a></div>
          </td>
          <td>
            <div class='dls-icon-link'><a href='https://help.sageone.com/en_uk/accounting/extra-error-corrections.html' class='link medium-biz' target='_blank'><span>Icon After</span><i class="icon icon-link"></i></a></div>
          </td>
        </tr>
        <tr>
          <td>
            Large Business
          </td>
          <td>
            <a href='#' class='link large-biz'>Link</a>
          </td>
          <td>
            <div class='dls-icon-link'><a href='https://help.sageone.com/en_uk/accounting/extra-error-corrections.html' class='link large-biz' target='_blank'><i class="icon icon-pdf"></i><span>Icon Before</span></a></div>
          </td>
          <td>
            <div class='dls-icon-link'><a href='https://help.sageone.com/en_uk/accounting/extra-error-corrections.html' class='link large-biz' target='_blank'><span>Icon After</span><i class="icon icon-link"></i></a></div>
          </td>
        </tr>
        <tr>
          <td>
            Generic Business
          </td>
          <td>
            <a href='#' class='link generic-biz'>Link</a>
          </td>
          <td>
            <div class='dls-icon-link'><a href='https://help.sageone.com/en_uk/accounting/extra-error-corrections.html' class='link generic-biz' target='_blank'><i class="icon icon-pdf"></i><span>Icon Before</span></a></div>
          </td>
          <td>
            <div class='dls-icon-link'><a href='https://help.sageone.com/en_uk/accounting/extra-error-corrections.html' class='link generic-biz' target='_blank'><span>Icon After</span><i class="icon icon-link"></i></a></div>
          </td>
        </tr>
        <tr>
          <td>
            Disabled Link
          </td>
          <td>
            <a href='#' class='link disabled'>Link</a>
          </td>
          <td>
            <div class='dls-icon-link'><a href='https://help.sageone.com/en_uk/accounting/extra-error-corrections.html' class='link disabled' target='_blank'><i class="icon icon-pdf disabled"></i><span>Icon Before</span></a></div>
          </td>
          <td>
            <div class='dls-icon-link'><a href='https://help.sageone.com/en_uk/accounting/extra-error-corrections.html' class='link disabled' target='_blank'><span>Icon After</span><i class="icon icon-link disabled"></i></a></div>
          </td>
        </tr>
        <tr>
          <td>
            Link with Focus
          </td>
          <td>
            <a href='#' class='link force-link-focus'>Link</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class='secondary-tab' id='tabs-3'>
  <div class='container'>
    <h2>Have I got the right component?</h2>
    <ul class="standard-list">
      <li>Performing an action or command? Try a <a href='/components/buttons/'>button</a>.</li>
      <li>Lots of actions? Try a <a href='/components/buttons/'>Button Bar</a>.</li>
      <li>For the icon font, and guidance on icon colour, see the <a href='/foundations/icons/'>Foundation on Icons</a>.</li>
    </ul>
  </div>
  <div class='container'>
    <h2>What configurations are available?</h2>
    <ul class="standard-list">
      <li>Variants: Single Link; Toolbox of many links.</li>
      <li>Options: With icon before; With icon after.</li>
      <li>Colour theming by product accent colour.</li>
    </ul>
  </div>
  <div class='container'>
    <h2>Guidance, hints and tips</h2>
    <ul class="standard-list">
      <li>Avoid using links for commands (performing an action like saving a form) - use them for navigating the user to a new location.</li>
      <li>But, <a href='/components/buttons/'>Tertiary Buttons</a> look similar and could do this job.</li>
      <li>Don’t duplicate destinations available through the primary navigation using links.</li>
      <li>If you’re navigating the user away from your app, consider using an external link <a href='/foundations/icons/'>icon</a> after the link, and open the link in a new window, so the user doesn’t lose their place.</li>
      <li>To make the meaning of a link clearer, you can add an <a href='/foundations/icons/'>icon</a> before it.</li>
      <li>Make your link names meaningful - don’t use ‘Learn more’, ‘More’, ‘Click here’, ‘Here’ - instead try ‘Download Invoice’.</li>
    </ul>
  </div>
</div>
