---
layout: default
secondary_menu_id: messages
primary_menu_id: components
title: Messages
sketch_file: /downloads/components/messages.sketch
sketch_file_version: 0.3
summary: Present success, failure, warnings, or information - longer content that the user needs to read carefully.
tags: notifications, messages, notification, message
---

<div class="messages-notifications-page">
  <p class='summary'>{{ page.summary }}</p>
  <div class='content-tab'>
    <ul class='tab-menu'>
      <li class='selected' data-target-tabs='tabs-1'>Design</li>
      <li data-target-tabs='tabs-3'>Guidance</li>
    </ul>
  </div>
  <div class='secondary-tab visible' id='tabs-1'>
    <p>Use the <a href='/foundations/colour/'>utility colours</a> for messages.</p>
    <ul class='standard-list'>
      <li>Use green for success (when an activity was successful).</li>
      <li>Use carrot for warnings (a potential negative outcome that hasn’t happened yet, where the user can continue if they like).</li>
      <li>Use red for errors (a negative outcome that has already happened, or where the user can't continue).</li>
      <li>Use blue for neutral messages (giving context or advice where there’s no risk of a negative outcome).</li>
    </ul>
    <div class="system-message info-message">
      <div class='system-message-body'>The new 'carrot' utility warning colour is currently going through the brand approval process. Please be aware that it's subject to change.</div>
    </div>
    <div class='pod'>
      <div class="system-message success-message">
        <div class='system-message-title'>Invoice Created</div>
        <div class='system-message-body'>You can <a href='#'>create another</a> or <a href='#'> see the list of invoices</a>.</div>
      </div>
      <div class="system-message warning-message">
        <div class='system-message-title'>WCAG Version 2.1 Update</div>
        <div class='system-message-body'>This summary includes the new and updated requirements released by WCAG in June 2018.</div>
      </div>
      <div class="system-message error-message">
        <div class='system-message-title'>Unable to Submit VAT Return</div>
        <div class='system-message-body'>HMRC's systems don't seem to be responding right now. Please try again later.</div>
      </div>
      <div class="system-message info-message">
        <div class='system-message-title'>This customer is registered for VAT in the EU</div>
        <div class='system-message-body'>VAT rates are therefore set to zero below.</div>
      </div>
    </div>
  </div>
  <div class='secondary-tab' id='tabs-3'>
    <h2>Have I got the right component?</h2>
    <ul class="standard-list">
      <li>Quick confirmation of success or failure, relating to the task the user has just performed? Try a <a href='/components/flashes/'>Flash</a>.</li>
      <li>Longer content to read carefully? Try a Message.</li>
      <li>Need the user to confirm or acknowledge something? Critical message that should prevent further activity? Try a message in a <a href='/components/dialogs/'>Dialog</a>.</li>
    </ul>
    <h2>What configurations are available?</h2>
    <ul class="standard-list">
      <li>Colour theming by product accent colour.</li>
      <li>Options: With close icon.</li>
    </ul>
    <h2>Guidance, hints and tips</h2>
    <ul class="standard-list">
      <li>Messages are for longer content that the user needs to read more carefully. They remain on screen until the user takes an action (either dismissing the message, or resolving an error). They're inserted into the flow of the UI, and don't appear on top of other elements. An icon to dismiss the message is an option.</li>
      <li>If there are multiple messages of the same type, you can list them as bullet points within a single message body.</li>
      <li>If there are also messages of another type, you can ‘stack’ the message boxes one on top of another, with the most important first.</li>
      <li><span class='emphasis-term'>Error</span> - a negative outcome that has already happened, or where the user can't continue. Try to focus the message text on the action the user needs to take to be successful, rather than what went wrong.</li>
      <li><span class='emphasis-term'>Success</span> - indicates that an activity was successful. A good example could also present the user with onward options, such as ‘View a list of items’ or ‘Create another’.</li>
      <li><span class='emphasis-term'>Info</span> - gives context or advice to the user where there’s no risk of a negative outcome.</li>
      <li><span class='emphasis-term'>Warning</span> - a potential negative outcome that hasn’t happened yet, where the user can continue if they like. In practice, some users perceive them as errors and think they can’t continue, so use these sparingly. In some situations we deliberately avoid ‘warning’ messages and use ‘Information’ instead, to avoid this problem.</li>
    </ul>
  </div>
</div>
