---
layout: default
secondary_menu_id: number-inputs
primary_menu_id: components
title: Number Inputs
sketch_file: /downloads/components/text_input.sketch
sketch_file_version: 0.8
summary: Capture whole numbers - without a decimal point.
tags: input, inputs, form, forms, number, numbers, whole number, form, forms
---

<p class='summary'>{{ page.summary }}</p>
<div class='content-tab'>
  <ul class='tab-menu'>
    <li class='selected' data-target-tabs='tabs-1'>Design</li>
    <li data-target-tabs='tabs-3'>Guidance</li>
  </ul>
</div>
<div class='secondary-tab visible' id='tabs-1'>
  <div class='container'>
    <p>Capturing whole numbers without decimal points is quite rare - the <a href='/components/decimal-inputs'>Decimal Input</a> component is more common.</p>
    <div class="pod">
      <div class='dls-form'>
        <div class='label-input-wrapper'>
          <label for="field-1">Phone Number</label>
          <div class='dls-input-container input-height-m input-width-m'>
            <input type='text' class='dls-input input-small-biz' id='field-1' value='07926744163'/>
          </div>
        </div>
        <p class='label-inline'>Take payment on day</p>
        <div class='dls-input-container input-height-m input-width-xs input-inline'>
          <input type='text' class='dls-input input-height-m input-width-xs input-small-biz input-inline' id='field-22' value='15'/>
        </div>
        <p class='label-inline'>of the month.</p>
      </div>
    </div>
  </div>
</div>
<div class='secondary-tab' id='tabs-3'>
  <div class='container'>
    <h2>Have I got the right component?</h2>
    <ul class='standard-list'>
      <li>Check out the general guidance on <a href='/components/text-inputs/'>inputs</a>, constructing <a href='/patterns/forms/'>forms</a>, and industry guidance from <a href='https://www.lukew.com/resources/web_form_design.asp' target='_blank'>Luke Wroblewski</a>.</li>
      <li>Entering dates? Try a <a href='/components/datepicker/'>Date Picker</a>.</li>
      <li>Entering currencies or quantities? Try a <a href='/components/decimal-inputs/'>Decimal Input</a>.</li>
      <li>Entering numbers without decimals? Try a <a href='/components/number-inputs/'>Number Input</a>.</li>
      <li>Entering data with punctuation inside the field, or where the data is masked? Try a <a href='/components/punctuated-inputs/'>Fieldset</a>.</li>
      <li>Entering longer free text? Try a <a href='/components/textareas/'>Textarea</a>.</li>
      <li>Entering data that's closely related, like parts of an address? Try a <a href='/components/fieldsets/'>Fieldset</a>.</li>
      <li>Searching for something? Try a <a href='/components/dropdowns/'>Type Ahead Dropdown</a> or the Search/Filter configuration for <a href='/components/tables/'>Tables</a>.</li>
      <li>Interested in error states and validation patterns? See the section on <a href='/patterns/errors-validation/'>Validation and Error</a>.</li>
    </ul>
  </div>
  <div class='container'>
    <h2>Which configurations are available?</h2>
    <ul class='standard-list'>
      <li>Height: S; M; L.</li>
      <li>Width: XS; S; M; L; XL; Custom.</li>
      <li>Colour theming by product accent colour.</li>
      <li>Alignment: Right aligned content; Left aligned content.</li>
    </ul>
  </div>
  <div class='container'>
    <h2>Guidance, hints and tips</h2>
    <ul class='standard-list'>
      <li>Capturing whole numbers without decimal points is quite rare - the <a href='/components/decimal-inputs'>Decimal Input</a> component is more common.</li>
      <li>If capturing a phone number, use flexible input - allow the user to enter them with and without spaces, dashes, and interactional prefixes with symbols (+44 for the UK).</li>
    </ul>
  </div>
</div>
<div class="system-message system-toast success-message copied-to-clipboard">
  <div class='system-message-body'>Copied to clipboard
  </div>
</div>
