---
layout: default
secondary_menu_id: pills-badges
primary_menu_id: components
title: Pills, Badges
sketch_file: /downloads/components/pills_badges.sketch
sketch_file_version: 0.7
summary: Compact visual indicators that help things in common stand out.
tags: label, pill, chip, badge, labels, pills, chips, badges, status, indicator, indicators, category, categories, count badge, count badges, content, static
---

<p class='summary'>{{ page.summary }}</p>
<div class='content-tab'>
  <ul class='tab-menu'>
    <li class='selected' data-target-tabs='tabs-1'>Design</li>
    <li data-target-tabs='tabs-3'>Guidance</li>
  </ul>
</div>
<div class='secondary-tab visible' id='tabs-1'>
  <h2>Pills</h2>
  <p>Pills are used to label, organise, or categorise something in the system. They are added and removed by the user themselves.</p>
  <div class="pod full-width">
    <div class='container'>
      <h3>Default Pills</h3>
      <p>Non editable in context. Solid white fill colour, with a hover state using product accent colours.</p>
      <div class='dls-pill-container pill-container-small-biz'>
        <span class="dls-pill pill-small-biz">North East</span>
      </div>
      <div class='dls-pill-container pill-container-medium-biz'>
        <span class="dls-pill pill-small-biz">Manufacturing</span>
      </div>
      <div class='dls-pill-container pill-container-large-biz'>
        <span class="dls-pill pill-small-biz">New Customer</span>
      </div>
    </div>
    <div class='container'>
      <h3>Editable Pills</h3>
      <p>Editable in context, with a delete icon.</p>
      <div class='dls-pill-container dls-pill-delete'>
        <span class="dls-pill">Alpha Team</span>
        <span class='pill-cross-icon'><i class="icon icon-cross"></i></span>
      </div>
    </div>
    <div class='container'>
      <h3>Pills that Take Actions</h3>
      <p>Consider a standard <a href='/components/buttons/'>Button component</a> too. Transparent background, with solid product accent hover colour.</p>
      <div class='dls-pill-container dls-pill-action pill-action-small-biz'>
        <span class="dls-pill">Detailed PDF</span>
      </div>
      <div class='dls-pill-container dls-pill-action pill-action-medium-biz'>
        <span class="dls-pill">Summary PDF</span>
      </div>
      <div class='dls-pill-container dls-pill-action pill-action-large-biz'>
        <span class="dls-pill">Summary CSV</span>
      </div>
    </div>
  </div>
  <h2>Badges</h2>
  <div class="pod full-width">
    <div class='container'>
      <h3>Status Badges</h3>
      <p>Applied automatically by the system to highlight the status of an item for quick recognition. No hover state.</p>
      <div class='dls-pill-container dls-badge badge-neutral'>
        <span class="dls-pill">Neutral</span>
      </div>
      <div class='dls-pill-container dls-badge badge-negative'>
        <span class="dls-pill">Negative</span>
      </div>
      <div class='dls-pill-container dls-badge badge-attention'>
        <span class="dls-pill">Attention</span>
      </div>
      <div class='dls-pill-container dls-badge badge-positive'>
        <span class="dls-pill">Positive</span>
      </div>
    </div>
    <div class='container'>
      <div class='dls-inline-wrapper'>
        <h2>Sales Invoice SI-261</h2><div class='dls-pill-container dls-badge badge-negative'>
          <span class="dls-pill">Overdue</span>
        </div>
      </div>
    </div>
    <div class='container'>
      <h3>Count Badges</h3>
      <p>Call attention to important numbers as a running tally, for example, the number of overdue invoices. They help a user to see where action is needed, or draw the user to new data.</p>
      <div class='content-tab tab-count-example'>
        <ul class='tab-menu'>
          <li class='selected' data-target-tabs='tabs-1'>All Invoices</li>
          <li data-target-tabs='tabs-1'>Draft</li>
          <li data-target-tabs='tabs-1'>Outstanding
            <div class='dls-pill-container dls-badge badge-neutral'>
              <span class="dls-pill">42</span>
            </div>
          </li>
          <li data-target-tabs='tabs-1'>Overdue
            <div class='dls-pill-container dls-badge badge-negative'>
              <span class="dls-pill">8</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class='secondary-tab' id='tabs-3'>
  <div class='container'>
    <h2>Have I got the right component?</h2>
    <ul class="standard-list">
      <li>Toggling or choosing between options? Try a <a href='/components/radios/'>Radio Button</a> or <a href='/components/dropdowns/'>Dropdown</a>.</li>
      <li>Applying filters? Check out the options in the <a href='/components/tables/'>Table pattern</a>.</li>
      <li>Taking actions? Try a <a href='/components/buttons/'>Button component</a>.</li>
      <li>Need a help icon or tooltip? Try <a href='/patterns/help-tooltips/'>Help and Tooltips</a>.</li>
    </ul>
    <p>Pills and badges make a good choice when you’d like an alternative that appears visually subtle, secondary, or hints at greater interactivity.</p>
  </div>
  <div class='container'>
    <h2>What configurations are available?</h2>
    <ul class="standard-list">
      <li>Pill: With Delete; With Action.</li>
      <li>Badge.</li>
      <li>Colour theming by product accent colour.</li>
    </ul>
  </div>
  <div class='container'>
    <h2>Guidance, hints and tips</h2>
    <h3>Pills</h3>
    <ul class='standard-list'>
      <li>Used to label, organise, or categorise something in the system.</li>
      <li>Added and removed by the user themselves. They're found in input fields - the field may suggest, validate, and convert user text input into pills as terms are entered.</li>
      <li>Composed of a container, delete icon, and text label. To keep them simple, we don’t usually place other icons within them.</li>
      <li>May be clickable, performing an action or taking the user to a location.</li>
    </ul>
  </div>
  <div class='container'>
    <h3>Status Badges</h3>
    <ul class='standard-list'>
      <li>Applied automatically by the system to highlight the status of an item for quick recognition, for example, to show paid and unpaid invoices.</li>
      <li>Can be styled with the error, warning, and info colours to carry meaning.</li>
      <li>Typically shown in table columns, or next to the page title of records like invoices. They’re usually placed after the element they refer to.</li>
      <li>Not found in input fields, and can’t be added, edited, or removed by the user directly.</li>
      <li>Composed of a container and text label only. The label is preferably a single word.</li>
    </ul>
  </div>
  <div class='container'>
    <h3>Number Badges</h3>
    <ul class='standard-list'>
      <li>Call attention to important numbers as a running tally, for example, the number of overdue invoices. They help a user to see where action is needed, or draw the user's attention to something new.</li>
      <li>They can be styled subtly for numbers of general interest, or in a bold way if the number is particularly important.</li>
      <li>Typically shown in navigation, tabs, or menu items - usually after the element they refer to.</li>
      <li>Typically show small numbers - for a single digit, the badge may appear round. For two or three digits, it appears oblong (not a larger circle). Number badges aren’t generally used for numbers over 1000, or currency amounts. A plus symbol may be used to show greater numbers (1000+).</li>
    </ul>
  </div>
</div>
