---
layout: default
secondary_menu_id: punctuated-inputs
primary_menu_id: components
title: Punctuated, Masked Inputs
sketch_file: /downloads/components/text_input.sketch
sketch_file_version: 0.8
summary: Capture data with punctuation inside the field, or where the data is masked.
tags: input, inputs, text, form, forms, form, forms, punctuation, punctuated, grouped character, masked, mask
---

<div class="foundations-colour">
  <p class='summary'>{{ page.summary }}</p>
  <div class='content-tab'>
    <ul class='tab-menu'>
      <li class='selected' data-target-tabs='tabs-1'>Design</li>
      <li data-target-tabs='tabs-3'>Guidance</li>
    </ul>
  </div>
  <div class='secondary-tab visible' id='tabs-1'>
    <div class='container'>
      <h2>Punctuated Inputs</h2>
      <p>Fields can have punctuation within them (most commonly characters like - or /). This gives the user a clue about the format accepted.</p>
      <div class="pod">
        <img class='example-img' src='/visuals/inputs-punctuated.png'/>
      </div>
    </div>
    <div class='container'>
      <h2>Masked Inputs</h2>
      <p>Whilst this is good for security, it can cause difficulty for the user, so use this sparingly.</p>
      <div class="pod">
        <label for="field-37">Password</label>
        <div class='dls-input-container input-height-m input-width-m'>
          <input type='password' class='dls-input input-small-biz' id='field-37' value='Password'/>
        </div>
        <label for="field-38">Account Number</label>
        <div class='dls-input-container input-height-m input-width-m'>
          <input type='text' class='dls-input input-small-biz' id='field-38' value='****1680'/>
        </div>
        <label for="field-39">Card Number</label>
        <div class='dls-input-container input-height-m input-width-l'>
          <input type='text' class='dls-input input-small-biz' id='field-39' value='**** **** **** 1234'/>
        </div>
      </div>
    </div>
  </div>
  <div class='secondary-tab' id='tabs-3'>
    <div class='container'>
      <h2>Have I got the right component?</h2>
      <ul class='standard-list'>
        <li>Check out the general guidance on <a href='/components/text-inputs/'>inputs</a>, constructing <a href='/patterns/forms/'>forms</a>, and industry guidance from <a href='https://www.lukew.com/resources/web_form_design.asp' target='_blank'>Luke Wroblewski</a>.</li>
        <li>Entering dates? Try a <a href='/components/datepicker/'>Date Picker</a>.</li>
        <li>Entering currencies or quantities? Try a <a href='/components/decimal-inputs/'>Decimal Input</a>.</li>
        <li>Entering numbers without decimals? Try a <a href='/components/number-inputs/'>Number Input</a>.</li>
        <li>Entering data with punctuation inside the field, or where the data is masked? Try a <a href='/components/punctuated-inputs/'>Fieldset</a>.</li>
        <li>Entering longer free text? Try a <a href='/components/textareas/'>Textarea</a>.</li>
        <li>Entering data that's closely related, like parts of an address? Try a <a href='/components/fieldsets/'>Fieldset</a>.</li>
        <li>Searching for something? Try a <a href='/components/dropdowns/'>Type Ahead Dropdown</a> or the Search/Filter configuration for <a href='/components/tables/'>Tables</a>.</li>
        <li>Interested in error states and validation patterns? See the section on <a href='/patterns/errors-validation/'>Validation and Error</a>.</li>
      </ul>
    </div>
    <div class='container'>
      <h2>Which configurations are available?</h2>
      <ul class='standard-list'>
        <li>Height: S; M; L.</li>
        <li>Width: XS; S; M; L; XL; Custom.</li>
        <li>Colour theming by product accent colour.</li>
      </ul>
    </div>
    <div class='container'>
      <h2>Guidance, hints and tips</h2>
      <h3>Punctuated Inputs</h3>
      <ul class='standard-list'>
        <li>Fields can have punctuation within them (most commonly characters like - or /). This gives the user a clue about the format accepted.</li>
        <li>Don’t use placeholder text at the same time.</li>
        <li>Automatically skip past punctuation as the user enters characters - don’t require the user to tab past the punctuation. If the user enters the punctuation characters themselves, then handle this gracefully.</li>
        <li>Remember to leave room for an error, warning, or info icon if needed.</li>
      </ul>
    </div>
    <div class='container'>
      <h3>Masked Inputs</h3>
      <ul class='standard-list'>
        <li>Passwords are always masked - some systems allow users to view a password using a checkbox, but right now Sage ID doesn’t support this.</li>
        <li>Sensitive financial data (e.g. credit card numbers) are part-masked. Whilst this is good for security, it can cause difficulty for the user, so use this sparingly.</li>
        <li>At least show the last few characters, so the user can tell the difference between cards or accounts.</li>
        <li>Consider that the user won’t be able to see or correct errors in the masked part, so they’d have to re-enter the whole value in the event of error.</li>
        <li>Flexible input: Allow users to enter card numbers with or without spaces.</li>
      </ul>
    </div>
    <div class="system-message system-toast success-message copied-to-clipboard">
      <div class='system-message-body'>Copied to clipboard
      </div>
    </div>
  </div>
</div>
