---
layout: default
secondary_menu_id: sidebar
primary_menu_id: components
title: Sidebars
sketch_file: /downloads/components/sidebar.sketch
sketch_file_version: 0.4
summary: Allow users to perform an action without losing the context of the page below.
tags: sidebar, side, bar
---

<p class='summary'>{{ page.summary }}</p>
<div class='content-tab'>
  <ul class='tab-menu'>
    <li class='selected' data-target-tabs='tabs-1'>Design</li>
    <li data-target-tabs='tabs-3'>Guidance</li>
  </ul>
</div>
<div class='secondary-tab visible' id='tabs-1'>
  <div class='container'>
    <ul class="standard-list">
      <li>Sidebars are useful to perform a task in context without needing to reload or navigate away from the page.</li>
      <li>Narrow sidebars could be used to add or make changes to an invoice selected on the page behind. Wide sidebars could be used to display full records in context.</li>
      <li>A sidebar's height is always 100% of the viewport height.</li>
      <li>Sidebars can act as overlays on top of background page content, or take up space on the background page, so other content re-flows around it.</li>
      <li>Disabling and shading the background is optional, so a user can work with active elements both on the background page, and in the sidebar at the same time, if this is useful.</li>
      <li>Sidebars come in 3 sizes. They can be small (320px wide), medium (560px wide) or large (800px wide).</li>
    </ul>
    <button class='dls-button button-small generic-biz primary show-sidebar'>Try Me</button>
  </div>
  <div class="pod full-width">
    <h3>Small - 320px</h3>
    <img class='example-img sidebar-size-image' src='/visuals/sidebar-small.svg'/>
    <h3>Medium - 560px (with sticky footer)</h3>
    <img class='example-img sidebar-size-image' src='/visuals/sidebar-medium.svg'/>
    <h3>Large - 800px (with sticky footer)</h3>
    <img class='example-img sidebar-size-image' src='/visuals/sidebar-large.svg'/>
  </div>
</div>
<div class='secondary-tab' id='tabs-3'>
  <div class='container'>
    <h2>Have I got the right component?</h2>
    <ul class="standard-list">
      <li>Simple task in context, or need to interrupt the user now? Try a <a href='/components/dialogs/'>dialog</a>.</li>
      <li>Complex task that needs more space, or need to place a dialog on top of a dialog? Try a <a href='/components/full-screen-dialogs/'>full screen dialog</a>.</li>
    </ul>
  </div>
  <div class='container'>
    <h2>What configurations are available?</h2>
    <ul class="standard-list">
      <li>Sizes: S (320px wide), M (560px wide), L (800px wide).</li>
    </ul>
  </div>
  <div class='container'>
    <h2>Guidance, hints and tips</h2>
    <ul class="standard-list">
      <li>Sidebars usually animate in from the right of the page when an element is selected. For example, the user could select from a list of clients on the page, with detailed information on the client loading in the sidebar.</li>
      <li>Several pre-set widths are available, but the height is always 100% of the viewport. Avoid sidebars that are taller than the user’s viewport height. Typical user viewport heights can be as little as 650 pixels. If scrolling is required, the dialog title is pinned at the top, with buttons pinned at the bottom.</li>
      <li>Disabling and shading the background is optional, so a user can work with active elements both on the background page, and in the sidebar at the same time, if this is useful.</li>
      <li>Sidebars should load content dynamically without refreshing the page.</li>
    </ul>
  </div>
</div>
<div id="sidebar-transition" class="sidebar-component">
  <div class='dialog-background'></div>
  <div class='example-sidebar'>
    <div class="dls-sidebar-header">
      <h2>Sidebar Example</h2>
      <div class='closebox'><i class="icon icon-close sidebar-close"></i></div>
    </div>
    <div class="dls-sidebar-content">
      <div class='label-input-wrapper'>
        <label for="field-1">First Name</label>
        <div class='dls-input-container input-height-m input-width-l'>
          <input type='text' class='dls-input input-small-biz' id='field-1' value=''/>
        </div>
      </div>
      <div class='label-input-wrapper'>
        <label for="field-1">Last Name</label>
        <div class='dls-input-container input-height-m input-width-l'>
          <input type='text' class='dls-input input-small-biz' id='field-1' value=''/>
        </div>
      </div>
      <div class='label-input-wrapper'>
        <label for="field-18">NI Number</label>
        <div class='dls-input-container input-height-m input-width-l'>
          <input type='text' class='dls-input input-small-biz force-focus' id='field-18' placeholder='e.g. QQ123456A'/>
        </div>
      </div>
    </div>
    <div class="dls-fs-dialog-footer">
      <div class='dls-form-button-container-right dls-fs-dialog-buttons'>
        <button class='dls-button button-small small-biz tertiary sidebar-close'>Cancel</button><button class='dls-button button-medium small-biz primary sidebar-close'>Save</button>
      </div>
    </div>
  </div>
</div>
