---
layout: default
secondary_menu_id: spinners
primary_menu_id: components
title: Spinners
summary: Let users know a task or loading data is still in progress.
tags: loading, loader, spinner, progress, progress bar, indeterminate, determinate, load
---

<p class='summary'>{{ page.summary }}</p>

<div class='content-tab'>
  <ul class='tab-menu'>
    <li class='selected' data-target-tabs='tabs-1'>Design</li>
    <li data-target-tabs='tabs-3'>Guidance</li>
  </ul>
</div>

<!-- DESIGN -->
<div class='secondary-tab visible' id='tabs-1'>

  <h2>Small</h2>
  <p>Like many Design System elements, spinners are made of square elements. They usually take the accent colour of the product they're in.</p>
  <div class='pod'>
    <div class="spinner"><div class="bounce bounce1"></div><div class="bounce bounce2"></div><div class="bounce bounce3"></div></div>
  </div>

  <h2>Large</h2>
  <p>The larger size is only used when a whole page is loading - shown here with the medium product accent colour.</p>
  <div class='pod fixed-height-200'>
    <div class="spinner large segment-size-medium"><div class="bounce bounce1"></div><div class="bounce bounce2"></div><div class="bounce bounce3"></div></div>
  </div>

  <h2>Inside Buttons</h2>
  <p>When used inside a primary button the colour of the squares will be white.</p>
  <button>
    <div class="spinner"><div class="bounce bounce1"></div><div class="bounce bounce2"></div><div class="bounce bounce3"></div></div>
  </button>
</div>

<!-- GUIDANCE -->
<div class='secondary-tab' id='tabs-3'>
  <div class='container'>
    <h2>Have I got the right component?</h2>
    <ul class='standard-list'>
      <li>Know how long the pause will last? Try a progress bar (not yet available).</li>
      <li>Don't know how long the pause will last? Try a spinner.</li>
      <li>Loading a grid or many data elements within a page? Try a custom animation (not yet available).</li>
    </ul>
  </div>

  <div class='container'>
    <h2>Which configurations are available?</h2>
    <ul class='standard-list'>
      <li>Size: Small, Large.</li>
      <li>Colour theming by product accent colour.</li>
    </ul>
  </div>

  <div class='container'>
    <h2>Guidance, hints and tips</h2>
    <ul class="standard-list">
      <li>Users expect our apps to respond and load quickly - Ideally, the system should be fast enough that we don't need spinners, but slow connections or heavy data load mean that sometimes, a pause is inevitable. In general, our maximum acceptable pause is 5 seconds.</li>
      <li>Work with your engineering and architect colleagues to support good performance by design, and to identify where pauses may take place.</li>
      <li>Showing a spinner helps the user to understand that they should wait, rather than reload the page or abandon a process.</li>
      <li>A spinner is an example of 'indeterminate progress' - there's no indication when it'll complete. A progress bar is an example of 'determinate progress' - this gives the user an indication of how long a pause might be, but it can be challenging to compute accurately, and many pauses may be too short for it to matter. In most cases, we use indeterminate spinners.</li>
      <li>Spinners can be used on the scale of whole pages, containers within pages, for lazy loading experiences, when loading individual data elements, or to indicate a button isn't available because its action is in progress (for example, 'Pay Now'). Avoid more than one spinner on a page at the same time though.</li>
      <li>In general, place a spinner in the centre and middle of the page or container it relates to.</li>
      <li>If the user interacting with elements during the pause may be harmful, then consider disabling elements, or applying a dialog-style overlay to disable containers or pages during the pause.</li>
    </ul>
  </div>
</div>
