---
layout: default
secondary_menu_id: split-buttons
primary_menu_id: components
title: Split Buttons
sketch_file: /downloads/components/buttons.sketch
sketch_file_version: 0.3
summary: Offer a range of actions where one is more important than the others.
tags: buttons, button, split, input, inputs, form, forms
---

<p class='summary'>{{ page.summary }}</p>

<div class='content-tab'>
  <ul class='tab-menu'>
    <li class='selected' data-target-tabs='tabs-1'>Design</li>
    <li data-target-tabs='tabs-3'>Guidance</li>
  </ul>
</div>
<div class='secondary-tab visible' id='tabs-1'>
  <div class='container'>
    <p>A split button presents several related buttons where the default is more important than the others, and can be clicked without opening the menu.</p>
    <div class='pod'>
      <button class='secondary split-button-main'>Save</button><button class="secondary split-button"><i class="icon icon-dropdown"></i><ul><li>Save &amp; Email</li><li>Save &amp; Print</li></ul></button>
    </div>
  </div>
</div>
<div class='secondary-tab' id='tabs-3'>
  <div class='container'>
    <h2>Have I got the right component?</h2>
    <ul class='standard-list'>
      <li>Navigating the user to another location? Try a <a href='/components/links/'>link</a>.</li>
      <li>Range of buttons where one is more important than the others? Try a <a href='/components/split-buttons/'>split button</a>.</li>
      <li>Range of buttons of the same importance? Try a <a href='/components/multi-action-buttons/'>multi-action button</a>.</li>
      <li>Lots of buttons and plenty of space? Try a <a href='/components/button-bar/'>button bar</a>.</li>
      <li>Need a compact visual indicator to help things in common stand out? Try a <a href='/components/pills-badges/'>Pill or Badge</a>.</li>
      <li>For the icon font, and guidance on icon colour, see the <a href='/foundations/icons/'>Foundation on Icons</a>.</li>
    </ul>
  </div>
  <div class='container'>
    <h2>What configurations are available?</h2>
    <ul class='standard-list'>
      <li>Variants: Primary; Secondary; Tertiary (ghost)</li>
      <li>Colour theming by product accent colour.</li>
      <li>Options: With icon before; With icon after.</li>
    </ul>
  </div>
  <div class='container'>
    <h2>Guidance, hints and tips</h2>
    <ul class='standard-list'>
      <li>Useful to reduce clutter if you have lots of buttons, but, would users risk missing the items inside?</li>
      <li>A <span class='emphasis-term'>split button</span> presents several related buttons where the default is more important than the others, and can be clicked without opening the menu.</li>
      <li>A <span class='emphasis-term'>multi-action button</span> presents several related buttons of equal importance. There is no default option, and the menu must be opened to take an action.</li>
      <li>Only use split- or multi-action buttons for options that are very closely related (e.g. Save, Save and Email, Save and Print, Save and New).</li>
      <li>Split- or multi-action buttons can be primary buttons, or secondary buttons.</li>
    </ul>
  </div>
</div>
