---
layout: default
secondary_menu_id: step-flows
primary_menu_id: components
title: Step Flows
sketch_file: /downloads/components/step_flow.sketch
sketch_file_version: 0.4
summary: Break down a long linear process or form into small steps.
tags: step flow, step, flow, step flows, process, process flows, wizard, wizards, container, containers, form, forms
---

<p class='summary'>{{ page.summary }}</p>
<div class='content-tab'>
  <ul class='tab-menu'>
    <li class='selected' data-target-tabs='tabs-1'>Design</li>
    <li data-target-tabs='tabs-3'>Guidance</li>
  </ul>
</div>
<div class='secondary-tab visible' id='tabs-1'>
  <div class='container'>
    <ul class='standard-list'>
      <li>Step Flows are useful to simplify complex, linear processes, reducing cognitive load by splitting them into a series of simpler tasks. They're perfect for about 3-5 steps. Setup experiences, or breaking down a long form into sections are good examples.</li>
      <li>They are always found within <a href='/components/full-screen-dialogs/'>full screen dialogs</a>, which focus the user's attention on the task.</li>
    </ul>
      <div class="system-message warning-message">
        <div class='system-message-title'>Progress Indicators on Small Screens</div>
        <div class='system-message-body'>You may need to design a responsive or adaptive variant, or consider a vertical progress indicator.</div>
      </div>
    <p><button class='dls-button button-small generic-biz primary show-fs-dialog'>Try Me</button></p>
  </div>
  <div class="pod full-width">
    <h3>Default Step Flow</h3>
    <p>We embed Step Flows inside <a href='/components/full-screen-dialogs/'>full screen dialogs</a> to focus user attention.</p>
    <img class='example-img' src='/visuals/wizard.png'/>
  </div>
  <div class="pod full-width">
    <h3>Progress Indicators</h3>
    <p>In products, the progress indicator is placed between the navigation buttons inside a sticky footer. This frees up space inside the dialog for the Step Flow's content while remaining prominent to the user.</p>
    <img class='example-img' src='/visuals/wizard-footer.png'/>
    <p>Progress is indicated by numbers and checkmarks. Completed steps have a checkmark in the product <a href='/foundations/colour/'>colour</a>. The current step's number is our standard <a href='/foundations/colour/#text-colours'>text colour</a>, RGBA( 0, 0, 0, 0.85). Future steps have disabled numbers, RGBA ( 0, 0, 0, 0.55).</p>
    <img class='example-img' src='/visuals/wizard-progress.png'/>
  </div>
  <div class="pod full-width">
    <h3>Interactions</h3>
    <p>User begins the first task - step 1 is active, all others are disabled.</p>
    <img class='example-img' src='/visuals/wizard-interaction-one.png'/>
    <p>On clicking ‘Next’, step 1 is shown as complete, ‘1’ becomes a checkmark and step 2 becomes active. The connecting line is the product <a href='/foundations/colour/'>colour</a> with 55% opacity.</p>
    <img class='example-img' src='/visuals/wizard-interaction-two.png'/>
    <p>At the end of the Step Flow, the user can see that all prior steps have been completed and sees a success message that they can then confirm.</p>
    <img class='example-img' src='/visuals/wizard-interaction-three.png'/>
  </div>
  <div class="pod full-width">
    <h3>Colour</h3>
    <p>The colour of the Step Flow's progress indicator is linked to the product <a href='/foundations/colour/'>colour</a>.</p>
    <img class='example-img' src='/visuals/wizard-colours.png'/>
  </div>
</div>
<div class='secondary-tab' id='tabs-3'>
  <div class='container'>
    <h2>Have I got the right component?</h2>
    <ul class="standard-list">
      <li>Only have one step? Try a <a href="/components/full-screen-dialogs/">full screen dialog</a>.</li>
    </ul>
  </div>
  <div class='container'>
    <h2>Guidance, hints and tips</h2>
    <ul class="standard-list">
      <li>They may not be useful if the task isn't very complex. Don't use a progress indicator if the number of steps varies.</li>
      <li>Consider ending the Step Flow with a confirmation screen which summarises the tasks accomplished.</li>
    </ul>
    <h3>Buttons</h3>
    <ul class="standard-list">
      <li>Include 'Previous' and 'Next' buttons, and consistently label these.</li>
      <li>Provide a 'Cancel' button to exit the flow entirely. Ideally save state so the user can resume later.</li>
      <li>Use content or button labelling (e.g. 'Confirm') to indicate when an action is final, and would complete the flow.</li>
    </ul>
    <h3>Progress Indicators</h3>
    <ul class="standard-list">
      <li>All step flows include a progress indicator, showing:
        <ul class="standard-list">
          <li><span class='emphasis-term'>Scope</span>: numbered steps.</li>
          <li><span class='emphasis-term'>Position</span>: indication of the current step.</li>
          <li><span class='emphasis-term'>Status</span>: whether a step is complete, or still to do.</li>
        </ul>
      </li>
      <li>Progress indicators always directly mirror the number of pages, not general categories.</li>
      <li>Try to keep label text for each step as short as possible.</li>
    </ul>
  </div>
</div>
<div id="dialog-transition" class="fs-dialog-component">
  <div class='dialog-background'>
  </div>
  <div class='dialog fs-dialog'>
    <div class="dls-fs-dialog-header">
      <h3>Step Flow Example</h3>
      <div class='closebox'>
        <i class="icon icon-close fs-dialog-close"></i>
      </div>
      <div class='minimise'>
        <i class="icon icon-minus minimise-fs-dialog"></i>
      </div>
      <div class='expand'>
        <i class="icon icon-fit_width expand-fs-dialog"></i>
      </div>
      <div class='maximise'>
        <i class="icon icon-fit_height minimise-fs-dialog"></i>
      </div>
    </div>
    <div class="dls-fs-dialog-content wizard-content">
      <form role="form">
        <div class="tab-content">
          <div class="tab-pane tab-pane-active" id="step1">
            <h3>Step 1</h3>
          </div>
          <div class="tab-pane" id="step2">
            <h3>Step 2</h3>
          </div>
          <div class="tab-pane" id="step3">
            <h3>Step 3</h3>
          </div>
          <div class="tab-pane" id="step4">
            <h3>Step 4</h3>
          </div>
        </div>
      </form>
    </div>
    <div class="dls-fs-dialog-footer">
      <div class='dls-form-button-container-split dls-fs-dialog-buttons'>
        <button class='dls-button button-medium small-biz secondary previous-page'>Previous</button>
        <button class='dls-button button-medium small-biz primary next-page'>Next</button>
        <div class="wizard-progress-indicator">
          <ul class="progressbar">
            <li class="active"><div class="link">One</div></li>
            <li><div class="link disabled">Two</div></li>
            <li><div class="link disabled">Three</div></li>
            <li><div class="link disabled">Four</div></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
