---
layout: default
secondary_menu_id: switches
primary_menu_id: components
title: Switches
sketch_file: /downloads/components/checkboxes_radios_switches.sketch
sketch_file_version: 0.8
summary: Immediately activate or deactivate something, without a further save.
tags: switch, switches, input, inputs, form, forms, toggle
---

<p class='summary'>{{ page.summary }}</p>
<div class='content-tab'>
  <ul class='tab-menu'>
    <li class='selected' data-target-tabs='tabs-1'>Design</li>
    <li data-target-tabs='tabs-3'>Guidance</li>
  </ul>
</div>
<div class='secondary-tab visible' id='tabs-1'>
  <div class="pod">
    <label class="switch-test">
      <input type="checkbox">
      <span class="switch-toggle"><div class="switch-on-t">ON</div><div class="switch-off-t">OFF</div></span>
    </label>
  </div>
</div>
<div class='secondary-tab' id='tabs-3'>
  <div class='container'>
    <h2>Have I got the right component?</h2>
    <ul class="standard-list">
      <li>Choosing one or more options from a short list? Try a <a href='/components/checkboxes/'>checkbox</a>.</li>
      <li>Choosing only one option from a short list? Try a <a href='/components/radios/'>radio button</a>.</li>
      <li>Immediately activating or deactivating something, without a further save? Try a <a href='/components/switches/'>switch</a>.</li>
      <li>Choosing only one option from a long list? Try a <a href='/components/dropdowns/'>dropdown</a>.</li>
    </ul>
  </div>
  <div class='container'>
    <h2>What configurations are available?</h2>
    <ul class="standard-list">
      <li>Colour theming by product accent colour.</li>
    </ul>
  </div>
  <div class='container'>
    <h2>Guidance, hints and tips</h2>
    <ul class="standard-list">
      <li>Consider ‘smart default’ selections, based on what your user is likely to choose. But, users may well leave the defaults in place, so make sure any consequences are easy to undo, and not harmful.</li>
      <li>Use sentence case for labels.</li>
      <li>These are small elements, so consider the touch area on mobile devices. Don’t resize the element to make it look larger, but do adjust the hit area.</li>
    </ul>
  </div>
</div>
