---
layout: default
full_width: true
secondary_menu_id: tables
primary_menu_id: components
title: Tables
sketch_file: /downloads/components/tables.sketch
sketch_file_version: 0.3
summary: Logically structure content in a grid for the user to enter, view, or work with.
tags: table, tables, grid, grids, row, rows, column, columns, input, inputs, input table, reporting, reporting table, sort, filter, search, selection, batch action, actions, action, multi-action, page, pagination
---

<p class='summary'>{{ page.summary }}</p>
<div class='content-tab'>
  <ul class='tab-menu'>
    <li class='selected' data-target-tabs='tabs-1'>Design</li>
    <li data-target-tabs='tabs-3'>Guidance</li>
  </ul>
</div>
<div class='secondary-tab visible' id='tabs-1'>
  <div class='container'>
    <h2>Table with Selection</h2>
    <div class="pod pod-light-slate full-width">
      <div class="table">
        <div class="row row-header">
          <div class="heading"></div>
          <div class="heading">
          </div>
          <div class="heading">CREATED</div>
          <div class="heading">NUMBER</div>
          <div class="heading">CUSTOMER</div>
          <div class="heading">REFERENCE</div>
          <div class="heading number">DUE</div>
          <div class="heading number">TOTAL</div>
          <div class="heading">STATUS</div>
        </div>
        <div class="row">
          <div class="cell"><span></span></div>
          <div class="cell">
            <span class="checkbox"><input id="cb-small-app-1" type="checkbox" class="custom-checkbox"><label for="cb-small-app-1" class="cb-small-app"></label></span>
          </div>
          <div class="cell"><span>10 Apr 18</span></div>
          <div class="cell"><span>SI-206</span></div>
          <div class="cell"><span>Canny Cakes</span></div>
          <div class="cell"><span>CUS10012</span></div>
          <div class="cell number"><span class="number">831.00</span></div>
          <div class="cell number"><span class="number">831.00</span></div>
          <div class="cell"><span class="status overdue">Overdue</span></div>
        </div>
        <div class="row">
          <div class="cell"><span></span></div>
          <div class="cell">
            <span class="checkbox"><input id="cb-small-app-2" type="checkbox" class="custom-checkbox"><label for="cb-small-app-2" class="cb-small-app"></label></span>
          </div>
          <div class="cell"><span>10 Apr 18</span></div>
          <div class="cell"><span>SI-205</span></div>
          <div class="cell"><span>Canny Cakes</span></div>
          <div class="cell"><span>CAN10012</span></div>
          <div class="cell number"><span class="number">200.00</span></div>
          <div class="cell number"><span class="number">200.00</span></div>
          <div class="cell"><span class="status overdue">Overdue</span></div>
        </div>
        <div class="row">
          <div class="cell"><span></span></div>
          <div class="cell">
            <span class="checkbox"><input id="cb-small-app-3" type="checkbox" class="custom-checkbox"><label for="cb-small-app-3" class="cb-small-app"></label></span>
          </div>
          <div class="cell"><span>9 Apr 18</span></div>
          <div class="cell"><span>SI-204</span></div>
          <div class="cell"><span>Canny Cakes</span></div>
          <div class="cell"><span>CAN10012</span></div>
          <div class="cell number"><span>800.00</span></div>
          <div class="cell number"><span>800.00</span></div>
          <div class="cell"><span class="status ">Awaiting Payment</span></div>
        </div>
        <div class="row">
          <div class="cell"><span></span></div>
          <div class="cell">
            <span class="checkbox"><input id="cb-small-app-4" type="checkbox" class="custom-checkbox"><label for="cb-small-app-4" class="cb-small-app"></label></span>
          </div>
          <div class="cell"><span>8 Apr 18</span></div>
          <div class="cell"><span>SI-203</span></div>
          <div class="cell"><span>Canny Cakes</span></div>
          <div class="cell"><span>CAN10012</span></div>
          <div class="cell number"><span>100.00</span></div>
          <div class="cell number"><span>200.00</span></div>
          <div class="cell"><span class="status ">Part Paid</span></div>
        </div>
        <div class="row">
          <div class="cell"><span></span></div>
          <div class="cell">
            <span class="checkbox"><input id="cb-small-app-5" type="checkbox" class="custom-checkbox"><label for="cb-small-app-5" class="cb-small-app"></label></span>
          </div>
          <div class="cell"><span>8 Apr 18</span></div>
          <div class="cell"><span>SI-202</span></div>
          <div class="cell"><span>Canny Cakes</span></div>
          <div class="cell"><span>CAN10012</span></div>
          <div class="cell number"><span>450.00</span></div>
          <div class="cell number"><span>600.00</span></div>
          <div class="cell"><span class="status ">Part Paid</span></div>
        </div>
        <div class="row">
          <div class="cell"><span></span></div>
          <div class="cell">
            <span class="checkbox"><input id="cb-small-app-6" type="checkbox" class="custom-checkbox"><label for="cb-small-app-6" class="cb-small-app"></label></span>
          </div>
          <div class="cell"><span>8 Apr 18</span></div>
          <div class="cell"><span>SI-201</span></div>
          <div class="cell"><span>Canny Cakes</span></div>
          <div class="cell"><span>CAN10012</span></div>
          <div class="cell number"><span>0.00</span></div>
          <div class="cell number"><span>400.00</span></div>
          <div class="cell"><span class="status ">Paid</span></div>
        </div>
        <div class="row">
          <div class="cell"><span></span></div>
          <div class="cell">
            <span class="checkbox"><input id="cb-small-app-7" type="checkbox" class="custom-checkbox"><label for="cb-small-app-7" class="cb-small-app"></label></span>
          </div>
          <div class="cell"><span>8 Apr 18</span></div>
          <div class="cell"><span>SI-200</span></div>
          <div class="cell"><span>Canny Cakes</span></div>
          <div class="cell"><span>CAN10012</span></div>
          <div class="cell number"><span>0.00</span></div>
          <div class="cell number"><span>650.00</span></div>
          <div class="cell"><span class="status ">Paid</span></div>
        </div>
        <div class="row">
          <div class="cell"><span></span></div>
          <div class="cell">
            <span class="checkbox"><input id="cb-small-app-8" type="checkbox" class="custom-checkbox"><label for="cb-small-app-8" class="cb-small-app"></label></span>
          </div>
          <div class="cell"><span>8 Apr 18</span></div>
          <div class="cell"><span>SI-199</span></div>
          <div class="cell"><span>Canny Cakes</span></div>
          <div class="cell"><span>CAN10012</span></div>
          <div class="cell number"><span>0.00</span></div>
          <div class="cell number"><span>956.99</span></div>
          <div class="cell"><span class="status ">Paid</span></div>
        </div>
        <div class="row">
          <div class="cell"><span></span></div>
          <div class="cell">
            <span class="checkbox"><input id="cb-small-app-9" type="checkbox" class="custom-checkbox"><label for="cb-small-app-9" class="cb-small-app"></label></span>
          </div>
          <div class="cell"><span>8 Apr 18</span></div>
          <div class="cell"><span>SI-198</span></div>
          <div class="cell"><span>Canny Cakes</span></div>
          <div class="cell"><span>CAN10012</span></div>
          <div class="cell number"><span>0.00</span></div>
          <div class="cell number"><span>320.00</span></div>
          <div class="cell"><span class="status ">Paid</span></div>
        </div>
        <div class="row">
          <div class="cell"><span></span></div>
          <div class="cell">
            <span class="checkbox"><input id="cb-small-app-10" type="checkbox" class="custom-checkbox"><label for="cb-small-app-10" class="cb-small-app"></label></span>
          </div>
          <div class="cell"><span>8 Apr 18</span></div>
          <div class="cell"><span>SI-197</span></div>
          <div class="cell"><span>Canny Cakes</span></div>
          <div class="cell"><span>CAN10012</span></div>
          <div class="cell number"><span>0.00</span></div>
          <div class="cell number"><span>249.99</span></div>
          <div class="cell"><span class="status ">Paid</span></div>
        </div>
      </div>
    </div>
  </div>
 <!--  <div class='container'>
    <h2>Additional Functionalities</h2>
    <div class="pod full-width">
      <img class='example-img' src='/visuals/tables-actions.png'/>
    </div>
  </div> -->
  <!--  -->
  <!-- Table with Inputs -->
  <!--  -->
  <div class='container'>
    <h2>Table with Inputs (Passive)</h2>
    <p>This allows inputs to exist in a table without bringing focus unless you hover over the row or focus in the inputs.</p>
    <div class="pod pod-light-slate full-width">
    <div class="table">
        <div class="row row-3 row-header">
          <div class="heading">CREATED</div>
          <div class="heading">NUMBER</div>
          <div class="heading">CUSTOMER</div>
          <div class="heading">REFERENCE</div>
          <div class="heading number">DUE</div>
          <div class="heading number">TOTAL</div>
          <div class="heading">TYPE</div>
        </div>
        <div class="row row-3">
          <div class="cell"><span>9 Apr 18</span></div>
          <div class="cell"><span>SI-204</span></div>
          <div class="cell"><span><input class="dls-input input-small-biz" type="text" value="Canny Cakes"></span></div>
          <div class="cell"><span>CAN10012</span></div>
          <div class="cell number"><span><input class="dls-input input-small-biz input-number" type="text" value="800.00"></span></div>
          <div class="cell number"><span><input class="dls-input input-small-biz input-number" type="text" value="800.00"></span></div>
          <div class="cell"><span class="status ">Invoice</span></div>
        </div>
      </div>
    </div>
  </div>
  <!--  -->
  <!-- Table with Inputs -->
  <!--  -->
  <div class='container'>
    <h2>Table with Inputs (Active)</h2>
    <p>In this variation you can add inputs where they are highlighted to indicate the inputs without grabbing large focus.</p>
    <div class="pod pod-light-slate full-width">
      <div class="table">
        <div class="row row-3 row-header">
          <div class="heading">CREATED</div>
          <div class="heading">NUMBER</div>
          <div class="heading">CUSTOMER</div>
          <div class="heading">REFERENCE</div>
          <div class="heading number">DUE</div>
          <div class="heading number">TOTAL</div>
          <div class="heading">TYPE</div>
        </div>
        <div class="row row-3 active-inputs">
          <div class="cell"><span>9 Apr 18</span></div>
          <div class="cell"><span>SI-204</span></div>
          <div class="cell"><span><input class="dls-input input-small-biz" type="text" value="Canny Cakes"></span></div>
          <div class="cell"><span>CAN10012</span></div>
          <div class="cell number"><span><input class="dls-input input-small-biz input-number" type="text" value="800.00"></span></div>
          <div class="cell number"><span><input class="dls-input input-small-biz input-number" type="text" value="800.00"></span></div>
          <div class="cell"><span class="status ">Credit Note</span></div>
        </div>
        <div class="row row-3 active-inputs">
          <div class="cell"><span>7 Apr 18</span></div>
          <div class="cell"><span>SI-203</span></div>
          <div class="cell"><span><input class="dls-input input-small-biz" type="text" value="Wayne Enterprises"></span></div>
          <div class="cell"><span>WE001</span></div>
          <div class="cell number"><span><input class="dls-input input-small-biz input-number" type="text" value="1,144.00"></span></div>
          <div class="cell number"><span><input class="dls-input input-small-biz input-number" type="text" value="1,144.00"></span></div>
          <div class="cell"><span class="status ">Invoice</span></div>
        </div>
        <div class="row row-3 active-inputs">
          <div class="cell"><span>7 Apr 18</span></div>
          <div class="cell"><span>SI-203</span></div>
          <div class="cell"><span><input class="dls-input input-small-biz" type="text" value="Wayne Enterprises"></span></div>
          <div class="cell"><span><input class="dls-input input-small-biz" type="text" value="WE002"></span></div>
          <div class="cell number"><span><input class="dls-input input-small-biz input-number" type="text" value="1,144.00"></span></div>
          <div class="cell number"><span><input class="dls-input input-small-biz input-number" type="text" value="1,144.00"></span></div>
          <div class="cell"><span class="status ">Invoice</span></div>
        </div>
      </div>
    </div>
  </div>
  <!--  -->
  <!-- Table with Actions -->
  <!--  -->
  <div class='container'>
    <h2>Table with Actions</h2>
    <div class="pod pod-light-slate full-width">
      <div class="table table-with-actions">
        <div class="row row-2 row-header">
          <div class="heading"></div>
          <div class="heading">
          </div>
          <div class="heading">CREATED</div>
          <div class="heading">NUMBER</div>
          <div class="heading">CUSTOMER</div>
          <div class="heading">REFERENCE</div>
          <div class="heading number">DUE</div>
          <div class="heading number">TOTAL</div>
          <div class="heading">STATUS</div>
          <div class="heading centered">ACTIONS</div>
        </div>
        <div class="row row-2">
          <div class="cell"><span></span></div>
          <div class="cell">
            <span class="checkbox"><input id="cb-small-app-11" type="checkbox" class="custom-checkbox"><label for="cb-small-app-11" class="cb-small-app"></label></span>
          </div>
          <div class="cell"><span>9 Apr 18</span></div>
          <div class="cell"><span>SI-204</span></div>
          <div class="cell"><span>Canny Cakes</span></div>
          <div class="cell"><span>CAN10012</span></div>
          <div class="cell number"><span>800.00</span></div>
          <div class="cell number"><span>800.00</span></div>
          <div class="cell"><span class="status ">Awaiting Payment</span></div>
          <div class="cell actions-cell">
            <div class="actions-container">
              <span class="actions"></span>
              <ul class="actions-menu">
                <li><i class="icon icon-message"></i> Email Invoice</li>
                <li><i class="icon icon-print"></i> Print Invoice</li>
                <li><i class="icon icon-pdf"></i> Download PDF</li>
                <li><i class="icon icon-csv"></i> Download CSV</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row row-2">
          <div class="cell"><span></span></div>
          <div class="cell">
            <span class="checkbox"><input id="cb-small-app-12" type="checkbox" class="custom-checkbox"><label for="cb-small-app-12" class="cb-small-app"></label></span>
          </div>
          <div class="cell"><span>9 Apr 18</span></div>
          <div class="cell"><span>SI-204</span></div>
          <div class="cell"><span>Canny Cakes</span></div>
          <div class="cell"><span>CAN10012</span></div>
          <div class="cell number"><span>800.00</span></div>
          <div class="cell number"><span>800.00</span></div>
          <div class="cell"><span class="status ">Awaiting Payment</span></div>
          <div class="cell actions-cell">
            <div class="actions-container">
              <span class="actions"></span>
              <ul class="actions-menu">
                <li><i class="icon icon-message"></i> Email Invoice</li>
                <li><i class="icon icon-print"></i> Print Invoice</li>
                <li><i class="icon icon-pdf"></i> Download PDF</li>
                <li><i class="icon icon-csv"></i> Download CSV</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row row-2">
          <div class="cell"><span></span></div>
          <div class="cell">
            <span class="checkbox"><input id="cb-small-app-13" type="checkbox" class="custom-checkbox"><label for="cb-small-app-13" class="cb-small-app"></label></span>
          </div>
          <div class="cell"><span>9 Apr 18</span></div>
          <div class="cell"><span>SI-204</span></div>
          <div class="cell"><span>Canny Cakes</span></div>
          <div class="cell"><span>CAN10012</span></div>
          <div class="cell number"><span>800.00</span></div>
          <div class="cell number"><span>800.00</span></div>
          <div class="cell"><span class="status ">Awaiting Payment</span></div>
          <div class="cell actions-cell">
            <div class="actions-container">
              <span class="actions"></span>
              <ul class="actions-menu">
                <li><i class="icon icon-message"></i> Email Invoice</li>
                <li><i class="icon icon-print"></i> Print Invoice</li>
                <li><i class="icon icon-pdf"></i> Download PDF</li>
                <li><i class="icon icon-csv"></i> Download CSV</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row row-2">
          <div class="cell"><span></span></div>
          <div class="cell">
            <span class="checkbox"><input id="cb-small-app-14" type="checkbox" class="custom-checkbox"><label for="cb-small-app-14" class="cb-small-app"></label></span>
          </div>
          <div class="cell"><span>9 Apr 18</span></div>
          <div class="cell"><span>SI-204</span></div>
          <div class="cell"><span>Canny Cakes</span></div>
          <div class="cell"><span>CAN10012</span></div>
          <div class="cell number"><span>800.00</span></div>
          <div class="cell number"><span>800.00</span></div>
          <div class="cell"><span class="status ">Awaiting Payment</span></div>
          <div class="cell actions-cell">
            <div class="actions-container">
              <span class="actions"></span>
              <ul class="actions-menu">
                <li><i class="icon icon-message"></i> Email Invoice</li>
                <li><i class="icon icon-print"></i> Print Invoice</li>
                <li><i class="icon icon-pdf"></i> Download PDF</li>
                <li><i class="icon icon-csv"></i> Download CSV</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row row-2">
          <div class="cell"><span></span></div>
          <div class="cell">
            <span class="checkbox"><input id="cb-small-app-15" type="checkbox" class="custom-checkbox"><label for="cb-small-app-15" class="cb-small-app"></label></span>
          </div>
          <div class="cell"><span>9 Apr 18</span></div>
          <div class="cell"><span>SI-204</span></div>
          <div class="cell"><span>Canny Cakes</span></div>
          <div class="cell"><span>CAN10012</span></div>
          <div class="cell number"><span>800.00</span></div>
          <div class="cell number"><span>800.00</span></div>
          <div class="cell"><span class="status ">Awaiting Payment</span></div>
          <div class="cell actions-cell">
            <div class="actions-container">
              <span class="actions"></span>
              <ul class="actions-menu">
                <li><i class="icon icon-message"></i> Email Invoice</li>
                <li><i class="icon icon-print"></i> Print Invoice</li>
                <li><i class="icon icon-pdf"></i> Download PDF</li>
                <li><i class="icon icon-csv"></i> Download CSV</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row row-2">
          <div class="cell"><span></span></div>
          <div class="cell">
            <span class="checkbox"><input id="cb-small-app-16" type="checkbox" class="custom-checkbox"><label for="cb-small-app-16" class="cb-small-app"></label></span>
          </div>
          <div class="cell"><span>9 Apr 18</span></div>
          <div class="cell"><span>SI-204</span></div>
          <div class="cell"><span>Canny Cakes</span></div>
          <div class="cell"><span>CAN10012</span></div>
          <div class="cell number"><span>800.00</span></div>
          <div class="cell number"><span>800.00</span></div>
          <div class="cell"><span class="status ">Awaiting Payment</span></div>
          <div class="cell actions-cell">
            <div class="actions-container">
              <span class="actions"></span>
              <ul class="actions-menu">
                <li><i class="icon icon-message"></i> Email Invoice</li>
                <li><i class="icon icon-print"></i> Print Invoice</li>
                <li><i class="icon icon-pdf"></i> Download PDF</li>
                <li><i class="icon icon-csv"></i> Download CSV</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row row-2">
          <div class="cell"><span></span></div>
          <div class="cell">
            <span class="checkbox"><input id="cb-small-app-17" type="checkbox" class="custom-checkbox"><label for="cb-small-app-17" class="cb-small-app"></label></span>
          </div>
          <div class="cell"><span>9 Apr 18</span></div>
          <div class="cell"><span>SI-204</span></div>
          <div class="cell"><span>Canny Cakes</span></div>
          <div class="cell"><span>CAN10012</span></div>
          <div class="cell number"><span>800.00</span></div>
          <div class="cell number"><span>800.00</span></div>
          <div class="cell"><span class="status ">Awaiting Payment</span></div>
          <div class="cell actions-cell">
            <div class="actions-container">
              <span class="actions"></span>
              <ul class="actions-menu">
                <li><i class="icon icon-message"></i> Email Invoice</li>
                <li><i class="icon icon-print"></i> Print Invoice</li>
                <li><i class="icon icon-pdf"></i> Download PDF</li>
                <li><i class="icon icon-csv"></i> Download CSV</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  -->
  <!-- Table Pagination -->
  <!--  -->
  <div class='container'>
    <h2>Table with Pagination</h2>
    <div class="pod pod-light-slate full-width">
      <div class="table">
        <div class="row row-header">
          <div class="heading"></div>
          <div class="heading">
          </div>
          <div class="heading">CREATED</div>
          <div class="heading">NUMBER</div>
          <div class="heading">CUSTOMER</div>
          <div class="heading">REFERENCE</div>
          <div class="heading number">DUE</div>
          <div class="heading number">TOTAL</div>
          <div class="heading">STATUS</div>
        </div>
        <div class="row">
          <div class="cell"><span></span></div>
          <div class="cell">
            <span class="checkbox"><input id="cb-small-app-18" type="checkbox" class="custom-checkbox"><label for="cb-small-app-18" class="cb-small-app"></label></span>
          </div>
          <div class="cell"><span>9 Apr 18</span></div>
          <div class="cell"><span>SI-204</span></div>
          <div class="cell"><span>Canny Cakes</span></div>
          <div class="cell"><span>CAN10012</span></div>
          <div class="cell number"><span>800.00</span></div>
          <div class="cell number"><span>800.00</span></div>
          <div class="cell"><span class="status ">Awaiting Payment</span></div>
        </div>
        <div class="row">
          <div class="cell"><span></span></div>
          <div class="cell">
            <span class="checkbox"><input id="cb-small-app-19" type="checkbox" class="custom-checkbox"><label for="cb-small-app-19" class="cb-small-app"></label></span>
          </div>
          <div class="cell"><span>9 Apr 18</span></div>
          <div class="cell"><span>SI-204</span></div>
          <div class="cell"><span>Canny Cakes</span></div>
          <div class="cell"><span>CAN10012</span></div>
          <div class="cell number"><span>800.00</span></div>
          <div class="cell number"><span>800.00</span></div>
          <div class="cell"><span class="status ">Awaiting Payment</span></div>
        </div>
        <div class="row">
          <div class="cell"><span></span></div>
          <div class="cell">
            <span class="checkbox"><input id="cb-small-app-20" type="checkbox" class="custom-checkbox"><label for="cb-small-app-20" class="cb-small-app"></label></span>
          </div>
          <div class="cell"><span>9 Apr 18</span></div>
          <div class="cell"><span>SI-204</span></div>
          <div class="cell"><span>Canny Cakes</span></div>
          <div class="cell"><span>CAN10012</span></div>
          <div class="cell number"><span>800.00</span></div>
          <div class="cell number"><span>800.00</span></div>
          <div class="cell"><span class="status ">Awaiting Payment</span></div>
        </div>
        <div class="row">
          <div class="cell"><span></span></div>
          <div class="cell">
            <span class="checkbox"><input id="cb-small-app-21" type="checkbox" class="custom-checkbox"><label for="cb-small-app-21" class="cb-small-app"></label></span>
          </div>
          <div class="cell"><span>9 Apr 18</span></div>
          <div class="cell"><span>SI-204</span></div>
          <div class="cell"><span>Canny Cakes</span></div>
          <div class="cell"><span>CAN10012</span></div>
          <div class="cell number"><span>800.00</span></div>
          <div class="cell number"><span>800.00</span></div>
          <div class="cell"><span class="status ">Awaiting Payment</span></div>
        </div>
      </div>
      <div class="table-pagination">
        <div class="pagination-wrapper">
          <div class="pag-item pag-prev">Prev</div>
          <div class="pag-item pag-active">1</div>
          <div class="pag-item">2</div>
          <div class="pag-item">3</div>
          <div class="pag-item">4</div>
          <div class="pag-item">5</div>
          <div class="pag-item">...</div>
          <div class="pag-item">10</div>
          <div class="pag-item pag-next">Next</div>
        </div>
      </div>
    </div>
  </div>
  <!--  -->
  <!-- Table Sortable -->
  <!--  -->
  <div class='container'>
    <h2>Table with Sortable Items</h2>
    <div class="pod pod-light-slate full-width">
      <div class="table table-sortable">
        <div class="row row-header">
          <div class="heading"></div>
          <div class="heading">
          </div>
          <div class="heading">CREATED</div>
          <div class="heading">NUMBER</div>
          <div class="heading">CUSTOMER</div>
          <div class="heading">REFERENCE</div>
          <div class="heading number">DUE</div>
          <div class="heading number">TOTAL</div>
          <div class="heading">STATUS</div>
        </div>

        <div class="row row-sortable">
          <div class="cell"><span><i class="icon icon-drag"></i></span></div>
          <div class="cell">
            1
          </div>
          <div class="cell"><span>9 Apr 18</span></div>
          <div class="cell"><span>SI-204</span></div>
          <div class="cell"><span>Canny Cakes</span></div>
          <div class="cell"><span>CAN10012</span></div>
          <div class="cell number"><span>800.00</span></div>
          <div class="cell number"><span>800.00</span></div>
          <div class="cell"><span class="status ">Awaiting Payment</span></div>
        </div>
        <div class="row row-sortable">
          <div class="cell"><span><i class="icon icon-drag"></i></span></div>
          <div class="cell">
            2
          </div>
          <div class="cell"><span>12 Apr 18</span></div>
          <div class="cell"><span>SI-204</span></div>
          <div class="cell"><span>Canny Cakes</span></div>
          <div class="cell"><span>CAN10013</span></div>
          <div class="cell number"><span>345.00</span></div>
          <div class="cell number"><span>345.00</span></div>
          <div class="cell"><span class="status ">Awaiting Payment</span></div>
        </div>
        <div class="row row-sortable">
          <div class="cell"><span><i class="icon icon-drag"></i></span></div>
          <div class="cell">
            3
          </div>
          <div class="cell"><span>15 Apr 18</span></div>
          <div class="cell"><span>SI-205</span></div>
          <div class="cell"><span>Wayne Enterprises</span></div>
          <div class="cell"><span>WE019</span></div>
          <div class="cell number"><span>1,200.00</span></div>
          <div class="cell number"><span>1,200.00</span></div>
          <div class="cell"><span class="status overdue">Overdue</span></div>
        </div>
        <div class="row row-sortable">
          <div class="cell"><span><i class="icon icon-drag"></i></span></div>
          <div class="cell">
            4
          </div>
          <div class="cell"><span>22 Mar 18</span></div>
          <div class="cell"><span>SI-180</span></div>
          <div class="cell"><span>Alfred Shoes</span></div>
          <div class="cell"><span>ALF12</span></div>
          <div class="cell number"><span>1,655.00</span></div>
          <div class="cell number"><span>1,655.00</span></div>
          <div class="cell"><span class="status ">Awaiting Payment</span></div>
        </div>
        <div class="row row-sortable">
          <div class="cell"><span><i class="icon icon-drag"></i></span></div>
          <div class="cell">
            5
          </div>
          <div class="cell"><span>16 Mar 18</span></div>
          <div class="cell"><span>SI-176</span></div>
          <div class="cell"><span>Alfred Shoes</span></div>
          <div class="cell"><span>ALF11</span></div>
          <div class="cell number"><span>1,003.00</span></div>
          <div class="cell number"><span>1,003.00</span></div>
          <div class="cell"><span class="status ">Awaiting Payment</span></div>
        </div>
        <div class="row row-sortable">
          <div class="cell"><span><i class="icon icon-drag"></i></span></div>
          <div class="cell">
            6
          </div>
          <div class="cell"><span>16 Mar 18</span></div>
          <div class="cell"><span>SI-175</span></div>
          <div class="cell"><span>Quills Beds</span></div>
          <div class="cell"><span>QB004</span></div>
          <div class="cell number"><span>235.76</span></div>
          <div class="cell number"><span>235.76</span></div>
          <div class="cell"><span class="status ">Paid</span></div>
        </div>
      </div>
    </div>
  </div>
  <div class='container'>
    <h2>Marketing Website Table Style</h2>
    <div class='pod'>
      <table class='dls-marketing-table'>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Tick</th>
        </tr>
        <tr>
          <td>Paul</td>
          <td>Robinson</td>
          <td>paul.robinson@sage.com</td>
          <td><i class="icon icon-tick"></i></td>
        </tr>
        <tr>
          <td>Carlos</td>
          <td>Pi</td>
          <td>carlos.pi@sage.com</td>
          <td><i class="icon icon-tick"></i></td>
        </tr>
        <tr>
          <td>Joseph</td>
          <td>Kim</td>
          <td>joseph.kim@sage.com</td>
          <td><i class="icon icon-tick"></i></td>
        </tr>
      </table>
    </div>
    <div class='pod-dark'>
      <table class='dls-marketing-table'>
       <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Tick</th>
      </tr>
      <tr>
        <td>Paul</td>
        <td>Robinson</td>
        <td>paul.robinson@sage.com</td>
        <td><i class="icon icon-tick"></i></td>
      </tr>
      <tr>
        <td>Carlos</td>
        <td>Pi</td>
        <td>carlos.pi@sage.com</td>
        <td><i class="icon icon-tick"></i></td>
      </tr>
      <tr>
        <td>Joseph</td>
        <td>Kim</td>
        <td>joseph.kim@sage.com</td>
        <td><i class="icon icon-tick"></i></td>
      </tr>
    </table>
  </div>
  <div class='container'>
    <h2>Icons for Tables</h2>
    <table class='dls-table icon-guidance'>
      <tr>
        <td>
            Remove table row from view (not delete from database)
        </td>
        <td>
          <div class="iconcontainer copy-to-clipboard" data-clipboard-text="">
            <i class="icon icon-cross"></i>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          Remove item from database permanently
        </td>
        <td>
          <div class="iconcontainer copy-to-clipboard" data-clipboard-text="">
            <i class="icon icon-delete"></i>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <a href='/components/action-popovers/'>Action Popover</a> Trigger
        </td>
        <td>
          Created with CSS right now.
        </td>
      </tr>
      <tr>
        <td>
          Draggable Row
        </td>
        <td>
          <div class="iconcontainer copy-to-clipboard" data-clipboard-text="">
            <i class="icon icon-drag"></i>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <a href='/components/action-popovers/'>Table Column Config</a> Trigger
        </td>
        <td>
          <div class="iconcontainer copy-to-clipboard" data-clipboard-text="">
            <i class="icon icon-settings"></i>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
</div>
<div class='secondary-tab' id='tabs-3'>
  <div class='container'>
    <h2>Have I got the right component?</h2>
    <ul class="standard-list">
      <li>Only ever likely to have a couple of items in a table? Try a <a href='/components/cards-tiles'>Card or Tile</a> instead.</li>
      <li>Need to offer the user a range of actions related to a table row? Try an <a href='/components/action-popovers'>Action Popover</a>.</li>
    </ul>
  </div>
  <div class='container'>
    <h2>What configurations are available?</h2>
    <ul class="standard-list">
      <li>Variants: Static Table; Input Table; Reporting Table.</li>
      <li>Options: With row selection; With batch actions; With pagination; With search/filter; With sort; With column config; With drag and drop; With sticky header.</li>
      <li>Colour theming by product accent colour.</li>
      <li>Column sizes: S; M; L; XL; Custom.</li>
    </ul>
  </div>
  <div class='container'>
    <h2>Guidance, hints and tips</h2>
    <ul class="standard-list">
      <li><span class='emphasis-term'>Static Table</span>: Table cells most commonly show static content - plain or styled text, icons, pills, and other elements.</li>
      <li><span class='emphasis-term'>Input Table</span>: Table cells can contain inputs (e.g. to enter invoice lines).</li>
      <li><span class='emphasis-term'>Reporting Table</span>: A table’s visual style can be subtle, as in the ‘Reporting table’. This places the emphasis on table content, where the user isn’t likely to manipulate the table much.</li>
      <li><span class='emphasis-term'>Table and column size</span>: Tables (and their columns) are usually fluid, and expand to fill the available horizontal space. Columns have S, M, L, XL, or custom relative sizes.</li>
      <li><span class='emphasis-term'>Real Estate:</span>
        <ul class="standard-list">
          <li>Avoid the need for horizontal scrolling, either on the page as a whole, or within a Table component.</li>
          <li>Consider responsive breakpoints and your app’s most common viewport sizes, the number and likely width of the columns. Longer content should wrap to the column’s relative size, rather than cause columns to become wider.</li>
          <li>To save space, you could show multiple lines of data within a single row (e.g. lines of an address), but consider whether the user may need to sort by this data.</li>
          <li>If the table has little content, to avoid empty space and difficulty with eye fixations on columns that are far apart, consider a half- or two thirds width table.</li>
        </ul>
      </li>
      <li><span class='emphasis-term'>Linking and Selection</span>: Clicking a row usually links the user to that item. Links in particular cells may take the user to a different location (e.g. a customer record). Checkboxes on the left of each row allow the user to select one or more rows. When a checkbox for a row is selected, the row should display a background colour.</li>
      <li><span class='emphasis-term'>Single Actions</span>: For a single table row, an <a href='/components/action-popovers/'>Action Popover</a> can allow the user to choose an action to take with that one row in context.</li>
      <li><span class='emphasis-term'>Batch Actions</span>: To take an action across multiple table rows, the user can first select relevant rows with their checkboxes, then apply an action at the top left of the table.
        <ul class="standard-list">
          <li>If a given action isn’t available for a single selected item, the option appears disabled. A tooltip may explain why.</li>
          <li>If a given action is available for some, but not all, selected rows, then the action is performed, but the user is notified.</li>
          <li>Where icons are used for batch actions, they have text labels too, or tooltips to make their function clear. There are always confirmation dialogs for destructive actions, or those difficult to undo.</li>
        </ul>
      </li>
      <li><span class='emphasis-term'>Pagination</span>: Balance performance and server load with the convenience of the user being able to see more data. If pagination is needed, this can be shown at the bottom of the table.</li>
      <li><span class='emphasis-term'>Search and Filter</span>: A button with an icon allows the user to configure a number of filter options, with a free text search if required, and apply this to the table in a single step. This prevents unnecessary data queries, and prevents users becoming confused as table data refreshes with several separate interactions. Try to allow a free text search to match any value shown in the table (e.g. text strings, currency amounts with, and without thousands punctuation, and dates). If this isn’t possible, mention the fields the search covers in placeholder text in the search field (e.g. ‘Search Customer Name’). Make it clear when a search or filter is applied, especially if there is a default filter (e.g. default date ranges), so the user doesn’t think data is missing. Bear in mind this can cause significant anxiety.</li>
      <li><span class='emphasis-term'>Sort</span>: A table should always have a default sort order that makes sense in a given context (e.g. the invoice date with the most recent first, on a list of invoices). Sort order is shown with an icon next to the column header. Clicking another column sorts the table by that column instead. Clicking the same column again reverses the sort direction.</li>
      <li><span class='emphasis-term'>Column Order</span>: Try to make the default sort column the left-most column. Make the currency, total, or value column the right-most column.</li>
      <li><span class='emphasis-term'>Column Config</span>: By default, show the table columns most useful to the majority of users - no more columns than necessary, no fewer than sufficient. Allow users to add additional columns, and set their order, in a configuration menu.</li>
      <li><span class='emphasis-term'>Drag and Drop</span>: Allow users to re-order table rows where relevant. This is usually in Input Tables (e.g. to change the order of line items on an invoice). <a href='/components/action-popovers/'>Action Popovers</a> can include commands to copy, insert above/below, or delete rows too.</li>
      <li><span class='emphasis-term'>Headers</span>:
        <ul class="standard-list">
          <li>Headers are visually subtle, so they don’t distract from the content itself.</li>
          <li>The text alignment of the column header follows the text alignment of the content itself (for example, currency values are right aligned, therefore so are currency column headers).</li>
          <li>Headers can be explained with a help tooltip if a calculation or term isn’t clear or well known.</li>
          <li>If the user is likely to have lots of rows and need to scroll, consider whether the column headers are obvious once learned, or whether there’s a need for them to be ‘sticky’ and always visible. For example, this may be useful when showing 12 months of financial data - it’d be easy to mix up the months without the headers.</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
