---
layout: default
secondary_menu_id: tabs
primary_menu_id: components
title: Tabs
sketch_file: /downloads/components/tabs.sketch
sketch_file_version: 0.3
summary: Switch between content panes or filtered views of tables.
tags: tab, tabs, vertical tab, vertical tabs, horizontal tab, horizontal tabs, container, containers
---

<p class='summary'>{{ page.summary }}</p>
<div class='content-tab'>
  <ul class='tab-menu'>
    <li class='selected' data-target-tabs='tabs-1'>Design</li>
    <li data-target-tabs='tabs-3'>Guidance</li>
  </ul>
</div>
<div class='secondary-tab visible' id='tabs-1'>
  <div class='container'>
    <div class="pod full-width">
      <img class='example-img' src='/visuals/tabs.png'/>
    </div>
  </div>
</div>
<div class='secondary-tab' id='tabs-3'>
  <div class='container'>
    <h2>Have I got the right component?</h2>
    <ul class="standard-list">
      <li>Navigating the hierarchy of the app? Use <a href='/components/navigation/'>navigation</a> insead.</li>
      <li>Linking the user to an an anchor on the same page? Try an Anchor Scroll.</li>
      <li>Need a tab with a <a href='/components/pills-badges/'>Count Badge</a>?</li>
    </ul>
  </div>
  <div class='container'>
    <h2>What configurations are available?</h2>
    <ul class="standard-list">
      <li>Variants: Vertical; Horizontal.</li>
      <li>Options: With content container; With count badge; With icon.</li>
    </ul>
  </div>
  <div class='container'>
    <h2>Guidance, hints and tips</h2>
    <ul class="standard-list">
      <li>Tabs are used to apply a natural structure to a closely related topic, where content doesn't need to be visible at the same time.
        <ul class="standard-list">
          <li><span class='emphasis-term'>Horizontal</span> tabs are best with a short, fixed list of options. Horizontal tabs can work almost like a table filter, for example, to switch between tables with invoices of different status.</li>
          <li><span class='emphasis-term'>Vertical</span> tabs are best with a longer, or dynamic list of options, but take care they don't confuse or clash with vertical navigation patterns.</li>
        </ul>
      </li>
      <li>Only use tabs if there’s more than one, and show the content of the top or left-most tab by default. Avoid multiple rows of tabs, nested tabs, or using vertical and horizontal tabs at the same time.</li>
      <li>Try to place tabs in order, with the most relevant or useful tab first.</li>
      <li>Any badges or counts typically appear after the label text.</li>
      <li>For tab labels, we don’t typically use icons alone, because it’s usually difficult for a user to interpret icons for concepts this specific. If you must use icons, also use a text label or tooltip, and don’t use them for some tabs, but not others.</li>
      <li>Keep tab labels brief, usually one or two words.</li>
      <li>Don’t allow lists of tabs to scroll - restrict their use to a small number that fits on-screen.</li>
      <li>Tab width is dynamic to the width of its label, with consistent padding. Don’t re-size or wrap text to fit a fixed tab size.</li>
      <li>Tabs should hide and show content without refreshing the page.</li>
    </ul>
  </div>
</div>
