---
layout: default
secondary_menu_id: text-inputs
primary_menu_id: components
title: Text Inputs
sketch_file: /downloads/components/text_input.sketch
sketch_file_version: 0.9
summary: Capture keyboard data entered by the user.
tags: input, inputs, text, form, forms, error, focus, active, error, warning, info, disabled, read-only, read only, read, only, placeholder, currency, quantity, decimal, textarea, text area, form, forms
---

<div class="foundations-colour">
  <p class='summary'>{{ page.summary }}</p>
  <div class='content-tab'>
    <ul class='tab-menu'>
      <li class='selected' data-target-tabs='tabs-1'>Design</li>
      <li data-target-tabs='tabs-3'>Guidance</li>
    </ul>
  </div>
  <div class='secondary-tab visible' id='tabs-1'>
    <p><a href='https://www.lukew.com/resources/web_form_design.asp' target='_blank'>Luke Wroblewski’s guidance on web forms</a> is a great source of best practice. Check out the <a href='/patterns/forms/'>design system guidance on forms</a> too.</p>
    <div class="system-message info-message">
      <div class='system-message-title'>WCAG 2.1 Update</div>
      <div class='system-message-body'>WCAG 2.1 includes updated requirements aimed at <a href='/foundations/accessibility#accessibility-forms'>forms and labels</a> the <a href='/foundations/accessibility#accessibility-contrast'>contrast of elements</a> like inputs, and <a href='/foundations/accessibility#accessibility-focus'>focus state</a>. We've applied updates to the elements on this page.</div>
    </div>
    <div class='container'>
      <ul class="standard-list">
        <li>Different states are distinguished, including: standard, focus/active, error, warning, info, disabled, and read-only.</li>
        <li>The focus/active state takes on a generic gold outline colour that works accross all business sizes.</li>
        <li>Error, Warning, and info states include relevant icons that inherit the default utility colours. Because the user cannot continue on their journey if an error state hasn't been fixed, this state has additional prominence: The field border and label colour are changed to red.</li>
        <li>Icon positioning is different for Enterprise Management, to support icons inside fields for key functions.</li>
      </ul>
      <div class="system-message info-message">
        <div class='system-message-body'>The new 'carrot' utility warning colour is currently going through the brand approval process. Please be aware that it's subject to change.</div>
      </div>
      <div class="pod full-width">
        <table class='pod-table'>
          <tr>
            <th>
            </th>
            <th>Default Inputs
            </th>
            <th>Optional in-field icons
            </th>
            <th>
            </th>
          </tr>
          <tr>
            <td>Standard
            </td>
            <td>
              <label for="field-1">Business Name</label>
              <div class='dls-input-container input-height-m input-width-l'>
                <input type='text' class='dls-input' id='field-1' value='Benny&#39;s Diner'/>
              </div>
            </td>
            <td>
              <label for="field-2">Business Name</label>
              <div class='dls-input-container input-height-m input-width-l'>
                <input type='text' class='dls-input' id='field-2' value='Hopes and Dreams Plc.'/>
                <span class='input-standard-icon field-icon'><i class="icon icon-filter_new"></i></span>
              </div>
            </td>
            <td>
              <div class="colour-block color-slate-40 copy-to-clipboard" data-clipboard-text="#668592">#668592
              </div>
            </td>
          </tr>
          <tr>
            <td>Active/Focus
            </td>
            <td>
              <label for="field-5">Business Name</label>
              <div class='dls-input-container input-height-m input-width-l '>
                <input type='text' class='dls-input force-focus' id='field-5' value='Benny&#39;s Diner'/>
              </div>
            </td>
            <td>
              <label for="field-6">Business Name</label>
              <div class='dls-input-container input-height-m input-width-l'>
                <input type='text' class='dls-input force-focus' id='field-6' value='Hopes and Dreams Plc.'/>
                <span class='input-standard-icon field-icon'><i class="icon icon-filter_new"></i></span>
              </div>
            </td>
            <td>
              <div class="colour-block color-focus-hover copy-to-clipboard" data-clipboard-text="#FFB500">#FFB500</div>
            </td>
          </tr>
          <tr>
            <td>Error
            </td>
            <td>
              <label class="label-error" for="field-7">Business Name</label>
              <div class='dls-input-container input-width-l input-height-m'>
                <input type='text' class='dls-input input-error' id='field-7' value='Benny&#39;s Diner'/>
                <span class='input-error-icon field-icon'><i class="icon icon-error"></i></span>
                <div class='tooltip-container error-tooltip'>
                  <div class='tooltip-pointer'>
                  </div>
                  <div class='tooltip-body'>Please enter a Business Name.
                  </div>
                </div>
              </div>
            </td>
            <td>
              <label class="label-error" for="field-8">Business Name<span class='input-error-icon label-icon'><i class="icon icon-error"></i></span></label>
              <div class='dls-input-container input-height-m input-width-l'>
                <input type='text' class='dls-input input-error' id='field-8' value='Hopes and Dreams Plc.'/>
                <span class='input-error-icon field-icon'><i class="icon icon-filter_new"></i></span>
                <div class='tooltip-container error-tooltip'>
                  <div class='tooltip-pointer'>
                  </div>
                  <div class='tooltip-body'>Please enter a Business Name.
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="colour-block color-negative copy-to-clipboard" data-clipboard-text="#C7384F">#C7384F
              </div>
            </td>
          </tr>
          <tr>
            <td>Warning
            </td>
            <td>
              <label for="field-9">Business Name</label>
              <div class='dls-input-container input-height-m input-width-l'>
                <input type='text' class='dls-input input-warning' id='field-9' value='Benny&#39;s Diner'/>
                <span class='input-warning-icon field-icon'><i class="icon icon-warning"></i></span>
                <div class='tooltip-container general-tooltip'>
                  <div class='tooltip-pointer'>
                  </div>
                  <div class='tooltip-body general-tooltip'>Looks like a typo. You can correct it, or continue anyway.
                  </div>
                </div>
              </div>
            </td>
            <td>
              <label for="field-10">Business Name<span class='input-warning-icon label-icon'><i class="icon icon-warning"></i></span></label>
              <div class='dls-input-container input-height-m input-width-l'>
                <input type='text' class='dls-input input-warning' id='field-10' value='Hopes and Dreams Plc.'/>
                <span class='input-warning-icon field-icon'><i class="icon icon-filter_new"></i></span>
                <div class='tooltip-container general-tooltip'>
                  <div class='tooltip-pointer'>
                  </div>
                  <div class='tooltip-body general-tooltip'>Looks like a typo. You can correct it, or continue anyway.
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="colour-block color-warning copy-to-clipboard" data-clipboard-text="#E96400">#E96400
              </div>
            </td>
          </tr>
          <tr>
            <td>Info
            </td>
            <td>
              <label for="field-11">Business Name</label>
              <div class='dls-input-container input-height-m input-width-l'>
                <input type='text' class='dls-input input-info' id='field-11' value='Benny&#39;s Diner'/>
                <span class='input-info-icon field-icon'><i class="icon icon-info"></i></span>
                <div class='tooltip-container general-tooltip'>
                  <div class='tooltip-pointer'>
                  </div>
                  <div class='tooltip-body general-tooltip'>We'll print this business name on your customer invoices.
                  </div>
                </div>
              </div>
            </td>
            <td>
              <label for="field-12">Business Name<span class='input-info-icon label-icon'><i class="icon icon-info"></i></span></label>
              <div class='dls-input-container input-height-m input-width-l'>
                <input type='text' class='dls-input input-info' id='field-12' value='Hopes and Dreams Plc.'/>
                <span class='input-info-icon field-icon'><i class="icon icon-filter_new"></i></span>
                <div class='tooltip-container general-tooltip'>
                  <div class='tooltip-pointer'>
                  </div>
                  <div class='tooltip-body general-tooltip'>We'll print this business name on your customer invoices.
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="colour-block color-info copy-to-clipboard" data-clipboard-text="#0073C1">#0073C1
              </div>
            </td>
          </tr>
          <tr>
            <td>Disabled
            </td>
            <td>
              <label for="field-13" class='label-disabled'>Business Name</label>
              <div class='dls-input-container input-height-m input-width-l'>
                <input type='text' class='dls-input input-disabled' id='field-13' value='Benny&#39;s Diner' disabled/>
              </div>
            </td>
            <td>
              <label for="field-14" class='label-disabled'>Business Name</label>
              <div class='dls-input-container input-height-m input-width-l'>
                <input type='text' class='dls-input input-disabled' id='field-14' value='Hopes and Dreams Plc.' disabled/>
                <span class='input-disabled-icon field-icon'><i class="icon icon-filter_new"></i></span>
              </div>
            </td>
            <td>
              <div class="colour-block color-slate-95 copy-to-clipboard" data-clipboard-text="#F2F5F6">#F2F5F6
              </div>
            </td>
          </tr>
          <tr>
            <td>Read-only
            </td>
            <td>
              <label for="field-15">Business Name</label>
              <div class='dls-input-container input-height-m input-width-l'>
                <input type='text' class='dls-input input-read-only' id='field-15' value='Benny&#39;s Diner' disabled/>
              </div>
            </td>
            <td>
              <label for="field-16">Business Name</label>
              <div class='dls-input-container input-height-m input-width-l'>
                <input type='text' class='dls-input input-read-only' id='field-16' value='Hopes and Dreams Plc.' disabled/>
              </div>
            </td>
            <td>
            </td>
          </tr>
          <tr>
            <td>With placeholder
            </td>
            <td>
              <label for="field-17">NI Number</label>
              <div class='dls-input-container input-height-m input-width-l '>
                <input type='text' class='dls-input' id='field-17' placeholder='e.g. QQ123456A'/>
              </div>
            </td>
            <td>
              <label for="field-18">NI Number</label>
              <div class='dls-input-container input-height-m input-width-l'>
                <input type='text' class='dls-input' id='field-18' placeholder='e.g. QQ123456A'/>
                <span class='input-standard-icon field-icon'><i class="icon icon-filter_new"></i></span>
              </div>
            </td>
            <td>
              <div class="colour-block color-black-30 copy-to-clipboard" data-clipboard-text="rgba(0,0,0,.3)">rgba(0,0,0,.3)
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class='container'>
      <h2>Field Dimensions</h2>
      <div class="pod">
        <h3>Height (mandatory)</h3>
        <p>Three height values are available - always use one of these.</p>
        <table class="pod-table">
          <tr>
            <td>Small<br/>32px height
            </td>
            <td>
              <label for="field-19">Business Name</label>
              <div class='dls-input-container input-height-s input-width-l'>
                <input type='text' class='dls-input' id='field-19' value='Hopes and Dreams Plc.'/>
              </div>
            </td>
            <td>
              Font size: 14px<br/>
              Field padding: Left/right 8px
            </td>
          </tr>
          <tr>
            <td>Medium (Default)<br/>40px height
            </td>
            <td>
              <label for="field-20">Business Name</label>
              <div class='dls-input-container input-height-m input-width-l'>
                <input type='text' class='dls-input' id='field-20' value='Hopes and Dreams Plc.'/>
              </div>
            </td>
            <td>
              Font size: 14px<br/>
              Field padding: Left/right: 11px
            </td>
          </tr>
          <tr>
            <td>Large<br/>48px height
            </td>
            <td>
              <label for="field-21">Business Name</label>
              <div class='dls-input-container input-height-l input-width-l'>
                <input type='text' class='dls-input' id='field-21' value='Hopes and Dreams Plc.'/>
              </div>
            </td>
            <td>
              Font size: 16px<br/>
              Field padding: Left/right: 13px
            </td>med
          </tr>
        </table>
        <h3>Width (optional)</h3>
        <p>Make your fields an appropriate with given their typical content - it helps people understand the form. Remember to leave room for an error, warning, or info icon if needed.</p>
        <p>You might like to stick to one of the recommended field widths below, or snap your fields to the <a href='/foundations/grid/'>grid system</a> instead. Whatever you choose, make sure you're consistent everywhere, and don't allow your fields to stretch to very large widths.</li>        <table class="pod-table">
          <tr>
            <td>Extra Small - 39px width<br/>About 2 characters
            </td>
            <td>
              <p class='label-inline'>Take payment on day</p>
              <div class='dls-input-container input-height-m input-width-xs input-inline'>
                <input type='text' class='dls-input input-height-m input-width-xs input-inline' id='field-22' value='15'/>
              </div>
              <p class='label-inline'>of the month.</p>
            </td>
          </tr>
          <tr>
            <td>Small - 80px width<br/>About 8 characters
            </td>
            <td>
              <label for="field-23">ZIP Code</label>
              <div class='dls-input-container input-height-m input-width-s'>
                <input type='text' class='dls-input' id='field-23' value='90210'/>
              </div>
            </td>
          </tr>
          <tr>
            <td>Medium - 128px width<br/>About 14 characters
            </td>
            <td>
              <label for="field-24">BIC</label>
              <div class='dls-input-container input-height-m input-width-m'>
                <input type='text' class='dls-input' id='field-24' value='LOYDGB2L'/>
              </div>
            </td>
          </tr>
          <tr>
            <td>Large - 256px width<br/>About 30 characters
            </td>
            <td>
              <label for="field-25">Business Name</label>
              <div class='dls-input-container input-height-m input-width-l'>
                <input type='text' class='dls-input' id='field-25' value='Hopes and Dreams Plc.'/>
              </div>
            </td>
          </tr>
          <tr>
            <td>Extra Large - 384px width<br/>About 46 characters
            </td>
            <td>
              <label for="field-26">To</label>
              <div class='dls-input-container input-height-m input-width-xl'>
                <input type='text' class='dls-input' id='field-26' value='patrick.port@sage.com, ben.wilson@sage.com'/>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class='secondary-tab' id='tabs-3'>
    <div class='container'>
      <h2>Have I got the right component?</h2>
      <ul class='standard-list'>
        <li>Check out the general guidance on <a href='/components/text-inputs/'>inputs</a>, constructing <a href='/patterns/forms/'>forms</a>, and industry guidance from <a href='https://www.lukew.com/resources/web_form_design.asp' target='_blank'>Luke Wroblewski</a>.</li>
        <li>Entering dates? Try a <a href='/components/datepicker/'>Date Picker</a>.</li>
        <li>Entering currencies or quantities? Try a <a href='/components/decimal-inputs/'>Decimal Input</a>.</li>
        <li>Entering numbers without decimals? Try a <a href='/components/number-inputs/'>Number Input</a>.</li>
        <li>Entering data with punctuation inside the field, or where the data is masked? Try a <a href='/components/punctuated-inputs/'>Fieldset</a>.</li>
        <li>Entering longer free text? Try a <a href='/components/textareas/'>Textarea</a>.</li>
        <li>Entering data that's closely related, like parts of an address? Try a <a href='/components/fieldsets/'>Fieldset</a>.</li>
        <li>Searching for something? Try a <a href='/components/dropdowns/'>Type Ahead Dropdown</a> or the Search/Filter configuration for <a href='/components/tables/'>Tables</a>.</li>
        <li>Interested in error states and validation patterns? See the section on <a href='/patterns/errors-validation/'>Validation and Error</a>.</li>
      </ul>
    </div>
    <div class='container'>
      <h2>Which configurations are available?</h2>
      <ul class='standard-list'>
        <li>Height: S; M; L.</li>
        <li>Width: XS; S; M; L; XL; Custom.</li>
      </ul>
    </div>
    <div class='container'>
      <h2>Guidance, hints and tips</h2>
      <h3>States</h3>
      <ul class='standard-list'>
        <li>Following precedent from other design systems, inputs have <span class='emphasis-term'>no hover state</span>.</li>
        <li>For <span class='emphasis-term'>focus/active</span> fields, we add an outline to change the field's form, rather than using colour alone to indicate this state. This helps accessibility.</li>
        <li><span class='emphasis-term'>Error, warning, and info</span> states use the relevant utility colour.
          <ul class='standard-list'>
            <li><span class='emphasis-term'>Error</span> - tells the user about a negative outcome that has already happened. Try to focus the message text on the action the user needs to take to be successful, rather than what went wrong.</li>
            <li><span class='emphasis-term'>Info</span> - gives context or advice to the user where there’s no risk of a negative outcome.</li>
            <li><span class='emphasis-term'>Warning</span> - warns the user about a potential negative outcome that hasn’t happened yet. In practice, some users perceive them as errors and think they can’t continue, so use these sparingly. In some situations we deliberately avoid ‘warning’ messages and use ‘Information’ instead, to avoid this problem.</li>
          </ul>
        </li>
        <h2>Disabled or read-only?</h2>
        <p class='emphasis-term'>Use the disabled state:</p>
        <ul class='standard-list'>
          <li>When the user is not expected to, and does not need to, understand the input being presented but might usefully be made aware of its presence or related functionality.</li>
          <li>For example, an input containing exchange rates might be disabled unless the user switches on the foreign currency feature using a checkbox.</li>
          <li>This content does not need to be accessible.</li>
        </ul>
        <p class='emphasis-term'>Use the read only-state:</p>
        <ul class='standard-list'>
          <li>When the user can’t interact with content but does need to understand the input being presented.</li>
          <li>For example:
            <ul class='standard-list'>
              <li>Totals on a bank account tile will be inactive, no matter what the user does. This information will be meaningful and useful to the user.</li>
              <li>‘View’ modes for infrequently changed business addresses will be inactive until the user takes an action to place it into an editable mode, but whether being viewed or edited the content has meaning and is useful in both states.</li>
            </ul>
            <li>This content does need to be accessible.</li>
          </li>
        </ul>
      </ul>
    </div>
    <div class='container'>
      <h3>Placeholder Text</h3>
      <div class="system-message warning-message">
        <div class='system-message-title'>Accessibility and Placeholder Text
        </div>
        <div class='system-message-body'>We'll keep this topic under careful review.
        </div>
      </div>
      <ul class='standard-list'>
        <li>Usability and accessibility issues with placeholder text can be common. You might prefer to use alternative methods such as those outlined on the <a href='/patterns/help-tooltips/'>Help, tooltips</a> page, such as placing formatting examples as plain text beneath the field label.</li>
        <li>Placeholder text can give users a clue about required formats (for example, 'e.g. QQ123456A' in a UK National Insurance Number field).</li>
        <li>Where possible, use content that is clearly a placeholder (e.g. 'MM/YY'), rather than content that could be mistaken as pre-filled.</li>
        <li>Placeholder text is a 30% opacity of black (see <a href='/foundations/colour/'>Colours</a>).</li>
        <li>Technically speaking, this doesn’t give an accessible contrast ratio. However, some research shows that if we use the minimum accessible colour, it appears to many users with the same contrast as real content, so more users skip important fields and encounter errors. We'll keep this under careful review.</li>
      </ul>
    </div>
    <div class='container'>
      <h3>Width and Height</h3>
      <ul class='standard-list'>
        <li>Three height values are available: Small, Medium (default), and Large - always use one of these.</li>
        <li>Make the fields the appropriate width for the content - it helps people understand the form. Remember to leave room for an error, warning, or info icon if needed.</li>
        <li>Always set some parameters for field width - you might like to stick to one of the recommended widths below, or snap your fields to the 12-column grid instead. Whatever you choose, make sure you're consistent everywhere, and don't allow your fields to stretch to very large widths.</li>
      </ul>
    </div>
  </div>
</div>
<div class="system-message system-toast success-message copied-to-clipboard">
  <div class='system-message-body'>Copied to clipboard
  </div>
</div>
