---
layout: default
secondary_menu_id: textareas
primary_menu_id: components
title: Textareas
sketch_file: /downloads/components/text_input.sketch
sketch_file_version: 0.3
summary: Capture multi-line free text.
tags: input, inputs, text, form, forms, form, forms, textarea, textareas, text area, text areas
---

<div class="foundations-colour">
  <p class='summary'>{{ page.summary }}</p>
  <div class='content-tab'>
    <ul class='tab-menu'>
      <li class='selected' data-target-tabs='tabs-1'>Design</li>
      <li data-target-tabs='tabs-3'>Guidance</li>
    </ul>
  </div>
  <div class='secondary-tab visible' id='tabs-1'>
    <div class='container'>
      <p>Don’t collect addresses in textareas, because this makes it hard to process the data later.</p>
      <div class="pod">
        <label for="field-40">Feedback</label>
        <div class='dls-input-container input-width-xl'>
          <textarea class='dls-input dls-textarea input-small-biz' id='field-40'>
Now this is a story all about how
My life got flipped-turned upside down
And I'd like to take a minute
Just sit right there
I'll tell you how I became the prince of a town called Bel-Air
In west Philadelphia born and raised
On the playground was where I spent most of my days
Chillin' out maxin' relaxin' all cool
And all shooting some b-ball outside of the school
When a couple of guys who were up to no good
Started making trouble in my neighborhood
I got in one little fight and my mom got scared
She said, "You're movin' with your auntie and uncle in Bel-Air."
          </textarea>
          <p class='dls-textarea-count'>1407/2000</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='secondary-tab' id='tabs-3'>
  <div class='container'>
    <h2>Have I got the right component?</h2>
    <ul class='standard-list'>
      <li>Check out the general guidance on <a href='/components/text-inputs/'>inputs</a>, constructing <a href='/patterns/forms/'>forms</a>, and industry guidance from <a href='https://www.lukew.com/resources/web_form_design.asp' target='_blank'>Luke Wroblewski</a>.</li>
      <li>Entering dates? Try a <a href='/components/datepicker/'>Date Picker</a>.</li>
      <li>Entering currencies or quantities? Try a <a href='/components/decimal-inputs/'>Decimal Input</a>.</li>
      <li>Entering numbers without decimals? Try a <a href='/components/number-inputs/'>Number Input</a>.</li>
      <li>Entering data with punctuation inside the field, or where the data is masked? Try a <a href='/components/punctuated-inputs/'>Fieldset</a>.</li>
      <li>Entering longer free text? Try a <a href='/components/textareas/'>Textarea</a>.</li>
      <li>Entering data that's closely related, like parts of an address? Try a <a href='/components/fieldsets/'>Fieldset</a>.</li>
      <li>Searching for something? Try a <a href='/components/dropdowns/'>Type Ahead Dropdown</a> or the Search/Filter configuration for <a href='/components/tables/'>Tables</a>.</li>
      <li>Interested in error states and validation patterns? See the section on <a href='/patterns/errors-validation/'>Validation and Error</a>.</li>
    </ul>
  </div>
</div>
