---
layout: default
secondary_menu_id: ipd-notifications
primary_menu_id: patterns
title: Discovery Sidebar
sketch_file: /downloads/patterns/discovery_sidebar.sketch
sketch_file_version: 1.0
summary: I need to discover products and features of value to my context, and the context of my business.
tags: ipd, discovery, in-product discovery, notification, notifications, sidebar
---

<p class='summary'>{{ page.summary }}</p>
<div class='container'>
  <h2>Overview</h2>
  <p>The newsfeed sidebar is used in-product to present the user with both internally and externally triggered product notifications and news. Notifications could be trigged by either the actions of self/ another user of the system while the news is triggered by Sage.</p>
  <p>The bell icon has an omnipresent location within desktop and cloud products. A dot notifies the user of something new.</p>
  <ul class='standard-list'>
    <li><span class='emphasis-term'>Examples of internally triggered notifications include:</span> approvals, requests, reminders, key completed tasks, comments, onboarding related tasks, to-dos etc.</li>
    <li><span class='emphasis-term'>Examples of externally triggered news include:</span> product announcements, new features, product updates, tips and tricks, important tax and legal changes, critical bug fixes, surveys etc.</li>
  </ul>
</div>
<div class='container'>
  <h2>Best Practice</h2>
  <ul class='standard-list'>
    <li>They should be timely and considered.</li>
    <li>Avoid replicating release notes. Only highlight the most important news, and link to the rest.</li>
    <li>Be useful. Add value to the user’s daily work.</li>
    <li>Club together related notifications (e.g. 5 invoices paid), so as to not spam the user.</li>
    <li>When applicable, for reminders and to-dos, offer a “follow up” CTA.</li>
  </ul>
</div>
<div class='container'>
  <h2>Status and Behaviours</h2>
  <ul class='standard-list'>
    <li><span class='emphasis-term'>Read/Unread</span> - View unread and view all act as switches for the content. Keeping the log of news, but offering a focused uncluttered version of unread news.</li>
    <li><span class='emphasis-term'>Marked as read</span> - Posts are marked as read after 10 seconds (example, twitter).</li>
    <li><span class='emphasis-term'>Deleting</span> - No way to delete posts directly. in the feed.</li>
    <li><span class='emphasis-term'>Expiration</span> - Notifications older than 3 weeks disappear from the feed. News older than 3 months expire.</li>
    <li><span class='emphasis-term'>Icons and Colors</span> - The icons and background colors help convey the urgency and category of information.</li>
  </ul>
</div>
<div class='container'>
  <h2>View All</h2>
  <img src='/visuals/discovery-sidebar-all.png'/>
</div>
<div class='container'>
  <h2>View Unread</h2>
  <img src='/visuals/discovery-sidebar-unread.png'/>
</div>
<div class='container'>
  <h2>Preferences</h2>
  <p>The preferences tab helps deliver tailored content to the user. The user knows where to actively seek and adjust the content he receives, and chooses what to receive in the product and via email.</p>
  <p>Here, the user can set roles, frequent tasks and preferences to receive personalised updates Based on his/her role, and daily work areas, we can deliver relevant updates and content - for example, knowledge of a new feature that facilitates his work and saves time followed by a step by step tutorial/ walk through/ tasks.</p>
  <img src='/visuals/discovery-sidebar-prefs.png'/>
</div>
<div class='container'>
  <h2>Category Icons</h2>
  <p>Mixed with background colors, the icons help convey the topic of the update to the user quickly. Some categories which can be used are:
  New features, Tips & Tricks, Update Available (desktop), Bug Fixes, Transactional Updates, Success, Negative/ Error.</p>
  <div class='pod'>
    <img src='/visuals/discovery-icons.png'/>
  </div>
</div>
<div class='container'>
  <h2>Icon Background Colors</h2>
  <p>We have 5 background colors available to denote the priority of notifications. These help the user to quickly grasp urgent, important information.</p>
  <ul class='standard-list'>
    <li>Green - Positive Feedback</li>
    <li>Slate - Neutral</li>
    <li>Blue - Information</li>
    <li>Red - Negative Feedback</li>
    <li>Brilliant Green - Sage news / marketing (use sparingly)</li>
  </ul>
  <div class='pod'>
    <img src='/visuals/discovery-priorities.png'/>
  </div>
</div>
<div class='container'>
  <h2>Illustrations for Empty States</h2>
  <p>These are placeholder examples. For more information, see the pattern on <a href='/patterns/empty-states'>empty states</a>, or the foundation on <a href='/foundations/illustration/illustration-examples/'>illustration</a>.</p>
</div>
<div class='container'>
  <h2>Nothing New</h2>
  <img src='/visuals/discovery-sidebar-illus-nothingnew.png'/>
</div>
<div class='container'>
  <h2>All Caught Up</h2>
  <img src='/visuals/discovery-sidebar-illus-caughtup.png'/>
</div>
<div class='container'>
  <h2>Not Connected</h2>
  <img src='/visuals/discovery-sidebar-illus-notconnected.png'/>
</div>
<div class='container'>
  <h2>Error</h2>
  <img src='/visuals/discovery-sidebar-illus-error.png'/>
</div>
