---
layout: default
secondary_menu_id: ipd-tooltips
primary_menu_id: patterns
title: Discovery Tooltips
sketch_file: #
sketch_file_version: 0.0
summary: I need to discover products and features of value to my context, and the context of my business.
tags: ipd, discovery, in-product discovery, tooltip, tooltips, stripe
---

<p class='summary'>{{ page.summary }}</p>
<div class='container'>
  <h2>Overview</h2>
  <p>Customised tooltips highlight new or important features in-product. To avoid <a href="https://www.nngroup.com/articles/banner-blindness-old-and-new-findings/" target="_blank">banner blindness</a>:</p>
  <ul class="standard-list">
    <li><span class="highlight">They should be timely and considered.</span> They pop up after a user has completed a task and link to related features that add true value. For example, a tooltip cross-linking to a Stripe Integration setup page might appear after a user has sent their first invoice.</li>
    <li>The same tooltip <span class="highlight">should never appear to the same user twice.</span></li>
    <li><span class="highlight">They should expire after a predefined time period.</span> For example, a new feature shouldn’t appear after its related campaign has finished.</li>
    <li><span class="highlight">They may be restricted only to users who can action the feature.</span> For example, a standard user may not be able to sign a business up for a stripe integration, so the tooltip wouldn't be shown to them.</li>
  </ul>
  <div class="pod">
    <div class="learn_more_tt">
      <div class="card_graphic"></div>
      <div class="learn_inner_container">
        <h3>Easy Payments,</br>Effortlessly Matched.</h3>
        <p>Make it easy for your customers to pay you as soon as they receive your Invoice. Payments are automatically matched and then reconciled win your Bank Account when they arrive.</p>
        <div class="card_icons"></div>
        <div class="powered_stripe"></div>
        <div class="learn_CTA_container">
          <button class="business-small">Learn More</button>
          <button class="learn_dismiss_CTA">Dismiss</button>
        </div>
      </div>
    </div>
  </div>
</div>
<h2>Buttons</h2>
<p>Sage studies show that a ‘Learn More’ button that links to further information receives 4 times more conversions than an 'OK, Got It' button that dismisses the tooltip. Cross-linking to pages with more detailed information is therefore recommended.</p>
<div class="pod">
  <div class="learn_more_tt basic_dark">
    <div class="learn_inner_container">
      <h3>Easy Payments,</br>Effortlessly Matched.</h3>
      <p>Make it easy for your customers to pay you as soon as they receive your Invoice. Payments are automatically matched and then reconciled win your Bank Account when they arrive.</p>
      <div class="learn_CTA_container">
        <button class="business-small">Learn More</button>
        <button class="learn_dismiss_CTA">Dismiss</button>
      </div>
    </div>
  </div>
  <div class="learn_more_tt basic_dark">
    <div class="learn_inner_container">
      <h3>Easy Payments,</br>Effortlessly Matched.</h3>
      <p>Make it easy for your customers to pay you as soon as they receive your Invoice. Payments are automatically matched and then reconciled win your Bank Account when they arrive.</p>
      <div class="learn_CTA_container">
        <button class="business-small">Ok, Got It</button>
      </div>
    </div>
  </div>
</div>
<h2>Visual Treatment</h2>
<p>Icons and small graphics can be added to match with campaigns. More dynamic visuals can increase conversion. However, avoid introducing graphic heavy elements such as detailed screenshots within your tooltips as these can confuse and overwhelm. Dark and light variants are proposed below.</p>
<div class="pod">
  <div class="learn_more_tt basic_dark">
    <div class="learn_inner_container">
      <h3>Easy Payments,</br>Effortlessly Matched.</h3>
      <p>Make it easy for your customers to pay you as soon as they receive your Invoice. Payments are automatically matched and then reconciled win your Bank Account when they arrive.</p>
      <div class="learn_CTA_container">
        <button class="business-small">Learn More</button>
        <button class="learn_dismiss_CTA">Dismiss</button>
      </div>
    </div>
  </div>
  <div class="learn_more_tt basic_light">
    <div class="triangle-with-shadow"></div>
    <div class="learn_inner_container">
      <h3>Easy Payments,</br>Effortlessly Matched.</h3>
      <p>Make it easy for your customers to pay you as soon as they receive your Invoice. Payments are automatically matched and then reconciled win your Bank Account when they arrive.</p>
      <div class="learn_CTA_container">
        <button class="business-small">Learn More</button>
        <button class="learn_dismiss_CTA">Dismiss</button>
      </div>
    </div>
  </div>
</div>
