---
layout: default
secondary_menu_id: empty-states
primary_menu_id: patterns
title: Empty States
summary: I need a highly visible signpost to show me how to get started quickly, and make an otherwise empty UI compelling and useful.
tags: empty, states, empty states, empty state, zero state, zero states
---

<p class='summary'>{{ page.summary }}</p>

<div class='container'>
  <h2>Overview</h2>
  <p>Empty states can help give a good first impression, signpost a user to perform a first task, and bring an element of personality to an otherwise blank table or page.</p>
  <p>Empty states can reduce the user's cognitive load and simplify a first time experience, but bear in mind a user will probably only see this experience once. Consider using empty states where:</p>
  <ul class="standard-list">
    <li>There is <span class="highlight">no data</span> to show.</li>
    <li>A user needs <span class="highlight">to be prompted to add data.</span></li>
    <li>A user needs to be taught <span class="highlight">how to action a process.</span></li>
  </ul>
  <div class="empty-states-img"></div>

  <h2>Product Accent Colours</h2>
  <p>As with other patterns in the Design System, you can reflect <a href='/foundations/colour/'>product accent colour</a> in empty state illustrations and elements. Here you can see an example using the large business accent colour.</p>
  <div class="empty-states-img-2"></div>
</div>
