---
layout: default
secondary_menu_id: errors-validation
primary_menu_id: patterns
title: Errors, Validation
sketch_file: /downloads/patterns/validation_errors.sketch
sketch_file_version: 0.6
summary: I need to understand the source, and solution to an error that stops me continuing.
tags: validation, error, errors, warning, warnings, inline, message, messages
---

<p class='summary'>{{ page.summary }}</p>
<div class='content-tab'>
  <ul class='tab-menu'>
    <li class='selected' data-target-tabs='tabs-1'>Design</li>
    <li data-target-tabs='tabs-3'>Guidance</li>
  </ul>
</div>
<div class='secondary-tab visible' id='tabs-1'>
  <div class='container'>
    <p>Carefully consider which of these three options is the best for your users. Apply them consistently across your whole app, so users know what to expect.</p>
  </div>
  <div class='container'>
    <h2>Preferred Method: Inline, on loss of focus.</h2>
    <ul class="standard-list">
      <li>Validate when a field loses focus.</li>
      <li>Apply a red field border, error icon (inside the field, or next to the field label), and show an error tooltip on hover or focus only.</li>
      <li>The user can make a correction, or come back to the error before submitting.</li>
      <li>Preferred because <a href='http://alistapart.com/article/inline-validation-in-web-forms' target='_blank'>a study by Luke Wroblewski</a> found a substantial increase in success rates and satisfaction, and decrease in completion times and eye fixations this way.</li>
      <li>If a user submits the form when errors are present, then show an additional message at the top of the container or page.</li>
    </ul>
  </div>
  <div class='container'>
    <h2>Alternative: Modal, on loss of focus.</h2>
    <ul class="standard-list">
      <li>Validate when a field loses focus (i.e. on a field-by-field basis, not when submitting the whole form).</li>
      <li>Show a modal dialog or message, but also highlight fields as above, so the user has context to go back to when the modal is cleared.</li>
      <li>The user must make a correction right away before moving on to another field.</li>
      <li>May be useful for apps with larger pages where the user may forget their context, or if subsequent inputs depend on the values entered.</li>
    </ul>
  </div>
  <div class='container'>
    <h2>Alternative: On submit only</h2>
    <ul class="standard-list">
      <li>May be needed if technical reasons mean client-side validation isn’t possible.</li>
      <li>Validate only when a user submits the form.</li>
      <li>Show a message at the top of the page, but also highlight fields as above.</li>
      <li>If you must use this pattern, summarise all errors in one go - don't make the user try submitting again, only to expose a new error each time.</li>
    </ul></li></li>
  </div>
  <div class="pod">
    <div class='container'>
      <h2>Field Examples</h2>
      <p>The position of icons, and alignment of tooltips depends on:</p>
      <ul class='standard-list'>
        <li>The text alignment of the content in the field.</li>
        <li>The alignment of the label for the field - top or right.</li>
        <li>Whether icons are already present in the field (for Enterprise Management).</li>
      </ul>
    </div>
    <div class='container'>
      <h3>Top Aligned Labels</h3>
      <div class='dls-form'>
        <div class='label-input-wrapper'>
          <label for="field-14">Left Aligned Content</label>
          <div class='dls-input-container input-height-m input-width-l'>
            <input type='text' class='dls-input input-small-biz input-error' id='field-14' value=''/>
            <span class='input-error-icon field-icon'><i class="icon icon-error"></i></span>
            <div class='tooltip-container error-tooltip'>
              <div class='tooltip-pointer'>
              </div>
              <div class='tooltip-body error-tooltip'>Please enter a Business Name.
              </div>
            </div>
          </div>
        </div>
        <div class='label-input-wrapper'>
          <label for="field-14" class='input-text-align-right input-position-left'>Right Aligned Content</label>
          <div class='dls-input-container input-height-m input-width-l'>
            <input type='text' class='dls-input input-small-biz input-error input-text-align-right' id='field-14' value=''/>
            <span class='input-error-icon field-icon'><i class="icon icon-error"></i></span>
            <div class='tooltip-container error-tooltip'>
              <div class='tooltip-pointer'>
              </div>
              <div class='tooltip-body error-tooltip'>Please enter 8 digits.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='container'>
      <h3>Right Aligned Labels</h3>
      <div class='dls-form form-right-aligned'>
        <div class='label-input-wrapper'>
          <label for="field-14">Left Aligned Content</label>
          <div class='dls-input-container input-height-m input-width-l'>
            <input type='text' class='dls-input input-small-biz input-error' id='field-14' value=''/>
            <span class='input-error-icon field-icon'><i class="icon icon-error"></i></span>
            <div class='tooltip-container error-tooltip'>
              <div class='tooltip-pointer'>
              </div>
              <div class='tooltip-body error-tooltip'>Please enter a Business Name.
              </div>
            </div>
          </div>
        </div>
        <div class='label-input-wrapper'>
          <label for="field-14" class='input-text-align-right'>Right Aligned Content</label>
          <div class='dls-input-container input-height-m input-width-l'>
            <input type='text' class='dls-input input-small-biz input-error input-text-align-right' id='field-14' value=''/>
            <span class='input-error-icon field-icon'><i class="icon icon-error"></i></span>
            <div class='tooltip-container error-tooltip'>
              <div class='tooltip-pointer'>
              </div>
              <div class='tooltip-body error-tooltip'>Please enter 8 digits.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='container'>
      <h3>Date Pickers and Dropdowns</h3>
      <div class='dls-form'>
        <div class='label-input-wrapper'>
          <label for="field-14">Due Date</label>
          <div class='dls-input-container input-height-m input-width-m'>
            <input type='text' class='dls-input input-small-biz input-error' id='field-14' value='01/04/2018'/>
            <span class='input-error-icon field-icon'><i class="icon icon-error"></i></span>
            <div class='tooltip-container error-tooltip'>
              <div class='tooltip-pointer'>
              </div>
              <div class='tooltip-body error-tooltip'>Please choose a date after your accounts start date of 1 May 2018.
              </div>
            </div>
          </div>
        </div>
        <div class='label-input-wrapper'>
          <label for="field-14">Country</label>
          <div class='dls-input-container input-height-m input-width-l'>
            <input type='text' class='dls-input input-small-biz input-error' id='field-14' placeholder='Please Select...'/>
            <span class='input-error-icon field-icon'><i class="icon icon-error"></i></span>
            <div class='tooltip-container error-tooltip'>
              <div class='tooltip-pointer'>
              </div>
              <div class='tooltip-body error-tooltip'>Please choose a Country.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='container'>
      <h3>Alternative for Enterprise</h3>
      <div class='dls-form'>
        <div class='label-input-wrapper'>
          <label for="field-8">Cost Centre<span class='input-error-icon label-icon'><i class="icon icon-error"></i></span></label>
          <div class='dls-input-container input-height-m input-width-l'>
            <input type='text' class='dls-input input-small-biz input-error' id='field-14' value='PR2401'/>
            <span class='input-error-icon field-icon'><i class="icon icon-filter_new"></i></span>
            <div class='tooltip-container error-tooltip'>
              <div class='tooltip-pointer'>
              </div>
              <div class='tooltip-body error-tooltip'>Please enter or select a valid Cost Centre.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='container'>
      <h3>Responsive/Adaptive Mobile</h3>
      <div class='dls-form'>
        <div class='label-input-wrapper'>
          <label for="field-14">Business Name</label>
          <div class='dls-input-container input-height-m input-width-l'>
            <input type='text' class='dls-input input-small-biz input-error' id='field-14' value=''/>
            <p class='field-qualifier error-qualifier'>Please enter a business name</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='pod'>
    <div class='container'>
      <h2>On Submit</h2>
      <p>If a user submits the form when errors are present, then show an additional message at the top of the container or page. See the <a href='/components/messages/'>Messages and Toasts Component</a> too.</p>
    </div>
    <div class='container'>
      <h3>Toast</h3>
      <p>Good for quick emphasis of the error state if there is no further info to add. Animates in, remains for a short time, then animates out.</p>
      <div class="system-message system-toast error-message">
        <div class='system-message-body'>There are 2 errors to fix.</div>
      </div>
    </div>
    <div class='container'>
      <h3>Static Message</h3>
      <p>Good to explain a more complex error state. Appears dynamically on submit.</p>
      <div class="system-message error-message">
        <div class='system-message-title'>Unable to Submit VAT Return</div>
        <div class='system-message-body'>HMRC's systems aren't responding right now because of high demand. Please try again later.</div>
      </div>
    </div>
    <h3>Example</h3>
    <p>Click the primary action to submit the form and trigger a dynamic error message.</p>
    <div class='example-dialog'>
      <div class="header-section">
        <h3>Dialog Example</h3>
        <div class='closebox'><i class="icon icon-close dialog-close"></i></div>
      </div>
      <div class="dialog-content">
        <div class="system-message system-toast error-message animated-toast-object">
          <div class='system-message-body'>There are 2 errors to fix.</div>
        </div>
        <div class='dls-form'>
          <div class='label-input-wrapper'>
            <label for="field-12">First Name</label>
            <div class='dls-input-container input-height-m input-width-l'>
              <input type='text' class='dls-input input-small-biz' id='field-12' value='Ben'/>
            </div>
          </div>
          <div class='label-input-wrapper'>
            <label for="field-14">Last Name</label>
            <div class='dls-input-container input-height-m input-width-l'>
              <input type='text' class='dls-input input-small-biz input-error' id='field-14' value=''/>
              <span class='input-error-icon field-icon'><i class="icon icon-error"></i></span>
              <div class='tooltip-container error-tooltip'>
                <div class='tooltip-pointer'>
                </div>
                <div class='tooltip-body error-tooltip'>Please enter a Last Name.
                </div>
              </div>
            </div>
          </div>
          <div class='label-input-wrapper'>
            <label for="field-14">NI Number</label>
            <div class='dls-input-container input-height-m input-width-l'>
              <input type='text' class='dls-input input-small-biz input-error' id='field-14' value='NJ1234'/>
              <span class='input-error-icon field-icon'><i class="icon icon-error"></i></span>
              <div class='tooltip-container error-tooltip'>
                <div class='tooltip-pointer'>
                </div>
                <div class='tooltip-body error-tooltip'>Please enter an NI Number in the format QQ123456A.
                </div>
              </div>
            </div>
          </div>
          <div class='dls-form-button-container-right'>
            <button class='dls-button button-small small-biz tertiary'>Cancel</button><button class='dls-button button-medium small-biz primary animate-toast'>Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='secondary-tab' id='tabs-3'>
  <div class='container'>
    <h2>Have I got the right component?</h2>
    <ul class='standard-list'>
      <li>Need guidance on structuring a form? See the <a href='/patterns/forms/'>Forms Pattern</a>.</li>
      <li>Need detail on how text inputs work? See the <a href='/components/text-inputs/'>Text Inputs Component</a>.</li>
      <li>Quick confirmation of success or failure, relating to the task the user has just performed? Try a <a href='/components/flashes/'>Flash</a>.</li>
      <li>Longer content to read carefully? Try a <a href='/components/messages/'>Message</a>.</li>
      <li>Need the user to confirm or acknowledge something? Critical message that should prevent further activity? Try a message in a <a href='/components/dialogs/'>Dialog</a>.</li>
      <li>For the icon font, and guidance on icon colour, see the <a href='/foundations/icons/'>Foundation on Icons</a>.</li>
      <li>Read more in articles from the <a href='https://baymard.com/blog/inline-form-validation' target='_blank'>Baymard Institute</a>, <a href='http://uxmovement.com/forms/the-best-place-for-error-messages-on-forms/' target='_blank'>UX Movement</a>, <a href='https://medium.com/@andrew.burton/form-validation-best-practices-8e3bec7d0549' target='_blank'>Burton</a>, and <a href='https://alistapart.com/article/inline-validation-in-web-forms' target='_blank'>Luke W</a></li>
    </ul>
  </div>
  <div class='container'>
    <h2>Which configurations are available?</h2>
    <ul class='standard-list'>
      <li>Methods: Inline on loss of focus; Modal on loss of focus; On submit.</li>
      <li>Error icon next to label; Error icon in field left; Error icon in field right;</li>
      <li>Tooltip: Top/Bottom; Right/Left.</li>
    </ul>
  </div>
  <div class='container'>
    <h2>Guidance, hints and tips</h2>
    <ul class='standard-list'>
      <li>When a page first loads, don't show any error states.</li>
      <li>Don't show errors while a user is typing - only when the user moves on to focus on another field.</li>
      <li>Validate for errors, but not to show confirmation of success for all fields, as this can distract and slow down completion. It may be useful to do this in special situations, like entering usernames, or confirming passwords.</li>
      <li>Consider flexible input - rather than force a user to enter precisely the right format, make corrections for them. For example, accept dates with / - and . separators, correcting them to the standard.</li>
    </ul>
  </div>
  <div class='container'>
    <h3>Positioning</h3>
    <p>A <a href='http://uxmovement.com/forms/the-best-place-for-error-messages-on-forms/' target='_blank'>recent study</a> found that:</p>
    <ul class='standard-list'>
      <li>It’s better to place error messages inline than at the top of the form, to reduce cognitive load on the user.</li>
      <li>Placing error messages to the right of the field was most intuitive and preferred by users, perhaps because this matches the Western reading direction.</li>
    </ul>
    <p>The position of icons, and alignment of tooltips depends on:</p>
    <ul class='standard-list'>
      <li>The text alignment of the content in the field.</li>
      <li>The alignment of the label for the field - top or right.</li>
      <li>Whether icons are already present in the field (for Enterprise Management).</li>
    </ul>
  </div>
  <div class='container'>
    <h3>Tooltips</h3>
    <ul class='standard-list'>
      <li>Make sure the language used in error tooltips is positive, and focussed on the solution.</li>
      <li>The tooltip can show to the left or right, top or bottom of the icon, to avoid obscuring the field label.</li>
      <li>Make sure tooltips only show on hover or field focus, and preferably that only one tooltip shows at a time.</li>
      <li>Make sure tooltips are implemented in a ways that’s friendly for screen readers.</li>
    </ul>
  </div>
  <div class='container'>
    <h3>Why isn’t changing the border colour enough?</h3>
    <ul class='standard-list'>
      <li>This would show errors using colour alone, which doesn’t meet accessibility guidelines, so an icon is also used to give users affordance that something has changed.</li>
    </ul>
  </div>
  <div class='container'>
    <h3>Why don’t we just place error text below the input field?</h3>
    <ul class='standard-list'>
      <li>We gave this serious consideration, but we'd either have to leave a gap, which might make the page look odd, or animate error messages in and out, which might mean lots of movement on the page.</li>
      <li>Also, errors often occur in tables of inputs, where leaving a gap might cause difficulty with alignment of table content or other inputs.</li>
    </ul>
  </div>
  <div class='container'>
    <h3>Why can error icons be placed next to field labels, as well as inside field?</h3>
    <ul class='standard-list'>
      <li>In Enterprise Management, optional icons may already be inside the input field. So, an error icon can be placed next to the field label instead.</li>
      <li>This is only for inline validation - typically Enterprise Management shows modal error messages instead, which may be better for very large pages of inputs.</li>
    </ul>
  </div>
  <div class='container'>
    <h3>What about mobile?</h3>
    <ul class='standard-list'>
      <li>For responsive or adaptive mobile, errors that show on hover or focus won’t work. So, we can place error messages overtly on the page instead.</li>
      <li>Rather than leaving gaps for potential error messages, we recommend making room by animating the field position when the error occurs.</li>
      <li>Since the screens are smaller, the effect of animating in additional elements isn’t as distracting.</li>
    </ul>
  </div>
</div>
