---
layout: default
secondary_menu_id: ftu
primary_menu_id: patterns
title: First Time Use
summary: I need to get quickly get value from the product in a first time use context, so I'm more likely to convert from trial.
tags: onboarding, tutorials, conversion, welcome, nurture
---

<p class='summary'>{{ page.summary }}</p>

<div class='container'>
  <h2>Overview</h2>
  <p>The first time use panel aims to signpost and support the user through first tasks that will offer value to their business quickly, thereby improving conversion for Sage.</p>
  <ul class='standard-list'>
    <li>Use analytics to determine the best features to showcase to drive conversion.</li>
    <li>Help articles are cross-linked but are not primarily part of the flow.</li>
    <li>Advanced setup options are linked for pro users, or Accountants.</li>
    <li>A welcome video can highlight conversion-driving features of the app.</li>
    <li><a href='/foundations/illustration/ftu/'>Illustration</a> and animation can help to provide a high fidelity visual experience.</li>
  </ul>
  <div class="ftu_panel tile">
    <i class="icon icon-close"></i>
    <div class="ftu_progress_container">
      <div class="progress_bar_bg">
        <div class="progress_bar_fill"></div>
      </div>
      <p>14% Completed</p>
    </div>
    <div class="ftu_welcome_video">
      <div class="dimmer"></div>
      <div class="player_controls_container">
        <div class="play_icon"></div>
        <p>2:53</p>
      </div>
    </div>
    <h2>Luke, we’re here to help you get the most from Accounting</h2>
    <p>Accounting has everything you need to save time and money, and take care of your business.</p>
    <p>This tour is the best place to get started. And don’t forget if you need any extra help, you can easily <a href='#' class="small-biz link">invite a financial advisor</a> to look over your books at any time.</p>
    <button class="business-small">Get Started</button>
    <button class="business-small secondary">Advanced Settings</button>
  </div>
  <h2>Behaviours</h2>
  <p>The first time use experience is similar to a <a href='/components/step-flows/'>Step Flow</a> component, stepping the user through  compelling features, encouraging them to input data, and therefore become more likely to convert from trial.
  When each segment is completed, a progress bar advances to motivate completion.</p>
  <p>The advanced setup layout works like a checklist, providing a list of links for advanced users to work through when migrating data and configuring more complex setups.</p>
  <div class="ftu_panel tile wizard">
    <i class="icon icon-close"></i>
    <div class="ftu_progress_container">
      <div class="progress_bar_bg">
        <div class="progress_bar_fill"></div>
      </div>
      <div class="back_container"><button class="size-small business-small tertiary"><i class="icon icon-arrow_left"></i><span>Back</span></button></div>
      <p>56% Completed</p>
    </div>
    <div class="feature_img"></div>
    <h2>Setup Products &amp; Services</h2>
    <p>Add items one at a time, or import a batch from a previous accounting system.</p>
    <p>Add new items quickly with reusable records and stay on top of stock with auto-adjustments.</p>
    <button class="size-small business-small tertiary help_link"><i class="icon icon-question"></i><span>Learn more about Products & Services</span></button>
    <button class="business-small">Set up</button>
    <button class="business-small tertiary">Skip</button>
  </div>
  <div class="ftu_panel tile advanced">
    <i class="icon icon-close"></i>
    <div class="back_container"><button class="size-small business-small tertiary"><i class="icon icon-arrow_left"></i><span>Back</span></button></div>
    <div class="feature_img"></div>
    <h2>Advanced Settings</h2>
    <ol>
      <li><button class="size-large business-small tertiary">Set financial year</button><a href="#"><i class="icon icon-question"></i></a></li>
      <li><button class="size-large business-small tertiary">Add opening balances</button><a href="#"><i class="icon icon-question"></i></a></li>
      <li><button class="size-large business-small tertiary">Add outstanding sales invoices</button><a href="#"><i class="icon icon-question"></i></a></li>
      <li><button class="size-large business-small tertiary">Add outstanding purchase invoices</button><a href="#"><i class="icon icon-question"></i></a></li>
      <li><button class="size-large business-small tertiary">Review transaction categories</button><a href="#"><i class="icon icon-question"></i></a></li>
      <li><button class="size-large business-small tertiary">Add or import customers and suppliers</button><a href="#"><i class="icon icon-question"></i></a></li>
    </ol>
    <button class="business-small">Standard setup</button>
    <button class="business-small secondary">Close</button>
  </div>
</div>
