---
layout: default
secondary_menu_id: hero-banners
primary_menu_id: patterns
title: Hero Banners
sketch_file: https://www.dropbox.com/s/hp7zlvr7m67qx8a/sage.com%20dls%20ui%20kit%20global.sketch?dl=1
sketch_file_version: 0.1
summary: A large banner image with overlaid text and often a call to action - our most influential real estate, critical for conversion.
tags: marketing, website, web, hero, image, banner, sage.com
---

<p class='summary'>{{ page.summary }}</p>

<div class='container'>
  <h2>Overview</h2>
  <p>Big and bold with a straight forward message. Hero banners have a strong visual impact and clear call to action. It is usually the user’s first impression of a website or feature.</p>
  <div class="hero-banners-img"></div>
  <ul class="standard-list">
    <li>Either the title or pre-heading can be set as H1.</li>
    <li>Available heights are 640px, 720px and 780px.</li>
    <li>The padding on the content box should follow responsive spacing XXXL or XXL.</li>
  </ul>

  <div class="example-dropdown-hb dls-form form-right-aligned">
    <div class='input_field_container_32 form-right-aligned' data-component="dropdown">
      <label class="label" for="hero-content-examples">Hero Content Examples</label>
      <div class="dropdown-list-container dls-input-container input-height-s input-width-l">
        <input name="hero-content-examples" id="hero-content-examples" class="dropdown-list-input dls-input input-small-biz" data-element="input" data-id="lh-slt" placeholder="Single line title">
        <label for="test" class="input-standard-icon field-icon cheveron-label"><i class="icon icon-dropdown"></i></label>
        <div class="dropdown_list_content">
          <ul class ="dropdown_list hero_dropdown dropdown_height">
            <li class="dropdown_list_item" data-id="lh-slt">Single line title</li>
            <li class="dropdown_list_item" data-id="mh-tlt">2 line title</li>
            <li class="dropdown_list_item" data-id="sh-flt">3+ line title</li>
            <li class="dropdown_list_item" data-id="sh-crsl">Carousel Content</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class='browser'>
    <div class="browser-navigation">
      <div class="browser-control"></div>
      <div class="browser-control"></div>
      <div class="browser-control"></div>
      <div class="browser-url"></div>
    </div>
    <div class="browser-content">
      <div class="hero-banner-nav"></div>
      <div id="lh-slt" class="hero-banner hero-content-container first-container">
        <div class="hero-banner-content hb-large">
          <div class="hero-text">
            <p class="website-h6">Sage Business Cloud</p>
            <p class="website-h1-super">Get ready for MTD</p>
            <p class="website-body-large">Are you thinking about investing in online accounting software for your business? Find out what small business cloud accounting software can do for you.</p>
            <button class="browser-button marketing business-medium size-large dark-background">Primary button</button>
            <button class="browser-button marketing business-medium size-large dark-background secondary">Secondary button</button>
          </div>
        </div>
      </div>
      <div id="mh-tlt" class="hero-banner hero-content-container">
        <div class="hero-banner-content hb-large">
          <div class="hero-text">
            <p class="website-h6">Sage Business Cloud</p>
            <p class="website-h1">Cloud accounting software</p>
            <p class="website-body-large">Are you thinking about investing in online accounting software for your business? Find out what small business cloud accounting software can do for you.</p>
            <button class="browser-button marketing business-medium size-large dark-background">Primary button</button>
            <button class="browser-button marketing business-medium size-large dark-background secondary">Secondary button</button>
          </div>
        </div>
      </div>
      <div id="sh-flt" class="hero-banner hero-content-container">
        <div class="hero-banner-content hb-small">
          <div class="hero-text">
            <p class="website-h6">Sage Business Cloud</p>
            <p class="website-h2">Cloud accounting software for small, medium and large businesses</p>
            <p class="website-body-large">Are you thinking about investing in online accounting software for your business? Find out what small business cloud accounting software can do for you.</p>
            <button class="browser-button marketing business-medium size-large dark-background">Primary button</button>
            <button class="browser-button marketing business-medium size-large dark-background secondary">Secondary button</button>
          </div>
        </div>
      </div>
      <div id="sh-crsl" class="hero-banner hero-content-container carousel-banner">
        <div class="hero-banner-content hb-small-carousel">
          <div class="hero-text">
            <p class="website-h6">Sage Business Cloud</p>
            <p class="website-h2">Cloud accounting software for businesses</p>
            <p class="website-body-large">Are you thinking about investing in online accounting software for your business? Find out what small business cloud accounting software can do for you.</p>
            <button class="browser-button marketing business-medium size-large dark-background">Primary button</button>
            <button class="browser-button marketing business-medium size-large dark-background secondary">Secondary button</button>
          </div>
        </div>
      </div>
      <div class="hero-banner-features"></div>
    </div>
  </div>
</div>

<div class="container">
  <h2>Customer Story Banners</h2>
  <p>Customer story banners are follow the same principle, but with content specifically to showcase our customers.</p>
  <div class="hero-banners-img-4"></div>
  <div class="example-dropdown-hb dls-form form-right-aligned">
    <div class='input_field_container_32 form-right-aligned' data-component="dropdown">
      <label class="label" for="customer-story-examples">Customer Story Examples</label>
      <div class="dropdown-list-container dls-input-container input-height-s input-width-l">
        <input name="customer-story-example" id="customer-story-example" class="dropdown-list-input dls-input input-small-biz" data-element="input" data-id="dcs" placeholder="Single line title">
        <label for="test" class="input-standard-icon field-icon cheveron-label"><i class="icon icon-dropdown"></i></label>
        <div class="dropdown_list_content">
          <ul class ="dropdown_list customer_dropdown dropdown_height">
            <li class="dropdown_list_item" data-id="dcs">Default Customer Story</li>
            <li class="dropdown_list_item" data-id="bcs">Big Customer Story</li>
            <li class="dropdown_list_item" data-id="ch">Campaign Heading</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class='browser'>
    <div class="browser-navigation">
      <div class="browser-control"></div>
      <div class="browser-control"></div>
      <div class="browser-control"></div>
      <div class="browser-url"></div>
    </div>
    <div class="browser-content">
      <div class="hero-banner-nav"></div>
      <div id="dcs" class="hero-banner customer-banner customer-story-container first-container">
        <div class="hero-banner-content hb-small-carousel customer-story">
          <svg class="customer-speech-mark" width="21px" height="17px" viewBox="0 0 21 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <path d="M11.9328358,10.6174714 C11.9328358,7.55182711 12.6689963,5.15300132 14.1421724,3.41841279 C15.6153484,1.68382427 17.6844639,0.544640146 20.3495189,0 L20.3495189,3.14566252 C18.3248637,3.77118129 16.9628385,4.90004049 16.2608782,6.53396093 C15.8598802,7.40125519 15.699994,8.23843506 15.7803646,9.04464015 L20.5,9.04464015 L20.5,17 L11.9328358,17 L11.9328358,10.6174714 Z M0,10.6174714 C0,7.59226642 0.716566881,5.20290515 2.14970064,3.44852718 C3.58197931,1.69414921 5.67096844,0.544640146 8.41752312,0 L8.41752312,3.14566252 C6.37299877,3.79183116 5.00057652,4.90004049 4.2985462,6.47373216 C3.93769748,7.3005871 3.78805642,8.15755643 3.84791285,9.04464015 L8.56716418,9.04464015 L8.56716418,17 L0,17 L0,10.6174714 Z" id="Mask" fill="#003349"></path>
              </g>
          </svg>
          <div class="hero-text">
            <p class="website-h5">Optional 24px title</p>
            <p class="website-body-standard customer-name">Gavin Marshall, CEO</p>
            <p class="website-body-standard">Bristol Sport</p>
            <p class="website-h7 customer-quote">20px italic building it has required teamwork.  We employ over a thousand workers, most of whom live here in Bristol and represent our community with pride.</p>
            <button class="browser-button marketing business-medium size-large dark-background grey">Watch the video (32s)  ▶︎</button>
          </div>
        </div>
      </div>
      <div id="bcs" class="hero-banner customer-banner customer-story-container">
        <div class="hero-banner-content hb-small-carousel customer-story">
          <svg class="customer-speech-mark" width="21px" height="17px" viewBox="0 0 21 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <path d="M11.9328358,10.6174714 C11.9328358,7.55182711 12.6689963,5.15300132 14.1421724,3.41841279 C15.6153484,1.68382427 17.6844639,0.544640146 20.3495189,0 L20.3495189,3.14566252 C18.3248637,3.77118129 16.9628385,4.90004049 16.2608782,6.53396093 C15.8598802,7.40125519 15.699994,8.23843506 15.7803646,9.04464015 L20.5,9.04464015 L20.5,17 L11.9328358,17 L11.9328358,10.6174714 Z M0,10.6174714 C0,7.59226642 0.716566881,5.20290515 2.14970064,3.44852718 C3.58197931,1.69414921 5.67096844,0.544640146 8.41752312,0 L8.41752312,3.14566252 C6.37299877,3.79183116 5.00057652,4.90004049 4.2985462,6.47373216 C3.93769748,7.3005871 3.78805642,8.15755643 3.84791285,9.04464015 L8.56716418,9.04464015 L8.56716418,17 L0,17 L0,10.6174714 Z" id="Mask" fill="#003349"></path>
              </g>
          </svg>
          <div class="hero-text">
            <p class="website-body-standard customer-name">Gavin Marshall, CEO</p>
            <p class="website-body-standard">Bristol Sport</p>
            <p class="website-h4 customer-quote">32px italic building it has required teamwork.  We employ over a thousand workers, most of whom live here in Bristol and represent our community with pride.</p>
            <button class="browser-button marketing business-medium size-large dark-background grey">Watch the video (32s)  ▶︎</button>
          </div>
        </div>
      </div>
      <div id="ch" class="hero-banner campaign-banner customer-story-container">
        <div class="hero-banner-content hb-small-carousel customer-story campaign">
          <div class="hero-text">
            <p class="website-h6">Sage Business Cloud</p>
            <p class="website-h2">No more late night invoicing</p>
            <p class="website-h4 customer-quote">“It just takes care of everything - from the payments to the invoicing.”</p>
            <p class="website-body-standard customer-name">Jen Walker</p>
            <p class="website-body-standard">Founder, The Split Screen Coffee Company</p>
            <div class="stars">
              <i class="icon icon-favourite"></i>
              <i class="icon icon-favourite"></i>
              <i class="icon icon-favourite"></i>
              <i class="icon icon-favourite"></i>
              <i class="icon icon-favourite"></i>
            </div>
            <button class="browser-button marketing business-medium size-large dark-background">Primary button</button>
            <button class="browser-button marketing business-medium size-large secondary dark-background">Primary button</button>
          </div>
        </div>
      </div>
      <div class="hero-banner-features"></div>
    </div>
  </div>
</div>
