---
layout: default
secondary_menu_id: live-chat
primary_menu_id: patterns
title: Live Chat
sketch_file:
sketch_file_version: 0.1
summary: I need to chat with humans or robots for information or support.
tags: pegg, chat, bot, live
---

<p class='summary'>{{ page.summary }}</p>
<div class='secondary-tab visible' id='tabs-1'>
  <h2>Overview</h2>
  <p>This version of the design is demonstrated with the Medium Business size segment. Click on the button below to open the chat dialog.</p>
  <div class="live-chat-trigger dls-button business-medium">Start Chat</div>
  <h2>Starting the chat</h2>
  <p>The user can launch a chat by clicking a button, or a chat window can pop up automatically after page load and a timed delay.</p>
  <div class="dls-button business-medium secondary show-live-chat-timed-popup">Show Timed Pop-up (1s)</div>
  <h2>Colour</h2>
  <p>We visually connect the trigger button with the header area of the chat popup by using the same colour. Here we've applied the medium product accent colour.</p>
  <p>Chat replies from a Sage agent or bot uses the 20% darker shade of the core business size colour.</p>
  <h2>Ending the Chat</h2>
  <p>If the user closes the 'X' icon to close the chat, we confirm this with a dialog to be sure.</p>
  <div class="live-chat-dialog">
    <!-- Header -->
    <div class="live-chat-header main-header">
      <div class="">
        <h3 class="title">Live Chat</h3>
        <div class="status notconnected-message">Not Connected</div>
        <div class="status connecting-message">Connecting... <div class="spinner white"><div class="bounce bounce1"></div><div class="bounce bounce2"></div><div class="bounce bounce3"></div></div>
        </div>
        <div class="status connected-message">Connected</div>
      </div>
      <div class="icon-close close"></div>
    </div>
    <div class="live-chat-header want-to-chat">
      <div class="">
        <h3 class="title">Got questions? Get answers!</h3>
        <div class="status notconnected-message">Our team are here to help you right now.</div>
        <div class="dls-button business-medium dark-background start-chat">Start Chat</div>
      </div>
      <div class="icon-close close"></div>
    </div>
    <!-- Form Segment -->
    <div class="content-container info-collect">
      <p>We just need a few details to get you connected.</p>
      <div class="field-container">
        <label>Name</label>
        <input class="dls-input input-medium-biz" type="text" value="" id="web_chat_name">
      </div>
      <div class="field-container">
        <label>Account No.</label>
        <input class="dls-input input-medium-biz" type="text" value="">
      </div>
      <div class="field-container">
        <label>I want to chat about...</label>
        <input class="dls-input input-medium-biz" type="text" value="" id="web_chat_reason">
      </div>
      <div class="field-container">
        <label>Email <span class="optional">(Optional)</span></label>
        <input class="dls-input input-medium-biz" type="text" value="">
      </div>
    </div>
    <!-- Message container -->
    <div class="content-container chat-message-container">
      <div class="message-interface">
        <div class="agent-reply first-reply">
          <div class="message-reply">
            Hey <span id="first_name"></span>, welcome to the Sage Chat, how can I help you?
            <div class="time-stamp current-time"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <div class="live-chat-footer">
      <div class="connect-options">
        <button class="web-chat-connect business-medium" disabled>Connect</button>
      </div>
      <div class="reply-container">
        <textarea id="customer_reply" placeholder="Type your messsage..."></textarea>
        <div class="reply-actions">
          <button id="send_button" class="submit-message"><svg xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18"><path fill-rule="evenodd" d="M0 18l17-8.999L0 0v6l8 3-8 3z"></path></svg></button>
        </div>
      </div>
    </div>
    <!--  -->
    <!-- Close action dialogs -->
    <!--  -->
    <div class="confirm-dialog close-in-queue">
      <div class="confirm-content">
        <div class="confirm-title">Close the chat?</div>
        <p>If you close this dialog you will lose your positiion in the queue.</p>
        <div class="confirm-actions">
          <div class="button business-medium secondary cancel-option">Stay in queue</div>
          <div class="button business-medium close-option">Yes, close</div>
        </div>
      </div>
    </div>
    <div class="confirm-dialog close-has-typed">
      <div class="confirm-content">
        <div class="confirm-title">Before you go...</div>
        <p>We thought you might like a record of our chat today.</p>
        <a class="download-transcript link medium-biz" href="#">Download Transcript</a>
        <div class="confirm-actions">
          <div class="dls-button business-medium secondary cancel-option">Go back</div>
          <div class="dls-button business-medium close-option">Close chat</div>
        </div>
      </div>
    </div>
  </div>
</div>
