---
layout: default
full_width: true
secondary_menu_id: product-compare
primary_menu_id: patterns
title: Product Comparison
sketch_file: #
sketch_file_version: 0.0
summary: I need to compare features that make up a product or package so I can make a decision that's right for my business.
tags: marketing, website, web, product, compare, comparison, features, feature, table, tables, sage.com
---
<p class='summary'>{{ page.summary }}</p>
<div class='container'>
  <h2>Marketing Site Product Comparison Tables</h2>
  <div class='pod'>
    <table class='dls-marketing-table dls-product-compare'>
      <tr class='compare-header'>
        <th>
          Track what you’re owed
        </th>
        <th>
          Table Header
        </th>
        <th class='dls-product-compare-spacer'>
        </th>
        <th>
          Table Header
        </th>
      </tr>
      <tr>
        <td>
          <p class='dls-product-compare-title'>Track what you’re owed</p>
          <p class='dls-product-compare-detail'>See how much customers owe and chase overdue balances.</p>
        </td>
        <td>
          <i class="icon icon-tick"></i>
        </td>
        <td class='dls-product-compare-spacer'>
        </td>
        <td>
          <i class="icon icon-tick"></i>
        </td>
      </tr>
      <tr>
        <td>
          <p class='dls-product-compare-title'>Connect your bank</p>
          <p class='dls-product-compare-detail'>Bank data flows in automatically.</p>
        </td>
        <td>
          <i class="icon icon-tick"></i>
        </td>
        <td class='dls-product-compare-spacer'>
        </td>
        <td>
          <i class="icon icon-tick"></i>
        </td>
      </tr>
      <tr>
        <td>
          <p class='dls-product-compare-title'>Multi-user</p>
          <p class='dls-product-compare-detail'>Invite your colleagues to collaborate.</p>
        </td>
        <td>
          <i class="icon icon-tick"></i>
        </td>
        <td class='dls-product-compare-spacer'>
        </td>
        <td>
          <i class="icon icon-tick"></i>
        </td>
      </tr>
      <tr>
        <td>
          <p class='dls-product-compare-title'>Cashflow forecasts</p>
          <p class='dls-product-compare-detail'>Real-time forecasts with detailed reports.</p>
        </td>
        <td>
          <i class="icon icon-tick"></i>
        </td>
        <td class='dls-product-compare-spacer'>
        </td>
        <td>
          <i class="icon icon-tick"></i>
        </td>
      </tr>
    </table>
  </div>
  <div class='pod-dark'>
    <table class='dls-marketing-table dls-product-compare'>
      <tr class='compare-header'>
        <th>
          Track what you’re owed
        </th>
        <th>
          Table Header
        </th>
        <th class='dls-product-compare-spacer'>
        </th>
        <th>
          Table Header
        </th>
      </tr>
      <tr>
        <td>
          <p class='dls-product-compare-title'>Track what you’re owed</p>
          <p class='dls-product-compare-detail'>See how much customers owe and chase overdue balances.</p>
        </td>
        <td>
          <i class="icon icon-tick"></i>
        </td>
        <td class='dls-product-compare-spacer'>
        </td>
        <td>
          <i class="icon icon-tick"></i>
        </td>
      </tr>
      <tr>
        <td>
          <p class='dls-product-compare-title'>Connect your bank</p>
          <p class='dls-product-compare-detail'>Bank data flows in automatically.</p>
        </td>
        <td>
          <i class="icon icon-tick"></i>
        </td>
        <td class='dls-product-compare-spacer'>
        </td>
        <td>
          <i class="icon icon-tick"></i>
        </td>
      </tr>
      <tr>
        <td>
          <p class='dls-product-compare-title'>Multi-user</p>
          <p class='dls-product-compare-detail'>Invite your colleagues to collaborate.</p>
        </td>
        <td>
          <i class="icon icon-tick"></i>
        </td>
        <td class='dls-product-compare-spacer'>
        </td>
        <td>
          <i class="icon icon-tick"></i>
        </td>
      </tr>
      <tr>
        <td>
          <p class='dls-product-compare-title'>Cashflow forecasts</p>
          <p class='dls-product-compare-detail'>Real-time forecasts with detailed reports.</p>
        </td>
        <td>
          <i class="icon icon-tick"></i>
        </td>
        <td class='dls-product-compare-spacer'>
        </td>
        <td>
          <i class="icon icon-tick"></i>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class='container'>
  <h2>Marketing Site Product Comparison Tiles</h2>
  <div class='pod rainbow'>
    <div class='dls-compare-container'>
      <div class='dls-product-card'>
        <div class='dls-product-card-header'>
          <p class='dls-product-card-sbc'>Sage Business Cloud</p>
          <p class='dls-product-card-product-name'>Accounting</p>
        </div>
        <div class='dls-product-card-body'>
          <p>Adaptive online accounting software, perfect for start-ups, micro, and small businesses looking to manage their finances and control cash flow.</p>
          <ul class='product-card-list'>
            <li>Simple and powerful solutions with an unlimited number of customers</li>
            <li>Accept and receive payments with multi-currency functionality (add-on required)</li>
            <li>Create and send invoices</li>
            <li>Balance your books and control your business’ finances on the go</li>
            <li>Best accounting software for small businesses</li>
          </ul>
        </div>
        <div class='sticky-bottom-button'>
          <button class='size-large business-small marketing'>Learn More</button>
        </div>
      </div>
      <div class='dls-product-card'>
        <div class='dls-product-card-header'>
          <p class='dls-product-card-sbc'>Sage Business Cloud</p>
          <p class='dls-product-card-product-name'>Financials</p>
        </div>
        <div class='dls-product-card-body'>
          <p>Adaptive online accounting software, perfect for start-ups, micro, and small businesses looking to manage their finances and control cash flow.</p>
          <ul class='product-card-list'>
            <li>Simple and powerful solutions with an unlimited number of customers</li>
            <li>Balance your books and control your business’ finances on the go</li>
            <li>Best accounting software for small businesses</li>
          </ul>
        </div>
        <div class='sticky-bottom-button'>
          <button class='size-large business-medium marketing'>Learn More</button>
        </div>
      </div>
      <div class='dls-product-card'>
        <div class='dls-product-card-header'>
          <p class='dls-product-card-sbc'>Sage Business Cloud</p>
          <p class='dls-product-card-product-name'>Financials</p>
        </div>
        <div class='dls-product-card-body'>
          <p>Adaptive online accounting software, perfect for start-ups, micro, and small businesses looking to manage their finances and control cash flow.</p>
          <ul class='product-card-list'>
            <li>Simple and powerful solutions with an unlimited number of customers</li>
            <li>Balance your books and control your business’ finances on the go</li>
            <li>Best accounting software for small businesses</li>
          </ul>
        </div>
        <div class='sticky-bottom-button'>
          <button class='size-large business-medium marketing'>Learn More</button>
        </div>
      </div>
    </div>
  </div>
</div>
