---
layout: default
secondary_menu_id: timeline
primary_menu_id: patterns
title: Timeline
sketch_file: /downloads/patterns/timeline.sketch
sketch_file_version: 0.1
summary: I need to review recent updates or version history.
tags: timeline, time, line, history, version, update, updates
---

<div class='dls-timeline'>
  <ul class="updates-timeline">
    <li>
      <div class="timeline-year-break">2019</div>
    </li>
    <li>
      <div class="timeline-date">
        <div class="timeline-date-container">
          <div class="day">13</div>
          <div class="month">Mar</div>
          <div class="date-extra-info">
            <div class="week-day">Wednesday</div>
            <div class="year">2019</div>
          </div>
        </div>
      </div>
      <div class="timeline-feature-container">
         <h2>v0.45.0 - Minor Updates</h2>
         <ul class='standard-list'>
          <li>Focus state for links added.</li>
          <li>Approach to date ranges clarified, using two separate fields.</li>
          <li>Examples of dialogs with one, two, and more than two possible actions added.</li>
          <li>Minor correction to Checkboxes, Radios, and Switches Sketch file.</li>
          <li>Examples of warning and info tooltips made consistent in Text Inputs and Forms Sketch file.</li>
          <li>Clarified guidance on spacing of form elements.</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="timeline-date">
        <div class="timeline-date-container">
          <div class="day">13</div>
          <div class="month">Mar</div>
          <div class="date-extra-info">
            <div class="week-day">Wednesday</div>
            <div class="year">2019</div>
          </div>
        </div>
      </div>
      <div class="timeline-feature-container">
         <h2>v0.44.0 - Buttons Sketch File Update</h2>
         <ul class='standard-list'>
          <li>The Sketch file in <a href='/components/buttons/'>Buttons</a> has been updated to reflect the recent changes.</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="timeline-date">
        <div class="timeline-date-container">
          <div class="day">12</div>
          <div class="month">Mar</div>
          <div class="date-extra-info">
            <div class="week-day">Tuesday</div>
            <div class="year">2019</div>
          </div>
        </div>
      </div>
      <div class="timeline-feature-container">
         <h2>v0.43.0 - Windows Segment Updates</h2>
         <ul class='standard-list'>
          <li>Images updates to the <a href='/windows/app-bar/'>App Bar</a>, <a href='/windows/app-icons/'>App Icons</a> and <a href='/windows/foundations/'>Foundations</a> (Carrot color added).</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="timeline-date">
        <div class="timeline-date-container">
          <div class="day">11</div>
          <div class="month">Mar</div>
          <div class="date-extra-info">
            <div class="week-day">Monday</div>
            <div class="year">2019</div>
          </div>
        </div>
      </div>
      <div class="timeline-feature-container">
         <h2>v0.42.0 - Windows Segment Updates</h2>
         <ul class='standard-list'>
          <li>Minor updates to the <a href='/windows/app-bar/'>App Bar</a>, <a href='/windows/splash-screens/'>Splash screens</a> (use logo from the Brand Library) and <a href='/windows/navigation/'>Navigation</a>.</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="timeline-date">
        <div class="timeline-date-container">
          <div class="day">7</div>
          <div class="month">Mar</div>
          <div class="date-extra-info">
            <div class="week-day">Thursday</div>
            <div class="year">2019</div>
          </div>
        </div>
      </div>
      <div class="timeline-feature-container">
         <h2>v0.41.0 - Clarified logo guidance</h2>
         <ul class='standard-list'>
          <li>Guidance on use of the <a href='/foundations/logo/'>Sage logo and site identifier</a> clarified. Always refer to the Brand Book, and use logos from the Brand Library.</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="timeline-date">
        <div class="timeline-date-container">
          <div class="day">5</div>
          <div class="month">Mar</div>
          <div class="date-extra-info">
            <div class="week-day">Tuesday</div>
            <div class="year">2019</div>
          </div>
        </div>
      </div>
      <div class="timeline-feature-container">
         <h2>v0.40.0 - Minor Portal Corrections</h2>
         <ul class='standard-list'>
          <li>Minor updates to fix small UI issues in the Design System portal itself. No changes to design elements themselves.</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="timeline-date">
        <div class="timeline-date-container">
          <div class="day">28</div>
          <div class="month">Feb</div>
          <div class="date-extra-info">
            <div class="week-day">Thursday</div>
            <div class="year">2019</div>
          </div>
        </div>
      </div>
      <div class="timeline-feature-container">
         <h2>v0.39.0 - Community</h2>
         <ul class='standard-list'>
          <li>Added a new community section - outlining our <a href="/community/backlog/">backlog</a> and a new page for <a href="/community/propose-component/">proposing components</a>.
          </li>
        </ul>
      </div>
    </li>
    <li>
      <div class="timeline-date">
        <div class="timeline-date-container">
          <div class="day">27</div>
          <div class="month">Feb</div>
          <div class="date-extra-info">
            <div class="week-day">Wednesday</div>
            <div class="year">2019</div>
          </div>
        </div>
      </div>
      <div class="timeline-feature-container">
         <h2>v0.38.0 - Updated: Checkboxes, Radio Buttons, Switches</h2>
         <ul class='standard-list'>
          <li>Default, hover, and focus borders updated for consistency and accessibility, and disabled states clarified, for <a href="/components/checkboxes/">Checkboxes</a>, <a href="/components/radios/">Radio Buttons</a>, and <a href="/components/switches/">Switches</a>.</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="timeline-date">
        <div class="timeline-date-container">
          <div class="day">27</div>
          <div class="month">Feb</div>
          <div class="date-extra-info">
            <div class="week-day">Wednesday</div>
            <div class="year">2019</div>
          </div>
        </div>
      </div>
      <div class="timeline-feature-container">
         <h2>v0.37.0 - Updated: Dialogs</h2>
         <ul class='standard-list'>
          <li><a href='/components/dialogs/'>Dialogs</a> now include a header keyline which improves the visual effect if dialog content scrolls.</li>
          <li><a href='/components/dialogs/'>Dialogs</a> now have a sticky footer to keep actions on-screen when content scrolls.</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="timeline-date">
        <div class="timeline-date-container">
          <div class="day">26</div>
          <div class="month">Feb</div>
          <div class="date-extra-info">
            <div class="week-day">Tuesday</div>
            <div class="year">2019</div>
          </div>
        </div>
      </div>
      <div class="timeline-feature-container">
         <h2>v0.36.0 - Minor Updates</h2>
         <ul class='standard-list'>
          <li>Added a tab containing the <a href='/foundations/illustration/'>extended colour palette for illustration</a>, together with a new collection of illustrations for <a href='/foundations/illustration/ftu/'>first time use</a>.</li>
          <li>New Foundation: <a href='/foundations/cursor/'>Mouse cursor, text cursor, and text selection</a> guidance added.</li>
          <li><a href='/components/text-inputs/'>Text inputs</a>: Guidance text clarified on when to use disabled or read-only fields, when to use placeholder text, the width of input fields.</li>
          <li><a href='/components/step-flows/'>Step Flow</a>: Guidance text clarified on the need for responsive progress indicators.</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="timeline-date">
        <div class="timeline-date-container">
          <div class="day">26</div>
          <div class="month">Feb</div>
          <div class="date-extra-info">
            <div class="week-day">Tuesday</div>
            <div class="year">2019</div>
          </div>
        </div>
      </div>
      <div class="timeline-feature-container">
        <h2>v0.35.0 - Hover and Focus States</h2>
        <ul class='standard-list'>
          <li>Hover and focus states updated across several components to improve accessibility and consistency, including <a href="/components/text-inputs/">Text Inputs</a>, <a href="/components/checkboxes/">Checkboxes</a>, <a href="/components/radios/">Radio Buttons</a> and <a href="/components/switches/">Switches</a>.</li>
          <li>Proposed a new carrot utility color to make warnings accessible - see <a href="/components/messages/">messages</a>.</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="timeline-date">
        <div class="timeline-date-container">
          <div class="day">26</div>
          <div class="month">Feb</div>
          <div class="date-extra-info">
            <div class="week-day">Tuesday</div>
            <div class="year">2019</div>
          </div>
        </div>
      </div>
      <div class="timeline-feature-container">
        <h2>v0.34.0 - New Components: Windows Desktop</h2>
        <ul class='standard-list'>
          <li>There are now 7 components in the <a href='/windows/'>Windows Desktop</a> area.</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="timeline-date">
        <div class="timeline-date-container">
          <div class="day">18</div>
          <div class="month">Feb</div>
          <div class="date-extra-info">
            <div class="week-day">Monday</div>
            <div class="year">2019</div>
          </div>
        </div>
      </div>
      <div class="timeline-feature-container">
        <h2>v0.33.0 - Illustration Updates</h2>
        <ul class='standard-list'>
          <li>Updated illustrations for <a href='/foundations/illustration/benefits/'>conceptual benefits</a>.</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="timeline-date">
        <div class="timeline-date-container">
          <div class="day">12</div>
          <div class="month">Feb</div>
          <div class="date-extra-info">
            <div class="week-day">Tuesday</div>
            <div class="year">2019</div>
          </div>
        </div>
      </div>
      <div class="timeline-feature-container">
        <h2>v0.32.0 - Minor Updates</h2>
        <ul class='standard-list'>
          <li>Updated visual design for the Design System portal itself.</li>
          <li>Added guidance on <a href='/foundations#carbon'>Carbon and Chimera</a> as Design System implementation strategies.</li>
          <li>Minor update to guidance text for <a href='/patterns/discovery-sidebar'>discovery sidebar</a>.</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="timeline-date">
        <div class="timeline-date-container">
          <div class="day">31</div>
          <div class="month">Jan</div>
          <div class="date-extra-info">
            <div class="week-day">Thursday</div>
            <div class="year">2019</div>
          </div>
        </div>
      </div>
      <div class="timeline-feature-container">
        <h2>v0.31.0 - New Pattern: Discovery Sidebar</h2>
        <ul class='standard-list'>
          <li>Continuing the in-product discovery theme, we've added a pattern for a <a href='/patterns/discovery-sidebar'>discovery sidebar</a> that presents the user with both internally and externally triggered product notifications and news.</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="timeline-date">
        <div class="timeline-date-container">
          <div class="day">30</div>
          <div class="month">Jan</div>
          <div class="date-extra-info">
            <div class="week-day">Wednesday</div>
            <div class="year">2019</div>
          </div>
        </div>
      </div>
      <div class="timeline-feature-container">
        <h2>v0.30.0 - Minor Updates</h2>
        <ul class='standard-list'>
          <li>Grouped screenshots of <a href='/components/'>all components</a> for easy browsing.</li>
          <li>Clarified usage of <a href='/foundations/icons/'>delete and cross icons</a>, and added examples of usage within <a href='/components/tables/'>tables</a>.</li>
          <li>Further updates to <a href='/foundations/accessibility/'>Accessibility</a> page following recent analysis.</li>
          <li>Further minor corrections and updates throughout.</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="timeline-date">
        <div class="timeline-date-container">
          <div class="day">16</div>
          <div class="month">Jan</div>
          <div class="date-extra-info">
            <div class="week-day">Wednesday</div>
            <div class="year">2019</div>
          </div>
        </div>
      </div>
      <div class="timeline-feature-container">
        <h2>v0.29.0 - Minor Updates</h2>
        <ul class='standard-list'>
          <li>Added Desktop, laptop, tablet and mobile <a href='/foundations/illustration/devices/'>device illustrations</a> to frame your UI designs.</li>
          <li>Minor corrections to CSS and <a href='/downloads/'>Sketch files</a> for consistency after recent updates.</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="timeline-date">
        <div class="timeline-date-container">
          <div class="day">16</div>
          <div class="month">Jan</div>
          <div class="date-extra-info">
            <div class="week-day">Wednesday</div>
            <div class="year">2019</div>
          </div>
        </div>
      </div>
      <div class="timeline-feature-container">
        <h2>v0.28.0 - New Pattern: Mobile Errors</h2>
        <ul class='standard-list'>
          <li>Guidelines added for <a href='/mobile/errors/'>Errors, Validation</a> for native mobile.</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="timeline-date">
        <div class="timeline-date-container">
          <div class="day">08</div>
          <div class="month">Jan</div>
          <div class="date-extra-info">
            <div class="week-day">Tuesday</div>
            <div class="year">2019</div>
          </div>
        </div>
      </div>
      <div class="timeline-feature-container">
        <h2>v0.27.0 - Minor Updates</h2>
        <ul class='standard-list'>
          <li>Added a new section which will be home to guidance on <a href='/windows/'>Windows Desktop</a> - welcome aboard! We'll fill this section out over time.</li>
          <li>Added handy tiles with screenshots on the <a href='/components/'>components summary screen</a>, so you can find the right component at-a-glance.</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="timeline-date">
        <div class="timeline-date-container">
          <div class="day">04</div>
          <div class="month">Jan</div>
          <div class="date-extra-info">
            <div class="week-day">Friday</div>
            <div class="year">2019</div>
          </div>
        </div>
      </div>
      <div class="timeline-feature-container">
        <h2>v0.26.0 - New Pattern: Marketing Table Style and Product Comparison</h2>
        <ul class='standard-list'>
          <li>Added an example of a table style for marketing websites to the <a href='/components/tables/'>Table Component</a>.</li>
          <li>Added patterns to help users <a href='/patterns/product-compare/'>compare two or more products</a> on marketing websites.</li>
          <li>Minor update: Added further examples of <a href='/components/fieldsets/'>regional address formats</a>.</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="timeline-date">
        <div class="timeline-date-container">
          <div class="day">02</div>
          <div class="month">Jan</div>
          <div class="date-extra-info">
            <div class="week-day">Wednesday</div>
            <div class="year">2019</div>
          </div>
        </div>
      </div>
      <div class="timeline-feature-container">
        <h2>v0.25.0 - New and Updated Guidance: Illustration, Accessibility, Logos</h2>
        <ul class='standard-list'>
          <li>Added extensive guidance content on the new <a href='/foundations/illustration/'>illustrative style</a>.</li>
          <li>Improved referencing to the WCAG 2.1 standard in the <a href='/foundations/accessibility/'>Accessibility</a> section, and added a link to a more detailed requirements matrix.</li>
          <li>Clarified and extended guidance on <a href='/foundations/logo/'>product logos</a>.</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="timeline-year-break">2018</div>
    </li>
    <li>
      <div class="timeline-date">
        <div class="timeline-date-container">
          <div class="day">24</div>
          <div class="month">Dec</div>
          <div class="date-extra-info">
            <div class="week-day">Monday</div>
            <div class="year">2018</div>
          </div>
        </div>
      </div>
      <div class="timeline-feature-container">
        <h2>v0.24.0 - Icon Notes Added</h2>
        <ul class='standard-list'>
          <li>We added notes to clarify what each icon in the <a href='/foundations/icons/'>existing icon set</a> is for, with ability to copy and paste icons from the page into a text field (with the icon font set) in Sketch.</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="timeline-date">
        <div class="timeline-date-container">
          <div class="day">19</div>
          <div class="month">Dec</div>
          <div class="date-extra-info">
            <div class="week-day">Wednesday</div>
            <div class="year">2018</div>
          </div>
        </div>
      </div>
      <div class="timeline-feature-container">
        <h2>v0.23.0 - Improvements to Focus/Active States</h2>
        <ul class='standard-list'>
          <li>Previously only inputs had a focus/active state. Now buttons do too, and the visuals are optimised for accessibility. Check out the gold outline on <a href='/components/text-inputs/'>Text Inputs</a> and <a href='/components/buttons/'>Buttons</a>.</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="timeline-date">
        <div class="timeline-date-container">
          <div class="day">12</div>
          <div class="month">Dec</div>
          <div class="date-extra-info">
            <div class="week-day">Wednesday</div>
            <div class="year">2018</div>
          </div>
        </div>
      </div>
      <div class="timeline-feature-container">
        <h2>v0.22.0 - Updated Pattern: Hero Banners</h2>
        <ul class='standard-list'>
          <li><a href='/patterns/hero-banners/'>Hero banners</a> are used on marketing websites. Updates to content and wording, and used the Design System standard for the dropdowns used on the page rather than the browser default.</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="timeline-date">
        <div class="timeline-date-container">
          <div class="day">12</div>
          <div class="month">Dec</div>
          <div class="date-extra-info">
            <div class="week-day">Wednesday</div>
            <div class="year">2018</div>
          </div>
        </div>
      </div>
      <div class="timeline-feature-container">
        <h2>v0.21.0 - New Component: Button Toggles</h2>
        <ul class='standard-list'>
          <li><a href='/components/button-toggle/'>Button Toggles</a> select one option from a small number of highly visible options.</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="timeline-date">
        <div class="timeline-date-container">
          <div class="day">11</div>
          <div class="month">Dec</div>
          <div class="date-extra-info">
            <div class="week-day">Tuesday</div>
            <div class="year">2018</div>
          </div>
        </div>
      </div>
      <div class="timeline-feature-container">
        <h2>v0.20.0 - Minor Content Updates</h2>
        <ul class='standard-list'>
          <li>Added a <a href='/downloads/'>Downloads</a> page listing all Sketch files.</li>
          <li>Added an example of an <a href='/components/fieldsets/'>address format for South Africa</a>.</li>
          <li>Other minor corrections throughout.</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="timeline-date">
        <div class="timeline-date-container">
          <div class="day">10</div>
          <div class="month">Dec</div>
          <div class="date-extra-info">
            <div class="week-day">Monday</div>
            <div class="year">2018</div>
          </div>
        </div>
      </div>
      <div class="timeline-feature-container">
        <h2>v0.19.0 - Content Section Added</h2>
        <ul class='standard-list'>
          <li>We're delighted to present a section offering <a href='/content/'>guidance on content</a> - we'd love your feedback and contributions.</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="timeline-date">
        <div class="timeline-date-container">
          <div class="day">05</div>
          <div class="month">Dec</div>
          <div class="date-extra-info">
            <div class="week-day">Wednesday</div>
            <div class="year">2018</div>
          </div>
        </div>
      </div>
      <div class="timeline-feature-container">
        <h2>v0.18.0 - Updated Component: Dropdowns</h2>
        <ul class='standard-list'>
          <li>Previously there was just a static image of the <a href='/components/dropdowns'>Dropdown component</a>. We added a flat html/css version.</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="timeline-date">
        <div class="timeline-date-container">
          <div class="day">05</div>
          <div class="month">Dec</div>
          <div class="date-extra-info">
            <div class="week-day">Wednesday</div>
            <div class="year">2018</div>
          </div>
        </div>
      </div>
      <div class="timeline-feature-container">
        <h2>v0.17.0 - New Component: Action Popovers</h2>
        <ul class='standard-list'>
          <li> <a href='/components/action-popovers/'>Action Popovers</a> allow the user to choose from a list of actions in the context of table rows, tiles, or other containers.</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="timeline-date">
        <div class="timeline-date-container">
          <div class="day">05</div>
          <div class="month">Dec</div>
          <div class="date-extra-info">
            <div class="week-day">Wednesday</div>
            <div class="year">2018</div>
          </div>
        </div>
      </div>
      <div class="timeline-feature-container">
        <h2>v0.16.0 - New Pattern: Hero Banners</h2>
        <p>We're delighted to present the first Design System component for marketing websites!</p>
        <ul class='standard-list'>
          <li><a href='/patterns/hero-banners/'>Hero Banners</a> are our most influential real estate - a large banner image with overlaid text and often a call to action.</li>
          <li>We added colours that work on dark backgrounds to the <a href='/components/buttons/'>Buttons component</a> to support this work.</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="timeline-date">
        <div class="timeline-date-container">
          <div class="day">04</div>
          <div class="month">Dec</div>
          <div class="date-extra-info">
            <div class="week-day">Tuesday</div>
            <div class="year">2018</div>
          </div>
        </div>
      </div>
      <div class="timeline-feature-container">
        <h2>v0.15.0 - Further Empty State Example Added</h2>
        <ul class='standard-list'>
          <li>Added a further example of an <a href='/patterns/empty-states/'>Empty State</a>.</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="timeline-date">
        <div class="timeline-date-container">
          <div class="day">03</div>
          <div class="month">Dec</div>
          <div class="date-extra-info">
            <div class="week-day">Monday</div>
            <div class="year">2018</div>
          </div>
        </div>
      </div>
      <div class="timeline-feature-container">
        <h2>v0.14.0 - Updated Component: Carousel Animation</h2>
        <ul class='standard-list'>
          <li>Updated the <a href='/components/carousel/'>Carousel component</a> with animation and other visual improvements following design critique.</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="timeline-date">
        <div class="timeline-date-container">
          <div class="day">26</div>
          <div class="month">Nov</div>
          <div class="date-extra-info">
            <div class="week-day">Monday</div>
            <div class="year">2018</div>
          </div>
        </div>
      </div>
      <div class="timeline-feature-container">
        <h2>v0.13.0 - Updated Component: Pills and Badges</h2>
        <ul class='standard-list'>
          <li>Updated the <a href='/components/pills-badges/'>Pills and Badges component</a> with visual improvements following design critique.</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="timeline-date">
        <div class="timeline-date-container">
          <div class="day">26</div>
          <div class="month">Nov</div>
          <div class="date-extra-info">
            <div class="week-day">Monday</div>
            <div class="year">2018</div>
          </div>
        </div>
      </div>
      <div class="timeline-feature-container">
        <h2>v0.12.0 - Updated Patterns</h2>
        <ul class='standard-list'>
          <li>Updated <a href='/patterns/ftu/'>First Time Use</a>, <a href='/patterns/empty-states/'>Empty States</a>, and <a href='/patterns/discovery-tooltips/'>Discovery Tooltips</a> visuals and content following design critique.</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="timeline-date">
        <div class="timeline-date-container">
          <div class="day">26</div>
          <div class="month">Nov</div>
          <div class="date-extra-info">
            <div class="week-day">Monday</div>
            <div class="year">2018</div>
          </div>
        </div>
      </div>
      <div class="timeline-feature-container">
        <h2>v0.11.0 - Visuals Added: Create for iOS and Android</h2>
        <ul class='standard-list'>
          <li>Visuals and guidance added for iOS and Android patterns for <a href='/mobile/create/'>creating items</a> - the plus icon, or FAB button.</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="timeline-date">
        <div class="timeline-date-container">
          <div class="day">26</div>
          <div class="month">Nov</div>
          <div class="date-extra-info">
            <div class="week-day">Monday</div>
            <div class="year">2018</div>
          </div>
        </div>
      </div>
      <div class="timeline-feature-container">
        <h2>v0.10.0 - Minor Corrections</h2>
        <ul class='standard-list'>
          <li>Correction: The <a href='/foundations/grid/'>XL breakpoint</a> has 40px margins and 24px gutters.</li>
          <li>Correction: <a href='/foundations/colour/'>Compliance products</a> take the generic green product accent colour. Clarity of colour table improved.</li>
          <li>Correction: Standard text colour changed to <a href='/foundations/text-font/'>90% black</a> for consistency with Sage.com.</li>
          <li>16 components have been split out onto their own pages, so the structure of the design system maps directly to Carbon. No other changes.</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="timeline-date">
        <div class="timeline-date-container">
          <div class="day">23</div>
          <div class="month">Nov</div>
          <div class="date-extra-info">
            <div class="week-day">Friday</div>
            <div class="year">2018</div>
          </div>
        </div>
      </div>
      <div class="timeline-feature-container">
        <h2>v0.9.0 - Visuals Added: iOS and Android</h2>
        <ul class='standard-list'>
          <li>Visuals added to the <a href='/mobile/components/'>Component Library</a> and <a href='/mobile/navigation/'>Navigation</a> in the Mobile section.</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="timeline-date">
        <div class="timeline-date-container">
          <div class="day">14</div>
          <div class="month">Nov</div>
          <div class="date-extra-info">
            <div class="week-day">Wednesday</div>
            <div class="year">2018</div>
          </div>
        </div>
      </div>
      <div class="timeline-feature-container">
        <h2>v0.8.0 - Cards & Tiles</h2>
        <ul class='standard-list'>
          <li><a href='/components/cards-tiles/'>Cards &amp; Tiles</a> component updated to align to the existing <a href='/foundations/shadows/'>Shadows</a> foundation.</li>
          <li>Fixed a technical issue which meant the demo of the <a href='/components/carousel/'>Carousel</a> component wasn't working.</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="timeline-date">
        <div class="timeline-date-container">
          <div class="day">13</div>
          <div class="month">Nov</div>
          <div class="date-extra-info">
            <div class="week-day">Tuesday</div>
            <div class="year">2018</div>
          </div>
        </div>
      </div>
      <div class="timeline-feature-container">
        <h2>v0.7.0 - Header Bar</h2>
        <ul class='standard-list'>
          <li>Header Bar Sketch file updated for consistency with the latest <a href='/components/header/'>Header Bar</a> component design.</li>
          <li>Now using links rather than buttons in the profile segment of the header bar.</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="timeline-date">
        <div class="timeline-date-container">
          <div class="day">9</div>
          <div class="month">Nov</div>
          <div class="date-extra-info">
            <div class="week-day">Friday</div>
            <div class="year">2018</div>
          </div>
        </div>
      </div>
      <div class="timeline-feature-container">
        <h2>v0.6.0 - Carousel, Empty States, and In-Product Discovery</h2>
        <ul class='standard-list'>
          <li>Added a <a href='/components/carousel/'>Carousel component</a> - refinements coming soon.</li>
          <li>Added a pattern on <a href='/patterns/empty-states/'>Empty States</a> - a highly visible signpost to show users how to get started quickly, and make an otherwise empty UI compelling and useful.</li>
          <li>Added a first pattern on in-Product discovery - customised <a href='/patterns/discovery-tooltips/'>Discovery Tooltips</a> highlight new or important features.</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="timeline-date">
        <div class="timeline-date-container">
          <div class="day">8</div>
          <div class="month">Nov</div>
          <div class="date-extra-info">
            <div class="week-day">Thursday</div>
            <div class="year">2018</div>
          </div>
        </div>
      </div>
      <div class="timeline-feature-container">
        <h2>v0.5.0 - Minor Updates</h2>
        <ul class='standard-list'>
          <li>Expanded guidance on formatting of <a href='/components/datepicker/'>dates and times</a>.</li>
          <li>Added further examples of the new <a href='/foundations/illustration/'>illustration style</a>, and gave <a href='/foundations/icons/'>in-product icons</a> their own page.</li>
          <li><a href='/foundations/colour/'>Product accent colours</a> are now used in the 'Colour by Business Size' table rather than marketing site accent colours. They're only slightly different, but product accent colours are better for accessibility with smaller fonts.</li>
          <li>Added a new section which will be home to guidance on <a href='/salesforce/'>Salesforce Lightning</a> - welcome aboard!</li>
          <li>Added a <a href='/foundations/'>beautiful diagram</a> from Laia and Michelle which demonstrates how to contribute to the Design System. It's your Design System - you make it what it is.</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="timeline-date">
        <div class="timeline-date-container">
          <div class="day">2</div>
          <div class="month">Nov</div>
          <div class="date-extra-info">
            <div class="week-day">Friday</div>
            <div class="year">2018</div>
          </div>
        </div>
      </div>
      <div class="timeline-feature-container">
        <h2>v0.4.0 - Accessibility & Consistency Improvements</h2>
        <p>To enhance our support for <a href='/foundations/accessibility/'>WCAG 2.1</a>, we've updated the design of the following elements:</p>
        <ul class='standard-list'>
          <li><a href='/components/text-inputs/'>Input Fields</a> - field borders now have a contrast ratio of at least 3:1 against the standard background, and the focus state now has a 2 pixel width. This also affects pages on <a href='/components/dropdowns/'>Dropdowns</a>, <a href='/patterns/forms/'>Forms</a>, and <a href='/patterns/errors-validation/'>Errors and Validation</a>.</li>
          <li><a href='/components/links/'>Links</a> - links are now underlined by default, and the underline is removed on hover. That's better for accessibility, and consistent with Sage.com. We've updated the visuals for <a href='/components/buttons/'>Tertiary Buttons</a> which are related.</li>
        </ul>
        <p>We also clarified the wording of guidance on <a href='/foundations/colour/'>product accent colours</a>.</p>
        <p>To help keep track of updates, we added this Timeline pattern too!</p>
      </div>
    </li>
    <li>
      <div class="timeline-date">
        <div class="timeline-date-container">
          <div class="day">9</div>
          <div class="month">Oct</div>
          <div class="date-extra-info">
            <div class="week-day">Tuesday</div>
            <div class="year">2018</div>
          </div>
        </div>
      </div>
      <div class="timeline-feature-container">
        <h2>v0.3.0 - Live Chat and Buttons on Dark Backgrounds</h2>
        <ul class='standard-list'>
          <li>New pattern for <a href='/patterns/live-chat/'>Live Chat</a>.</li>
          <li>Added detail on how to adapt <a href='/components/buttons/'>button colours for use on dark backgrounds</a>.</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="timeline-date">
        <div class="timeline-date-container">
          <div class="day">27</div>
          <div class="month">Sep</div>
          <div class="date-extra-info">
            <div class="week-day">Thursday</div>
            <div class="year">2018</div>
          </div>
        </div>
      </div>
      <div class="timeline-feature-container">
        <h2>v0.2.0 - Font and Colour Guidance by Product</h2>
        <ul class='standard-list'>
          <li>Added guidance explaining which <a href='/foundations/colour/'>product accent colour</a> to use by product.</li>
          <li>Added guidance explaining which <a href='/foundations/text-font/'>fonts</a> to use by product, and downloads for each font too.</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="timeline-date">
        <div class="timeline-date-container">
          <div class="day">25</div>
          <div class="month">Sep</div>
          <div class="date-extra-info">
            <div class="week-day">Tuesday</div>
            <div class="year">2018</div>
          </div>
        </div>
      </div>
      <div class="timeline-feature-container">
        <h2>v0.1.0 - Spinners and Icons</h2>
        <ul class='standard-list'>
          <li>New component for <a href='/components/spinners/'>Spinners</a> (indeterminate progress).</li>
          <li>Removed misleading guidance on <a href='/foundations/illustration/'>icons</a> - sorry about that.</li>
        </ul>
      </div>
    </li>
    <li>
      <div class="timeline-year-break">2017</div>
    </li>
    <li>
      <div class="timeline-date">
        <div class="timeline-date-container">
          <div class="day">31</div>
          <div class="month">Dec</div>
          <div class="date-extra-info">
            <div class="week-day">Tuesday</div>
            <div class="year">2017</div>
          </div>
        </div>
      </div>
      <div class="timeline-feature-container">
        <h2>v0.0.0 - Happy New Year!</h2>
        <ul class='standard-list'>
          <li>This is just an example of how a year divider should look.</li>
        </ul>
      </div>
    </li>
  </ul>
</div>
