---
layout: default
secondary_menu_id: community-backlog
primary_menu_id: community
title: Backlog
summary: The DLS is built upon the research and experience of teams across the whole of Sage. Anyone can propose, develop or contribute to new components or make improvements to existing ones.
tags: community, backlog
---

<div class="community-backlog-page">
  <p class='summary'>{{ page.summary }}</p>

  <p>Here is a list of components and updates currently on the Design System community backlog. They can be:</p>

  <ul class="standard-list">
    <li><strong>Proposed</strong> - someone has suggested a new component</li>
    <li><strong>To do</strong> - the proposed component has been agreed and is ready to work on</li>
    <li><strong>In Progress</strong> - someone is actively working on this component</li>
  </ul>

  <p>If you cannot find a component which meets your needs, feel free to <a href="/community/propose-component/">propose a new component</a>.</p>

  <table class='dls-table'>
    <tr>
      <th>
        Name
      </th>
      <th>
        Status
      </th>
    </tr>
    <tr>
      <td>
        <a href='https://jira.sage.com/browse/DLS-733'>Search & Filter</a>
      </td>
      <td>
        <strong>To do</strong>
      </td>
    </tr>
    <tr>
      <td>
        <a href='https://jira.sage.com/browse/DLS-737'>Time</a>
      </td>
      <td>
        <strong>To do</strong>
      </td>
    </tr>
    <tr>
      <td>
        <a href='https://jira.sage.com/browse/DLS-292'>Rich Text Area</a>
      </td>
      <td>
        <strong>To do</strong>
      </td>
    </tr>
    <tr>
      <td>
        <a href='https://jira.sage.com/browse/DLS-321'>Dualling Picklist</a>
      </td>
      <td>
        <strong>Proposed</strong>
      </td>
    </tr>
    <tr>
      <td>
        <a href='https://jira.sage.com/browse/DLS-498'>Range Slider</a>
      </td>
      <td>
        <strong>Proposed</strong>
      </td>
    </tr>
    <tr>
      <td>
        <a href='https://jira.sage.com/browse/DLS-521'>Indeterminate Progress Indicator</a>
      </td>
      <td>
        <strong>Proposed</strong>
      </td>
    </tr>
    <tr>
      <td>
        <a href='https://jira.sage.com/browse/DLS-374'>Business and App Switcher</a>
      </td>
      <td>
        <strong>To do</strong>
      </td>
    </tr>
    </tr>
    <tr>
      <td>
        <a href='https://jira.sage.com/browse/DLS-652'>Drag and Drop</a>
      </td>
      <td>
        <strong>To do</strong>
      </td>
    </tr>
    <tr>
      <td>
        <a href='https://jira.sage.com/browse/DLS-594'>Animated Menu Button</a>
      </td>
      <td>
        <strong>Proposed</strong>
      </td>
    </tr>
    <tr>
      <td>
        <a href='https://jira.sage.com/browse/DLS-599'>Colour Picker</a>
      </td>
      <td>
        <strong>To do</strong>
      </td>
    </tr>
    <tr>
      <td>
        <a href='https://jira.sage.com/browse/DLS-600'>Toast Messages</a>
      </td>
      <td>
        <strong>To do</strong>
      </td>
    </tr>
    <tr>
      <td>
        <a href='https://jira.sage.com/browse/DLS-596'>Show / Edit Pods</a>
      </td>
      <td>
        <strong>To do</strong>
      </td>
    </tr>
  </table>
</div>
