---
layout: default
secondary_menu_id: community-propose-component
primary_menu_id: community
title: Propose a Component
summary: We are in the process of rolling out a new process for contributing new components or patterns to the DLS. In the meantime check out out this diagram which highlights ways to currently get involved.
tags: community, backlog, components
---

<p class='summary'>{{ page.summary }}</p>

<div class="card">
  <div class="mask-example">
    <a href="/visuals/contribution-workflow.png" target="_blank"><img src="/visuals/contribution-workflow.png"></a>
  </div>
</div>
<h3>Give Feedback</h3>
  <ul class="standard-list">
    <li>The design system relies on your feedback - XD team members can join the conversation on <div class="dls-icon-link"><a href="https://teams.microsoft.com/l/channel/19%3acfc9cdb142694472a7befddf98551e3a%40thread.skype/Design%2520Language%2520System?groupId=d5f3b93a-c5a2-4098-b89a-10cd8a6bad82&amp;tenantId=3e32dd7c-41f6-492d-a1a3-c58eb02cf4f8" class="link generic-biz" target="_blank"><span>Teams</span><i class="icon icon-link"></i></a></div> or <div class="dls-icon-link"><a href="https://marvelapp.com/7hf04j6" class="link generic-biz" target="_blank"><span>comment on Marvel</span><i class="icon icon-link"></i></a></div></li>
    <li>Download elements from the portal, design with them, test them with users, make improvements, and share the results with the design system team.</li>
    <li>All feedback is compiled in Jira, where we work through it as quickly as possible in 2-week sprints.</li>
  </ul>
  <h3>Volunteer</h3>
  <ul class="standard-list">
    <li>The design system team are all volunteers who share their time between the Design System, and other projects.</li>
    <li>To help us go faster, do you have a specialist interest in a Design System topic, and capacity to help? Please join the team!</li>
  </ul>
  <p><span class="emphasis-term">It's your design system - you make it what it is.</span></p>
</div>
