body, html {
  font-family: 'Open Sans', Arial, sans-serif;
  background-color: $slate-tint-95;
  color: $black-90;
  height: 100%;
}

.all-content {
  background-color: mix(white, $slate, 95%);
  display: flex;
  transition: opacity 0.2s ease;
}

.main-body {
  flex: none;
  height: 100%;
}

.container {
  min-height: 100%;
  margin-bottom: 80px;

  &.limited-width {
    max-width: 840px;
  }

  &.container-flex {
    display: flex;

    &.flex-2 {
      flex-wrap: wrap;

      .pod {
        margin: 24px;
        width:  calc(50% - 48px);
      }
    }

    &.flex-3 {
      flex-wrap: wrap;

      .pod {
        margin: 24px;
        width:  calc(33% - 48px);
      }
    }
  }
}

.dls-code {
  background-color: black;
  margin-bottom: 16px;
  padding: 16px;

  p {
    color: #f92672;
    font-family: monospace;
  }

  .content {
    color: white;
  }

  .value {
    color: #a6e22e;
  }
}

.main-content-container {
  background: white;
  box-shadow: $card;
  display: inline-block;
  margin: 90px 40px 90px 300px;
  max-width: 1000px;
  min-width: 660px;
  width: 100%;

  &.full-width {
    max-width: none;
  }

  .header-segment {
    border-bottom: 1px solid $slate-tint-85;
    display: flex;
    justify-content: space-between;
    margin: 32px 40px 24px 40px;

    h1 {
      margin-bottom: 16px;
    }

    .primary-nav-area {
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.5px;
      padding-bottom: 2px;
      text-transform: capitalize;
    }

    .download-file {
      position: relative;
      top: 24px;

      a {
        margin: 0;
      }
    }
  }

  .main-content {
    padding: 0px 40px 56px 40px;

    img {
      max-width: 100%;
    }
  }
}

.emphasis-term {
  font-weight: 700;
}

.example-img {
  max-width: 50%;
}

.field-label {
  font-weight: 600;
}

.fixed-height {
  height: 600px;
}

.footer {
  background: green;
  display: inline-block;
  height: 0px;
  width: 100vw;
}

.headline {
  border-bottom: 1px solid #CCD6DB;
  padding: 0px 0px 8px 0px;
  margin: 0px 0px 32px 0px;
}

.logo-example {
  margin-bottom: 64px;
}

.new {
  background-color: $segment-generic;
  color: white;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-right: 4px;
  padding: 2px 6px;
  text-transform: uppercase;
}

.pod, .pod-dark, .pod-light-slate {
  background-color: white;
  border: 1px solid $slate-tint-80;
  margin: 0px 0px 64px 0px;
  max-width: $container_max_width;
  padding: 40px;

  &.full-width {
    max-width: 100%;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 56px;
  }
}

.rainbow {
  background-image: url('/visuals/rainbow.png');
  background-size: cover;
  max-width: 100%;
}

.pod-dark {
  background-color: $slate-shade-50;
}

.pod-light-slate {
  background-color: $slate-tint-95;
}

.sidebar {
  bottom: 0;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  width: 300px
}

.small-illustration {
  max-width: 50% !important;
}

.spot-icon-example {
  height: 48px;
}

.summary-tile {
  width: 320px;
  height: 128px;
  padding: 32px;
  background-color: #FFFFFF;
}

.summary-tile-title {
  font-size: 14px;
  line-height: 21px;
}

.tile-container, .fonts-container {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  margin-bottom: 85px;

  .tile {
    width: 400px;
  }

  .font {
    width: 250px;
  }
}

.copy-to-clipboard {
  cursor: copy;
  position: relative;

  &:before {
    background: $slate-shade-50;
    bottom: -20px;
    color: white;
    content: 'Click to copy';
    box-sizing: border-box;
    display: block;
    font-size: 12px;
    left: 50%;
    line-height: 16px;
    margin-left: -50px;
    opacity: 0;
    padding: 8px;
    position: absolute;
    text-align: center;
    transition: all 0.2s ease;
    visibility: hidden;
    width: 100px;
    z-index: 9;
  }

  &:hover {
    &:before {
      opacity: 1;
      visibility: visible;
    }
  }
}

.system-message.system-toast.success-message.copied-to-clipboard {
  opacity: 0;
  visibility: hidden;
}

.system-message.system-toast.copied-to-clipboard {
  left: 50%;
  margin-left: -96px;
  opacity: 0;
  position: fixed;
  top: 60px;
  visibility: hidden;
  z-index: 9999;
}

// List styles
.standard-list, .ordered-list {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 32px;
  max-width: 560px;

  .bold {
    font-weight: 700;
  }

  li {
    margin: 0px 0px 16px 18px;

    > ul {
      color: $black-90;
      margin-top: 24px;
      margin-left: 18px;
    }
  }
}

.standard-list {
  list-style: square;
}

.ordered-list {
  list-style-type: decimal;
}

.version-number {
  bottom: 32px;
  position: fixed;
  right: 32px;

  .version-link {
    color: rgba(white, 0.8);
    font-weight: 700;
    text-decoration: none;
  }
}

.website-h1-super {
  font-family: 'Adelle Sans Sage', sans-serif;
  font-size: 64px;
  line-height: 74px;
  font-weight: 600;
}

.website-h1 {
  font-family: 'Adelle Sans Sage', sans-serif;
  font-size: 56px;
  line-height: 66px;
  font-weight: 600;
}

.website-h2 {
  font-family: 'Adelle Sans Sage', sans-serif;
  font-size: 48px;
  line-height: 58px;
  font-weight: 600;
}

.website-h3 {
  font-family: 'Adelle Sans Sage', sans-serif;
  font-size: 40px;
  line-height: 48px;
  font-weight: 600;
}

.website-h4 {
  font-family: 'Adelle Sans Sage', sans-serif;
  font-size: 32px;
  line-height: 42px;
  font-weight: 600;
}

.website-h5 {
  font-family: 'Adelle Sans Sage', sans-serif;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
}

.website-h6 {
  font-family: 'Adelle Sans Sage', sans-serif;
  font-size: 24px;
  line-height: 34px;
  font-weight: 200;
}

.website-h7 {
  font-family: 'Adelle Sans Sage', sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
}

.website-body-large {
  font-family: 'Adelle Sage', sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}

.website-body-standard {
  font-family: 'Adelle Sage', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.header-example {
  background-color: white;
  height: 48px;

  .logo-container {
    margin-left: 40px;
  }
}
