.browser {
  background: $slate-tint-95;
  box-shadow: $shadow-depth-3;
  margin-bottom: 80px;
  max-width: 100%;

  .browser-navigation {
    align-items: center;
    display: flex;
    padding: 16px 24px;
    width: 100%;

    .browser-control {
      background: $slate-tint-80;
      border-radius: 50%;
      height: 12px;
      margin-right: 12px;
      width: 12px;
    }

    .browser-url {
      background: white;
      height: 32px;
      margin-left: 8px;
      width: 800px;
    }
  }

  .browser-content {
    background: white;
    height: 600px;
    overflow-y: hidden;
    position: relative;

    .website-h1-super {
      color: white;
      font-size: 32px;
      font-weight: 600;
      line-height: 37px;
      margin-bottom: 12px;
    }

    .website-h1 {
      color: white;
      font-size: 28px;
      font-weight: 600;
      line-height: 33px;
      margin-bottom: 12px;
    }

    .website-h2 {
      color: white;
      font-size: 24px;
      font-weight: 600;
      line-height: 29px;
      margin-bottom: 12px;
    }

    .website-h4 {
      font-size: 16px;
      font-weight: 600;
      line-height: 21px;
      margin-bottom: 12px;
    }

    .website-h5 {
      font-size: 12px;
      font-weight: 600;
      line-height: 17px;
      margin-bottom: 12px;
    }

    .website-h6 {
      color: white;
      font-size: 12px;
      font-weight: 200;
      line-height: 17px;
      margin-bottom: 12px;
    }

    .website-h7 {
      font-size: 10px;
      font-weight: 600;
      line-height: 15px;
      margin-bottom: 12px;
    }

    .website-body-large {
      color: white;
      font-size: 9px;
      line-height: 14px;
      margin-bottom: 20px;
    }

    .website-body-standard {
      font-size: 8px;
      font-weight: 400;
      line-height: 12px;
      margin-bottom: 12px;
    }

    .browser-button {
      font-size: 9px;
      height: 24px;
      line-height: 9px;
      margin-right: 0px;
      padding: 0px 16px;
      width: auto;

      &.secondary {
        border-width: 1px;

        &:hover {
          border-width: 1px;
        }
      }
    }
  }
}
