button, .dls-button {
  background-color: $segment-generic-app;
  border: 0px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 600;
  height: 40px;
  line-height: 40px;
  margin-right: 16px;
  padding: 0px 24px 0px 24px;

  &:hover {
    background-color: $segment-generic-app-shade-20;
    text-decoration: none;
  }

  &:focus {
    outline: 3px solid $gold;
    outline-offset: 0;
  }

  &:disabled {
    background-color: $slate-tint-90 !important;
    color: $black-30 !important;
    pointer-events:none !important;
  }

  &:last-of-type {
    margin-right: 0px;
  }

  .icon + span,
   span + .icon {
    margin-left: 8px;
  }

  .icon {
    position: relative;
    top: -2px;
  }

  &.size-small {
    height: 32px;
    line-height: 32px;
    padding: 0px 16px;
  }

  &.size-large {
    font-size: 16px;
    height: 48px;
    padding: 0px 32px;
  }

  &.secondary,
  &.tertiary {
    background-color: transparent;
    color: $segment-generic-app;
    line-height: 38px;

    &:hover {
      color: $segment-generic-app-shade-20;
    }

    &.size-small {
      line-height: 30px;
    }
  }

  &.secondary {
    border: 2px solid $segment-generic-app;

    &:hover, &:focus {
      background-color: $segment-generic-app-shade-20;
      border-color: $segment-generic-app-shade-20;
      color: white;
    }
  }

  &.tertiary {
    margin-left: 0px;
    margin-right: 0px;
  }

  &.business-small {
    background-color: $segment-small-app;

    &:active {
      background-color: $segment-small-app-shade-40;
    }

    &.dark-background {
      background: white;
      color: $segment-small-app;

      &:hover {
        color: white;
      }
    }

    &:hover {
      background-color: $segment-small-app-shade-20;
    }

    &.secondary,
    &.tertiary {
      background-color: transparent;
      color: $segment-small-app;

      &:hover {
        color: $segment-small-app-shade-20;
      }
    }

    &.secondary {
      border: 2px solid $segment-small-app;

      &:hover {
        background-color: $segment-small-app-shade-20;
        border-color: $segment-small-app-shade-20;
        color: white;
      }

      &:focus {
        background-color: $segment-small-app-shade-20;
        color: white;
      }
    }
  }

  &.business-medium {
    background-color: $segment-medium-app;

    &:active {
      background-color: $segment-medium-app-shade-40;
    }

    &.dark-background {
      background: white;
      color: $segment-medium-app;

      &:hover {
        color: white;
      }
    }

    &:hover, :focus {
      background-color: $segment-medium-app-shade-20;
    }

    &.secondary,
    &.tertiary {
      background-color: transparent;
      color: $segment-medium-app;

      &:hover {
        color: $segment-medium-app-shade-20;
      }
    }

    &.secondary {
      border: 2px solid $segment-medium-app;

      &:hover {
        background-color: $segment-medium-app-shade-20;
        border-color: $segment-medium-app-shade-20;
        color: white;
      }

      &:focus {
        background-color: $segment-medium-app-shade-20;
        color: white;
      }
    }
  }

  &.business-large {
    background-color: $segment-large-app;

    &:active {
      background-color: $segment-large-app-shade-40;
    }

    &.dark-background {
      background: white;
      color: $segment-large-app;

      &:hover {
        color: white;
      }
    }

    &:hover, :focus {
      background-color: $segment-large-app-shade-20;
    }

    &.secondary,
    &.tertiary {
      background-color: transparent;
      color: $segment-large-app;

      &:hover {
        color: $segment-large-app-shade-20;
      }
    }

    &.secondary {
      border: 2px solid $segment-large-app;

      &:hover {
        background-color: $segment-large-app-shade-20;
        border-color: $segment-large-app-shade-20;
        color: white;
      }

      &:focus {
        background-color: $segment-large-app-shade-20;
        color: white;
      }
    }
  }

  &.disabled {
    background-color: $slate-tint-90;
    color: $black-30;

    &:hover {
      background-color: $slate-tint-90;
      color: $black-30;
      cursor: not-allowed;
    }

    &.secondary {
      background-color: transparent;
      border-color: $slate-tint-90;

      &:hover, &:focus {
        background-color: transparent;
        color: $black-20;
      }
    }

    &.tertiary {
      background-color: transparent;

      &:hover {
        background-color: transparent;
        text-decoration: none;
      }
    }
  }

  &.destructive {
    background-color: $red;
    color: white;

    &:hover {
      background-color: $red-shade-20;
      color: white;
    }

    &.secondary {
      background-color: transparent;
      border-color: $red;
      color: $red;

      &:hover {
        background-color: $red-shade-20;
        border-color: $red-shade-20;
        color: white;
      }

      &:focus {
        background-color: $red-shade-20;
        color: white;
      }
    }

    &.tertiary {
      background-color: transparent;
      color: $red;

      &:hover {
        background-color: transparent;
        color: $red-shade-20;
      }
    }
  }

  &.marketing {
    background: $segment-generic;
    border-width: 1px;
    font-family: 'Adelle Sage', sans-serif;
    font-size: 16px;
    font-weight: 400;

    &:hover {
      background-color: $segment-generic-shade-20;
    }

    &.secondary,
    &.tertiary {
      background-color: transparent;
      color: $segment-generic;

      &:hover {
        color: $segment-generic-shade-20;
      }
    }

    &.secondary {
      border: 2px solid $segment-generic;

      &:hover {
        background-color: $segment-generic-shade-20;
        border-color: $segment-generic-shade-20;
        color: white;
      }
    }

    &.size-small {
      width: 128px;
    }

    &.size-large {
      width: 256px;
    }

    &.business-small {
      background: $segment-small;

      &:hover {
        background: $segment-small-shade-20;
      }

      &.secondary,
      &.tertiary {
        background-color: transparent;
        color: $segment-small;

        &:hover {
          color: $segment-small-shade-20;
        }
      }

      &.secondary {
        border: 2px solid $segment-small;

        &:hover {
          background-color: $segment-small-shade-20;
          border-color: $segment-small-shade-20;
          color: white;
        }
      }
    }

    &.business-medium {
      background: $segment-medium;

      &:hover {
        background: $segment-medium-shade-20;
      }

      &.secondary,
      &.tertiary {
        background-color: transparent;
        color: $segment-medium;

        &:hover {
          color: $segment-medium-shade-20;
        }
      }

      &.secondary {
        border: 2px solid $segment-medium;

        &:hover {
          background-color: $segment-medium-shade-20;
          border-color: $segment-medium-shade-20;
          color: white;
        }
      }
    }

    &.business-large {
      background: $segment-large;

      &:hover {
        background: $segment-large-shade-20;
      }

      &.secondary,
      &.tertiary {
        background-color: transparent;
        color: $segment-large;

        &:hover {
          color: $segment-large-shade-20;
        }
      }

      &.secondary {
        border: 2px solid $segment-large;

        &:hover {
          background-color: $segment-large-shade-20;
          border-color: $segment-large-shade-20;
          color: white;
        }
      }
    }

    &.dark-background {
      background: white;
      color: $black-90;

      &:hover {
        background: white;
        color: $black-90;
      }

      &.secondary {
        background-color: transparent;
        border: 2px solid white;
        color: white;

        &:hover {
          background-color: transparent;
          border: 2px solid white;
          color: white;
        }
      }
    }
  }

  &.split-button {
    left: -2px;
    margin-right: 16px;
    padding: 0 8px;
    position: relative;

    ul {
      position: absolute;
      right: -2px;
      top: 36px;
      visibility: hidden;
    }

    li {
      height: 40px;
      line-height: 40px;
      padding: 0 24px;
      white-space: nowrap;
    }

    &:hover {
      ul {
        visibility: visible;

        li {
          background-color: $segment-generic-app-shade-20;

          &:hover {
            background-color: $segment-generic-app-shade-40;
          }
        }
      }
    }

    &.business-small {
      ul {
        li {
          background-color: $segment-small-app-shade-20;

          &:hover {
            background-color: $segment-small-app-shade-40;
          }
        }
      }
    }

    &.business-medium {
      ul {
        li {
          background-color: $segment-medium-app-shade-20;

          &:hover {
            background-color: $segment-medium-app-shade-40;
          }
        }
      }
    }

    &.business-large {
      ul {
        li {
          background-color: $segment-large-app-shade-20;

          &:hover {
            background-color: $segment-large-app-shade-40;
          }
        }
      }
    }
  }

  &.split-button-main {
    margin-right: 0px !important;
  }

  &.multi-button {
    position: relative;

    ul {
      left: -2px;
      position: absolute;
      top: 36px;
      visibility: hidden;
    }

    li {
      height: 40px;
      line-height: 40px;
      padding: 0 24px;
      white-space: nowrap;
    }

    &:hover {
      ul {
        visibility: visible;

        li {
          background-color: $segment-generic-app-shade-20;

          &:hover {
            background-color: $segment-generic-app-shade-40;
          }
        }
      }
    }

    &.business-small {
      ul {
        li {
          background-color: $segment-small-app-shade-20;

          &:hover {
            background-color: $segment-small-app-shade-40;
          }
        }
      }
    }

    &.business-medium {
      ul {
        li {
          background-color: $segment-medium-app-shade-20;

          &:hover {
            background-color: $segment-medium-app-shade-40;
          }
        }
      }
    }

    &.business-large {
      ul {
        li {
          background-color: $segment-large-app-shade-20;

          &:hover {
            background-color: $segment-large-app-shade-40;
          }
        }
      }
    }
  }

  @mixin button-bar-margin {
    @for $i from 2 through 10 {
      &:nth-child(#{$i}) {
        left: #{($i - 1) * -2}px;
        position: relative;
      }
    }
  }

  &.button-bar {
    margin-right: 0px !important;
    @include button-bar-margin;
  }
}

.wizard-content {
  .tab-pane {
    display: none;
  }

  .tab-pane-active {
    display: block;
  }
}

.button-dark-background {
  background-color: $slate;
}
