// BLACK
$black-100:                     rgba(0,0,0,1);
$black-90:                      rgba(0,0,0,0.90);
$black-74:                      rgba(0,0,0,0.74);
$black-65:                      rgba(0,0,0,0.65);
$black-60:                      rgba(0,0,0,0.60);
$black-55:                      rgba(0,0,0,0.55);
$black-30:                      rgba(0,0,0,0.30);
$black-20:                      rgba(0,0,0,0.20);
$black-5:                       rgba(0,0,0,0.05);

//WHITE
$white:                         rgba(255,255,255,1);
$white-55:                      rgba(255,255,255,0.55);
$white-10:                      rgba(255,255,255,0.1);
$white-5:                       rgba(255,255,255,0.05);

// GREEN
$green-brilliant:               #00DC00;

// Core Colour values
$segment-small:                 #00A376;
$segment-medium:                #0077C8;
$segment-large:                 #582C83;
$segment-generic:               #009900;

//Marketing Hover
$segment-small-shade-20: mix(black, $segment-small, 20);
$segment-medium-shade-20: mix(black, $segment-medium, 20);
$segment-large-shade-20: mix(black, $segment-large, 20);
$segment-generic-shade-20: mix(black, $segment-generic, 20);

// App versions
$segment-small-app:             mix(black, $segment-small, 21);
$segment-medium-app:            mix(black, $segment-medium, 3);
$segment-large-app:             mix(white, $segment-large, 10);
$segment-generic-app:           mix(black, $segment-generic, 15);

// App Hover
$segment-small-app-shade-20:    mix(black, $segment-small-app, 20);
$segment-medium-app-shade-20:   mix(black, $segment-medium-app, 20);
$segment-large-app-shade-20:    mix(black, $segment-large-app, 10);
$segment-generic-app-shade-20:  mix(black, $segment-generic-app, 20);

// App Hover Special
$segment-small-app-shade-40:    mix(black, $segment-small-app, 40);
$segment-medium-app-shade-40:   mix(black, $segment-medium-app, 40);
$segment-large-app-shade-40:    mix(black, $segment-large-app, 30);
$segment-generic-app-shade-40:  mix(black, $segment-generic-app, 40);

// GOLD
$gold:                          #FFB500;
$gold-tint-30:                 mix(white, $gold, 30);

// CARROT

$carrot:                        #E96400;

// RED
$red:                           #C7384F;
$red-shade-20:                  mix(black, $red, 20);

// SLATE
$slate:                         #003349;

// Slate Tints
$slate-tint-97:                 mix(white, $slate, 97) !default;
$slate-tint-95:                 mix(white, $slate, 95) !default;
$slate-tint-90:                 mix(white, $slate, 90) !default;
$slate-tint-85:                 mix(white, $slate, 85) !default;
$slate-tint-80:                 mix(white, $slate, 80) !default;
$slate-tint-75:                 mix(white, $slate, 75) !default;
$slate-tint-70:                 mix(white, $slate, 70) !default;
$slate-tint-60:                 mix(white, $slate, 60) !default;
$slate-tint-50:                 mix(white, $slate, 50) !default;
$slate-tint-40:                 mix(white, $slate, 40) !default;
$slate-tint-30:                 mix(white, $slate, 30) !default;
$slate-tint-25:                 mix(white, $slate, 25) !default;
$slate-tint-20:                 mix(white, $slate, 20) !default;
$slate-tint-15:                 mix(white, $slate, 15) !default;
$slate-tint-10:                 mix(white, $slate, 10) !default;
$slate-tint-5:                  mix(white, $slate, 5)  !default;

// Slate Shades
$slate-shade-90:                 mix(black, $slate, 90) !default;
$slate-shade-80:                 mix(black, $slate, 80) !default;
$slate-shade-70:                 mix(black, $slate, 70) !default;
$slate-shade-60:                 mix(black, $slate, 60) !default;
$slate-shade-50:                 mix(black, $slate, 50) !default;
$slate-shade-40:                 mix(black, $slate, 40) !default;
$slate-shade-30:                 mix(black, $slate, 30) !default;
$slate-shade-20:                 mix(black, $slate, 20) !default;
$slate-shade-10:                 mix(black, $slate, 10) !default;

// AZUL
$azul:                           #004B87;

// PLUM
$plum:                           #8246AF;

// FUCHSIA
$fuchsia:                        #CE0058;

// EDITED USAGE
$green-positive:                 mix(black, $green-brilliant, 20);
$red-negative:                   $red;
$tooltip:                        mix(black, $slate, 40);

// Shadows
$card: 0 3px 3px 0 rgba($slate-shade-60,0.2), 0 2px 4px 0 rgba($slate-shade-60,0.15);
$shadow-depth-1: 0 5px 5px 0 rgba($slate-shade-60,0.2), 0 10px 10px 0 rgba($slate-shade-60,0.1);
$shadow-depth-2: 0 10px 20px 0 rgba($slate-shade-60,0.2), 0 20px 40px 0 rgba($slate-shade-60,0.1);
$shadow-depth-3: 0 10px 30px 0 rgba($slate-shade-60,0.1), 0 30px 60px 0 rgba($slate-shade-60,0.1);
$shadow-depth-4: 0 10px 40px 0 rgba($slate-shade-60,0.04), 0 50px 80px 0 rgba($slate-shade-60,0.1);
