.header {
  background: white;
  border-bottom: 1px solid $slate-tint-80;
  box-shadow: none;
  display: flex;
  flex-flow: row nowrap;
  height: 48px;
  position: fixed;
  transition: all 0.2s ease;
  justify-content: space-between;
  width: 100vw;
  z-index: 1;

  .sticky-navigation & {
    box-shadow: $shadow-depth-1;
  }

  .logo-container {
    order: 1;
    padding-left: 40px;
  }

  .action-global-search {
    cursor: pointer;
    height: 16px;
    margin: auto 40px auto 0px;
    order: 2;
    padding: 8px;
    position: relative;
    width: 16px;

    .icon {
      left: -8px;
      position: relative;
      top: -9px;

      &:before {
        color: $black-55;
      }
    }
  }
}
