@keyframes animate-segment {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

body.homepage {
  align-items: center;
  background: linear-gradient(-45deg, #00A376 0%, #0077C8 50%, #582C83 100%);
  display: flex;

  #gradient {
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
  }

  .homepage-wrapper {
    margin: auto;
    max-width: 900px;
    position: relative;
    transition: opacity 0.2s ease;
    z-index: 2;

    .logo-container {
      justify-content: center;
      margin-bottom: 40px;
    }

    .sub-title {
      color: white;
      font-size: 18px;
      font-weight: 400;
      line-height: 27px;
      margin: 0px auto 56px;
      text-align: center;
    }
  }

  .segments {
    display: flex;
    height: 50vh;
    margin: auto;
    max-width: 1000px;
    padding: 0px 32px;
    width: 100%;

    .segment {
      animation: animate-segment 0.5s 1 ease forwards;
      margin-right: 32px;
      opacity: 0;
      position: relative;
      width: 30%;

      &:last-child {
        margin-right: 0;
      }

      h3 {
        margin-bottom: 24px;
        text-align: center;
      }

      .segment-link {
        background: white;
        box-shadow: $card;
        color: $black-90;
        display: block;
        font-weight: 400;
        padding-top: 24px;
        text-decoration: none;
        transition: all 0.2s cubic-bezier(0.250, 0.250, 0.000, 1.500);

        &:hover {
          box-shadow: $shadow-depth-2;
          transform: scale(1.02);
        }

        p {
          background: $slate-tint-95;
          padding: 24px;
        }
      }

      .segment-icon {
        height: 60px;
        margin: 0px auto 16px;
        width: 70px;
      }

      &.foundations-segment {
        animation-delay: 0.3s;

        .segment-icon {
          background: url('../visuals/icon-foundations.svg');
        }
      }

      &.components-segment {
        animation-delay: 0.5s;

        .segment-icon {
          background: url('../visuals/icon-components.svg');
        }
      }

      &.hero-flows-segment {
        animation-delay: 0.7s;

        .segment-icon {
          background: url('../visuals/icon-heroes.svg');
        }
      }

      &.content-segment {
        animation-delay: 0.9s;

        .segment-icon {
          background: url('../visuals/icon-content.svg');
        }
      }
    }
  }
}
