.logo-container {
  display: flex;
  padding-top: 10px;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  .sage-logo {
    height: 24px;
    position: relative;
    top: 4px;
  }

  .text-logo {
    //border-left: 1px solid rgba(white, .3);
    //color: white;
    border-left: 1px solid $black-30;
    color: $black-55;
    font-family: 'Adelle Sans Sage';
    font-size: 16px;
    font-weight: 700;
    height: 28px;
    line-height: 21px;
    margin-left: 16px;
    padding: 2px 16px;
    white-space: nowrap;
  }
}

.homepage-wrapper {
  .sage-logo {
    height: 26px;
    position: relative;
    top: 8px;
  }

  .text-logo {
    border-color: white;
    color: white;
    font-size: 24px;
    font-weight: 400;
    height: 38px;
    padding: 7px 16px;
    margin-left: 16px;
  }
}

.header-example > .logo-container > .text-logo {
  color: rgba(0,0,0,.55);
  border-left: 1px solid rgba(0,0,0,.30);
  font-weight: 700;
}
