.navigation-container {
  font-size: 16px;
  font-weight: 700;
  padding-top: 80px;

  a {
    text-decoration: none;
    display: block;
    width: 100%;

    &:focus {
      background-color: transparent;
      outline: 3px solid $gold;
      outline-offset: 0;
    }
  }

  .primary-menu {
    background: transparent;
    box-shadow: none;
    display: flex;
    flex-wrap: wrap;
    left: 40px;
    position: absolute;
    width: 219px;

    li {
      color: $black-90;
      cursor: pointer;
      display: none;
      font-weight: 600;
      order: 1;
      margin: 4px 0px;
      padding: 16px 0px 16px 32px;
      width: 100%;

      &.selected {
        display: block;
        font-weight: bold;
        order: 0;
        padding: 18px 0px 24px 16px;
        width: 100%;
        font-size: 22px;

        &:hover {
          background: mix(white, $slate, 90);
        }

        &:after {
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-top: 6px solid $black-90;
          content: " ";
          height: 0;
          left: 14px;
          position: relative;
          top: 22px;
          width: 0;
        }
      }
    }

    // menu open
    &.visible {
      background: white;
      box-shadow: 0 10px 20px 0 rgba($slate-shade-60,0.3), 0 20px 40px 0 rgba($slate-shade-60,0.2), inset 0 0 1px 0 rgba($slate-shade-60,0.3);

      li {
        color: $black-90;
        display: block;
        font-size: 16px;

        &:hover {
          background: mix(white, $slate, 90);
          color: $black-90;
        }

        &.selected {
          font-size: 22px;

          &:hover {
            background-color: white;
            color: $black-90;
          }

          &:after {
            border-top: 6px solid black;
          }
        }
      }
    }
  }

  // Secondary Menu
  .secondary-menu {
    display: none;
    margin-top: 72px;
    padding: 0 0 56px 40px;

    .current-page {
      background-color: white;
      border-right: 6px solid $segment-generic-app-shade-40;
      color: rgba(0,0,0,0.85);
    }

    li a {
      color: $black-65;
      font-size: 14px;
      font-weight: 900;
      list-style: none;
      max-width: 212px;
      padding: 16px 0px 16px 16px;

      &:hover {
        background: mix(white, $slate, 90);
        color: $black-90;
        outline: none;
      }
    }

    &.visible {
      display: block;
    }
  }
}
