%nav-selected {
  a {
    background: mix(white, $slate, 85);
    border-left: solid 4px $segment-generic;
    color: $black-90;
  }
}

.navigation-container .secondary-menu {
  li a {
    //border-right: 4px solid transparent;
  }

  // Foundations
  .menu-foundations-summary { [data-secondary-menu="foundations-summary"] & { @extend %nav-selected; } }
  .menu-principles { [data-secondary-menu="principles"] & { @extend %nav-selected; } }
  .menu-accessibility { [data-secondary-menu="accessibility"] & { @extend %nav-selected; } }
  .menu-colour { [data-secondary-menu="colour"] & { @extend %nav-selected; } }
  .menu-cursor { [data-secondary-menu="cursor"] & { @extend %nav-selected; } }
  .menu-grid { [data-secondary-menu="grid"] & { @extend %nav-selected; } }
  .menu-icons { [data-secondary-menu="icons"] & { @extend %nav-selected; } }
  .menu-illustration { [data-secondary-menu="illustration"] & { @extend %nav-selected; } }
  .menu-logo { [data-secondary-menu="logo"] & { @extend %nav-selected; } }
  .menu-shadows { [data-secondary-menu="shadows"] & { @extend %nav-selected; } }
  .menu-spatial { [data-secondary-menu="spatial"] & { @extend %nav-selected; } }
  .menu-text-font { [data-secondary-menu="text-font"] & { @extend %nav-selected; } }

  // Components
  .menu-components-summary { [data-secondary-menu="components-summary"] & { @extend %nav-selected; } }
  .menu-accordions { [data-secondary-menu="accordions"] & { @extend %nav-selected; } }
  .menu-action-popovers { [data-secondary-menu="action-popovers"] & { @extend %nav-selected; } }
  .menu-button-bar { [data-secondary-menu="button-bar"] & { @extend %nav-selected; } }
  .menu-button-toggle { [data-secondary-menu="button-toggle"] & { @extend %nav-selected; } }
  .menu-buttons { [data-secondary-menu="buttons"] & { @extend %nav-selected; } }
  .menu-cards-tiles { [data-secondary-menu="cards-tiles"] & { @extend %nav-selected; } }
  .menu-carousel { [data-secondary-menu="carousel"] & { @extend %nav-selected; } }
  .menu-checkboxes { [data-secondary-menu="checkboxes"] & { @extend %nav-selected; } }
  .menu-datepicker { [data-secondary-menu="datepicker"] & { @extend %nav-selected; } }
  .menu-date-range { [data-secondary-menu="date-range"] & { @extend %nav-selected; } }
  .menu-decimal-inputs { [data-secondary-menu="decimal-inputs"] & { @extend %nav-selected; } }
  .menu-dialogs { [data-secondary-menu="dialogs"] & { @extend %nav-selected; } }
  .menu-dropdowns { [data-secondary-menu="dropdowns"] & { @extend %nav-selected; } }
  .menu-fieldsets { [data-secondary-menu="fieldsets"] & { @extend %nav-selected; } }
  .menu-flashes { [data-secondary-menu="flashes"] & { @extend %nav-selected; } }
  .menu-full-screen-dialogs { [data-secondary-menu="full-screen-dialogs"] & { @extend %nav-selected; } }
  .menu-header { [data-secondary-menu="header"] & { @extend %nav-selected; } }
  .menu-links { [data-secondary-menu="links"] & { @extend %nav-selected; } }
  .menu-messages { [data-secondary-menu="messages"] & { @extend %nav-selected; } }
  .menu-multi-action-buttons { [data-secondary-menu="multi-action-buttons"] & { @extend %nav-selected; } }
  .menu-navigation { [data-secondary-menu="navigation"] & { @extend %nav-selected; } }
  .menu-number-inputs { [data-secondary-menu="number-inputs"] & { @extend %nav-selected; } }
  .menu-pills-badges { [data-secondary-menu="pills-badges"] & { @extend %nav-selected; } }
  .menu-punctuated-inputs { [data-secondary-menu="punctuated-inputs"] & { @extend %nav-selected; } }
  .menu-global-search-bar { [data-secondary-menu="global-search-bar"] & { @extend %nav-selected; } }
  .menu-radios { [data-secondary-menu="radios"] & { @extend %nav-selected; } }
  .menu-spinners { [data-secondary-menu="spinners"] & { @extend %nav-selected; } }
  .menu-sidebar { [data-secondary-menu="sidebar"] & { @extend %nav-selected; } }
  .menu-split-buttons { [data-secondary-menu="split-buttons"] & { @extend %nav-selected; } }
  .menu-switches { [data-secondary-menu="switches"] & { @extend %nav-selected; } }
  .menu-tables { [data-secondary-menu="tables"] & { @extend %nav-selected; } }
  .menu-tabs { [data-secondary-menu="tabs"] & { @extend %nav-selected; } }
  .menu-text-inputs { [data-secondary-menu="text-inputs"] & { @extend %nav-selected; } }
  .menu-textareas { [data-secondary-menu="textareas"] & { @extend %nav-selected; } }
  .menu-step-flows { [data-secondary-menu="step-flows"] & { @extend %nav-selected; } }

  // Patterns
  .menu-patterns-summary { [data-secondary-menu="patterns-summary"] & { @extend %nav-selected; } }
  .menu-empty-states { [data-secondary-menu="empty-states"] & { @extend %nav-selected; } }
  .menu-errors-validation { [data-secondary-menu="errors-validation"] & { @extend %nav-selected; } }
  .menu-forms { [data-secondary-menu="forms"] & { @extend %nav-selected; } }
  .menu-help-tooltips { [data-secondary-menu="help-tooltips"] & { @extend %nav-selected; } }
  .menu-hero-banners { [data-secondary-menu="hero-banners"] & { @extend %nav-selected; } }
  .menu-ipd-tooltips { [data-secondary-menu="ipd-tooltips"] & { @extend %nav-selected; } }
  .menu-ipd-notifications { [data-secondary-menu="ipd-notifications"] & { @extend %nav-selected; } }
  .menu-product-compare { [data-secondary-menu="product-compare"] & { @extend %nav-selected; } }
  .menu-live-chat { [data-secondary-menu="live-chat"] & { @extend %nav-selected; } }
  .menu-timeline { [data-secondary-menu="timeline"] & { @extend %nav-selected; } }
  .menu-ftu { [data-secondary-menu="ftu"] & { @extend %nav-selected; } }

  // Hero Flows
  .menu-heroes-summary { [data-secondary-menu="heroes-summary"] & { @extend %nav-selected; } }
  .menu-connect-bank { [data-secondary-menu="connect-bank"] & { @extend %nav-selected; } }
  .menu-create-invoice { [data-secondary-menu="create-invoice"] & { @extend %nav-selected; } }
  .menu-dashboards { [data-secondary-menu="dashboards"] & { @extend %nav-selected; } }
  .menu-payment { [data-secondary-menu="payment"] & { @extend %nav-selected; } }

  // Salesforce
  .menu-salesforce-summary { [data-secondary-menu="salesforce-summary"] & { @extend %nav-selected; } }

  // Content
  .menu-content-summary { [data-secondary-menu="content-summary"] & { @extend %nav-selected; } }
  .menu-content-principles { [data-secondary-menu="content-principles"] & { @extend %nav-selected; } }
  .menu-content-voice-and-tone { [data-secondary-menu="content-voice"] & { @extend %nav-selected; } }
  .menu-content-words { [data-secondary-menu="content-words"] & { @extend %nav-selected; } }
  .menu-content-advice-for-writing { [data-secondary-menu="content-advice"] & { @extend %nav-selected; } }
  .menu-content-writing-content-types { [data-secondary-menu="content-types"] & { @extend %nav-selected; } }
  .menu-content-structuring-content { [data-secondary-menu="content-structure"] & { @extend %nav-selected; } }
  .menu-content-style { [data-secondary-menu="content-style"] & { @extend %nav-selected; } }

  // Mobile
  .menu-mobile-summary { [data-secondary-menu="mobile-summary"] & { @extend %nav-selected; } }
  .menu-components { [data-secondary-menu="components"] & { @extend %nav-selected; } }
  .menu-create { [data-secondary-menu="create"] & { @extend %nav-selected; } }
  .menu-errors{ [data-secondary-menu="errors"] & { @extend %nav-selected; } }
  .menu-mobile-header-bar { [data-secondary-menu="mobile-header-bar"] & { @extend %nav-selected; } }
  .menu-navigation { [data-secondary-menu="navigation"] & { @extend %nav-selected; } }
  .menu-actions { [data-secondary-menu="actions"] & { @extend %nav-selected; } }
  .menu-typography { [data-secondary-menu="typography"] & { @extend %nav-selected; } }

  // Windows
  .menu-windows-summary { [data-secondary-menu="windows-summary"] & { @extend %nav-selected; } }
  .menu-windows-appbar { [data-secondary-menu="windows-appbar"] & { @extend %nav-selected; } }
  .menu-windows-app-icons { [data-secondary-menu="windows-icons"] & { @extend %nav-selected; } }
  .menu-windows-foundations { [data-secondary-menu="windows-foundations"] & { @extend %nav-selected; } }
  .menu-windows-interface { [data-secondary-menu="windows-interface"] & { @extend %nav-selected; } }
  .menu-windows-navigation { [data-secondary-menu="windows-navigation"] & { @extend %nav-selected; } }
  .menu-windows-splash-screens { [data-secondary-menu="windows-splash-screens"] & { @extend %nav-selected; } }
  .menu-windows-wizards { [data-secondary-menu="windows-wizards"] & { @extend %nav-selected; } }

  // Community
  .menu-community-backlog { [data-secondary-menu="community-backlog"] & { @extend %nav-selected; } }
  .menu-community-propose-component { [data-secondary-menu="community-propose-component"] & { @extend %nav-selected; } }
  // .menu-community-extend-component { [data-secondary-menu="community-extend-component"] & { @extend %nav-selected; } }
}
