.screenshots {
  margin: 78px 0px;
  position: relative;
  max-width: 1000px;

  .screenshot-device {
    background: white;
    overflow: hidden;

    &.device-desktop {
      box-shadow: $card;
      border-radius: 4px;
      max-width: 660px;

      .device-header {
        background: $slate-tint-90;
        display: flex;
        height: 40px;

        .device-actions {
          display: flex;
          justify-content: space-between;
          padding: 13px 0 0 16px;

          .action {
            background: $slate-tint-75;
            border-radius: 50%;
            height: 12px;
            margin-right: 10px;
            width: 12px;
          }
        }

        .search-bar {
          background: white;
          border: 1px solid $slate-tint-85;
          height: 25px;
          margin: 7px 0 0 10px;
          width: 85%;
        }
      }

      .device-screen {
        background: url('../visuals/screenshots/app.png') top left no-repeat;
        background-size: cover;
        height: 445px;
      }
    }


    &.device-tablet {
      box-shadow: $shadow-depth-2;
      border-radius: 16px;
      border: 10px solid white;
      width: 600px;
      position: absolute;
      right: 80px;
      bottom: 50px;

      .device-header {
        background: white;
        display: flex;
        height: 30px;

        .device-actions {
          display: flex;
          justify-content: space-between;
          padding: 13px 0 0 16px;

          .action {
            background: $slate-tint-75;
            border-radius: 50%;
            height: 12px;
            margin-right: 10px;
            width: 12px;
          }
        }
      }

      .device-screen {
        background: url('../visuals/screenshots/app-tablet.png') top left no-repeat;
        background-size: cover;
        height: 325px;
      }
    }

    &.device-mobile {
      box-shadow: $shadow-depth-4;
      border-radius: 12px;
      border: 3px solid white;
      width: 200px;
      position: absolute;
      right: 24%;
      bottom: -30px;
      z-index: 3;

      .device-header {
        background: white;
        display: flex;
        height: 30px;

        .device-actions {
          display: flex;
          justify-content: space-between;
          padding: 13px 0 0 16px;

          .action {
            background: $slate-tint-75;
            border-radius: 50%;
            height: 8px;
            margin-right: 10px;
            width: 8px;
          }
        }
      }

      .device-screen {
        background: url('../visuals/screenshots/app-mobile.png') top left no-repeat;
        background-size: cover;
        height: 350px;
      }
    }


  }
}
