.dls-table {
  background-color: white;
  border: 1px solid $slate-tint-80;
  margin-bottom: 32px;
  width: 100%;

  .width-150 {
    width: 150px;
  }

  th {
    background-color: $slate-tint-95;
    font-size: 12px;
    font-weight: 700;
    height: 56px;
  }

  tr {
    height:40px;
  }

  th, td {
    border: 1px solid #CCD6DB;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 21px;
    margin-left: 8px;
    padding: 16px;
    text-align: left;
    vertical-align: middle;

  }

  .right-align {
    text-align: right;
  }
}

.pod-table {
  width: 100%;

  th {
    background-color: #FFF;
    font-weight: 700;
    height: 56px;
  }

  th,td {

    font-family:'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 21px;
    margin-left: 8px;
    padding: 16px;
    text-align: left;
    vertical-align: middle;
  }

  td {
    vertical-align: middle;
  }

  .right {
    float: right;
    text-align: right;
  }
}

td {
  p, h1, h2, h3, h4, h5, h6, h7 {
    margin: 0px;
    padding: 0px;
  }
}

.dls-product-compare {
  font-family: Adelle Sage;
  font-size: 18px;

  tr {
    border-bottom: 1px solid #CCCCCC;
    border-spacing: 20px;

    &:first-of-type {
      border-bottom: 4px solid $segment-generic;
      font-weight: 700;
    }

    th, td {
      padding: 18px;

      &.dls-product-compare-spacer {
        padding: 0px;
        width: 8px;
      }

      &:nth-of-type(even) {
        background-color: $white-5;
        text-align: center;
        vertical-align: middle;
        width: 190px;
      }

      &:first-of-type {
        width: 330px;
      }

      .dls-product-compare-title {
        font-size: 18px;
      }

      .dls-product-compare-detail {
        color: $black-55;
        font-size: 14px;
      }

      .icon-tick {
        color: $slate;
      }

      .icon-tick::before {
        font-size: 26px;
      }
    }
  }
}

.dls-do-dont-wrapper {
  margin-top: 59px;
  max-width: 1000px;

  .dls-do, .dls-dont, .dls-neutral {
    display: inline-block;
    margin: 0px 28px 35px 0px;
    vertical-align: top;

    .dls-img {
      align-items: center;
      background-color: white;
      border: 1px solid $slate-tint-80;
      display: flex;
      height: 360px;
      padding: 0px 32px;
      width: 360px;

      img {
        margin: auto;
        max-height: 90%;
        max-width: 90%;
      }

      img + img {
        margin-left: 32px;
      }

      &.small {
        height: 290px;
        width: 290px;
      }

      &.large {
        height: 450px;
        width: 100%;
      }
    }

    figcaption {
      margin-top: 26px;
      width: 360px;

      &.caption-left {
        display: inline-block;
        float: left;
        width: 50%;
      }

      &.caption-right {
        display: inline-block;
        float: right;
        width: 50%;
      }

      &.caption-fullwidth {
        width: 100%;

        figcaption, p {
          max-width: 100%;
          width: 100%;
        }
      }

      .span-do {
        color: $green-positive;
        font-weight: 700;
      }
      .span-dont {
        color: $red;
        font-weight: 700;
      }
    }

    .small + figcaption {
      width: 290px;
    }

  }
  .dls-do > .dls-img {
    border-left: 8px solid $green-positive;
  }

  .dls-do > .dls-img::after, .dls-dont > .dls-img::after {
    bottom: -42%;
    font-family: CarbonIcons;
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    position: relative;
    right: 5%;
  }

  .dls-do > .dls-img::after {
    color: $green-positive;
    content: "\e950";
  }

  .dls-dont > .dls-img::after {
    color: $red;
    content: "\e91d";
  }

  .dls-dont > .dls-img {
    border-left: 8px solid $red;
  }
}
