.content-tab {
  ul {
    border-bottom: 2px solid $slate-tint-85;
    margin: 16px 0px 16px 0px;
    width: 100%;
    padding: 8px 0px;
  }

  li:first-of-type {
    margin-left: 0px;
  }

  li {

    color: $black-55;
    cursor: pointer;
    display: inline;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    margin: 8px;
    padding: 8px 0px;

    &.selected {
      border-bottom: 2px solid $segment-generic-app;
      color: $black-90;

      &:hover {
        border-bottom: 2px solid $segment-generic-app;

        color: $black-90;
      }
    }

    &:hover {
      border-bottom: 2px solid mix(white, $segment-generic-app, 50);
      color: $black-90;
    }
  }
}

.secondary-tab {
  display: none;
  padding-top: 32px;

  &.visible {
    display: block;
  }
}
