a {
  color: $segment-generic-app;
  text-decoration: none;

  &:hover {
    color: $segment-generic-app-shade-20;
    text-decoration: underline;
  }
}

h1, h2, h3 {
  font-family: 'Adelle Sans Sage', sans-serif;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 46px;
  margin-bottom: 52px;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 21px;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 32px;
}

h4 {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 16px;
}

label {
  display: block;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  margin-bottom: 8px;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 24px;
  max-width: 600px;

  &.summary {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 48px;
  }

  &.small-header-capitals {
    color: $black-55;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    margin: 0px;
    text-transform: uppercase;
  }

  &.highlight {
    font-weight: 700;
  }
}

span.highlight {
  font-weight: 700;
}

.font-adelle-sage {
  font-family: 'Adelle Sage';
  font-weight: 400;
}

.font-adelle-sans {
  font-family: 'Adelle Sans Sage';
  font-weight: 400;
}

.font-open-sans {
  font-family: 'Open Sans';
  font-weight: 400;
}

.font-apple-sf {
  font-family: 'Adelle Sans';
  font-weight: 400;
}

.font-roboto {
  font-family: 'Roboto';
  font-weight: 400;
}
