$timeline-color: $slate;

.dls-timeline {
  .sub-heading {
    margin-left: 0;
    text-align: left;
  }

  .updates-timeline {
    list-style-type: none;
    margin-left: 30px;
    margin-top: 20px;
    position: relative;

    &:before {
      background: linear-gradient(180deg, $timeline-color 86%, rgba($timeline-color, 0) 100%);
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      width: 2px;
    }

    &:after {
      content: '';
      display: block;
      height: 200px;
      position: absolute;
      bottom: 0;
      width: 2px;
    }

    li {
      padding: 0;
      position: relative;

      &:first-child {
        padding: 0;
      }
    }

    .timeline-year-break {
      background: $timeline-color;
      color: white;
      display: inline-block;
      font-size: 16px;
      font-weight: 700;
      left: -30px;
      padding: 5px 10px;
      position: relative;
      text-align: center;
      z-index: 1;
    }

    .timeline-date {
      margin-bottom: 24px;

      .timeline-date-container {
        background: linear-gradient(180deg, white 0%, $slate-tint-97 100%);
        box-shadow: $shadow-depth-1;
        display: inline-block;
        height: 56px;
        margin: 0 0 0 64px;
        padding: 10px 15px 7px 15px;
        position: relative;
        width: 64px;

        &:before {
          background-color: $slate-tint-80;
          content: '';
          display: block;
          position: absolute;
          height: 1px;
          left: -60px;
          top: 31px;
          width: 60px;
        }

        &:after {
          background-color: $timeline-color;
          border: 3px solid $slate-tint-95;
          content: '';
          display: block;
          height: 16px;
          left: -74px;
          position: absolute;
          top: 21px;
          width: 16px;
        }

        .day {
          font-size: 22px;
          font-weight: bold;
          line-height: 22px;
          text-align: center;

          &:before {
            background-color: $segment-medium;
            content: '';
            display: block;
            height: 5px;
            left: 0px;
            position: absolute;
            top: 0px;
            width: 100%;
          }
        }

        .month {
          color: $black-55;
          font-size: 14px;
          font-weight: bold;
          line-height: 16px;
          margin-top: 2px;
          text-align: center;
          text-transform: uppercase;
        }

        .date-extra-info {
          background: linear-gradient(90deg, $slate-tint-90 0%, rgba($slate-tint-90, 0) 100%);
          color: $black-65;
          font-size: 12px;
          left: 64px;
          opacity: 0;
          padding: 8px 16px;
          position: absolute;
          top: 7px;
          transition: all 0.3s ease;
          z-index: 1;

          .week-day {
            line-height: 13px;
          }

          .year {
            font-size: 16px;
            font-weight: bold;
            line-height: 18px;
          }
        }

        &:hover {
          cursor: default;

          .date-extra-info {
            left: 68px;
            opacity: 1;
          }
        }
      }
    }

    .timeline-feature-container {
      padding: 0 0 64px 64px;
      position: relative;
    }
  }
}
