.foundations-colour, .components-text-inputs {

  .colors-container {
    display: flex;
    flex-wrap: wrap;

    .color-container {
      margin-bottom: 56px;
      margin-right: 40px;
      text-align: center;
      width: 20%;

      .color-title-segment {
        font-weight: 700;


        + .color-usage-segment {
          font-size: 13px;
          margin-top: 8px;
        }
      }
    }
  }

  .colour-block {
    border: 1px solid transparent;
    color: white;
    font-weight: 600;
    height: 48px;
    line-height: 46px;
    margin: 16px auto;
    text-align: center;
    width: 130px;
  }

  // Colors
  .color-small-marketing    { background-color: $segment-small;}
  .color-medium-marketing   { background-color: $segment-medium; }
  .color-large-marketing    { background-color: $segment-large; }
  .color-generic-marketing    { background-color: $segment-generic;}
  .color-small-app          { background-color: $segment-small-app; }
  .color-medium-app         { background-color: $segment-medium-app; }
  .color-large-app          { background-color: $segment-large-app; }
  .color-generic-app          { background-color: $segment-generic-app; }
  .color-small-app-shade-20    { background-color: $segment-small-app-shade-20; }
  .color-medium-app-shade-20   { background-color: $segment-medium-app-shade-20; }
  .color-large-app-shade-20    { background-color: $segment-large-app-shade-20; }
  .color-generic-app-shade-20    { background-color: $segment-generic-app-shade-20; }
  .color-small-app-shade-40      { background-color: $segment-small-app-shade-40; }
  .color-medium-app-shade-40     { background-color: $segment-medium-app-shade-40; }
  .color-large-app-shade-40      { background-color: $segment-large-app-shade-40; }
  .color-generic-app-shade-40    { background-color: $segment-generic-app-shade-40; }

  .color-brilliant-green    { background-color: $green-brilliant;  color: $black-90; }
  .color-focus-hover           { background-color: $gold;  color: $black-90; }
  .color-positive           { background-color: $green-positive;  color: $black-90; }
  .color-negative           { background-color: $red-negative; }
  .color-negative-shade-20  { background-color: $red-shade-20; }
  .color-warning            { background-color: $carrot; color: $white; }
  .color-info               { background-color: $segment-medium-app;}
  .color-white              { background-color: white; color: $black-90; border: 1px solid $slate-tint-80; }
  .color-slate-95           { background-color: $slate-tint-95; color: $black-90; border: 1px solid $slate-tint-80; }
  .color-slate-90           { background-color: $slate-tint-90; color: $black-90; border: 1px solid $slate-tint-80; }
  .color-slate-80           { background-color: $slate-tint-80; color: $black-90; }
  .color-slate-60           { background-color: $slate-tint-60; color: $black-90; }
  .color-slate-40           { background-color: $slate-tint-40; color: $black-90; }
  .color-slate-20           { background-color: $slate-tint-20; color: $black-90; }
  .color-slate              { background-color: $slate; }
  .color-black-100          { background-color: $black-100; }
  .color-black-90           { background-color: $black-90; }
  .color-black-65           { background-color: $black-65; }
  .color-black-55           { background-color: $black-55; }
  .color-black-30           { background-color: $black-30; color: $black-90; }
  .color-black-20           { background-color: $black-20; color: $black-90; }
}

.illustration-spectrum,
.illustration-extended {
  margin: 0px 32px 32px 0px;
  width: calc(33% - 48px);
}

.illustration-colour {
  height: 160px;

  .illustration-caption {
    background-color: $slate-tint-90;
    bottom: 0px;
    height: 80px;
    padding: 16px;
    position: absolute;
    width: 100%;

    p {
      margin: 0px;
    }

  .illustration-caption:first-child {
      font-weight: 700;
    }
  }
}

.illustration-extended {
  .illustration-extended-colour {
    height: 60px;
    padding: 24px;

    p {
      margin: 0px;
    }
  }
}
