.iconscontainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;

  .iconcontainer {
    height: 150px;
    margin-top: 16px;
    padding: 16px;
    text-align: center;
    width: 150px;

    .icon-title {
      font-size: 13px;
      font-weight: 600;
    }

    .icon-text {
      font-size: 13px;
      line-height: 18px;
      padding-top: 10px;
    }
  }

  .icon {
    display: block;
    margin-bottom: 30px;

    &:before {
      font-size: 32px;
    }
  }
}

.font-table {
  .icon {
    display: block;
    margin-bottom: 30px;

    &:before {
      font-size: 32px;
    }
  }
}

.icon:hover {
  text-decoration: none;
}

.input-error-icon {
  color: $red;
}

.input-warning-icon {
  color: $carrot;
}

.input-info-icon {
  color: $segment-medium-app;
}

.input-standard-icon {
  color: $black-65;
}

.input-standard-icon:hover, .input-standard-icon-hover {
  color: $black-90;
}

.input-light-background-icon {
  color: $slate-tint-40;
}

.input-light-background-icon:hover, .input-light-background-icon-hover {
  color: $slate-tint-20;
}

.input-small-biz-icon {
  color: $segment-small-app;
}

.input-small-biz-icon:hover, .input-small-biz-icon-hover {
  color: $segment-small-app-shade-20;
}

.input-medium-biz-icon {
  color: $segment-medium-app;
}

.input-medium-biz-icon:hover, .input-medium-biz-icon-hover {
  color: $segment-medium-app-shade-20;
}

.input-large-biz-icon {
  color: $segment-large-app;
}

.input-large-biz-icon:hover, .input-large-biz-icon-hover {
  color: $segment-large-app-shade-20;
}

.input-generic-biz-icon {
  color: $segment-generic-app;
}

.input-generic-biz-icon:hover, .input-generic-biz-icon-hover {
  color: $segment-generic-app-shade-20;
}

.input-text-color-icon {
  color: $black-65;
}

.input-text-color-icon:hover, .input-text-color-icon-hover {
  color: $black-90;
}

.input-standard-icon:hover > .dls-input {
  color: $slate-tint-40;
}

.input-standard-icon:hover + .dls-input {
  color: $black-90;
}

.input-disabled-icon {
  color: $black-30;
}

.tooltip-icon {
  position: relative;
  display:inline-block;
  cursor: pointer;
}
