.page-shadows {
  .shadows-container {
    display: flex;
  }

  .shadow-container {
    font-size: 14px;
    font-weight: 600;
    padding: 24px;
    margin-bottom: 72px;
    margin-right: 48px;

    &.shadow-depth-1 {
      box-shadow: $shadow-depth-1;
    }

    &.shadow-depth-2 {
      box-shadow: $shadow-depth-2;
    }

    &.shadow-depth-3 {
      box-shadow: $shadow-depth-3;
    }

    &.shadow-depth-4 {
      box-shadow: $shadow-depth-4;
    }

    &.shadow-depth-card {
      box-shadow: $card;
    }
  }
}
