<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="default" {% if page.primary_menu_id %} data-primary-menu="{{ page.primary_menu_id }}"{% endif %} {% if page.secondary_menu_id %} data-secondary-menu="{{ page.secondary_menu_id }}"{% endif %}>
    <div class="main-body">
      {% include header.html %}
      <div class="all-content">
        <div class="sidebar">
          <div class="sidebar-content">{% include navigation.html %}</div>
        </div>
        {% if page.full_width == true %}
          <div class="main-content-container full-width">
        {% else %}
          <div class="main-content-container">
        {% endif %}
          <div class="header-segment">{% include header-segment.html %}</div>
          <div class="main-content">{{ content }}</div>
        </div>
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>
