@keyframes animate-primary-menu {
  0% {
    background: transparent;
    box-shadow: none;
  }

  100% {
    background: white;
    box-shadow: $shadow-depth-2;
  }
}

.navigation-container {
  font-size: 16px;
  font-weight: 700;
  width: 100%;

  a {
    text-decoration: none;
    display: block;
    width: 100%;
  }

  .primary-menu {
    display: flex;
    flex-wrap: wrap;
    left: 16px;
    padding: 0px 0px 8px 0px;
    position: absolute;
    transition: all 0.2s cubic-bezier(0.250, 0.250, 0.000, 1.500);
    top: 16px;
    width: 218px;

    li {
      cursor: pointer;
      display: none;
      font-weight: 600;
      order: 1;
      margin: 4px 0px;
      padding: 16px 0px 16px 24px;
      width: 100%;

        &:hover {
          background: $slate-tint-80;
          color: $black-90;
        }

      &.selected {
        display: block;
        font-family: 'Adelle Sans Sage';
        font-weight: bold;
        order: 0;
        padding: 18px 0px 24px 24px;
        width: 100%;
        margin: 0px;
        font-size: 24px;

        &:after {
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-top: 6px solid $black-90;
          content: " ";
          height: 0;
          left: 14px;
          position: relative;
          top: 22px;
          width: 0;
        }
      }
    }

    // menu open
    &.visible {
      animation: animate-primary-menu 0.2s 1 ease forwards;

      li {
        display: block;
        font-size: 16px;

        &.selected {
          font-size: 24px;
        }
      }
    }
  }

  // Secondary Menu
  .secondary-menu {
    display: none;
    margin-top: 90px;

    .current-page {
      background-color: white;
      border-right: 6px solid $segment-generic-app;
      color: rgba(0,0,0,0.85);
    }

    li a {
      color: $black-55;
      font-size: 16px;
      font-weight: 600;
      list-style: none;
      margin: 8px 0px;
      padding: 16px 0px 16px 40px;


      &:hover {
        color: black;

      }
    }

    li a {

    }

    &.visible {
      display: block;
    }
  }
}

// .navigation-container-scroll {
//   height: calc(100vh - 80px);
// }
