%nav-selected {
  a {
    border-color: $segment-generic-app;
    background: white;
    color: $black-90;
  }
}

.navigation-container .secondary-menu {
  li a {
    border-right: 4px solid transparent;
  }

  // Foundations
  .menu-foundations-summary { [data-secondary-menu="foundations-summary"] & { @extend %nav-selected; } }
  .menu-principles { [data-secondary-menu="principles"] & { @extend %nav-selected; } }
  .menu-accessibility { [data-secondary-menu="accessibility"] & { @extend %nav-selected; } }
  .menu-colour { [data-secondary-menu="colour"] & { @extend %nav-selected; } }
  .menu-grid { [data-secondary-menu="grid"] & { @extend %nav-selected; } }
  .menu-icons { [data-secondary-menu="icons"] & { @extend %nav-selected; } }
  .menu-illustration { [data-secondary-menu="illustration"] & { @extend %nav-selected; } }
  .menu-logo { [data-secondary-menu="logo"] & { @extend %nav-selected; } }
  .menu-shadows { [data-secondary-menu="shadows"] & { @extend %nav-selected; } }
  .menu-spatial { [data-secondary-menu="spatial"] & { @extend %nav-selected; } }
  .menu-typography { [data-secondary-menu="typography"] & { @extend %nav-selected; } }

  // Components
  .menu-components-summary { [data-secondary-menu="components-summary"] & { @extend %nav-selected; } }
  .menu-accordions { [data-secondary-menu="accordions"] & { @extend %nav-selected; } }
  .menu-action-popovers { [data-secondary-menu="action-popovers"] & { @extend %nav-selected; } }
  .menu-buttons { [data-secondary-menu="buttons"] & { @extend %nav-selected; } }
  .menu-cards-tiles { [data-secondary-menu="cards-tiles"] & { @extend %nav-selected; } }
  .menu-checkboxes-radios-switches { [data-secondary-menu="checkboxes-radios-switches"] & { @extend %nav-selected; } }
  .menu-datepicker { [data-secondary-menu="datepicker"] & { @extend %nav-selected; } }
  .menu-dialogs { [data-secondary-menu="dialogs"] & { @extend %nav-selected; } }
  .menu-dropdowns { [data-secondary-menu="dropdowns"] & { @extend %nav-selected; } }
  .menu-help-tooltips { [data-secondary-menu="help-tooltips"] & { @extend %nav-selected; } }
  .menu-links { [data-secondary-menu="links"] & { @extend %nav-selected; } }
  .menu-messages-notifications { [data-secondary-menu="messages-notifications"] & { @extend %nav-selected; } }
  .menu-pills { [data-secondary-menu="pills"] & { @extend %nav-selected; } }
  .menu-sidebar { [data-secondary-menu="sidebar"] & { @extend %nav-selected; } }
  .menu-tables { [data-secondary-menu="tables"] & { @extend %nav-selected; } }
  .menu-tabs { [data-secondary-menu="tabs"] & { @extend %nav-selected; } }
  .menu-text-inputs { [data-secondary-menu="text-inputs"] & { @extend %nav-selected; } }
  .menu-wizard { [data-secondary-menu="wizard"] & { @extend %nav-selected; } }

  // Patterns
  .menu-patterns-summary { [data-secondary-menu="patterns-summary"] & { @extend %nav-selected; } }
  .menu-header { [data-secondary-menu="header"] & { @extend %nav-selected; } }
  .menu-errors-validation { [data-secondary-menu="errors-validation"] & { @extend %nav-selected; } }
  .menu-forms { [data-secondary-menu="forms"] & { @extend %nav-selected; } }
  .menu-full-screen-dialogs { [data-secondary-menu="full-screen-dialogs"] & { @extend %nav-selected; } }
  .menu-navigation { [data-secondary-menu="navigation"] & { @extend %nav-selected; } }
  .menu-product-comparison { [data-secondary-menu="product-comparison"] & { @extend %nav-selected; } }
  .menu-tables { [data-secondary-menu="tables"] & { @extend %nav-selected; } }
  .menu-web-pages { [data-secondary-menu="web-pages"] & { @extend %nav-selected; } }

  // Hero Flows
  .menu-heroes-summary { [data-secondary-menu="heroes-summary"] & { @extend %nav-selected; } }
  .menu-connect-bank { [data-secondary-menu="connect-bank"] & { @extend %nav-selected; } }
  .menu-create-invoice { [data-secondary-menu="create-invoice"] & { @extend %nav-selected; } }
  .menu-dashboards { [data-secondary-menu="dashboards"] & { @extend %nav-selected; } }
  .menu-payment { [data-secondary-menu="payment"] & { @extend %nav-selected; } }

  // Content
  .menu-content-summary { [data-secondary-menu="content-summary"] & { @extend %nav-selected; } }
  .menu-style { [data-secondary-menu="style"] & { @extend %nav-selected; } }
  .menu-tone { [data-secondary-menu="tone"] & { @extend %nav-selected; } }
  .menu-dictionary { [data-secondary-menu="dictionary"] & { @extend %nav-selected; } }

  // Mobile
  .menu-mobile-summary { [data-secondary-menu="mobile-summary"] & { @extend %nav-selected; } }
  .menu-components { [data-secondary-menu="components"] & { @extend %nav-selected; } }
  .menu-patterns { [data-secondary-menu="patterns"] & { @extend %nav-selected; } }
  .menu-typography { [data-secondary-menu="typography"] & { @extend %nav-selected; } }
}
